#profils_preferences a,
#profils_preferences a:link,
#profils_preferences a:hover,
#profils_preferences a:visited {
    color: #fff;
    text-decoration: none;
    display: block;
}

#profils_preferences {
    width: 100%;
    height: 1.9rem;
    position: relative;
}

#profils_preferences_deco {
    position: relative;
    margin: 0 auto 0 auto;
    display: table;
}

.likelink {
    background: none;
    border: 0 none;
    cursor: pointer;
    outline: none;
    height: 2.5rem;
}

.likelink:focus,
.likelink:active {}

.white {
    color: #fff
}

#connexion {
    padding-right: 0.625rem;
    padding-left: 0.625rem;
    border-left: 2px solid #727071;
    border-right: 2px solid #3e3d3b;
}

#entete-page #connexion {
    display: none;
}

#connexion #personne_dsi {
    margin: 0;
    font-size: 0.7rem;
    line-height: 1.25rem;
    color: #fff;
    text-align: center;
}

#connexion p#se_deconnecter {
    margin: 0;
    font-size: 0.7rem;
    line-height: 1.9rem;
    color: #fff;
    text-align: center;
}

#connexion a#se_deconnecter {
    margin: 0;
    font-size: 0.7rem;
    line-height: 1.25rem;
    color: #fff;
}

#connexion p {
    margin: 0;
}

#connexion a#se_connecter {
    font-size: 0.7rem;
    line-height: 1.9rem;
    color: #fff;
}

#connexion #se_deconnecter a:hover {
    text-decoration: underline;
}

#outil_intranet {
    padding: 0 0.625rem;
    margin: 0;
}

#outil_intranet li {
    display: inline-block;
    vertical-align: middle;
    padding: 0;
    margin: 0;
}

#outil_intranet ul {
    padding: 0;
    margin: 0;
}

#outil_intranet li i.fa-2x {
    padding: 0 0.315rem;
    margin: 0;
    line-height: 1.9rem;
    color: #feae17;
}

#outil_intranet li i.fa-2x:hover {
    background: #797979;
}

#logo_lyon1 {
    border-left: 2px solid #727071;
    border-right: 2px solid #3e3d3b;
    height: 1.9rem;
    overflow: hidden;
}

#logo_lyon1 img {
    padding-right: 0.625rem;
    padding-left: 0.625rem;
    height: 1.9rem;
}

#logo_lyon1 a:hover img {
    height: 1.9rem;
}

#logo_comue {
    border-left: 2px solid #727071;
    border-right: 2px solid #3e3d3b;
    height: 1.9rem;
    overflow: hidden;
}

#logo_comue img {
    padding-right: 0.225rem;
    padding-left: 0.225rem;
    height: 1.9rem;
}

#logo_comue a:hover img {
    height: 1.9rem;
}

#logo_arqus {
    vertical-align: center;
    height: 1.9rem;
    overflow: hidden;
    border-left: 2px solid #727071;
    border-right: 2px solid #3e3d3b;
}

#logo_arqus img {
    padding-right: 0rem;
    padding-left: 0rem;
    height: 1.9rem;
}

#logo_arqus a:hover img {
    height: 1.9rem;
}

#profils_preferences {
    background: #57585a;
    font-size: 0.7rem;
    height: 1.9rem;
    text-align: center;
}

.fa-chevron-circle-down,
.fa-chevron-circle-right {
    color: #fcaf15;
    padding: 0 0.3125rem;
}

.UEI_title .fa-caret-down,
.UEI_title .fa-chevron-down,
.AR_title .fa-caret-down,
.AR_title .fa-chevron-down,
.UEI_title_js .fa-caret-down,
.UEI_title_js .fa-chevron-down,
.AR_title_js .fa-caret-down,
.AR_title_js .fa-chevron-down {
    color: #fcaf15;
    padding: 0 0 0 0.5rem;
}

.UEI_title .fa-caret-up,
.UEI_title .fa-chevron-up,
.AR_title .fa-caret-up,
.AR_title .fa-chevron-up,
.UEI_title_js .fa-caret-up,
.UEI_title_js .fa-chevron-up,
.AR_title_js .fa-caret-up,
.AR_title_js .fa-chevron-up {
    color: #fff;
    padding: 0 0 0 0.5rem;
}

.UEI_title .fa-chevron-circle-down,
.AR_title .fa-chevron-circle-down {
    color: #fcaf15;
    padding-right: 0.3125rem;
}

.UEI_close,
.AR_close {
    font-weight: bold;
    padding: 4px 0;
    margin-top: -0.625rem;
    color: #000;
}

.AR_close a:link,
.AR_close a:visited,
.UEI_close a:link,
.UEI_close a:visited {
    color: #000;
}

.AR_close i,
.UEI_close i {
    padding-right: 0.1875rem;
}

.UEI_title,
.AR_title {
    padding-right: 1rem;
    padding-left: 1rem;
    text-align: center;
    border-left: 2px solid #727071;
    border-right: 2px solid #3e3d3b;
}

.UEI_title .fa,
.AR_title .fa {
    margin-top: -0.6rem;
}

.UEI_title:hover,
.UEI_title.gray,
.AR_title:hover,
.AR_title.gray,

.UEI_title_js:hover,
.UEI_title_js.gray,
.AR_title_js:hover,
.AR_title_js.gray,
#connexion:hover,
#logo_lyon1:hover,
#logo_comue:hover,
#logo_arqus:hover {
    background-color: #888888;
    webkit-transition: background-color 500ms linear;
    -moz-transition: background-color 500ms linear;
    -o-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}

#prenom {
    color: #fff;
}

#profils_preferences>ul {
    margin: 0;
    padding: 0;
}

#profils_preferences_deco_www>ul {
    height: 2.5rem;
    text-align: center;
}

#profils_preferences ul#dropdown li a {
    line-height: 2.5rem;
    padding: 0 0.5rem;
}

#profils_preferences ul#dropdown li#logo_lyon1 a,
#profils_preferences ul#dropdown lilogo_comue a {
    padding: 0;
}

#profils_preferences ul#dropdown li.UEI_title div,
#profils_preferences ul#dropdown li.AR_title div {
    height: 0;
    overflow: hidden;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform .5s ease-in-out;
}

#profils_preferences ul#dropdown li.UEI_title:hover div,
#profils_preferences ul#dropdown li.AR_title:hover div {
    height: auto;
    transform: scaleY(1);
}

#profils_preferences .details {
    background: #888888;
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 100000;
    padding-top: 0.5rem;
}

#profils_preferences li.UEI_title_js .details,
#profils_preferences li.AR_title_js .details {
    display: none;
}

#profils_preferences .details a,
#profils_preferences .details a:link,
#profils_preferences .details a:hover,
#profils_preferences .details a:visited {
    display: inline;
}

#profils_preferences ul#dropdown li,
#profils_preferences ul#dropdown li.UEI_title,
#profils_preferences ul#dropdown li.AR_title,
#profils_preferences ul#dropdown li#connexion,
#profils_preferences ul#dropdown li#outil_intranet,
#profils_preferences ul#dropdown li#logo_lyon1,
#profils_preferences ul#dropdown li#logo_comue {
    display: inline-block;
    text-align: left;
    float: none;
    padding: 0;
    vertical-align: middle;
}

#profils_preferences ul#dropdown li li {
    vertical-align: top;
}

#profils_preferences ul#dropdown li#outil_intranet {
    padding: 0 0.625rem;
}

#profils_preferences ul#dropdown li#outil_intranet li a {
    padding: 0;
}

#profils_preferences ul#dropdown li#outil_intranet ul {
    line-height: 2.5rem;
}

#profils_preferences ul#dropdown li#owa,
#profils_preferences ul#dropdown li#kbo,
#profils_preferences ul#dropdown li#kedit {
    vertical-align: text-top;
}

#profils_preferences ul#dropdown>li {
    border-left: 2px solid #727071;
    border-right: 2px solid #3e3d3b;
}

#profils_preferences ul#dropdown>li#prenom {
    padding-left: 0.625rem;
    line-height: 2.5rem;
    border-right: 0;
}

#profils_preferences ul#dropdown>li#owa,
#profils_preferences ul#dropdown>li#kbo,
#profils_preferences ul#dropdown>li#kedit {
    border-left: 0;
    border-right: 0;
}

#profils_preferences ul#dropdown>li#owa,
#profils_preferences ul#dropdown>li#kbo,
#profils_preferences ul#dropdown>li#kedit,
#profils_preferences ul#dropdown>li#logoLY1 {
    line-height: 2.5rem;
    padding: 0;
    border-right: 0;
}

#profils_preferences ul#dropdown>li#owa a,
#profils_preferences ul#dropdown>li#kbo a,
#profils_preferences ul#dropdown>li#kedit a {
    padding: 0 0.315rem;
}

#profils_preferences ul#dropdown>li#owa {
    line-height: 2.5rem;
    padding-left: 0.625rem;
    border-right: 0;
}

#profils_preferences ul#dropdown li ul li {
    display: inline-block;
    max-width: 20rem;
    color: #feae17;
}

#profils_preferences ul#dropdown li ul li ul li {
    display: block;
    padding: 0.4rem 0;
    line-height: 1.3rem;
}

#profils_preferences ul#dropdown li ul li ul li a {
    line-height: inherit;
}

#profils_preferences .details ul {
    max-width: 50rem;
    margin: 0 auto;
    padding: 0 1rem;
}

#profils_preferences ul#dropdown li.UEI_title_js ul li.UEI_close,
#profils_preferences ul#dropdown li.AR_title_js ul li.AR_close {
    display: inline-block;
}

#profils_preferences ul#dropdown li.UEI_title ul li.UEI_close,
#profils_preferences ul#dropdown li.AR_title ul li.AR_close {
    display: none;
}

#bandeau_flash {
    min-height: 2.5rem;
    font-size: 0.75rem;
    overflow: hidden;
}

#bandeau_flash_contenu {
    line-height: 2.5rem;
    position: relative;
    margin: 0 auto 0 auto;
}

.popin-owa .ui-dialog-buttonset button {
    padding: 0.5rem;
    background: #e3541a;
    color: #fff;
}

.popin-owa .ui-dialog-buttonset button:hover {
    background: #fff;
    color: #e3541a;
}

.popin-owa.ui-widget-overlay {
    background: #000 50% 50% repeat-x;
    opacity: .5;
}

.popin-owa.ui-dialog .ui-dialog-buttonpane {
    margin-top: 0;
    background: #fff;
}

.popin-owa #sign_dsi {
    border-top: 1px #000 dashed;
    margin-top: 1.5rem;
    padding-top: 1rem;
    color: #6e6e6e;
    font-weight: bold;
    text-align: right;
}

.popin-owa #lien_webmail {
    color: #e3541a;
    font-weight: bold;
}

.popin-owa .ui-widget-header .ui-icon {
    background-image: url(https://polytech.univ-lyon1.fr/adminsite/scripts/libs/css/images/ui-icons_cd0a0a_256x240.png);
}