@charset "UTF-8";

#logo {
    height: 5.9375rem;
    margin-left: 1.878rem;
}

#bandeau {
    height: 6.25rem;
}

#bandeau a img {
    padding-top: 3px;
    padding-bottom: 3px;
}

#bandeau h1 {
    margin: 0 0 1rem 0;
}

#bandeau h1 img {
    border-radius: 0.625rem;
}

#bandeau {
    float: left;
}

.dyslexic *:not(.fa) {
    font-family: "open-dyslexic" !important;
    font-size: 18px;
}

.dyslexic #cssmenu *:not(.fa),
.dyslexic #profils_preferences *:not(.fa),
.dyslexic #container_PC_nav *:not(.fa),
.dyslexic #container-plan-site *:not(.fa) {
    font-size: 13px !important;
}

.contrast a,
.contrast abbr,
.contrast article,
.contrast aside,
.contrast basefont,
.contrast bdi,
.contrast big,
.contrast blink,
.contrast blockquote,
body.contrast,
.contrast button,
.contrast canvas,
.contrast caption,
.contrast center,
.contrast code,
.contrast col,
.contrast colgroup,
.contrast command,
.contrast dd,
.contrast details,
.contrast dir,
.contrast div,
.contrast dl,
.contrast dt,
.contrast embed,
.contrast fieldset,
.contrast figcaption,
.contrast figure,
.contrast font,
.contrast footer,
.contrast form,
.contrast header,
.contrast hgroup,
.contrast html,
.contrast iframe,
.contrast img,
.contrast input,
.contrast kbd,
.contrast label,
.contrast legend,
.contrast li,
.contrast listing,
.contrast mark,
.contrast marquee,
.contrast menu,
.contrast meter,
.contrast multicol,
.contrast nav,
.contrast nobr,
.contrast object,
.contrast ol,
.contrast option,
.contrast p,
.contrast plaintext,
.contrast pre,
.contrast progress,
.contrast q,
.contrast s,
.contrast section,
.contrast select,
.contrast small,
.contrast span,
.contrast strike,
.contrast sub,
.contrast summary,
.contrast sup,
.contrast table,
.contrast td,
.contrast textarea,
.contrast th,
.contrast time,
.contrast tr,
.contrast tt,
.contrast ul,
.contrast var,
.contrast xmp {
    color: #f3f3f3 !important;
}

.contrast a,
.contrast abbr,
.contrast acronym,
.contrast address,
.contrast article,
.contrast aside,
.contrast b,
.contrast basefont,
.contrast bdi,
.contrast big,
.contrast blink,
.contrast blockquote,
body.contrast,
.contrast canvas,
.contrast caption,
.contrast center,
.contrast cite,
.contrast code,
.contrast col,
.contrast colgroup,
.contrast command,
.contrast dd,
.contrast details,
.contrast dfn,
.contrast dir,
.contrast div,
.contrast dl,
.contrast dt,
.contrast em,
.contrast embed,
.contrast fieldset,
.contrast figcaption,
.contrast figure,
.contrast font,
.contrast footer,
.contrast form,
.contrast #page,
.contrast ul.evenements li>div>span {
    background: #000 !important;
    background-color: #000 !important;
}

.contrast a,
.contrast abbr,
.contrast acronym,
.contrast address,
.contrast article,
.contrast aside,
.contrast b,
.contrast basefont,
.contrast bdi,
.contrast big,
.contrast blink,
.contrast blockquote,
body.contrast,
.contrast button,
.contrast canvas,
.contrast caption,
.contrast center,
.contrast cite,
.contrast code,
.contrast col,
.contrast colgroup,
.contrast command,
.contrast dd,
.contrast details,
.contrast dfn,
.contrast dir,
.contrast div,
.contrast dl,
.contrast dt,
.contrast em,
.contrast embed,
.contrast fieldset,
.contrast figcaption,
.contrast figure,
.contrast font,
.contrast footer,
.contrast form,
.contrast #page,
.contrast ul.evenements li>div>span {
    background-image: none !important;
    text-shadow: none !important;
}

.contrast * {
    -webkit-box-shadow: none !important;
}

.extension-blog__blog-metadonnees {
    list-style: none;
    padding: 0;
}

.extension-blog__billet-liste-item {
    margin-bottom: 1em;
    border-bottom: 1px solid #eee;
}

.extension-blog__billet-liste-item:last-child {
    border: none;
}

.extension-blog__billet-metadonnees {
    margin: 0 0 .5em;
}

.extension-blog__tags {
    list-style: none;
}

.extension-blog__tags-nuage {
    list-style: none;
    padding: 0;
}

.extension-blog__tags-nuage>li {
    background: #eee;
    display: inline-block;
    padding: .25em;
    margin: .25em;
}

.tags-nuage-1 {
    font-size: .9em;
}

.tags-nuage-2 {
    font-size: 1em;
}

.tags-nuage-3 {
    font-size: 1.1em;
}

.tags-nuage-4 {
    font-size: 1.2em;
}

.tags-nuage-5 {
    font-size: 1.3em;
}

.tags-nuage-6 {
    font-size: 1.4em;
}

.tags-nuage-7 {
    font-size: 1.5em;
}

.tags-nuage-8 {
    font-size: 1.6em;
}

.tags-nuage-9 {
    font-size: 1.7em;
}

.tags-nuage-10 {
    font-size: 1.8em;
}

.extension-blog__pagination {
    display: block;
    margin: 0 auto 2em;
    text-align: center;
    width: 100%;
}

.extension-blog__pagination-bornes {
    display: block;
    width: 100%;
}

.extension-blog__pagination-numeros {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}

.extension-blog__pagination-numeros li {
    margin-left: 0.3em;
}

.extension-blog__pagination-numeropage {
    display: inline-block;
}

.extension-blog__pagination-premier,
.extension-blog__pagination-precedent,
.extension-blog__pagination-numeropage,
.extension-blog__pagination-pagecourante,
.extension-blog__pagination-suivant,
.extension-blog__pagination-dernier {
    display: inline-block;
    border: 1px solid #eee;
    cursor: pointer;
    margin: .2em;
    min-width: 2em;
    padding: .3em;
    text-align: center;
}

.extension-blog__pagination-premier a,
.extension-blog__pagination-precedent a,
.extension-blog__pagination-numeropage a,
.extension-blog__pagination-pagecourante a,
.extension-blog__pagination-suivant a,
.extension-blog__pagination-dernier a {
    text-decoration: none;
}

.extension-blog__pagination-premier:hover,
.extension-blog__pagination-precedent:hover,
.extension-blog__pagination-numeropage:hover,
.extension-blog__pagination-pagecourante:hover,
.extension-blog__pagination-suivant:hover,
.extension-blog__pagination-dernier:hover {
    background: #eee;
}

.extension-blog__pagination-premier:active,
.extension-blog__pagination-precedent:active,
.extension-blog__pagination-numeropage:active,
.extension-blog__pagination-pagecourante:active,
.extension-blog__pagination-suivant:active,
.extension-blog__pagination-dernier:active {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.125) inset;
}

.extension-blog__pagination_pagecourante {
    background: #ddd;
}

.collaboratif h2 {
    background: none repeat scroll 0 0 #f1ece8;
    padding: 0.64286em;
    margin-top: 1.5em;
}

.collaboratif .pied_espace {
    margin-top: 1.5em;
}

.collaboratif .ajout_fiche_collab {
    margin: 0.5em 0;
}

@media screen and (max-width:42.66667em) {
    .collaboratif .fiches__ajout.plier-deplier {
        float: none;
        font-size: 0.8em;
        margin: 0.5em 0 0 0;
    }

    .collaboratif .fiches__ajout.plier-deplier+.dernieres_contrib>h2 {
        margin-top: 0.5em;
    }
}

.collaboratif .dernieres_contrib li {
    clear: both;
    margin-bottom: 0.3em;
    padding-bottom: 0.1em;
    border-bottom: 1px dotted #f1ece8;
}

.collaboratif .dernieres_contrib li:last-child {
    border: 0;
}

.collaboratif .dernieres_contrib li a+span {
    float: right;
}

.collaboratif .dernieres_contrib .dernieres_contrib__lien,
.collaboratif .contribs_agenda .dernieres_contrib__lien {
    clear: both;
}

.collaboratif .dernieres_contrib .dernieres_contrib__lien span[class*="dernieres_contrib__lien"]:before,
.collaboratif .contribs_agenda .dernieres_contrib__lien span[class*="dernieres_contrib__lien"]:before {
    display: inline-block;
    font-family: "icomoon";
    font-size: 0.7em;
    margin-right: 0.7em;
    content: "\e70a";
}

.collaboratif .contribs_agenda ul {
    list-style: none;
    padding: 0;
    margin-bottom: 0.5em;
}

.collaboratif .contribs_agenda ul li {
    padding: 0;
    display: table;
    width: 100%;
    margin-bottom: 1em;
}

.collaboratif .contribs_agenda ul li .contribs_agenda__date {
    width: 20%;
    border-right: 3px solid #333;
    display: table-cell;
    margin: 0 3% 0 0;
    padding: 0;
    text-align: center;
    vertical-align: middle;
}

.collaboratif .contribs_agenda ul li .contribs_agenda__date>span {
    display: inline-block;
    padding: 0 0.3em;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    line-height: 1.7em;
    font-weight: bold;
    color: #3c5780;
}

.collaboratif .contribs_agenda ul li .contribs_agenda__date>span .jour {
    display: block;
    font-size: 1.7em;
}

.collaboratif .contribs_agenda ul li .contribs_agenda__date>span .mois {
    text-transform: uppercase;
    font-size: 1.1em;
}

.collaboratif .contribs_agenda .contribs_agenda__lien {
    display: table-cell;
    padding: 0 3%;
    vertical-align: middle;
    width: 69%;
    font-weight: bold;
    text-decoration: none;
}

.collaboratif #menu_espace {
    padding: 0;
}

.collaboratif #menu_espace h2 {
    padding: 0;
    background: transparent;
    margin-top: 0;
}

.collaboratif #menu_espace .encadre_espace {
    margin-bottom: 1.2em;
    padding: 1em;
    background-color: #ebebeb;
}

.collaboratif #menu_espace .encadre_espace .validation {
    margin-bottom: 0;
}

.collaboratif #menu_espace .encadre_espace ul {
    margin-bottom: 0;
}

.collaboratif #menu_espace .encadre_espace ul li {
    border-bottom: 2px dotted #fff;
    padding: 0.2em;
}

.collaboratif #menu_espace .encadre_espace ul li:last-child {
    border-bottom: 0;
}

.collaboratif #menu_espace .encadre_espace ul li.plier-deplier {
    display: block;
}

.collaboratif #menu_espace .encadre_espace ul li.plier-deplier a {
    color: #3c5780;
    paddding: 0;
    background: none;
    border: none;
    padding: 0;
    font-weight: normal;
    font-size: 1em;
}

.collaboratif #menu_espace .encadre_espace ul li.plier-deplier .plier-deplier__bouton:before {
    font-family: "icomoon";
    content: "\e702";
    margin-right: 0.7em;
    font-size: 0.6em;
    position: relative;
    bottom: 0.1em;
}

.collaboratif #menu_espace .encadre_espace ul li.plier-deplier .plier-deplier__bouton[aria-expanded="true"]:before {
    content: "\e701";
}

.collaboratif #menu_espace .encadre_espace ul li.plier-deplier ul {
    margin-left: 1em;
    font-size: 0.95em;
}

.collaboratif #liste_resultats li {
    margin: 0.4em 0 0 0;
    padding: 0.4em 0 0 0;
}

.collaboratif #liste_resultats .pertinence {
    display: none;
}

.collaboratif .infos_publication,
.collaboratif #fil-dossier,
.collaboratif .publie_news {
    margin-bottom: 0.2em;
    font-weight: 700;
}

.collaboratif .infos_publication,
.collaboratif #fil-dossier {
    font-style: italic;
}

.collaboratif #fil-dossier {
    margin-bottom: 1em;
}

.collaboratif #fil-dossier+.publie_news {
    margin-top: -0.8em;
    margin-bottom: 1em;
}

.collaboratif #fil-dossier:before {
    font-family: "icomoon";
    display: inline-block;
    margin-right: 0.7em;
    font-size: 1em;
    content: "\e600";
    font-style: normal;
}

.collaboratif #menu_espace .encadre_espace ul,
.collaboratif .dernieres_contrib ul,
.collaboratif .ajout_fiche_collab ul,
.collaboratif #liste_resultats,
.collaboratif .arborescence_dossiers .contenuDossier ul {
    list-style: none;
    padding-left: 0;
}

.collaboratif #menu_espace .encadre_espace ul li a,
.collaboratif .dernieres_contrib ul li a,
.collaboratif .ajout_fiche_collab ul li a,
.collaboratif #liste_resultats li a,
.collaboratif .arborescence_dossiers .contenuDossier ul li a {
    text-decoration: none;
}

.collaboratif #menu_espace .encadre_espace ul li a:hover,
.collaboratif .dernieres_contrib ul li a:hover,
.collaboratif .ajout_fiche_collab ul li a:hover,
.collaboratif #liste_resultats li a:hover,
.collaboratif .arborescence_dossiers .contenuDossier ul li a:hover {
    text-decoration: underline;
}

.collaboratif #menu_espace .encadre_espace ul li a:before,
.collaboratif .dernieres_contrib ul li a:before,
.collaboratif .ajout_fiche_collab ul li a:before,
.collaboratif #liste_resultats li a:before,
.collaboratif .arborescence_dossiers .contenuDossier ul li a:before {
    font-family: "icomoon";
    display: inline-block;
    margin-right: 0.7em;
    font-size: 1em;
    position: relative;
    top: 0.1em;
}

.collaboratif #menu_espace .encadre_espace ul li a.agendagw:before,
.collaboratif .dernieres_contrib ul li a.agendagw:before,
.collaboratif .ajout_fiche_collab ul li a.agendagw:before,
.collaboratif #liste_resultats li a.agendagw:before,
.collaboratif .arborescence_dossiers .contenuDossier ul li a.agendagw:before {
    content: "\e64e";
}

.collaboratif #menu_espace .encadre_espace ul li a.documentgw:before,
.collaboratif .dernieres_contrib ul li a.documentgw:before,
.collaboratif .ajout_fiche_collab ul li a.documentgw:before,
.collaboratif #liste_resultats li a.documentgw:before,
.collaboratif .arborescence_dossiers .contenuDossier ul li a.documentgw:before {
    content: "\f0f6";
}

.collaboratif #menu_espace .encadre_espace ul li a.forumgw:before,
.collaboratif .dernieres_contrib ul li a.forumgw:before,
.collaboratif .ajout_fiche_collab ul li a.forumgw:before,
.collaboratif #liste_resultats li a.forumgw:before,
.collaboratif .arborescence_dossiers .contenuDossier ul li a.forumgw:before {
    content: "\e66e";
}

.collaboratif #menu_espace .encadre_espace ul li a.newsgw:before,
.collaboratif .dernieres_contrib ul li a.newsgw:before,
.collaboratif .ajout_fiche_collab ul li a.newsgw:before,
.collaboratif #liste_resultats li a.newsgw:before,
.collaboratif .arborescence_dossiers .contenuDossier ul li a.newsgw:before {
    content: "\e6ce";
}

.collaboratif .ajout_fiche_collab .lien_interne:before {
    content: "\e605";
}

.collaboratif #infos-espace #responsables {
    font-style: italic;
}

.collaboratif #infos-espace .infos-complementaires {
    margin: 0.5em 0;
}

@media screen and (min-width:50em) {
    .collaboratif .arborescence_dossiers #contenuDossier {
        padding: 0;
        width: 48%;
        float: left;
    }

    .collaboratif .arborescence_dossiers #treeView {
        width: 47%;
        float: left;
        padding-right: 1%;
        margin-right: 3%;
        border-right: 1px dotted #f1ece8;
    }

    .collaboratif .arborescence_dossiers+div {
        clear: left;
    }
}

@media screen and (max-width:50em) {
    .collaboratif .arborescence_dossiers .kTree {
        min-height: auto;
    }
}

.collaboratif .arborescence_dossiers #messageApplicatif+p {
    margin-bottom: 0;
}

.collaboratif .arborescence_dossiers #contenuDossier {
    margin-top: 1em;
}

.collaboratif .arborescence_dossiers #contenuDossier h2 {
    margin-top: 0;
    font-size: 1em;
}

.collaboratif .arborescence_dossiers #contenuDossier li {
    padding-left: 1em;
    border-bottom: 1px dotted #f1ece8;
}

.collaboratif .arborescence_dossiers #contenuDossier li:last-child {
    border-bottom: 0;
}

.collaboratif #form_saisie_front.gestion .button {
    position: relative;
    top: 1px;
}

.collaboratif #form_saisie_front.gestion h2 {
    font-size: 0.9em;
    margin: 2em 0 0.8em 0;
}

.collaboratif #form_saisie_front.gestion #kMonoSelectNEW_MEMBRE {
    margin-left: 1em;
}

.fiche.annuaireksup .photo {
    float: left;
    width: 33%;
    margin: 0 1em 0 0;
}

.fiche.annuaireksup .photo+.infos {
    margin: 0 0 0 36%;
}

.fiche.annuaireksup .surtitre {
    border-bottom: none;
    margin: 0;
    padding: 0;
}

.fiche.annuaireksup h1 {
    border-bottom: 1px solid #eee;
    margin: 0 0 .5em;
    padding: 0 0 .5em;
}

.fiche.annuaireksup .structure {
    margin-bottom: 1em;
}

@charset "UTF-8";

.leaflet-maps,
.google-maps {
    clear: both;
}

.leaflet-maps>img,
.leaflet-maps .map-canvas,
.google-maps>img,
.google-maps .map-canvas {
    display: block;
    z-index: 1;
}

.leaflet-maps>footer,
.google-maps>footer {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: .25em 1em;
    position: relative;
    z-index: 0;
}

.leaflet-maps>footer dl,
.google-maps>footer dl {
    display: block;
    margin-bottom: 1em;
}

.leaflet-maps>footer dl dt,
.leaflet-maps>footer dl dd,
.google-maps>footer dl dt,
.google-maps>footer dl dd {
    border-bottom: 1px solid #D9DADB;
    display: block;
    padding: 1em 0;
}

.leaflet-maps>footer dl dt,
.google-maps>footer dl dt {
    float: left;
    width: 2em;
}

.leaflet-maps>footer dl dt span,
.google-maps>footer dl dt span {
    background: #FF646C;
    border: 1px solid #AA2128;
    border-radius: 100%;
    color: black;
    display: inline-block;
    font-weight: normal;
    height: 1.3em;
    line-height: 1.3em;
    text-align: center;
    width: 1.3em;
}

.leaflet-maps>footer dl dd,
.google-maps>footer dl dd {
    cursor: pointer;
    margin-bottom: 0;
}

.leaflet-maps>footer dl dd span,
.google-maps>footer dl dd span {
    display: block;
    margin-left: 2em;
}

.leaflet-maps>footer dl dd a,
.google-maps>footer dl dd a {
    float: right;
    text-decoration: underline;
}

.leaflet-maps>footer dl dd a::before,
.google-maps>footer dl dd a::before {
    content: "▸";
    display: inline-block;
    margin-right: 5px;
}

.leaflet-maps .map-canvas,
.google-maps .map-canvas {
    height: 24em;
}

.leaflet-maps .map-canvas address,
.google-maps .map-canvas address {
    line-height: 1.35;
    overflow: hidden;
    white-space: nowrap;
}

.leaflet-maps .map-canvas .gm-style-iw .content a,
.leaflet-maps .map-canvas .gm-style-iw footer a,
.google-maps .map-canvas .gm-style-iw .content a,
.google-maps .map-canvas .gm-style-iw footer a {
    font-weight: 400 !important;
}

.leaflet-maps .map-canvas .gm-style-iw h1 a,
.google-maps .map-canvas .gm-style-iw h1 a {
    color: black !important;
    display: inline-block;
    font-size: 0.75em;
    line-height: 1.25;
    white-space: normal;
}

.leaflet-pane,
.leaflet-tile,
.leaflet-marker-icon,
.leaflet-marker-shadow,
.leaflet-tile-container,
.leaflet-pane>svg,
.leaflet-pane>canvas,
.leaflet-zoom-box,
.leaflet-image-layer,
.leaflet-layer {
    position: absolute;
    left: 0;
    top: 0;
}

.leaflet-container {
    overflow: hidden;
}

.leaflet-tile,
.leaflet-marker-icon,
.leaflet-marker-shadow {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
}

.leaflet-safari .leaflet-tile {
    image-rendering: -webkit-optimize-contrast;
}

.leaflet-safari .leaflet-tile-container {
    width: 1600px;
    height: 1600px;
    -webkit-transform-origin: 0 0;
}

.leaflet-marker-icon,
.leaflet-marker-shadow {
    display: block;
}

.leaflet-container .leaflet-overlay-pane svg,
.leaflet-container .leaflet-marker-pane img,
.leaflet-container .leaflet-shadow-pane img,
.leaflet-container .leaflet-tile-pane img,
.leaflet-container img.leaflet-image-layer,
.leaflet-container .leaflet-tile {
    max-width: none !important;
    max-height: none !important;
}

.leaflet-container.leaflet-touch-zoom {
    -ms-touch-action: pan-x pan-y;
    touch-action: pan-x pan-y;
}

.leaflet-container.leaflet-touch-drag {
    -ms-touch-action: pinch-zoom;
    touch-action: none;
    touch-action: pinch-zoom;
}

.leaflet-container.leaflet-touch-drag.leaflet-touch-zoom {
    -ms-touch-action: none;
    touch-action: none;
}

.leaflet-container {
    -webkit-tap-highlight-color: transparent;
}

.leaflet-container a {
    -webkit-tap-highlight-color: rgba(51, 181, 229, 0.4);
}

.leaflet-tile {
    filter: inherit;
    visibility: hidden;
}

.leaflet-tile-loaded {
    visibility: inherit;
}

.leaflet-zoom-box {
    width: 0;
    height: 0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 800;
}

.leaflet-overlay-pane svg {
    -moz-user-select: none;
}

.leaflet-pane {
    z-index: 400;
}

.leaflet-tile-pane {
    z-index: 200;
}

.leaflet-overlay-pane {
    z-index: 400;
}

.leaflet-shadow-pane {
    z-index: 500;
}

.leaflet-marker-pane {
    z-index: 600;
}

.leaflet-tooltip-pane {
    z-index: 650;
}

.leaflet-popup-pane {
    z-index: 700;
}

.leaflet-map-pane canvas {
    z-index: 100;
}

.leaflet-map-pane svg {
    z-index: 200;
}

.leaflet-vml-shape {
    width: 1px;
    height: 1px;
}

.lvml {
    behavior: url(https://polytech.univ-lyon1.fr/extensions/lieu/resources/styles/libs/);
    display: inline-block;
    position: absolute;
}

.leaflet-control {
    position: relative;
    z-index: 800;
    pointer-events: visiblePainted;
    pointer-events: auto;
}

.leaflet-top,
.leaflet-bottom {
    position: absolute;
    z-index: 1000;
    pointer-events: none;
}

.leaflet-top {
    top: 0;
}

.leaflet-right {
    right: 0;
}

.leaflet-bottom {
    bottom: 0;
}

.leaflet-left {
    left: 0;
}

.leaflet-control {
    float: left;
    clear: both;
}

.leaflet-right .leaflet-control {
    float: right;
}

.leaflet-top .leaflet-control {
    margin-top: 10px;
}

.leaflet-bottom .leaflet-control {
    margin-bottom: 10px;
}

.leaflet-left .leaflet-control {
    margin-left: 10px;
}

.leaflet-right .leaflet-control {
    margin-right: 10px;
}

.leaflet-fade-anim .leaflet-tile {
    will-change: opacity;
}

.leaflet-fade-anim .leaflet-popup {
    opacity: 0;
    -webkit-transition: opacity 0.2s linear;
    -moz-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
}

.leaflet-fade-anim .leaflet-map-pane .leaflet-popup {
    opacity: 1;
}

.leaflet-zoom-animated {
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
}

.leaflet-zoom-anim .leaflet-zoom-animated {
    will-change: transform;
}

.leaflet-zoom-anim .leaflet-zoom-animated {
    -webkit-transition: -webkit-transform 0.25s cubic-bezier(0, 0, 0.25, 1);
    -moz-transition: -moz-transform 0.25s cubic-bezier(0, 0, 0.25, 1);
    transition: transform 0.25s cubic-bezier(0, 0, 0.25, 1);
}

.leaflet-zoom-anim .leaflet-tile,
.leaflet-pan-anim .leaflet-tile {
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
}

.leaflet-zoom-anim .leaflet-zoom-hide {
    visibility: hidden;
}

.leaflet-interactive {
    cursor: pointer;
}

.leaflet-grab {
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: grab;
}

.leaflet-crosshair,
.leaflet-crosshair .leaflet-interactive {
    cursor: crosshair;
}

.leaflet-popup-pane,
.leaflet-control {
    cursor: auto;
}

.leaflet-dragging .leaflet-grab,
.leaflet-dragging .leaflet-grab .leaflet-interactive,
.leaflet-dragging .leaflet-marker-draggable {
    cursor: move;
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
    cursor: grabbing;
}

.leaflet-marker-icon,
.leaflet-marker-shadow,
.leaflet-image-layer,
.leaflet-pane>svg path,
.leaflet-tile-container {
    pointer-events: none;
}

.leaflet-marker-icon.leaflet-interactive,
.leaflet-image-layer.leaflet-interactive,
.leaflet-pane>svg path.leaflet-interactive {
    pointer-events: visiblePainted;
    pointer-events: auto;
}

.leaflet-container {
    background: #ddd;
    outline: 0;
}

.leaflet-container a {
    color: #0078A8;
}

.leaflet-container a.leaflet-active {
    outline: 2px solid orange;
}

.leaflet-zoom-box {
    border: 2px dotted #38f;
    background: rgba(255, 255, 255, 0.5);
}

.leaflet-container {
    font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.leaflet-bar {
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
    border-radius: 4px;
}

.leaflet-bar a,
.leaflet-bar a:hover {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    width: 26px;
    height: 26px;
    line-height: 26px;
    display: block;
    text-align: center;
    text-decoration: none;
    color: black;
}

.leaflet-bar a,
.leaflet-control-layers-toggle {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: block;
}

.leaflet-bar a:hover {
    background-color: #f4f4f4;
}

.leaflet-bar a:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.leaflet-bar a:last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom: none;
}

.leaflet-bar a.leaflet-disabled {
    cursor: default;
    background-color: #f4f4f4;
    color: #bbb;
}

.leaflet-touch .leaflet-bar a {
    width: 30px;
    height: 30px;
    line-height: 30px;
}

.leaflet-touch .leaflet-bar a:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.leaflet-touch .leaflet-bar a:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
    font: bold 18px 'Lucida Console', Monaco, monospace;
    text-indent: 1px;
}

.leaflet-touch .leaflet-control-zoom-in,
.leaflet-touch .leaflet-control-zoom-out {
    font-size: 22px;
}

.leaflet-control-layers {
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
    background: #fff;
    border-radius: 5px;
}

.leaflet-control-layers-toggle {
    background-image: url(https://polytech.univ-lyon1.fr/extensions/lieu/resources/styles/libs/images/layers.png);
    width: 36px;
    height: 36px;
}

.leaflet-retina .leaflet-control-layers-toggle {
    background-image: url(https://polytech.univ-lyon1.fr/extensions/lieu/resources/styles/libs/images/layers-2x.png);
    background-size: 26px 26px;
}

.leaflet-touch .leaflet-control-layers-toggle {
    width: 44px;
    height: 44px;
}

.leaflet-control-layers .leaflet-control-layers-list,
.leaflet-control-layers-expanded .leaflet-control-layers-toggle {
    display: none;
}

.leaflet-control-layers-expanded .leaflet-control-layers-list {
    display: block;
    position: relative;
}

.leaflet-control-layers-expanded {
    padding: 6px 10px 6px 6px;
    color: #333;
    background: #fff;
}

.leaflet-control-layers-scrollbar {
    overflow-y: scroll;
    overflow-x: hidden;
    padding-right: 5px;
}

.leaflet-control-layers-selector {
    margin-top: 2px;
    position: relative;
    top: 1px;
}

.leaflet-control-layers label {
    display: block;
}

.leaflet-control-layers-separator {
    height: 0;
    border-top: 1px solid #ddd;
    margin: 5px -10px 5px -6px;
}

.leaflet-default-icon-path {
    background-image: url(https://polytech.univ-lyon1.fr/extensions/lieu/resources/styles/libs/images/marker-icon.png);
}

.leaflet-container .leaflet-control-attribution {
    background: #fff;
    background: rgba(255, 255, 255, 0.7);
    margin: 0;
}

.leaflet-control-attribution,
.leaflet-control-scale-line {
    padding: 0 5px;
    color: #333;
}

.leaflet-control-attribution a {
    text-decoration: none;
}

.leaflet-control-attribution a:hover {
    text-decoration: underline;
}

.leaflet-container .leaflet-control-attribution,
.leaflet-container .leaflet-control-scale {
    font-size: 11px;
}

.leaflet-left .leaflet-control-scale {
    margin-left: 5px;
}

.leaflet-bottom .leaflet-control-scale {
    margin-bottom: 5px;
}

.leaflet-control-scale-line {
    border: 2px solid #777;
    border-top: none;
    line-height: 1.1;
    padding: 2px 5px 1px;
    font-size: 11px;
    white-space: nowrap;
    overflow: hidden;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #fff;
    background: rgba(255, 255, 255, 0.5);
}

.leaflet-control-scale-line:not(:first-child) {
    border-top: 2px solid #777;
    border-bottom: none;
    margin-top: -2px;
}

.leaflet-control-scale-line:not(:first-child):not(:last-child) {
    border-bottom: 2px solid #777;
}

.leaflet-touch .leaflet-control-attribution,
.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
    box-shadow: none;
}

.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
    border: 2px solid rgba(0, 0, 0, 0.2);
    background-clip: padding-box;
}

.leaflet-popup {
    position: absolute;
    text-align: center;
    margin-bottom: 20px;
}

.leaflet-popup-content-wrapper {
    padding: 1px;
    text-align: left;
    border-radius: 12px;
}

.leaflet-popup-content {
    margin: 13px 19px;
    line-height: 1.4;
}

.leaflet-popup-content p {
    margin: 18px 0;
}

.leaflet-popup-tip-container {
    width: 40px;
    height: 20px;
    position: absolute;
    left: 50%;
    margin-left: -20px;
    overflow: hidden;
    pointer-events: none;
}

.leaflet-popup-tip {
    width: 17px;
    height: 17px;
    padding: 1px;
    margin: -10px auto 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
    background: white;
    color: #333;
    box-shadow: 0 3px 14px rgba(0, 0, 0, 0.4);
}

.leaflet-container a.leaflet-popup-close-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 4px 4px 0 0;
    border: none;
    text-align: center;
    width: 18px;
    height: 14px;
    font: 16px/14px Tahoma, Verdana, sans-serif;
    color: #c3c3c3;
    text-decoration: none;
    font-weight: bold;
    background: transparent;
}

.leaflet-container a.leaflet-popup-close-button:hover {
    color: #999;
}

.leaflet-popup-scrolled {
    overflow: auto;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
}

.leaflet-oldie .leaflet-popup-content-wrapper {
    zoom: 1;
}

.leaflet-oldie .leaflet-popup-tip {
    width: 24px;
    margin: 0 auto;
    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.70710678, M12=0.70710678, M21=-0.70710678, M22=0.70710678)";
    filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.70710678, M12=0.70710678, M21=-0.70710678, M22=0.70710678);
}

.leaflet-oldie .leaflet-popup-tip-container {
    margin-top: -1px;
}

.leaflet-oldie .leaflet-control-zoom,
.leaflet-oldie .leaflet-control-layers,
.leaflet-oldie .leaflet-popup-content-wrapper,
.leaflet-oldie .leaflet-popup-tip {
    border: 1px solid #999;
}

.leaflet-div-icon {
    background: #fff;
    border: 1px solid #666;
}

.leaflet-tooltip {
    position: absolute;
    padding: 6px;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 3px;
    color: #222;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}

.leaflet-tooltip.leaflet-clickable {
    cursor: pointer;
    pointer-events: auto;
}

.leaflet-tooltip-top::before,
.leaflet-tooltip-bottom::before,
.leaflet-tooltip-left::before,
.leaflet-tooltip-right::before {
    position: absolute;
    pointer-events: none;
    border: 6px solid transparent;
    background: transparent;
    content: "";
}

.leaflet-tooltip-bottom {
    margin-top: 6px;
}

.leaflet-tooltip-top {
    margin-top: -6px;
}

.leaflet-tooltip-bottom::before,
.leaflet-tooltip-top::before {
    left: 50%;
    margin-left: -6px;
}

.leaflet-tooltip-top::before {
    bottom: 0;
    margin-bottom: -12px;
    border-top-color: #fff;
}

.leaflet-tooltip-bottom::before {
    top: 0;
    margin-top: -12px;
    margin-left: -6px;
    border-bottom-color: #fff;
}

.leaflet-tooltip-left {
    margin-left: -6px;
}

.leaflet-tooltip-right {
    margin-left: 6px;
}

.leaflet-tooltip-left::before,
.leaflet-tooltip-right::before {
    top: 50%;
    margin-top: -6px;
}

.leaflet-tooltip-left::before {
    right: 0;
    margin-right: -12px;
    border-left-color: #fff;
}

.leaflet-tooltip-right::before {
    left: 0;
    margin-left: -12px;
    border-right-color: #fff;
}

#commentaires {
    list-style: none;
    margin: 0;
    padding: 0;
}

.commentaires {
    margin: 1em 0 0;
}

.commentaires__commentaire {
    border-top: 1px solid #c3c3c3;
    clear: left;
    margin: 1em 0 0;
    padding: 1em 0 0;
}

.commentaire__lien {
    font-size: 2em;
}

.commentaire__infos {
    display: inline-block;
    max-width: 10em;
}

.commentaire__infos>p {
    font-size: .8em;
}

.commentaire__corps {
    display: inline-block;
    margin: 0 0 0 11em;
    vertical-align: top;
}

.extension-commentaire__commenter {
    margin: 1em 0 0;
}

.extension-commentaire__commenter label {
    display: block;
}

.extension-commentaire__commenter input[type="text"],
.extension-commentaire__commenter textarea {
    width: 100%;
}

@-webkit-keyframes target {
    from {
        background: transparent;
    }

    50% {
        background: #ffb7b7;
    }

    to {
        background: transparent;
    }
}

@-moz-keyframes target {
    from {
        background: transparent;
    }

    50% {
        background: #ffb7b7;
    }

    to {
        background: transparent;
    }
}

@-ms-keyframes target {
    from {
        background: transparent;
    }

    50% {
        background: #ffb7b7;
    }

    to {
        background: transparent;
    }
}

@-o-keyframes target {
    from {
        background: transparent;
    }

    50% {
        background: #ffb7b7;
    }

    to {
        background: transparent;
    }
}

@keyframes target {
    from {
        background: transparent;
    }

    50% {
        background: #ffb7b7;
    }

    to {
        background: transparent;
    }
}

.commentaires [id]:target {
    -webkit-animation: target 1s linear .5s;
    -moz-animation: target 1s linear .5s;
    -ms-animation: target 1s linear .5s;
    -o-animation: target 1s linear .5s;
    animation: target 1s linear .5s;
}

.extension-agenda {
    word-wrap: normal;
}

.extension-agenda .extension-agenda__navigation {
    margin: 0 3px;
    padding: 0 0 .5em;
    border-bottom: 0 !important;
}

.extension-agenda .extension-agenda__navigation ul {
    font-weight: 700;
    margin: 0;
}

.extension-agenda .extension-agenda__navigation ul li {
    border-left: 1px dotted;
    display: inline-block;
}

.extension-agenda .extension-agenda__navigation ul li:first-child {
    border: 0;
}

.extension-agenda .extension-agenda__navigation ul li a {
    margin: 0 .5em;
}

.extension-agenda .extension-agenda__navigation p {
    font-size: 1rem;
    margin: 0;
}

.extension-agenda .extension-agenda__navigation>p {
    text-align: right;
}

.extension-agenda .extension-agenda__navigation p>span {
    font-weight: 700;
    left: 0;
    text-align: left;
}

.extension-agenda .extension-agenda__navigation p>span:first-letter {
    text-transform: uppercase;
}

.extension-agenda .extension-agenda__navigation p a {
    text-decoration: none;
}

.extension-agenda .extension-agenda__navigation p a span {
    display: none;
}

.extension-agenda .extension-agenda__navigation p a span[class] {
    background: #f5f5f5;
    margin: 0;
    border-radius: .2em;
    display: inline;
    padding: .2em .5em;
}

.extension-agenda .extension-agenda__navigation p a span[class]:hover {
    background: #ddd;
}

.extension-agenda table {
    margin: 0 0 1.5em;
    width: 100%;
}

.extension-agenda caption {
    background: #f5f5f5;
    border: 3px solid #fff;
    display: none;
    padding: 2%;
    text-align: center;
}

.extension-agenda thead {
    background: #fff;
}

.extension-agenda tbody {
    background: #ebebeb;
}

.extension-agenda tr:nth-child(2n) {
    background: transparent;
}

.extension-agenda th,
.extension-agenda td {
    border: 3px solid #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0.5em;
}

.extension-agenda th {
    color: #adadad;
    display: block;
    font-size: 1.3em;
    text-align: left;
}

.extension-agenda td {
    display: block;
}

.extension-agenda ul {
    list-style: none;
    padding: 0;
}

.extension-agenda ul li {
    margin: 0 0 1.5em;
}

.extension-agenda ul span {
    color: #fff;
    background: #666;
    display: inline-block;
    padding: 2%;
}

.extension-agenda .extension-agenda__date--jour {
    color: #adadad;
    font-weight: 700;
    font-size: 1.7em;
}

.extension-agenda form label {
    display: block;
}

.extension-agenda abbr[rel~=tooltip] {
    text-decoration: none;
}

.extension-agenda .extension-agenda__export--simple,
.extension-agenda .extension-agenda__export--avancee {
    background: #eee;
    text-decoration: none;
    padding: .5em;
}

.extension-agenda .extension-agenda__semaine thead {
    display: none;
}

.extension-agenda .extension-agenda__semaine td span {
    font-weight: 700;
}

.extension-agenda .extension-agenda__mois thead {
    display: none;
}

.extension-agenda__export {
    margin: 1rem 3px 2rem 3px;
}

.extension-agenda__evenements {
    font-size: 0.8rem;
    line-height: 1rem;
}

.extension-agenda__requeteur p {
    display: inline-block;
    max-width: 30%;
    margin-right: 2%
}

.extension-agenda__requeteur p.validation {
    max-width: 100%;
}

.extension-agenda__requeteur fieldset {
    padding: 1rem;
    border: 1px solid #ebebeb;
    border-radius: 0.5rem;
    margin: 1rem 0;
}

.extension-agenda__requeteur legend {
    padding: 0 0.5rem;
}

.extension-agenda__mois td.lun,
.extension-agenda__mois td.mer,
.extension-agenda__mois td.ven,
.extension-agenda__mois td.dim,
.extension-agenda__semaine td.lun,
.extension-agenda__semaine td.mer,
.extension-agenda__semaine td.ven,
.extension-agenda__semaine td.dim,
.extension-agenda__mois td.Mon,
.extension-agenda__mois td.Wed,
.extension-agenda__mois td.Fri,
.extension-agenda__mois td.Sun,
.extension-agenda__semaine td.Mon,
.extension-agenda__semaine td.Wed,
.extension-agenda__semaine td.Fri,
.extension-agenda__semaine td.Sun {
    background: #d8d8d8;
}

.extension-agenda .type_date {
    width: auto;
}

.extension-agenda form.extension-agenda__export label {
    display: inline;
    width: auto;
    margin-right: 0.5rem;
}

.extension-agenda .extension-agenda__export legend {
    margin: 0.5rem 0;
}

.extension-agenda div.error {
    display: inline;
}

//AJOUT AP
.extension-agenda .extension-agenda__date--jour {
    color: #57585a;
    font-size: 1.3rem;
    font-weight: normal;
    font-style: italic;
}

.extension-agenda th {
    font-weight: normal;
    color: #808080;
    font-size: 1rem;
    text-transform: capitalize;
}

.extension-agenda__mois td.lun,
.extension-agenda__mois td.mer,
.extension-agenda__mois td.ven,
.extension-agenda__mois td.dim,
.extension-agenda__semaine td.lun,
.extension-agenda__semaine td.mer,
.extension-agenda__semaine td.ven,
.extension-agenda__semaine td.dim,
.extension-agenda__mois td.Mon,
.extension-agenda__mois td.Wed,
.extension-agenda__mois td.Fri,
.extension-agenda__mois td.Sun,
.extension-agenda__semaine td.Mon,
.extension-agenda__semaine td.Wed,
.extension-agenda__semaine td.Fri,
.extension-agenda__semaine td.Sun {
    background-color: #F9F9F9;
}

.extension-agenda .icon {
    color: #909090;
}

.extension-agenda .icon-plus:before {
    font-size: 0.6rem;
}

.extension-agenda td {
    vertical-align: top
}

.extension-agenda__evenements {
    padding: 0.6rem 0.2rem;
}

.extension-agenda a {
    font-size: 0.9rem;
}

.extension-agenda .extension-agenda__navigation p>span {
    padding: 1rem;
    position: initial !important;
}

@media screen and (max-width:768px) {
    .extension-agenda .extension-agenda__jour td {
        background: #fff;
    }
}

@media screen and (min-width:768px) {
    .extension-agenda table {
        border-collapse: collapse;
        table-layout: fixed;
    }

    .extension-agenda th {
        color: #adadad;
        display: table-cell;
        font-size: 1.3em;
        text-align: center;
    }

    .extension-agenda th:first-letter {
        font-size: inherit;
    }

    .extension-agenda td {
        display: table-cell;
        height: 4em;
    }

    .extension-agenda form label {
        display: inline-block;
        width: 100%;
    }

    .extension-agenda form select {
        max-width: 75%;
    }

    .extension-agenda .extension-agenda__jour th {
        display: table-cell;
    }

    .extension-agenda .extension-agenda__semaine thead {
        display: table-header-group;
    }

    .extension-agenda .extension-agenda__semaine td span {
        display: none;
    }

    .extension-agenda .extension-agenda__mois thead {
        display: table-header-group;
    }
}

.extension-agenda {
    word-wrap: normal;
}

.extension-agenda .extension-agenda__navigation {
    border-bottom: 1em solid #f9f9f9;
    margin: 0 3px;
    padding: 0 0 .5em;
}

.extension-agenda .extension-agenda__navigation ul {
    list-style: none;
    padding: 0;
    font-weight: 700;
    margin: 0 0 1em;
}

.extension-agenda .extension-agenda__navigation ul li {
    padding: 0;
    margin: 0;
    display: inline-block;
    border-left: 1px dotted;
}

.extension-agenda .extension-agenda__navigation ul li:first-child {
    border: 0;
}

.extension-agenda .extension-agenda__navigation ul li a {
    margin: 0 .5em;
}

.extension-agenda .extension-agenda__navigation p {
    font-size: 1.3em;
    margin: 0;
    position: relative;
    text-align: right;
}

.extension-agenda .extension-agenda__navigation p>span {
    font-weight: 700;
    left: 0;
    position: absolute;
    text-align: left;
}

.extension-agenda .extension-agenda__navigation p>span:first-letter {
    text-transform: uppercase;
}

.extension-agenda .extension-agenda__navigation p a {
    text-decoration: none;
}

.extension-agenda .extension-agenda__navigation p a span {
    display: none;
}

.extension-agenda .extension-agenda__navigation p a span[class] {
    background: #f5f5f5;
    margin: 0;
    border-radius: .2em;
    display: inline;
    padding: .2em .5em;
}

.extension-agenda .extension-agenda__navigation p a span[class]:hover {
    background: #ddd;
}

.extension-agenda table {
    margin: 0 0 1.5em;
    width: 100%;
}

.extension-agenda caption {
    background: #f5f5f5;
    border: 3px solid #fff;
    display: none;
    padding: 2%;
    text-align: center;
}

.extension-agenda thead {
    background: #fff;
}

.extension-agenda tbody {
    background: #ebebeb;
}

.extension-agenda tr:nth-child(2n) {
    background: transparent;
}

.extension-agenda th,
.extension-agenda td {
    border: 3px solid #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: .83333em;
}

.extension-agenda th {
    color: #adadad;
    display: block;
    font-size: 1.3em;
    text-align: left;
}

.extension-agenda td {
    display: block;
}

.extension-agenda ul {
    list-style: none;
    padding: 0;
}

.extension-agenda ul li {
    margin: 0 0 1.5em;
}

.extension-agenda ul span {
    color: #fff;
    background: #666;
    display: inline-block;
    padding: 2%;
}

.extension-agenda .extension-agenda__date--jour {
    color: #adadad;
    font-weight: 700;
    font-size: 1.7em;
}

.extension-agenda form label {
    display: block;
}

.extension-agenda .extension-agenda__export--simple,
.extension-agenda .extension-agenda__export--avancee {
    background: #eee;
    text-decoration: none;
    padding: .5em;
}

.extension-agenda .extension-agenda__semaine thead {
    display: none;
}

.extension-agenda .extension-agenda__semaine td span {
    font-weight: 700;
}

.extension-agenda .extension-agenda__mois thead {
    display: none;
}

@media screen and (max-width:42.66667em) {
    .extension-agenda .extension-agenda__jour td {
        background: #fff;
    }
}

@media screen and (min-width:42.66667em) {
    .extension-agenda table {
        border-collapse: collapse;
        table-layout: fixed;
    }

    .extension-agenda th {
        color: #adadad;
        display: table-cell;
        font-size: 1.3em;
    }

    .extension-agenda th:first-letter {
        font-size: inherit;
    }

    .extension-agenda td {
        display: table-cell;
        height: 4em;
    }

    .extension-agenda form label {
        display: inline-block;
        width: 20%;
    }

    .extension-agenda form select {
        max-width: 75%;
    }

    .extension-agenda .extension-agenda__jour th {
        display: table-cell;
    }

    .extension-agenda .extension-agenda__semaine thead {
        display: table-header-group;
    }

    .extension-agenda .extension-agenda__semaine td span {
        display: none;
    }

    .extension-agenda .extension-agenda__semaine .agenda__heure {
        display: block;
        padding: 0;
        color: inherit;
        background: none;
        font-weight: inherit;
    }

    .extension-agenda .extension-agenda__mois thead {
        display: table-header-group;
    }
}

.edition_fiche .agenda__saisie-front .col {
    display: inline-block;
    vertical-align: top;
    width: 50%;
}

.edition_fiche .agenda__saisie-front .fieldset_titre {
    border-bottom: 2px solid #ddd;
    font: 700 1.16667em arial, helvetica, sans-serif;
    margin: 0 0 1em;
    padding: 0 0 .25em;
}

.edition_fiche .agenda__saisie-front input[type="text"],
.edition_fiche .agenda__saisie-front textarea,
.edition_fiche .agenda__saisie-front select {
    width: auto;
}

.documents_hal {
    --hal-accent-color: #cecece;
    --hal-tag-background-color: #fff;
    --hal-document-a-background: #f6f6f6;
    --hal-document-a-background-hover: #fff;
    --hal-tag-color: #020202;
    --hal-tag-border-radius: 5px;
    --hal-document-background-color-hover: #f6f6f6;
    --hal-document-background-color-even: #ffffff;
    --hal-document-background-color-odd: #fbfbfb;
    --hal-document-border-radius: 5px;
    --hal-document-border-color: #cdcdcd;
    font-size: 0.9rem;
}

.documents_hal .listViewModel_hal {
    list-style: none;
    padding: 0;
    margin: 1rem 0 0 0;
}

.documents_hal .listViewModel_hal>li {
    margin-bottom: 1em;
    padding: 0.7rem;
    background-color: var(--hal-document-background-color-even, white);
    border-radius: var(--hal-document-border-radius, 5px);
    border: 1px solid var(--hal-document-border-color);
}

.documents_hal .listViewModel_hal>li:nth-child(odd) {}

.documents_hal .listViewModel_hal>li:hover {}

.documents_hal .listViewModel_hal>li:last-of-type {
    margin-bottom: 0;
}

.documents_hal .listViewModel_hal .title_hal {
    padding-bottom: 0.5rem;
}

.documents_hal .listViewModel_hal .type_hal {
    background-color: var(--hal-document-a-background);
    border: 1px solid var(--hal-document-border-color);
    color: var(--hal-tag-color);
    border-radius: var(--hal-tag-border-radius);
    padding: 0.3rem;
    display: inline-flex;
    align-items: center;
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
}

.documents_hal .listViewModel_hal .authFullName {
    margin-bottom: 0;
    padding: 0;
    font-weight: bold;
}

.documents_hal .listViewModel_hal .authFullName li {
    padding: 0;
}

.documents_hal .listViewModel_hal .authFullName li,
.documents_hal .listViewModel_hal .authFullName li::before {
    display: inline-block;
    float: none;
    line-height: 1em;
}

.documents_hal .listViewModel_hal .details_hal--summary::before {}

.documents_hal .listViewModel_hal .details_hal--summary[open]::before {
    transform: rotate(90deg);
}

.documents_hal .listViewModel_hal .details_hal--summary summary {
    cursor: pointer;
    padding-left: 1rem;
    margin: 1rem 0 0 0;
}

.documents_hal .listViewModel_hal .details_hal {
    list-style: none;
    margin: 0 0 1rem 0;
    padding-left: 1rem;
}

.documents_hal .listViewModel_hal .url_hal>a {
    display: block;
    margin-block: 1rem;
    background-color: var(--hal-document-a-background);
    border-radius: 5px;
    border: 1px solid var(--hal-document-border-color);
    align-items: center;
    font-size: 0.8rem;
    max-width: fit-content;
    text-decoration: none;
    padding: 0.3rem;
}

.documents_hal .listViewModel_hal .url_hal>a:hover {
    background-color: var(--hal-document-a-background-hover, white);
    box-shadow: 1px 1px 1px var(--hal-document-border-color);
    transform: scale(1.02);
}

.documents_hal .all-results_hal>a {
    display: block;
    margin-block: 1.5rem;
    margin-inline: auto;
    border-radius: 5px;
    align-items: center;
    max-width: fit-content;
    text-decoration: none;
    padding: 0.5rem;
    border: 1px solid var(--hal-document-border-color);
    background-color: var(--hal-document-a-background);
}

.documents_hal .all-results_hal>a:hover {
    background-color: var(--hal-document-a-background-hover, white);
    box-shadow: 1px 1px 1px var(--hal-document-border-color);
    transform: scale(1.02);
}

@media screen and (min-width:768px) {
    .documents_hal .listViewModel_hal .title_hal {
        max-width: 70%;
    }

    .documents_hal .listViewModel_hal>li {
        position: relative;
    }

    .documents_hal .listViewModel_hal .type_hal {
        right: 1rem;
        top: 1rem;
        position: absolute;
    }
}

#volumes_horaires,
#details,
#coefs {
    float: left;
}

#volumes_horaires th,
#details th,
#coefs th {
    border-color: #ddd;
    width: 60%;
}

#volumes_horaires td,
#details td,
#coefs td {
    padding-left: .5em;
}

#volumes_horaires,
#coefs {
    width: 40%;
}

#details {
    width: 60%;
}

.formation .informations-generales {
    background: #f5f5f5;
    margin: 0 0 1.5em;
    overflow: hidden;
    padding: 1em;
}