body {
    font-size: 10pt;
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0.5rem;
    background: #fff;
}

body header #menu {
    display: none;
}

body header #menu nav {
    display: none;
}

#bandeau {
    display: none;
}

#bandeau_outils {
    display: none;
}

.banniere__baseline {
    display: none;
}

#fil_ariane {
    display: none;
}

#actions-fiche {
    display: none;
}

.actions-fiche {
    display: none;
}

#recherche-simple {
    display: none;
}

#connexion {
    display: none;
}

#navigation {
    display: none;
}

#acces_direct_accessibilite {
    display: none;
}

#boutons_actions {
    display: none;
}

hr.separateur_sections_page {
    display: none;
}

div.encadre_recherche {
    display: none;
}

#pied_page {
    display: none;
}

#pied_outils {
    display: none;
}

*[style] {
    background: inherit !important;
    border: none !important;
    color: inherit !important;
    margin: auto !important;
    width: auto !important;
}

#avec_nav_avec_encadres,
#avec_nav_sans_encadres,
#sans_nav_avec_encadres,
#sans_nav_sans_encadres {
    border: none !important;
    margin: 20pt 0;
    width: 100% !important;
}

a img {
    border: none;
}

img {
    max-width: 100% !important;
    height: auto !important;
}

h1 {
    margin-top: 0;
    padding-top: 0;
}

#logo a {
    color: #000;
    text-decoration: none;
}

h1,
h2 {
    border-bottom: 1pt solid #666;
    padding: 5pt 0;
}

ul.objets {
    list-style: none;
}

ul.objets li {
    clear: both;
    display: block;
    float: none;
    margin: 0 0 7pt;
    overflow: auto;
}

ul.objets img.vignette {
    border: 1pt solid #999;
    float: left;
    margin: 0 3pt 0 0;
}

#encadres {
    border: 2px solid #999;
    margin: 0 1cm;
    padding: 0 0.5cm 0.5cm;
}

#encadres h2 {
    border: 0;
}

dl {
    border: 0;
    padding: 10pt;
}

dt {
    font-weight: 700;
}

dd {
    margin-bottom: 15pt;
}

caption {
    font-weight: 700;
}

.url-fiche {
    word-wrap: break-word;
    display: block;
    padding: 20pt 0;
}

[class^="commentaires"] {
    display: none;
}

noscript,
#noscript,
.addthis_toolbox .addthis_default_style .addthis_32x32_style,
.share {
    display: none !important;
}

header,
footer,
#accroche,
#containerMenu,
#applatligne2,
#menu,
#container_googleMaps {
    display: none !important;
}

#container-reader,
#article_similaire,
#redacteur,
#date_modification,
#container-plan-site,
.UL1share,
#container-fil-ariane,
#fil-ariane,
.bx-wrapper {
    display: none !important;
}

div#encadres {
    border: 0;
    margin-left: 0;
    padding-left: 0;
    background: none;
}

#page_deco {
    background: #fff;
    width: 100%;
}

.scrollup,
#tarteaucitronAlertSmall {
    display: none !important;
}

body {
    font-size: 10pt;
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0.5rem;
    background: #fff;
}

body header #menu {
    display: none;
}

body header #menu nav {
    display: none;
}

#bandeau {
    display: none;
}

#bandeau_outils {
    display: none;
}

.banniere__baseline {
    display: none;
}

#fil_ariane {
    display: none;
}

#actions-fiche {
    display: none;
}

.actions-fiche {
    display: none;
}

#recherche-simple {
    display: none;
}

#connexion {
    display: none;
}

#navigation {
    display: none;
}

#acces_direct_accessibilite {
    display: none;
}

#boutons_actions {
    display: none;
}

hr.separateur_sections_page {
    display: none;
}

div.encadre_recherche {
    display: none;
}

#pied_page {
    display: none;
}

#pied_outils {
    display: none;
}

*[style] {
    background: inherit !important;
    border: none !important;
    color: inherit !important;
    margin: auto !important;
    width: auto !important;
}

#avec_nav_avec_encadres,
#avec_nav_sans_encadres,
#sans_nav_avec_encadres,
#sans_nav_sans_encadres {
    border: none !important;
    margin: 20pt 0;
    width: 100% !important;
}

a img {
    border: none;
}

img {
    max-width: 100% !important;
    height: auto !important;
}

h1 {
    margin-top: 0;
    padding-top: 0;
}

#logo a {
    color: #000;
    text-decoration: none;
}

h1,
h2 {
    border-bottom: 1pt solid #666;
    padding: 5pt 0;
}

ul.objets {
    list-style: none;
}

ul.objets li {
    clear: both;
    display: block;
    float: none;
    margin: 0 0 7pt;
    overflow: auto;
}

ul.objets img.vignette {
    border: 1pt solid #999;
    float: left;
    margin: 0 3pt 0 0;
}

#encadres {
    border: 2px solid #999;
    margin: 0 1cm;
    padding: 0 0.5cm 0.5cm;
}

#encadres h2 {
    border: 0;
}

dl {
    border: 0;
    padding: 10pt;
}

dt {
    font-weight: 700;
}

dd {
    margin-bottom: 15pt;
}

caption {
    font-weight: 700;
}

.url-fiche {
    word-wrap: break-word;
    display: block;
    padding: 20pt 0;
}

[class^="commentaires"] {
    display: none;
}

noscript,
#noscript,
.addthis_toolbox .addthis_default_style .addthis_32x32_style,
.share {
    display: none !important;
}

header,
footer,
#accroche,
#containerMenu,
#applatligne2,
#menu,
#container_googleMaps {
    display: none !important;
}

#container-reader,
#article_similaire,
#redacteur,
#date_modification,
#container-plan-site,
.UL1share,
#container-fil-ariane,
#fil-ariane,
.bx-wrapper {
    display: none !important;
}

div#encadres {
    border: 0;
    margin-left: 0;
    padding-left: 0;
    background: none;
}

#page_deco {
    background: #fff;
    width: 100%;
}

.scrollup,
#tarteaucitronAlertSmall {
    display: none !important;
}