#cssmenu,
#cssmenu ul {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    font-weight: normal;
    text-decoration: none;
    z-index: 10;
}

#cssmenu a {
    line-height: 3.5rem;
    font-size: 1.2rem;
    padding: 0 2rem;
}

#cssmenu {
    width: 100%;
}

#cssmenu>ul {}

#cssmenu>ul:after {
    clear: both;
    content: '';
    display: table;
}

#cssmenu>ul>li {
    float: left;
}

#cssmenu>ul>li.mobile {
    display: none;
}

#cssmenu>ul>li:last-child {}

#cssmenu>ul>li:last-child ul {
    right: 0;
}

#cssmenu>ul>li.mobile {
    border-right: 0 none;
    -moz-box-shadow: 0 0 0 transparent;
    -webkit-box-shadow: 0 0 0 transparent;
    box-shadow: 0 0 0 transparent;
}

#cssmenu>ul>li>a {
    margin: 0;
    display: block;
}

#cssmenu>ul>li>a>span {
    display: block;
}

#cssmenu>ul>li.active>a:hover {
    text-decoration: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    background: #5e5e5e;
}

#cssmenu>ul>li.active:after {
    content: "\f078";
    font-family: FontAwesome;
    position: relative;
    font-size: 0.8rem;
    bottom: 1.25rem;
    z-index: 11;
    left: 50%;
    color: #fdaf17;
}

#cssmenu>ul>li.not-yet.active:after {
    display: none;
}

#cssmenu ul ul li {
    padding: 3px 0; //width:100%;float:left;}#cssmenu ul ul a{color:#403e3f;font-size:0.8rem;}#cssmenu ul li ul{width:61.8125rem;padding-top:1rem;}#cssmenu ul li ul li.niv1{min-width:18rem;color:#403e3f;vertical-align:top;margin-bottom:1rem;}#cssmenu ul li ul li.niv1 .fa-times{margin-right:5px;}#cssmenu ul li ul li.niv1 .likelinkMenu{background:none;border:0;margin-top:10px;cursor:pointer;outline:none;color:#fff;}#cssmenu ul li ul li.niv1.closeMenu{border-bottom:0;width:6.25rem;min-width:0;margin-right:1rem;position:absolute;right:0;}#cssmenu ul li ul li.niv2{text-transform:lowercase;}#cssmenu ul li ul li a{line-height:2rem;padding:0 0.5rem;}#cssmenu ul li ul li a:hover{text-decoration:none;}#cssmenu ul ul{padding:5px 12px;display:none;position:absolute;left:0;right:0;z-index:10;}#cssmenu ul li ul li.niv2{}#cssmenu ul li ul li .fa-chevron-right{color:#fff;}#cssmenu ul li ul li.niv2 a{padding:0;color:#fff;line-height:2rem;}#cssmenu ul li ul li.niv1.acc{position:absolute;top:3rem;right:0;margin-right:1rem;min-width:0;}#cssmenu ul li ul li.niv1.first a{font-size:0.9rem;font-weight:bold;display:block;}#cssmenu ul li ul li.niv1.first .fa.fa-caret-right{padding:0.01rem 0.2rem;}#cssmenu ul li ul li.niv1.first:hover .fa.fa-caret-right{padding:0.01rem 0.2rem;}#cssmenu ul li ul li.niv2{min-width:18rem;margin-bottom:1rem;}#cssmenu ul li ul li.niv2 a{display:block;padding-left:1rem;padding-right:1rem;}#cssmenu ul li ul li.niv1,

    #cssmenu ul li ul li.niv2 {
        margin-right: 2rem;
    }

    @media all and (max-width:51.75em) {
        #cssmenu {
            margin-left: auto;
            margin-right: auto;
        }

        #cssmenu>ul>li {}

        #cssmenu a {
            padding: 0 2rem;
        }
    }

    @media all and (max-width:48.125rem) {
        #nav {}

        #cssmenu ul li ul li.niv1,
        #cssmenu ul li ul li.niv2 {
            width: auto;
        }

        #cssmenu a {
            padding: 0 1.75rem;
        }
    }

    @media all and (max-width:46em) {

        #cssmenu ul li ul li.niv1,
        #cssmenu ul li ul li.niv2 {
            width: auto;
        }
    }

    @media all and (max-width:40em) {
        #nav {

            #cssmenu ul li.has-sub {
                display: none;
            }

            #cssmenu.expand ul li.not-yet {
                display: block;
            }

            #cssmenu.expand ul,
            #cssmenu.expand ul li.has-sub,
            #cssmenu.expand ul li.has {
                display: block;
                width: 100%;
                position: relative;
            }

            #cssmenu ul ul {
                display: block;
                position: relative;
                z-index: 10000;
            }

            #cssmenu ul ul li {
                float: none;
            }

            .niv1 .closeMenu,
            .niv1 .acc {
                display: none;
            }

            #cssmenu>ul>li {
                border-right: 0 none;
                -moz-box-shadow: 0 0 0 transparent;
                -webkit-box-shadow: 0 0 0 transparent;
                box-shadow: 0 0 0 transparent;
                background: #403e3f;
            }

            #cssmenu>ul>li.mobile {
                display: block;
                width: 100%;
            }

            #cssmenu>ul>li.has-sub {
                width: 100%;
            }

            #cssmenu>ul>li.mobile i {
                font-style: normal;
            }

            #cssmenu ul ul {
                position: relative;
                top: 0;
                width: 100%;
            }
        }

        .flex-container-www a:active,
        .flexslider a:active,
        .flex-container-www a:focus,
        .flexslider a:focus {
            outline: none;
        }

        .slides,
        .flex-control-nav,
        .flex-direction-nav {
            margin: 0;
            padding: 0;
            list-style: none;
        }

        @font-face {
            font-family: 'flexslider-icon';
            src: url('../../jspWWW/styles/fonts/flexslider-icon.eot');
            src: url('../../jspWWW/styles/fonts/flexslider-icon.eot?') format('embedded-opentype'),
                url('../../jspWWW/styles/fonts/flexslider-icon.woff') format('woff'),
                url('../../jspWWW/styles/fonts/flexslider-icon.ttf') format('truetype'),
                url('../../jspWWW/styles/fonts/flexslider-icon.svg') format('svg');
            font-weight: normal;
            font-style: normal;
        }

        .flexslider {
            margin: 0;
            padding: 0;
        }

        .flexslider .slides>li {
            display: none;
            -webkit-backface-visibility: hidden;
            min-height: 600px;
        }

        .flexslider .slides img {
            width: 100%;
            display: block;
        }

        .flex-pauseplay span {
            text-transform: capitalize;
        }

        .slides:after {
            content: "\0020";
            display: block;
            clear: both;
            visibility: hidden;
            line-height: 0;
            height: 0;
        }

        html[xmlns] .slides {
            display: block;
        }

        * html .slides {
            height: 1%;
        }

        .no-js .slides>li:first-child {
            display: block;
        }

        .flexslider {
            margin: 0;
            background: #fff;
            position: relative;
            zoom: 1;
        }

        .flex-viewport {
            max-height: 2000px;
            -webkit-transition: all 1s ease;
            -moz-transition: all 1s ease;
            -o-transition: all 1s ease;
            transition: all 1s ease;
        }

        .loading .flex-viewport {
            max-height: 300px;
        }

        .flexslider .slides {
            zoom: 1;
        }

        .carousel li {
            margin-right: 5px;
        }

        .flex-direction-nav {
            *height: 0;
        }

        .flex-direction-nav a {
            text-decoration: none;
            display: block;
            width: 40px;
            height: 21px;
            margin: -20px 0 0;
            position: absolute;
            top: 50%;
            z-index: 10;
            overflow: hidden;
            opacity: 0;
            cursor: pointer;
            color: rgba(0, 0, 0, 0.8);
            text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
            -webkit-transition: all .3s ease;
            -moz-transition: all .3s ease;
            transition: all .3s ease;
        }

        .flex-direction-nav .flex-next {
            background-position: 100% 0;
            right: 5px;
            opacity: 1;
            padding-top: 0.65rem;
            height: 20px;
        }

        .flex-direction-nav .flex-prev {
            left: 5px;
            opacity: 1;
            vertical-align: middle;
            padding-top: 0.65rem;
            height: 20px;
        }

        .flexslider:hover .flex-prev {
            opacity: 1;
        }

        .flexslider:hover .flex-next {
            opacity: 1;
        }

        .flexslider:hover .flex-next:hover,
        .flexslider:hover .flex-prev:hover {
            opacity: 1;
        }

        .flex-direction-nav .flex-disabled {
            opacity: 0 !important;
            filter: alpha(opacity=0);
            cursor: default;
        }

        .flex-direction-nav a:before {
            font-family: "flexslider-icon";
            color: #fff;
            font-size: 1.5rem;
            display: inline-block;
            content: '\f001';
        }

        .flex-direction-nav a.flex-next:before {
            content: '\f002';
        }

        .flex-pauseplay a {
            display: block;
            width: 20px;
            height: 20px;
            position: absolute;
            bottom: 5px;
            left: 10px;
            opacity: 0.8;
            z-index: 10;
            overflow: hidden;
            cursor: pointer;
            color: #000;
        }

        .flex-pauseplay a:before {
            font-family: "flexslider-icon";
            font-size: 20px;
            display: inline-block;
            content: '\f004';
        }

        .flex-pauseplay a:hover {
            opacity: 1;
        }

        .flex-pauseplay a.flex-play:before {
            content: '\f003';
        }

        .flex-control-nav {
            width: 1000px;
            position: absolute;
            top: 10px;
            text-align: center;
            z-index: 2;
        }

        .flex-control-nav li {
            margin: 0 6px;
            display: inline-block;
            zoom: 1;
            *display: inline;
        }

        .flex-control-paging li a {
            width: 11px;
            height: 11px;
            display: block;
            background: #666;
            background: rgba(0, 0, 0, 0.5);
            cursor: pointer;
            text-indent: -9999px;
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            -o-border-radius: 20px;
            border-radius: 20px;
            -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
            -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
            -o-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
            box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
        }

        .flex-control-paging li a:hover {
            background: #333;
            background: rgba(0, 0, 0, 0.7);
        }

        .flex-control-paging li a.flex-active {
            background: #fff;
            background: rgba(255, 255, 255, 0.9);
            cursor: default;
        }

        .flex-control-thumbs {
            margin: 5px 0 0;
            position: static;
            overflow: hidden;
        }

        .flex-control-thumbs li {
            width: 25%;
            float: left;
            margin: 0;
        }

        .flex-control-thumbs img {
            width: 100%;
            display: block;
            opacity: .7;
            cursor: pointer;
        }

        .flex-control-thumbs img:hover {
            opacity: 1;
        }

        .flex-control-thumbs .flex-active {
            opacity: 1;
            cursor: default;
        }

        @media screen and (max-width:860px) {
            .flex-direction-nav .flex-prev {
                opacity: 1;
            }

            .flex-direction-nav .flex-next {
                opacity: 1;
            }
        }

        .container-flex-caption {
            width: 62.5rem;
            margin: 1rem auto;
        }

        .flex-caption {
            background: rgba(255, 255, 255, 0.6);
            z-index: 1;
            width: 20rem;
            padding: 0.5rem;
            margin-top: 2.5rem;
            margin-left: 1rem;
        }

        .flex-caption-in {
            position: relative;
            background: -moz-linear-gradient(left, #e75112 0%, #e75112 70%, #de3e0e 70%, #de3e0e 100%);
            background: -webkit-gradient(linear, left top, right top, color-stop(0%, #e75112), color-stop(70%, #e75112), color-stop(70%, #de3e0e), color-stop(100%, #de3e0e));
            background: -webkit-linear-gradient(left, #e75112 0%, #e75112 70%, #de3e0e 70%, #de3e0e 100%);
            background: -o-linear-gradient(left, #e75112 0%, #e75112 70%, #de3e0e 70%, #de3e0e 100%);
            background: -ms-linear-gradient(left, #e75112 0%, #e75112 60%, #de3e0e 60%, #de3e0e 100%);
            background: linear-gradient(to right, #e75112 0%, #e75112 70%, #de3e0e 70%, #de3e0e 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e75112', endColorstr='#de3e0e');
            padding: 0.6rem;
            color: #fff;
        }

        .flex-caption-in:after {
            content: '';
            display: block;
            width: 0;
            height: 0;
            position: absolute;
            bottom: -48px;
            right: 0;
            border-style: solid;
            border-width: 0 93px 48px 0;
            border-color: transparent #de3e0e transparent transparent;
            _border-color: #000000 #de3e0e #000000 #000000;
            _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
        }

        .flex-caption-in h4 {}

        .flex-caption-in h4 {
            text-transform: uppercase;
            line-height: 2.5rem;
            font-size: 2rem;
            display: table;
            padding: 1rem 0;
            border-bottom: 1px solid #fff;
        }

        .flex-caption-in h4 a:hover {
            text-decoration: none;
        }

        .flex-caption-in p {
            font-family: Georgia;
            font-size: 1.2rem;
        }

        .flex-caption-in h4 a:link,
        .flex-caption-in h4 a:visited {
            color: #fff;
        }

        .flex-caption-in .chapeauArticle a {
            color: #fff !important;
            margin-top: 15px;
            display: block;
        }

        .flex-caption-in .chapeauArticle .fa-arrow-right {
            margin-left: 5px;
            background: #fff;
            color: #e3541a;
            padding: 1px 5px;
        }

        .flex-caption .intermediaire {
            width: 23rem;
            height: 3rem;
        }

        .flex-caption .numSlide {
            position: relative;
            margin-top: 60px;
            font-family: verdana;
            font-size: 1.3rem;
            background: #403e3f;
            text-align: center;
            height: auto;
            padding: 0.4rem 0;
            width: 15rem;
            color: #fff;
        }

        .flex-caption .numSlide:before {
            content: '';
            display: block;
            width: 0;
            height: 0;
            position: absolute;
            top: -29px;
            left: 0;
            border-style: solid;
            border-width: 31px 0 0 50px;
            border-color: transparent transparent transparent #403e3f;
            _border-color: #403e3f #000000 #403e3f #000000;
            _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
        }

        .slides li {
            background-size: cover;
            background-position: 50% 40%;
            background-repeat: no-repeat;
            -ms-behavior: url("../../jspWWW/scripts/backgroundsize.min.htc");
        }

        .flex-direction-nav li {}

        .flexslider .slides>li:first-child {
            display: block;
            -webkit-backface-visibility: visible;
        }

        .flexslider .slides>li {
            display: none;
            -webkit-backface-visibility: hidden;
        }

        .bx-wrapper {
            position: relative;
            margin: 0 auto;
            padding: 0;
            *zoom: 1;
            height: 150px;
            width: 96%;
        }

        .bx-wrapper img {
            max-width: 100%;
            display: block;
        }

        .bx-wrapper #sliderArticles li {
            border: 0;
        }

        .bx-wrapper .bx-viewport {}

        .bx-wrapper .bx-pager,
        .bx-wrapper .bx-controls-auto {
            position: absolute;
            bottom: -30px;
            width: 100%;
        }

        .bx-wrapper .bx-loading {
            min-height: 50px;
            background: url(../../jspWWW/scripts/bxslider/images/bx_loader.gif) center center no-repeat #fff;
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2000;
        }

        .bx-wrapper .bx-pager {
            text-align: center;
            font-size: .85em;
            font-family: Arial;
            font-weight: bold;
            color: #666;
            padding-top: 20px;
        }

        .bx-wrapper .bx-pager .bx-pager-item,
        .bx-wrapper .bx-controls-auto .bx-controls-auto-item {
            display: inline-block;
            *zoom: 1;
            *display: inline;
        }

        .bx-wrapper .bx-pager.bx-default-pager a {
            background: #666;
            text-indent: -9999px;
            display: block;
            width: 10px;
            height: 10px;
            margin: 0 5px;
            outline: 0;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            border-radius: 5px;
        }

        .bx-wrapper .bx-pager.bx-default-pager a:hover,
        .bx-wrapper .bx-pager.bx-default-pager a.active {
            background: #000;
        }

        .bx-wrapper .bx-prev {
            left: -20px;
            background: url(../../jspWWW/scripts/bxslider/images/controls.png) no-repeat 0 -32px;
        }

        .bx-wrapper .bx-next {
            right: -20px;
            background: url(../../jspWWW/scripts/bxslider/images/controls.png) no-repeat -43px -32px;
        }

        .bx-wrapper .bx-prev:hover {
            background-position: 0 0;
        }

        .bx-wrapper .bx-next:hover {
            background-position: -43px 0;
        }

        .bx-wrapper .bx-controls-direction a {
            position: absolute;
            top: 50%;
            margin-top: -16px;
            outline: 0;
            width: 32px;
            height: 32px;
            text-indent: -9999px;
            z-index: 9999;
        }

        .bx-wrapper .bx-controls-direction a.disabled {
            display: none;
        }

        .bx-wrapper .bx-controls-auto {
            text-align: center;
        }

        .bx-wrapper .bx-controls-auto .bx-start {
            display: block;
            text-indent: -9999px;
            width: 10px;
            height: 11px;
            outline: 0;
            background: url(../../jspWWW/scripts/bxslider/images/controls.png) -86px -11px no-repeat;
            margin: 0 3px;
        }

        .bx-wrapper .bx-controls-auto .bx-start:hover,
        .bx-wrapper .bx-controls-auto .bx-start.active {
            background-position: -86px 0;
        }

        .bx-wrapper .bx-controls-auto .bx-stop {
            display: block;
            text-indent: -9999px;
            width: 9px;
            height: 11px;
            outline: 0;
            background: url(../../jspWWW/scripts/bxslider/images/controls.png) -86px -44px no-repeat;
            margin: 0 3px;
        }

        .bx-wrapper .bx-controls-auto .bx-stop:hover,
        .bx-wrapper .bx-controls-auto .bx-stop.active {
            background-position: -86px -33px;
        }

        .bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
            text-align: left;
            width: 80%;
        }

        .bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
            right: 0;
            width: 35px;
        }

        .bx-wrapper .bx-caption {
            position: absolute;
            bottom: 0;
            left: 0;
            background: #666\9;
            background: rgba(80, 80, 80, 0.75);
            width: 100%;
        }

        .bx-wrapper .bx-caption span {
            color: #fff;
            font-family: Arial;
            display: block;
            font-size: .85em;
            padding: 10px;
        }

        #sliderArticles .big img {
            margin: 0 auto;
            margin-bottom: 0.5rem;
        }

        #sliderArticles .big h4 {
            line-height: 2rem;
        }

        #tooltip {
            text-align: center;
            color: #57585a;
            background: #fff;
            border: 1px solid #adadad;
            position: absolute;
            z-index: 100;
            padding: 15px;
        }

        .agenda #tooltip {
            text-align: left;
        }

        #tooltip ul {
            padding: 0;
            list-style: none;
        }

        #tooltip ul li {
            margin-bottom: 0.5rem;
            padding-bottom: 0.5rem;
            border-bottom: 1px dotted #e6e6e6;
            font-size: 0.9rem;
        }

        #tooltip li:before {
            vertical-align: top;
            content: "\f054";
            font-family: FontAwesome;
            margin-left: -1.2em;
            margin: 0;
            color: #b1b2b3;
            line-height: 1rem;
            display: inline;
            vertical-align: baseline;
        }

        #tooltip:before {
            width: 0;
            height: 0;
            border-left: 11px solid transparent;
            border-right: 11px solid transparent;
            border-top: 11px solid #adadad;
            content: '';
            position: absolute;
            left: 50%;
            bottom: -11px;
            margin-left: -11px;
        }

        #tooltip:after {
            width: 0;
            height: 0;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-top: 11px solid #fff;
            content: '';
            position: absolute;
            left: 50%;
            bottom: -10px;
            margin-left: -10px;
        }

        #tooltip.top:after {
            border-top-color: transparent;
            border-bottom: 10px solid #111;
            top: -20px;
            bottom: auto;
        }

        #tooltip.left:after {
            left: 10px;
            margin: 0;
        }

        #tooltip.right:after {
            right: 10px;
            left: auto;
            margin: 0;
        }

        .ui-draggable-handle {
            -ms-touch-action: none;
            touch-action: none
        }

        .ui-helper-hidden {
            display: none
        }

        .ui-helper-hidden-accessible {
            border: 0;
            clip: rect(0 0 0 0);
            height: 1px;
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position: absolute;
            width: 1px
        }

        .ui-helper-reset {
            margin: 0;
            padding: 0;
            border: 0;
            outline: 0;
            line-height: 1.3;
            text-decoration: none;
            font-size: 100%;
            list-style: none
        }

        .ui-helper-clearfix:before,
        .ui-helper-clearfix:after {
            content: "";
            display: table;
            border-collapse: collapse
        }

        .ui-helper-clearfix:after {
            clear: both
        }

        .ui-helper-zfix {
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            position: absolute;
            opacity: 0;
            filter: Alpha(Opacity=0)
        }

        .ui-front {
            z-index: 100
        }

        .ui-state-disabled {
            cursor: default !important;
            pointer-events: none
        }

        .ui-icon {
            display: inline-block;
            vertical-align: middle;
            margin-top: -.25em;
            position: relative;
            text-indent: -99999px;
            overflow: hidden;
            background-repeat: no-repeat
        }

        .ui-widget-icon-block {
            left: 50%;
            margin-left: -8px;
            display: block
        }

        .ui-widget-overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%
        }

        .ui-resizable {
            position: relative
        }

        .ui-resizable-handle {
            position: absolute;
            font-size: 0.1px;
            display: block;
            -ms-touch-action: none;
            touch-action: none
        }

        .ui-resizable-disabled .ui-resizable-handle,
        .ui-resizable-autohide .ui-resizable-handle {
            display: none
        }

        .ui-resizable-n {
            cursor: n-resize;
            height: 7px;
            width: 100%;
            top: -5px;
            left: 0
        }

        .ui-resizable-s {
            cursor: s-resize;
            height: 7px;
            width: 100%;
            bottom: -5px;
            left: 0
        }

        .ui-resizable-e {
            cursor: e-resize;
            width: 7px;
            right: -5px;
            top: 0;
            height: 100%
        }

        .ui-resizable-w {
            cursor: w-resize;
            width: 7px;
            left: -5px;
            top: 0;
            height: 100%
        }

        .ui-resizable-se {
            cursor: se-resize;
            width: 12px;
            height: 12px;
            right: 1px;
            bottom: 1px
        }

        .ui-resizable-sw {
            cursor: sw-resize;
            width: 9px;
            height: 9px;
            left: -5px;
            bottom: -5px
        }

        .ui-resizable-nw {
            cursor: nw-resize;
            width: 9px;
            height: 9px;
            left: -5px;
            top: -5px
        }

        .ui-resizable-ne {
            cursor: ne-resize;
            width: 9px;
            height: 9px;
            right: -5px;
            top: -5px
        }

        .ui-button {
            padding: .4em 1em;
            display: inline-block;
            position: relative;
            line-height: normal;
            margin-right: .1em;
            cursor: pointer;
            vertical-align: middle;
            text-align: center;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            overflow: visible
        }

        .ui-button,
        .ui-button:link,
        .ui-button:visited,
        .ui-button:hover,
        .ui-button:active {
            text-decoration: none
        }

        .ui-button-icon-only {
            width: 2em;
            box-sizing: border-box;
            text-indent: -9999px;
            white-space: nowrap
        }

        input.ui-button.ui-button-icon-only {
            text-indent: 0
        }

        .ui-button-icon-only .ui-icon {
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -8px;
            margin-left: -8px
        }

        .ui-button.ui-icon-notext .ui-icon {
            padding: 0;
            width: 2.1em;
            height: 2.1em;
            text-indent: -9999px;
            white-space: nowrap
        }

        input.ui-button.ui-icon-notext .ui-icon {
            width: auto;
            height: auto;
            text-indent: 0;
            white-space: normal;
            padding: .4em 1em
        }

        input.ui-button::-moz-focus-inner,
        button.ui-button::-moz-focus-inner {
            border: 0;
            padding: 0
        }

        .ui-controlgroup {
            vertical-align: middle;
            display: inline-block
        }

        .ui-controlgroup>.ui-controlgroup-item {
            float: left;
            margin-left: 0;
            margin-right: 0
        }

        .ui-controlgroup>.ui-controlgroup-item:focus,
        .ui-controlgroup>.ui-controlgroup-item.ui-visual-focus {
            z-index: 9999
        }

        .ui-controlgroup-vertical>.ui-controlgroup-item {
            display: block;
            float: none;
            width: 100%;
            margin-top: 0;
            margin-bottom: 0;
            text-align: left
        }

        .ui-controlgroup-vertical .ui-controlgroup-item {
            box-sizing: border-box
        }

        .ui-controlgroup .ui-controlgroup-label {
            padding: .4em 1em
        }

        .ui-controlgroup .ui-controlgroup-label span {
            font-size: 80%
        }

        .ui-controlgroup-horizontal .ui-controlgroup-label+.ui-controlgroup-item {
            border-left: none
        }

        .ui-controlgroup-vertical .ui-controlgroup-label+.ui-controlgroup-item {
            border-top: none
        }

        .ui-controlgroup-horizontal .ui-controlgroup-label.ui-widget-content {
            border-right: none
        }

        .ui-controlgroup-vertical .ui-controlgroup-label.ui-widget-content {
            border-bottom: none
        }

        .ui-controlgroup-vertical .ui-spinner-input {
            width: 75%;
            width: calc(100% - 2.4em)
        }

        .ui-controlgroup-vertical .ui-spinner .ui-spinner-up {
            border-top-style: solid
        }

        .ui-checkboxradio-label .ui-icon-background {
            box-shadow: inset 1px 1px 1px #ccc;
            border-radius: .12em;
            border: none
        }

        .ui-checkboxradio-radio-label .ui-icon-background {
            width: 16px;
            height: 16px;
            border-radius: 1em;
            overflow: visible;
            border: none
        }

        .ui-checkboxradio-radio-label.ui-checkboxradio-checked .ui-icon,
        .ui-checkboxradio-radio-label.ui-checkboxradio-checked:hover .ui-icon {
            background-image: none;
            width: 8px;
            height: 8px;
            border-width: 4px;
            border-style: solid
        }

        .ui-checkboxradio-disabled {
            pointer-events: none
        }

        .ui-dialog {
            position: absolute;
            top: 0;
            left: 0;
            padding: .2em;
            outline: 0
        }

        .ui-dialog .ui-dialog-titlebar {
            padding: .4em 1em;
            position: relative
        }

        .ui-dialog .ui-dialog-title {
            float: left;
            margin: .1em 0;
            white-space: nowrap;
            width: 90%;
            overflow: hidden;
            text-overflow: ellipsis
        }

        .ui-dialog .ui-dialog-titlebar-close {
            position: absolute;
            right: .3em;
            top: 50%;
            width: 20px;
            margin: -10px 0 0 0;
            padding: 1px;
            height: 20px
        }

        .ui-dialog .ui-dialog-content {
            position: relative;
            border: 0;
            padding: .5em 1em;
            background: none;
            overflow: auto
        }

        .ui-dialog .ui-dialog-buttonpane {
            text-align: left;
            border-width: 1px 0 0 0;
            background-image: none;
            margin-top: .5em;
            padding: .3em 1em .5em .4em
        }

        .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
            float: right
        }

        .ui-dialog .ui-dialog-buttonpane button {
            margin: .5em .4em .5em 0;
            cursor: pointer
        }

        .ui-dialog .ui-resizable-n {
            height: 2px;
            top: 0
        }

        .ui-dialog .ui-resizable-e {
            width: 2px;
            right: 0
        }

        .ui-dialog .ui-resizable-s {
            height: 2px;
            bottom: 0
        }

        .ui-dialog .ui-resizable-w {
            width: 2px;
            left: 0
        }

        .ui-dialog .ui-resizable-se,
        .ui-dialog .ui-resizable-sw,
        .ui-dialog .ui-resizable-ne,
        .ui-dialog .ui-resizable-nw {
            width: 7px;
            height: 7px
        }

        .ui-dialog .ui-resizable-se {
            right: 0;
            bottom: 0
        }

        .ui-dialog .ui-resizable-sw {
            left: 0;
            bottom: 0
        }

        .ui-dialog .ui-resizable-ne {
            right: 0;
            top: 0
        }

        .ui-dialog .ui-resizable-nw {
            left: 0;
            top: 0
        }

        .ui-draggable .ui-dialog-titlebar {
            cursor: move
        }

        .ui-widget {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 1em
        }

        .ui-widget .ui-widget {
            font-size: 1em
        }

        .ui-widget input,
        .ui-widget select,
        .ui-widget textarea,
        .ui-widget button {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 1em
        }

        .ui-widget.ui-widget-content {
            border: 1px solid #c5c5c5
        }

        .ui-widget-content {
            border: 1px solid #ddd;
            background: #fff;
            color: #333
        }

        .ui-widget-content a {
            color: #333
        }

        .ui-widget-header {
            border: 1px solid #ddd;
            background: #e9e9e9;
            color: #333;
            font-weight: bold
        }

        .ui-widget-header a {
            color: #333
        }

        .ui-state-default,
        .ui-widget-content .ui-state-default,
        .ui-widget-header .ui-state-default,
        .ui-button,
        html .ui-button.ui-state-disabled:hover,
        html .ui-button.ui-state-disabled:active {
            border: 1px solid #c5c5c5;
            background: #f6f6f6;
            font-weight: normal;
            color: #454545
        }

        .ui-state-default a,
        .ui-state-default a:link,
        .ui-state-default a:visited,
        a.ui-button,
        a:link.ui-button,
        a:visited.ui-button,
        .ui-button {
            color: #454545;
            text-decoration: none
        }

        .ui-state-hover,
        .ui-widget-content .ui-state-hover,
        .ui-widget-header .ui-state-hover,
        .ui-state-focus,
        .ui-widget-content .ui-state-focus,
        .ui-widget-header .ui-state-focus,
        .ui-button:hover,
        .ui-button:focus {
            border: 1px solid #ccc;
            background: #ededed;
            font-weight: normal;
            color: #2b2b2b
        }

        .ui-state-hover a,
        .ui-state-hover a:hover,
        .ui-state-hover a:link,
        .ui-state-hover a:visited,
        .ui-state-focus a,
        .ui-state-focus a:hover,
        .ui-state-focus a:link,
        .ui-state-focus a:visited,
        a.ui-button:hover,
        a.ui-button:focus {
            color: #2b2b2b;
            text-decoration: none
        }

        .ui-visual-focus {
            box-shadow: 0 0 3px 1px rgb(94, 158, 214)
        }

        .ui-state-active,
        .ui-widget-content .ui-state-active,
        .ui-widget-header .ui-state-active,
        a.ui-button:active,
        .ui-button:active,
        .ui-button.ui-state-active:hover {
            border: 1px solid #003eff;
            background: #007fff;
            font-weight: normal;
            color: #fff
        }

        .ui-icon-background,
        .ui-state-active .ui-icon-background {
            border: #003eff;
            background-color: #fff
        }

        .ui-state-active a,
        .ui-state-active a:link,
        .ui-state-active a:visited {
            color: #fff;
            text-decoration: none
        }

        .ui-state-highlight,
        .ui-widget-content .ui-state-highlight,
        .ui-widget-header .ui-state-highlight {
            border: 1px solid #dad55e;
            background: #fffa90;
            color: #777620
        }

        .ui-state-checked {
            border: 1px solid #dad55e;
            background: #fffa90
        }

        .ui-state-highlight a,
        .ui-widget-content .ui-state-highlight a,
        .ui-widget-header .ui-state-highlight a {
            color: #777620
        }

        .ui-state-error,
        .ui-widget-content .ui-state-error,
        .ui-widget-header .ui-state-error {
            border: 1px solid #f1a899;
            background: #fddfdf;
            color: #5f3f3f
        }

        .ui-state-error a,
        .ui-widget-content .ui-state-error a,
        .ui-widget-header .ui-state-error a {
            color: #5f3f3f
        }

        .ui-state-error-text,
        .ui-widget-content .ui-state-error-text,
        .ui-widget-header .ui-state-error-text {
            color: #5f3f3f
        }

        .ui-priority-primary,
        .ui-widget-content .ui-priority-primary,
        .ui-widget-header .ui-priority-primary {
            font-weight: bold
        }

        .ui-priority-secondary,
        .ui-widget-content .ui-priority-secondary,
        .ui-widget-header .ui-priority-secondary {
            opacity: .7;
            filter: Alpha(Opacity=70);
            font-weight: normal
        }

        .ui-state-disabled,
        .ui-widget-content .ui-state-disabled,
        .ui-widget-header .ui-state-disabled {
            opacity: .35;
            filter: Alpha(Opacity=35);
            background-image: none
        }

        .ui-state-disabled .ui-icon {
            filter: Alpha(Opacity=35)
        }

        .ui-icon {
            width: 16px;
            height: 16px
        }

        .ui-icon,
        .ui-widget-content .ui-icon {
            background-image: url("../../jspWWW/scripts/autocomplete/images/ui-icons_444444_256x240.png")
        }

        .ui-widget-header .ui-icon {
            background-image: url("../../jspWWW/scripts/autocomplete/images/ui-icons_444444_256x240.png")
        }

        .ui-state-hover .ui-icon,
        .ui-state-focus .ui-icon,
        .ui-button:hover .ui-icon,
        .ui-button:focus .ui-icon {
            background-image: url("../../jspWWW/scripts/autocomplete/images/ui-icons_555555_256x240.png")
        }

        .ui-state-active .ui-icon,
        .ui-button:active .ui-icon {
            background-image: url("../../jspWWW/scripts/autocomplete/images/ui-icons_ffffff_256x240.png")
        }

        .ui-state-highlight .ui-icon,
        .ui-button .ui-state-highlight.ui-icon {
            background-image: url("../../jspWWW/scripts/autocomplete/images/ui-icons_777620_256x240.png")
        }

        .ui-state-error .ui-icon,
        .ui-state-error-text .ui-icon {
            background-image: url("../../jspWWW/scripts/autocomplete/images/ui-icons_cc0000_256x240.png")
        }

        .ui-button .ui-icon {
            background-image: url("../../jspWWW/scripts/autocomplete/images/ui-icons_777777_256x240.png")
        }

        .ui-icon-blank {
            background-position: 16px 16px
        }

        .ui-icon-caret-1-n {
            background-position: 0 0
        }

        .ui-icon-caret-1-ne {
            background-position: -16px 0
        }

        .ui-icon-caret-1-e {
            background-position: -32px 0
        }

        .ui-icon-caret-1-se {
            background-position: -48px 0
        }

        .ui-icon-caret-1-s {
            background-position: -65px 0
        }

        .ui-icon-caret-1-sw {
            background-position: -80px 0
        }

        .ui-icon-caret-1-w {
            background-position: -96px 0
        }

        .ui-icon-caret-1-nw {
            background-position: -112px 0
        }

        .ui-icon-caret-2-n-s {
            background-position: -128px 0
        }

        .ui-icon-caret-2-e-w {
            background-position: -144px 0
        }

        .ui-icon-triangle-1-n {
            background-position: 0 -16px
        }

        .ui-icon-triangle-1-ne {
            background-position: -16px -16px
        }

        .ui-icon-triangle-1-e {
            background-position: -32px -16px
        }

        .ui-icon-triangle-1-se {
            background-position: -48px -16px
        }

        .ui-icon-triangle-1-s {
            background-position: -65px -16px
        }

        .ui-icon-triangle-1-sw {
            background-position: -80px -16px
        }

        .ui-icon-triangle-1-w {
            background-position: -96px -16px
        }

        .ui-icon-triangle-1-nw {
            background-position: -112px -16px
        }

        .ui-icon-triangle-2-n-s {
            background-position: -128px -16px
        }

        .ui-icon-triangle-2-e-w {
            background-position: -144px -16px
        }

        .ui-icon-arrow-1-n {
            background-position: 0 -32px
        }

        .ui-icon-arrow-1-ne {
            background-position: -16px -32px
        }

        .ui-icon-arrow-1-e {
            background-position: -32px -32px
        }

        .ui-icon-arrow-1-se {
            background-position: -48px -32px
        }

        .ui-icon-arrow-1-s {
            background-position: -65px -32px
        }

        .ui-icon-arrow-1-sw {
            background-position: -80px -32px
        }

        .ui-icon-arrow-1-w {
            background-position: -96px -32px
        }

        .ui-icon-arrow-1-nw {
            background-position: -112px -32px
        }

        .ui-icon-arrow-2-n-s {
            background-position: -128px -32px
        }

        .ui-icon-arrow-2-ne-sw {
            background-position: -144px -32px
        }

        .ui-icon-arrow-2-e-w {
            background-position: -160px -32px
        }

        .ui-icon-arrow-2-se-nw {
            background-position: -176px -32px
        }

        .ui-icon-arrowstop-1-n {
            background-position: -192px -32px
        }

        .ui-icon-arrowstop-1-e {
            background-position: -208px -32px
        }

        .ui-icon-arrowstop-1-s {
            background-position: -224px -32px
        }

        .ui-icon-arrowstop-1-w {
            background-position: -240px -32px
        }

        .ui-icon-arrowthick-1-n {
            background-position: 1px -48px
        }

        .ui-icon-arrowthick-1-ne {
            background-position: -16px -48px
        }

        .ui-icon-arrowthick-1-e {
            background-position: -32px -48px
        }

        .ui-icon-arrowthick-1-se {
            background-position: -48px -48px
        }

        .ui-icon-arrowthick-1-s {
            background-position: -64px -48px
        }

        .ui-icon-arrowthick-1-sw {
            background-position: -80px -48px
        }

        .ui-icon-arrowthick-1-w {
            background-position: -96px -48px
        }

        .ui-icon-arrowthick-1-nw {
            background-position: -112px -48px
        }

        .ui-icon-arrowthick-2-n-s {
            background-position: -128px -48px
        }

        .ui-icon-arrowthick-2-ne-sw {
            background-position: -144px -48px
        }

        .ui-icon-arrowthick-2-e-w {
            background-position: -160px -48px
        }

        .ui-icon-arrowthick-2-se-nw {
            background-position: -176px -48px
        }

        .ui-icon-arrowthickstop-1-n {
            background-position: -192px -48px
        }

        .ui-icon-arrowthickstop-1-e {
            background-position: -208px -48px
        }

        .ui-icon-arrowthickstop-1-s {
            background-position: -224px -48px
        }

        .ui-icon-arrowthickstop-1-w {
            background-position: -240px -48px
        }

        .ui-icon-arrowreturnthick-1-w {
            background-position: 0 -64px
        }

        .ui-icon-arrowreturnthick-1-n {
            background-position: -16px -64px
        }

        .ui-icon-arrowreturnthick-1-e {
            background-position: -32px -64px
        }

        .ui-icon-arrowreturnthick-1-s {
            background-position: -48px -64px
        }

        .ui-icon-arrowreturn-1-w {
            background-position: -64px -64px
        }

        .ui-icon-arrowreturn-1-n {
            background-position: -80px -64px
        }

        .ui-icon-arrowreturn-1-e {
            background-position: -96px -64px
        }

        .ui-icon-arrowreturn-1-s {
            background-position: -112px -64px
        }

        .ui-icon-arrowrefresh-1-w {
            background-position: -128px -64px
        }

        .ui-icon-arrowrefresh-1-n {
            background-position: -144px -64px
        }

        .ui-icon-arrowrefresh-1-e {
            background-position: -160px -64px
        }

        .ui-icon-arrowrefresh-1-s {
            background-position: -176px -64px
        }

        .ui-icon-arrow-4 {
            background-position: 0 -80px
        }

        .ui-icon-arrow-4-diag {
            background-position: -16px -80px
        }

        .ui-icon-extlink {
            background-position: -32px -80px
        }

        .ui-icon-newwin {
            background-position: -48px -80px
        }

        .ui-icon-refresh {
            background-position: -64px -80px
        }

        .ui-icon-shuffle {
            background-position: -80px -80px
        }

        .ui-icon-transfer-e-w {
            background-position: -96px -80px
        }

        .ui-icon-transferthick-e-w {
            background-position: -112px -80px
        }

        .ui-icon-folder-collapsed {
            background-position: 0 -96px
        }

        .ui-icon-folder-open {
            background-position: -16px -96px
        }

        .ui-icon-document {
            background-position: -32px -96px
        }

        .ui-icon-document-b {
            background-position: -48px -96px
        }

        .ui-icon-note {
            background-position: -64px -96px
        }

        .ui-icon-mail-closed {
            background-position: -80px -96px
        }

        .ui-icon-mail-open {
            background-position: -96px -96px
        }

        .ui-icon-suitcase {
            background-position: -112px -96px
        }

        .ui-icon-comment {
            background-position: -128px -96px
        }

        .ui-icon-person {
            background-position: -144px -96px
        }

        .ui-icon-print {
            background-position: -160px -96px
        }

        .ui-icon-trash {
            background-position: -176px -96px
        }

        .ui-icon-locked {
            background-position: -192px -96px
        }

        .ui-icon-unlocked {
            background-position: -208px -96px
        }

        .ui-icon-bookmark {
            background-position: -224px -96px
        }

        .ui-icon-tag {
            background-position: -240px -96px
        }

        .ui-icon-home {
            background-position: 0 -112px
        }

        .ui-icon-flag {
            background-position: -16px -112px
        }

        .ui-icon-calendar {
            background-position: -32px -112px
        }

        .ui-icon-cart {
            background-position: -48px -112px
        }

        .ui-icon-pencil {
            background-position: -64px -112px
        }

        .ui-icon-clock {
            background-position: -80px -112px
        }

        .ui-icon-disk {
            background-position: -96px -112px
        }

        .ui-icon-calculator {
            background-position: -112px -112px
        }

        .ui-icon-zoomin {
            background-position: -128px -112px
        }

        .ui-icon-zoomout {
            background-position: -144px -112px
        }

        .ui-icon-search {
            background-position: -160px -112px
        }

        .ui-icon-wrench {
            background-position: -176px -112px
        }

        .ui-icon-gear {
            background-position: -192px -112px
        }

        .ui-icon-heart {
            background-position: -208px -112px
        }

        .ui-icon-star {
            background-position: -224px -112px
        }

        .ui-icon-link {
            background-position: -240px -112px
        }

        .ui-icon-cancel {
            background-position: 0 -128px
        }

        .ui-icon-plus {
            background-position: -16px -128px
        }

        .ui-icon-plusthick {
            background-position: -32px -128px
        }

        .ui-icon-minus {
            background-position: -48px -128px
        }

        .ui-icon-minusthick {
            background-position: -64px -128px
        }

        .ui-icon-close {
            background-position: -80px -128px
        }

        .ui-icon-closethick {
            background-position: -96px -128px
        }

        .ui-icon-key {
            background-position: -112px -128px
        }

        .ui-icon-lightbulb {
            background-position: -128px -128px
        }

        .ui-icon-scissors {
            background-position: -144px -128px
        }

        .ui-icon-clipboard {
            background-position: -160px -128px
        }

        .ui-icon-copy {
            background-position: -176px -128px
        }

        .ui-icon-contact {
            background-position: -192px -128px
        }

        .ui-icon-image {
            background-position: -208px -128px
        }

        .ui-icon-video {
            background-position: -224px -128px
        }

        .ui-icon-script {
            background-position: -240px -128px
        }

        .ui-icon-alert {
            background-position: 0 -144px
        }

        .ui-icon-info {
            background-position: -16px -144px
        }

        .ui-icon-notice {
            background-position: -32px -144px
        }

        .ui-icon-help {
            background-position: -48px -144px
        }

        .ui-icon-check {
            background-position: -64px -144px
        }

        .ui-icon-bullet {
            background-position: -80px -144px
        }

        .ui-icon-radio-on {
            background-position: -96px -144px
        }

        .ui-icon-radio-off {
            background-position: -112px -144px
        }

        .ui-icon-pin-w {
            background-position: -128px -144px
        }

        .ui-icon-pin-s {
            background-position: -144px -144px
        }

        .ui-icon-play {
            background-position: 0 -160px
        }

        .ui-icon-pause {
            background-position: -16px -160px
        }

        .ui-icon-seek-next {
            background-position: -32px -160px
        }

        .ui-icon-seek-prev {
            background-position: -48px -160px
        }

        .ui-icon-seek-end {
            background-position: -64px -160px
        }

        .ui-icon-seek-start {
            background-position: -80px -160px
        }

        .ui-icon-seek-first {
            background-position: -80px -160px
        }

        .ui-icon-stop {
            background-position: -96px -160px
        }

        .ui-icon-eject {
            background-position: -112px -160px
        }

        .ui-icon-volume-off {
            background-position: -128px -160px
        }

        .ui-icon-volume-on {
            background-position: -144px -160px
        }

        .ui-icon-power {
            background-position: 0 -176px
        }

        .ui-icon-signal-diag {
            background-position: -16px -176px
        }

        .ui-icon-signal {
            background-position: -32px -176px
        }

        .ui-icon-battery-0 {
            background-position: -48px -176px
        }

        .ui-icon-battery-1 {
            background-position: -64px -176px
        }

        .ui-icon-battery-2 {
            background-position: -80px -176px
        }

        .ui-icon-battery-3 {
            background-position: -96px -176px
        }

        .ui-icon-circle-plus {
            background-position: 0 -192px
        }

        .ui-icon-circle-minus {
            background-position: -16px -192px
        }

        .ui-icon-circle-close {
            background-position: -32px -192px
        }

        .ui-icon-circle-triangle-e {
            background-position: -48px -192px
        }

        .ui-icon-circle-triangle-s {
            background-position: -64px -192px
        }

        .ui-icon-circle-triangle-w {
            background-position: -80px -192px
        }

        .ui-icon-circle-triangle-n {
            background-position: -96px -192px
        }

        .ui-icon-circle-arrow-e {
            background-position: -112px -192px
        }

        .ui-icon-circle-arrow-s {
            background-position: -128px -192px
        }

        .ui-icon-circle-arrow-w {
            background-position: -144px -192px
        }

        .ui-icon-circle-arrow-n {
            background-position: -160px -192px
        }

        .ui-icon-circle-zoomin {
            background-position: -176px -192px
        }

        .ui-icon-circle-zoomout {
            background-position: -192px -192px
        }

        .ui-icon-circle-check {
            background-position: -208px -192px
        }

        .ui-icon-circlesmall-plus {
            background-position: 0 -208px
        }

        .ui-icon-circlesmall-minus {
            background-position: -16px -208px
        }

        .ui-icon-circlesmall-close {
            background-position: -32px -208px
        }

        .ui-icon-squaresmall-plus {
            background-position: -48px -208px
        }

        .ui-icon-squaresmall-minus {
            background-position: -64px -208px
        }

        .ui-icon-squaresmall-close {
            background-position: -80px -208px
        }

        .ui-icon-grip-dotted-vertical {
            background-position: 0 -224px
        }

        .ui-icon-grip-dotted-horizontal {
            background-position: -16px -224px
        }

        .ui-icon-grip-solid-vertical {
            background-position: -32px -224px
        }

        .ui-icon-grip-solid-horizontal {
            background-position: -48px -224px
        }

        .ui-icon-gripsmall-diagonal-se {
            background-position: -64px -224px
        }

        .ui-icon-grip-diagonal-se {
            background-position: -80px -224px
        }

        .ui-corner-all,
        .ui-corner-top,
        .ui-corner-left,
        .ui-corner-tl {
            border-top-left-radius: 3px
        }

        .ui-corner-all,
        .ui-corner-top,
        .ui-corner-right,
        .ui-corner-tr {
            border-top-right-radius: 3px
        }

        .ui-corner-all,
        .ui-corner-bottom,
        .ui-corner-left,
        .ui-corner-bl {
            border-bottom-left-radius: 3px
        }

        .ui-corner-all,
        .ui-corner-bottom,
        .ui-corner-right,
        .ui-corner-br {
            border-bottom-right-radius: 3px
        }

        .ui-widget-overlay {
            background: #aaa;
            opacity: .3;
            filter: Alpha(Opacity=30)
        }

        .ui-widget-shadow {
            -webkit-box-shadow: 0 0 5px #666;
            box-shadow: 0 0 5px #666
        }

        .owl-carousel {
            display: none;
            width: 100%;
            -webkit-tap-highlight-color: transparent;
            position: relative;
            z-index: 1;
        }

        .owl-carousel .owl-stage {
            position: relative;
            -ms-touch-action: pan-Y;
            touch-action: manipulation;
            -moz-backface-visibility: hidden;
        }

        .owl-carousel .owl-stage:after {
            content: ".";
            display: block;
            clear: both;
            visibility: hidden;
            line-height: 0;
            height: 0;
        }

        .owl-carousel .owl-stage-outer {
            position: relative;
            overflow: hidden;
            -webkit-transform: translate3d(0px, 0px, 0px);
        }

        .owl-carousel .owl-wrapper,
        .owl-carousel .owl-item {
            -webkit-backface-visibility: hidden;
            -moz-backface-visibility: hidden;
            -ms-backface-visibility: hidden;
            -webkit-transform: translate3d(0, 0, 0);
            -moz-transform: translate3d(0, 0, 0);
            -ms-transform: translate3d(0, 0, 0);
        }

        .owl-carousel .owl-item {
            position: relative;
            min-height: 1px;
            float: left;
            -webkit-backface-visibility: hidden;
            -webkit-tap-highlight-color: transparent;
            -webkit-touch-callout: none;
        }

        .owl-carousel .owl-item img {
            display: block;
            width: 100%;
        }

        .owl-carousel .owl-nav.disabled,
        .owl-carousel .owl-dots.disabled {
            display: none;
        }

        .owl-carousel .owl-nav .owl-prev,
        .owl-carousel .owl-nav .owl-next,
        .owl-carousel .owl-dot {
            cursor: pointer;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        .owl-carousel .owl-nav button.owl-prev,
        .owl-carousel .owl-nav button.owl-next,
        .owl-carousel button.owl-dot {
            background: none;
            color: inherit;
            border: none;
            padding: 0 0.5rem;
            font: inherit;
        }

        .owl-carousel.owl-loaded {
            display: block;
        }

        .owl-carousel.owl-loading {
            opacity: 0;
            display: block;
        }

        .owl-carousel.owl-hidden {
            opacity: 0;
        }

        .owl-carousel.owl-refresh .owl-item {
            visibility: hidden;
        }

        .owl-carousel.owl-drag .owl-item {
            -ms-touch-action: pan-y;
            touch-action: pan-y;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        .owl-carousel.owl-grab {
            cursor: move;
            cursor: grab;
        }

        .owl-carousel.owl-rtl {
            direction: rtl;
        }

        .owl-carousel.owl-rtl .owl-item {
            float: right;
        }

        .no-js .owl-carousel {
            display: block;
        }

        .owl-carousel .animated {
            animation-duration: 1000ms;
            animation-fill-mode: both;
        }

        .owl-carousel .owl-animated-in {
            z-index: 0;
        }

        .owl-carousel .owl-animated-out {
            z-index: 1;
        }

        .owl-carousel .fadeOut {
            animation-name: fadeOut;
        }

        @keyframes fadeOut {
            0% {
                opacity: 1;
            }

            100% {
                opacity: 0;
            }
        }

        .owl-height {
            transition: height 500ms ease-in-out;
        }

        .owl-carousel .owl-item {}

        .owl-carousel .owl-item .owl-lazy {
            opacity: 0;
            transition: opacity 400ms ease;
        }

        .owl-carousel .owl-item .owl-lazy[src^=""],
        .owl-carousel .owl-item .owl-lazy:not([src]) {
            max-height: 0;
        }

        .owl-carousel .owl-item img.owl-lazy {
            transform-style: preserve-3d;
        }

        .owl-carousel .owl-video-wrapper {
            position: relative;
            height: 100%;
            background: #000;
        }

        .owl-carousel .owl-video-play-icon {
            position: absolute;
            height: 80px;
            width: 80px;
            left: 50%;
            top: 50%;
            margin-left: -40px;
            margin-top: -40px;
            background: url("https://polytech.univ-lyon1.fr/jspWWW/scripts/owlcarousel/owl.video.play.png") no-repeat;
            cursor: pointer;
            z-index: 1;
            -webkit-backface-visibility: hidden;
            transition: transform 100ms ease;
        }

        .owl-carousel .owl-video-play-icon:hover {
            -ms-transform: scale(1.3, 1.3);
            transform: scale(1.3, 1.3);
        }

        .owl-carousel .owl-video-playing .owl-video-tn,
        .owl-carousel .owl-video-playing .owl-video-play-icon {
            display: none;
        }

        .owl-carousel .owl-video-tn {
            opacity: 0;
            height: 100%;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: contain;
            transition: opacity 400ms ease;
        }

        .owl-carousel .owl-video-frame {
            position: relative;
            z-index: 1;
            height: 100%;
            width: 100%;
        }

        .owl-theme .owl-nav {
            margin-top: 10px;
            text-align: center;
            -webkit-tap-highlight-color: transparent;
        }

        .owl-theme .owl-nav [class*='owl-'] {
            color: #FFF;
            font-size: 14px;
            margin: 5px;
            padding: 4px 7px;
            background: #D6D6D6;
            display: inline-block;
            cursor: pointer;
            border-radius: 3px;
        }

        .owl-theme .owl-nav [class*='owl-']:hover {
            background: #869791;
            color: #FFF;
            text-decoration: none;
        }

        .owl-theme .owl-nav .disabled {
            opacity: 0.5;
            cursor: default;
        }

        .owl-theme .owl-nav.disabled+.owl-dots {
            margin-top: 10px;
        }

        .owl-theme .owl-dots {
            text-align: center;
            -webkit-tap-highlight-color: transparent;
        }

        .owl-theme .owl-dots .owl-dot {
            display: inline-block;
            zoom: 1;
            *display: inline;
        }

        .owl-theme .owl-dots .owl-dot span {
            width: 10px;
            height: 10px;
            margin: 5px 7px;
            background: #D6D6D6;
            display: block;
            -webkit-backface-visibility: visible;
            transition: opacity 200ms ease;
            border-radius: 30px;
        }

        .owl-theme .owl-dots .owl-dot.active span,
        .owl-theme .owl-dots .owl-dot:hover span {
            background: #869791;
        }