@media screen and (max-width:65.875em) {

    #fil-ariane,
    #plan_site,
    #PC_nav,
    #bandeau_menu,
    .pagelibre .visuel-rubrique #acc,
    #page,
    .container-flex-caption,
    div#contenu_sans_nav_sans_encadres {
        width: auto;
        max-width: 100%;
    }

    #applatligne2 {
        display: none;
    }

    .accueil #ligne3 .colonne_deco {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .bx-wrapper .bx-next {
        right: 0;
    }

    .bx-wrapper .bx-prev {
        left: 0;
    }
}

@media screen and (max-width:63.5em) {

    html,
    body,
    div,
    span,
    applet,
    object,
    iframe,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    blockquote,
    pre,
    a,
    abbr,
    acronym,
    address,
    big,
    cite,
    code,
    del,
    dfn,
    em,
    font,
    img,
    ins,
    kbd,
    q,
    s,
    samp,
    small,
    strike,
    strong,
    sub,
    sup,
    tt,
    var,
    b,
    u,
    i,
    center,
    dl,
    dt,
    dd,
    ol,
    ul,
    li,
    fieldset,
    form,
    label,
    legend {
        margin: 0;
    }

    #logo_idex {
        display: none;
    }

    .UEI_title a,
    .AR_title a,
    .UEI_title_js a,
    .AR_title_js a,
    #outil_intranet {
        padding-right: 0.2rem;
        padding-left: 0.2rem;
    }

    .inactive li,
    .AR_inactive li {
        max-width: 35%;
    }

    .visuel-rubrique {
        overflow: hidden;
    }

    #page {
        width: 100%;
    }

    .pageAccueilSite #page {
        background: #fff;
    }

    aside #encadres {}

    #sans_nav_avec_encadres {
        overflow: hidden;
    }

    div#contenu_avec_nav_sans_encadres {}

    aside #filter {
        width: 10%;
    }

    div #PC_nav #PC_DETAILS_1401955736820 {
        width: 100% !important;
        padding-left: 0px;
    }

    div#contenu_sans_nav_avec_encadres {
        width: 70%;
        margin-right: 1%;
        padding-left: 0.3rem;
        padding-right: 0.7rem;
    }

    div#encadres {
        width: 28%;
    }

    .focus .vignette_deco {
        width: auto;
    }

    #plan_site {
        width: 100%;
        padding: 0;
        margin-left: auto;
        margin-right: auto;
    }

    #PC_nav>ul {
        text-align: center;
    }

    #PC_nav>ul {
        padding: 0;
    }

    #plan_site ul li {
        width: auto;
        padding-right: 0.2rem;
    }

    #PC_nav>ul>li {
        width: auto;
    }

    #menu_vousetes {
        margin-right: 5%;
    }

    #container_PC_nav {
        max-height: none;
    }

    div #PC_nav #PC_DETAILS_1401956622368 {
        width: auto;
    }

    .pageAccueilSite #applatligne2,
    .pageAccueilSite #applatligne3 {
        display: none;
    }

    .pageAccueilSite #ligne4 {
        background-color: #F7F7F7;
    }

    br.separateur {
        display: none;
    }

    .accueil .paragraphe--2 .toolbox ul.liste-actualites .avec_vignette_enligne {
        width: 30%;
    }
}

@media screen and (max-width:62.8125em) {

    .inactive,
    .AR_inactive {
        width: 100%;
    }

    #page span.style1_media_vignette {
        display: block;
        width: auto;
        height: auto;
        overflow: hidden;
    }

    table.visionneuse_pagination td table.pagination_contenu tbody td {
        background: #828282;
        border: 0.625rem solid #fff;
        color: #fff;
        margin: 1rem;
        text-align: center;
        vertical-align: top;
        width: 33%;
    }

    table.visionneuse_pagination td table.pagination_contenu tbody tr td.pagination_vide {
        background: none;
    }

    .style1_media_contenu .style1_media_titre,
    .style1_media_contenu .style1_media_description {
        display: none;
    }

    div#contenu_avec_nav_sans_encadres {
        width: 80%;
    }
}

@media screen and (max-width:61.8125em) {
    #cssmenu ul li ul {
        width: auto !important;
    }
}

@media screen and (max-width:60.1875em) {

    .article #page #navigation,
    .actualite #page #navigation,
    .laboratoire #page #navigation,
    .defaultstructureksup #page #navigation,
    .associationetudiant #page #navigation,
    .evenement #page #navigation,
    .document #page #navigation,
    .annuaireksup #page #navigation {
        width: 16%;
    }

    .article #contenu_avec_nav_sans_encadres,
    .actualite #contenu_avec_nav_sans_encadres,
    .laboratoire #contenu_avec_nav_sans_encadres,
    .defaultstructureksup #contenu_avec_nav_sans_encadres,
    .associationetudiant #contenu_avec_nav_sans_encadres,
    .evenement #contenu_avec_nav_sans_encadres,
    .document #contenu_avec_nav_sans_encadres,
    .annuaireksup #contenu_avec_nav_sans_encadres {
        width: 80%;
    }

    .plan-site__1,
    .plan-site__2 {
        max-height: 100%;
    }

    .plan-site>ul>li {
        min-height: 100%;
    }
}

@media screen and (max-width:60em) {
    body {
        margin: 0;
        padding: 0;
    }

    #boutons_actions,
    #vers_recherche_avancee,
    #menu_principal ul,
    .encadre_recherche {
        display: none !important;
    }

    #profils_preferences ul#dropdown li#logo_arqus {
        display: none;
    }

    #acces_direct_accessibilite {
        margin: 0;
    }

    #acces_direct_accessibilite a,
    #pied_page a {
        -webkit-transition: background 250ms ease 0s;
        -moz-transition: background 250ms ease 0s;
        -o-transition: background 250ms ease 0s;
        transition: background 250ms ease 0s;
        background: #2869a9;
        color: #fff;
        display: block;
        text-align: center;
        text-decoration: none;
        padding: 0.2em;
        margin: 0.2em 0;
    }

    #acces_direct_accessibilite a:hover,
    #pied_page a:hover {
        background-color: #1c1c1c;
    }

    #recherche_simple {
        padding: 0.5em;
        text-align: right;
    }

    h1 img {
        background: #2869a9;
        border-radius: 10px;
        display: block;
        float: right;
    }

    #menu_principal {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .colonne[style] {}

    #pied_page ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
}

@media screen and (max-width:59em) {
    #cssmenu a {
        padding: 0 1rem;
    }
}

@media screen and (max-width:56em) {
    span#prenom {
        display: none;
    }

    #connexion {
        width: 3.5rem;
        text-indent: -9999px;
    }

    #connexion p#se_deconnecter a {
        background: url(../../images/www/logout.png) 50% 50% no-repeat;
        display: block;
    }

    #connexion a#se_connecter {
        background: url(../../images/www/login.png) 50% 50% no-repeat;
        display: block;
    }

    #menu_vousetes_small .dropdown dd ul {
        max-width: 10.6rem;
        width: 10.6rem;
        top: 0;
    }

    #cssmenu a {
        padding: 0 0.5rem;
    }

    #cssmenu ul li ul li.niv1,
    #cssmenu ul li ul li.niv2 {
        margin-right: 1%;
    }

    #menu_vousetes_small {
        width: auto;
    }

    #menu_vousetes_small .dropdown dt {
        padding: 0.5rem 0 0 0;
    }

    #menu_vousetes_small .titre_acces_direct {
        font-size: 0.7rem;
    }

    #menu_secondaire li a,
    #filter #en_direct li a {
        padding-left: 0.2rem;
    }

    #menu_secondaire li:before,
    #filter #en_direct li:before {
        padding: 0 0.2rem;
    }
}

@media screen and (max-width:53.125em) {
    #cssmenu a {
        font-size: 1.1rem;
    }
}

@media screen and (max-width:51.75em) {
    .sb-search {
        right: 0;
    }

    .sb-search-input {
        width: 100%;
    }

    #cssmenu ul li ul li.niv1.acc {
        display: none;
    }
}

@media screen and (max-width:50em) {
    #profils_preferences ul#dropdown li#logo_comue {
        display: none;
    }

    #menu_vousetes_small .dropdown dd ul {
        max-width: 8.75rem;
        width: 8.75rem;
    }

    input#searchO2F {
        width: 100%;
    }

    .sidebar .vignette_deco {
        float: none;
    }

    #cssmenu a {
        padding: 0 0.5rem;
    }

    #menu_vousetes_small {
        right: 5.6rem;
    }
}

@media screen and (max-width:46em) {
    #cssmenu ul li ul li.niv1.close {
        position: initial;
    }

    #menu #menu_langues {
        position: absolute;
        right: 0;
        z-index: 10;
    }

    .UEI_title,
    .AR_title,
    .UEI_title_js,
    .AR_title_js {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
    }

    #cssmenu a {
        padding: 0 0.4rem;
        font-size: 1rem;
    }
}

@media screen and (max-width:40em) {
    table {
        display: contents;
    }

    #page_deco {
        width: auto;
        padding: 1rem;
        overflow: hidden;
    }

    .recherche #page_deco,
    .pagelibre #page_deco {
        width: auto;
    }

    .visuel-rubrique #entete {
        height: 100%;
    }

    #menu_vousetes_small .docked dt.focus {
        height: 1.91rem;
    }

    #menu_vousetes_small .dropdown dd ul {
        width: 11.5rem;
        max-width: 11.1rem;
    }

    #nav {
        width: 100%;
        max-width: 100%;
        overflow-y: visible;
    }

    [class^="colonne"] {
        margin-bottom: 1rem;
    }

    #cssmenu ul ul {
        display: none;
        position: relative;
    }

    #cssmenu ul li ul li.niv1 {
        width: 100%;
    }

    #cssmenu>ul {
        overflow: auto;
    }

    #cssmenu ul ul li {
        float: none;
        padding: 0;
    }

    #cssmenu ul li ul {
        padding-top: 0.2rem;
    }

    .niv1 .close,
    .niv1 .acc {
        display: none;
    }

    #cssmenu>ul>li.not-yet>a,
    #cssmenu>ul>li.has-sub>a,
    #cssmenu>ul>li.has>a {
        display: none;
    }

    #cssmenu>ul>li.has-sub.not-yet>a {
        display: block;
    }

    #cssmenu ul li ul li.niv1.first,
    #cssmenu ul li ul li.niv2 {
        margin-bottom: 0.5rem;
        max-width: 100%;
    }

    #cssmenu ul li ul li.niv1,
    #cssmenu ul li ul li.niv2 {
        width: 100%;
        margin-right: 1% !important;
    }

    #cssmenu>ul>li.mobile {
        height: 3.5rem;
    }

    #cssmenu>ul>li.mobile>a {
        font-size: 1rem;
        width: 6rem;
        padding: 0 0 0 1rem;
    }

    #cssmenu ul li ul li.niv1.closeMenu {
        display: none;
    }

    #cssmenu.expand>ul>li.not-yet {
        padding: 0.3125rem 0.75rem;
        width: 100%;
    }

    #cssmenu.expand>ul>li.not-yet>a {
        text-transform: none;
        font-size: 0.9rem;
        font-weight: bold;
        display: block;
        line-height: 2rem;
        padding: 0 0.5rem;
    }

    .rubrique #page #encadres .encadre_fiche {
        padding: 0.4rem 0;
    }

    .avec_vignette_enligne .vignette {
        max-width: 100%;
    }

    .avec_vignette_enligne .flou,
    .avec_vignette_enligne:hover .flou {
        display: none;
    }

    div.container-visuel-rubrique {
        height: 10rem;
        overflow-y: hidden;
    }

    .flex-container .flexslider .slides li {}

    .flexslider .slides>li {
        height: 30rem;
        min-height: 30rem;
    }

    .pageAccueilSite #accroche {
        height: 30rem;
    }

    .flex-caption {
        position: absolute;
        background: rgba(0, 0, 0, 0.5);
        bottom: 0;
        margin-top: 0;
        width: 100%;
        padding: 0;
    }

    .flex-caption-in {
        background: none;
    }

    .flex-caption-in .chapeauArticle .fa-arrow-right {
        background: none;
        color: #DC4204;
    }

    .flex-caption-in h4 a:link,
    .flex-caption-in h4 a:visited {
        color: #DC4204;
    }

    .flex-caption-in:after,
    .flex-caption .numSlide:before {
        display: none;
    }

    .flex-caption .numSlide {
        margin-top: 0;
        padding: 0;
        width: 100%;
    }

    .flex-direction-nav .flex-prev,
    .flex-direction-nav .flex-next {
        padding-top: 0.1rem;
        height: 2.1875rem;
    }

    .flex-caption-in h4 {
        padding: 0 0 0.5rem 0;
    }

    .galerie_defautgalerie_defaut {
        display: none;
    }

    .colonne[style] {
        width: auto !important;
        float: none;
    }

    #menu_vousetes_small {
        min-width: 7rem;
    }

    #menu_vousetes_small .dropdown dd ul {
        min-width: 7rem;
        width: auto;
        margin-top: 4px;
    }

    #menu_vousetes_small .dropdown dd ul li a {
        word-wrap: break-word;
    }

    #menu_vousetes_small .titre_acces_direct {
        font-size: 1rem;
    }

    .rechercheFullText section#js-all-topics {
        float: none;
        margin-right: 5%;
        max-width: 100%;
        border-bottom: 1px solid silver;
        margin-bottom: 1.5rem;
    }

    .rechercheFullText .topic {
        display: inline-block;
        vertical-align: top;
    }

    .sb-search {
        position: absolute;
        right: 0;
        z-index: 10;
    }

    .sb-search.sb-search-open,
    .no-js .sb-search {
        width: 100%;
    }

    .mfp-content #recherche-simple {
        height: 30rem;
    }

    .mfp-close-btn-in .mfp-content .mfp-close {
        right: 0;
    }

    .mfp-content .simple--62 .sb-search-button,
    .mfp-content .simple--62 .search__button {
        width: 100%;
        margin-top: 4rem;
    }

    .simple--62 input#default-MOTS_CLEFS {
        width: 100%;
    }

    #recherche_include input[type="text"] {
        width: initial;
    }

    #profils_preferences .details {
        padding: 1rem 0;
    }

    #profils_preferences ul#dropdown li ul li {
        display: block;
        max-width: inherit;
    }

    #profils_preferences ul#dropdown li ul>li.AR_SECTEURS,
    #profils_preferences ul#dropdown li ul>li.UEI_SECTEURS {
        margin-bottom: 1rem;
    }

    #profils_preferences ul#dropdown li#outil_intranet ul li {
        display: inline-block;
    }

    #profils_preferences ul#dropdown li.UEI_title_js ul li.UEI_close,
    #profils_preferences ul#dropdown li.AR_title_js ul li.AR_close {
        display: block;
        margin-top: 1rem;
        text-align: right;
    }

    .UEI_title>a,
    .AR_title>a,
    .UEI_title_js>a,
    .AR_title_js>a {
        text-indent: -9999px;
    }

    .UEI_title,
    .UEI_title_js {
        background: url(../../images/www/university.png) 50% 50% no-repeat;
        min-width: 3rem;
        max-width: 3.5rem;
    }

    .AR_title,
    .AR_title_js {
        background: url(../../images/www/tools.png) 50% 50% no-repeat;
        min-width: 3rem;
        max-width: 3.5rem;
    }

    .UEI_title a,
    .AR_title a,
    .UEI_title_js a,
    .AR_title_js a {
        padding-right: 1rem;
        padding-left: 1rem;
        display: block;
    }

    .inactive,
    .AR_inactive {
        width: 100%;
        padding-left: 0;
    }

    .AR_inactive ul {
        padding-top: 3px;
    }

    .inactive li {
        margin-right: 0;
        max-width: 50%;
    }

    .AR_inactive li {
        margin-right: 0;
        max-width: 33%;
    }

    .inactive,
    .AR_inactive {
        width: 100%;
        padding-left: 0;
    }

    .inactive ul,
    .AR_inactive ul {
        padding: 0 0 0 0.2rem;
    }

    .UEI_close,
    .AR_close {
        position: inherit;
    }

    .inactive a:link,
    .inactive a:visited,
    .AR_inactive a:link,
    .AR_inactive a:visited {
        word-wrap: break-word;
    }

    .inactive li li,
    .AR_inactive li li {
        padding: 1rem 0.3125rem 0.5rem 1rem;
    }

    #logo {
        width: 80%;
        height: auto;
        margin: 0;
    }

    #bandeau {
        width: auto;
        padding: 0 1%;
        height: auto;
        text-align: center;
    }

    p#prenom {
        display: none;
    }

    #profils_preferences ul#dropdown li#logo_lyon1 {
        display: none;
    }

    #complement,
    #container_plan_site {
        display: none;
    }

    .type_vignette_deco:hover,
    .voirPlus:hover {
        cursor: default;
    }

    .type_vignette_deco {
        margin: 0.625rem 0.2rem;
    }

    .rubrique div#encadres {
        margin-top: 0;
    }

    div#encadres {
        width: 100%;
        padding-left: 1%;
        padding-right: 1%;
    }

    div#contenu_avec_nav_sans_encadres {
        width: 100%;
    }

    aside #filter {
        width: 100%;
    }

    div#navigation {
        float: none;
        padding: 0;
        width: 100%;
        margin-right: 0;
    }

    .flex-caption {
        margin-left: auto;
        margin-right: auto;
    }

    .accueil .paragraphe__contenu--0.toolbox ul.liste-actualites .avec_vignette_enligne,
    .accueil .paragraphe__contenu--1.toolbox ul.liste-actualites .avec_vignette_enligne,
    .accueil .paragraphe__contenu--2.toolbox ul.liste-actualites .avec_vignette_enligne,
    .accueil .paragraphe__contenu--3.toolbox ul.liste-actualites .avec_vignette_enligne {
        width: 100%;
        max-width: initial !important;
        margin: 1rem 0 1rem 0 !important;
        padding: 0 0.4rem !important;
        height: auto !important;
    }

    .accueil .paragraphe__contenu--0 .liste-actualites,
    .accueil .paragraphe__contenu--1 .liste-actualites,
    .accueil .paragraphe__contenu--2 .liste-actualites,
    .accueil .paragraphe__contenu--3 .liste-actualites {
        margin-left: 0 !important;
    }

    .accueil .paragraphe__contenu--0 .liste-actualites .vignette_deco2 .resume,
    .accueil .paragraphe__contenu--1 .liste-actualites .vignette_deco2 .resume,
    .accueil .paragraphe__contenu--2 .liste-actualites .vignette_deco2 .resume,
    .accueil .paragraphe__contenu--3 .liste-actualites .vignette_deco2 .resume {
        overflow: visible !important;
        height: auto !important;
    }

    .avec_vignette_enligne div.vignette_deco2 {
        height: auto !important;
        min-height: auto !important;
        max-height: initial;
        padding-top: 0 !important;
    }

    .avec_vignette_enligne div.vignette_deco2 p {
        height: auto;
    }

    .liste-articles .avec_vignette_ajax .vignette_deco2 .chapeauArticle:after,
    .liste-actualites .vignette_deco2 .resume:after {
        display: none;
    }

    .accueil .paragraphe--2 .toolbox ul.liste-actualites .avec_vignette_enligne {
        width: 100%;
        max-width: initial !important;
        margin: 1rem 0 1rem 0 !important;
        padding: 0 0.4rem !important;
        height: auto !important;
    }

    .accueil .paragraphe--2 .liste-actualites .vignette_deco2 .resume {
        font-size: 1rem !important;
        height: auto !important;
    }

    .accueil .paragraphe--2 .toolbox ul.liste-actualites .avec_vignette_enligne div.vignette_deco2 {
        height: auto !important;
        margin-bottom: 1rem !important;
    }

    .accueil .ligne .liste-articles li.avec_vignette.style0002,
    .liste-articles li.avec_vignette.style0002 {
        max-width: 100%;
    }

    .liste-articles li.focus.style0002 div.vignette_deco {
        width: 100%;
    }

    div.lirelasuite {
        width: 100%;
        background: #9b9b9b;
        text-align: center;
        padding: 0.5rem;
        font-weight: bold;
        color: #fff;
        font-size: 1rem;
    }

    div.lirelasuite a {
        color: #fff;
        font-size: 1rem;
    }

    .liste-actualites .lirelasuite,
    .liste-articles .lirelasuite {
        background: silver;
        text-align: center;
        display: block;
        margin-top: 0.5rem;
        line-height: 1.8rem;
        font-weight: bold;
    }

    .scrollup {
        bottom: 3rem;
        right: 1rem;
    }

    #article_similaire ul li {
        display: block;
        width: 100%;
        text-align: center;
        max-width: 100%;
    }

    #sans_nav_avec_encadres .avec_vignette_ajax,
    #sans_nav_avec_encadres ul .avec_vignette_enligne {
        width: 100%;
    }

    .avec_vignette_ajax {
        display: block;
        float: none;
        vertical-align: top;
        width: 100%;
        height: auto;
    }

    ul.liste-objets {
        padding: 0;
    }

    ul .avec_vignette_enligne {
        width: 100%;
    }

    .avec_vignette_ajax div.vignette_deco {
        width: 100%;
        height: 12rem;
    }

    .avec_vignette_enligne div.vignette_deco3 {
        height: 12rem;
    }

    .avec_vignette_ajax div.vignette_deco2,
    .avec_vignette_ajax div.vignette_deco2 p {
        overflow: none;
        height: auto;
        max-height: none;
    }

    ul.liste-actualites .avec_vignette_ajax {
        margin: 0.4rem 0;
    }

    .avec_vignette_ajax div.vignette_deco2 {
        height: auto;
    }

    .pagelibre .colonne_deco {
        width: 100%;
    }

    .pagelibre .rubrique div#encadres {
        width: 100%;
    }

    .pagelibre #page {
        width: 100%;
    }

    .pagelibre #contenu_deco .contenu {
        width: 100%;
        padding-left: 1%;
        padding-right: 1%;
    }

    #containerMenu #menu {
        width: 100%;
        height: auto;
    }

    #menu #menu_langues {
        max-height: 3.5rem;
        position: absolute;
        right: 0;
        z-index: 10;
    }

    .pagelibre #menu #menu_langues #sample {
        margin: 0px;
    }

    #menu_vousetes {
        display: none;
    }

    #navigation {
        display: none;
    }

    .article #contenu_avec_nav_sans_encadres,
    .actualite #contenu_avec_nav_sans_encadres,
    .laboratoire #contenu_avec_nav_sans_encadres,
    .defaultstructureksup #contenu_avec_nav_sans_encadres,
    .associationetudiant #contenu_avec_nav_sans_encadres,
    .evenement #contenu_avec_nav_sans_encadres,
    .document #contenu_avec_nav_sans_encadres,
    .annuaireksup #contenu_avec_nav_sans_encadres,
    #contenu_sans_nav_avec_encadres,
    div#contenu_sans_nav_avec_encadres {
        width: 100%;
    }

    form#recherche_avancee p {
        border-bottom: 0;
    }

    select#CODE_RATTACHEMENT {
        width: 100%;
    }

    .rubrique #page #encadres .vignette_deco2 {
        width: auto;
    }

    .vignette_deco2 .resume {
        margin-top: 0.5rem;
    }

    .avec_vignette_enligne .container_td {
        min-height: 2rem;
        line-height: 2rem;
    }

    ul.lire-aussi {
        margin: 0;
    }

    .actualite ul.lire-aussi li,
    #article_similaire ul li {
        display: block;
        max-width: 100%;
    }

    #article_similaire .vignette_deco {
        width: 100%;
    }

    .plan-site ul li {
        width: 100%;
    }

    .plan-site__1 {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        -webkit-column-gap: 0x;
        -moz-column-gap: 0x;
        column-gap: 0;
    }

    .plan-site__2 {
        max-width: 100%;
    }

    .plan-site>ul>li {
        display: block;
        max-width: 100%;
    }

    .plan-site ul li ul li {
        max-width: 100%;
    }

    #container_PC_nav #PC_nav>ul {
        display: block;
        width: 100%;
    }

    #cloud-keywords {
        margin-bottom: 0;
    }

    #container-plan-site {
        display: none;
    }

    #container-container-plan-site {
        max-width: 100%;
        margin: 0 auto;
    }

    ul#liste_resultats li.avec_vignette {
        clear: none;
    }

    ul#liste_resultats li.avec_vignette span.pertinence {
        font-size: 0.8rem;
    }

    ul#liste_resultats li.avec_vignette .vignette_deco {
        float: none;
        height: 8rem;
        display: block;
        width: 100%;
        height: 8rem;
        margin-right: 0;
    }

    ul#liste_resultats li.avec_vignette .vignette_deco2 {
        font-size: 0.8rem;
    }

    ul#liste_resultats li.avec_vignette .vignette_deco2 a:link {
        font-size: 1rem;
    }

    ul#liste_resultats li.avec_vignette .vignette_deco2 div.resume {
        margin: 0.5rem 0;
        line-height: 1rem;
    }

    li.style_actu_0001 .vignette_deco {
        width: 100%;
        height: 10rem;
        overflow: hidden;
        float: none;
    }

    li.style_actu_0001 .vignette_deco2 {
        padding: 1rem 0;
    }

    li.style_actu_0001 .vignette_deco2 .date-liste {
        padding-left: 0;
        font-size: 0.8rem;
        font-style: italic;
    }

    div#encadres li.avec_vignette.style_actu_0004 div.vignette_deco {
        width: 100%;
    }

    .type_1 {
        padding-bottom: 2.5rem;
    }

    .type_1 dt,
    .type-1 dt,
    .type-1 .type-1__terme {
        width: 20%;
        line-height: 1rem;
        padding-top: 0.55rem;
    }

    .type_1 dd,
    .type-1 dd,
    .type-1 .type-1__definition {
        margin: 0 0 0 25%;
        word-break: break-all;
        padding: 0.3rem 0 0.5em 0;
    }

    #typeTrajet,
    #calculItineraire {
        margin: 1rem 0;
        width: 100%;
    }

    .fiche.petiteannonce div.photo {
        height: 12rem;
    }

    #recherche_avancee label {
        width: 100%;
    }

    p.validation {
        padding: 1rem 0;
    }

    #container-reader {
        display: none;
    }

    .fiche.annuaireksup .photo {
        float: none;
        width: 100%;
        height: auto;
    }

    .fiche.associationetudiant .photo {
        float: none;
        overflow: visible;
    }

    .fiche.associationetudiant .photo img {
        max-width: 100%;
    }

    #O2fPlaquette,
    #O2fPdf {
        float: none;
    }

    #tabsO2f .ui-tabs .ui-tabs-nav li {
        width: 100%;
    }

    .chat_bot .scrollup {
        bottom: 6rem;
        right: 1.5rem;
    }

    .chat_bot .chatprompt {
        bottom: 0.3125rem !important;
    }

    div#rs div.grid-item {
        width: 96%;
    }

    .error #container_fiole {
        display: none;
    }

    .error #page_deco {
        width: auto;
    }

    .error #container_erreur {
        width: auto;
        margin-right: 0;
    }

    .ckeditor-tabs .ckeditor-accordion {
        margin: 0 1em;
    }

    .tabs_toggler {
        width: 100%;
    }
}

@media screen and (min-width:40em) {
    @-webkit-keyframes .js #container-fil-ariane {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    @-moz-keyframes .js #container-fil-ariane {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    @keyframes .js #container-fil-ariane {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    @-webkit-keyframes .js #page {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    @-moz-keyframes .js #page {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    @keyframes .js #page {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    .js #container-fil-ariane,
    .js #page {
        opacity: 0;
        -webkit-animation: fadeIn ease-in 1;
        -moz-animation: fadeIn ease-in 1;
        animation: fadeIn ease-in 1;
        -webkit-animation-fill-mode: forwards;
        -moz-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
        -webkit-animation-duration: 0.5s;
        -moz-animation-duration: 0.5s;
        animation-duration: 0.5s;
        -webkit-animation-delay: 0.3s;
        -moz-animation-delay: 0.3s;
        animation-delay: 0.3s;
    }
}

@media screen and (max-width:32.25em) {
    #container_fiole {
        width: 100%;
        float: none;
        text-align: center;
    }

    #container_erreur {
        width: 100%;
        margin-right: 0;
        float: none;
    }
}


.icon-mosaic {
    *zoom: expression(this.runtimeStyle['zoom']='1', this.innerHTML='&#xe607;');
}

.icon-arrow-down4 {
    *zoom: expression(this.runtimeStyle['zoom']='1', this.innerHTML='&#xe603;');
}

.icon-earth {
    *zoom: expression(this.runtimeStyle['zoom']='1', this.innerHTML='&#xe602;');
}

.icon-googleplus {
    *zoom: expression(this.runtimeStyle['zoom']='1', this.innerHTML='&#xe608;');
}

.icon-facebook {
    *zoom: expression(this.runtimeStyle['zoom']='1', this.innerHTML='&#xe609;');
}

.icon-twitter {
    *zoom: expression(this.runtimeStyle['zoom']='1', this.innerHTML='&#xe60a;');
}

.icon-feed {
    *zoom: expression(this.runtimeStyle['zoom']='1', this.innerHTML='&#xe60b;');
}

.icon-arrow-up {
    *zoom: expression(this.runtimeStyle['zoom']='1', this.innerHTML='&#xe720;');
}

.icon-arrow-up-right {
    *zoom: expression(this.runtimeStyle['zoom']='1', this.innerHTML='&#xe721;');
}

.icon-arrow-right {
    *zoom: expression(this.runtimeStyle['zoom']='1', this.innerHTML='&#xe722;');
}

.icon-arrow-down-right {
    *zoom: expression(this.runtimeStyle['zoom']='1', this.innerHTML='&#xe723;');
}

.icon-arrow-down {
    *zoom: expression(this.runtimeStyle['zoom']='1', this.innerHTML='&#xe724;');
}

.icon-arrow-down-left {
    *zoom: expression(this.runtimeStyle['zoom']='1', this.innerHTML='&#xe725;');
}

.icon-arrow-left {
    *zoom: expression(this.runtimeStyle['zoom']='1', this.innerHTML='&#xe726;');
}

.icon-arrow-up-left2 {
    *zoom: expression(this.runtimeStyle['zoom']='1', this.innerHTML='&#xe727;');
}

.icon-arrow-up2 {
    *zoom: expression(this.runtimeStyle['zoom']='1', this.innerHTML='&#xe728;');
}

.icon-arrow-up-right2 {
    *zoom: expression(this.runtimeStyle['zoom']='1', this.innerHTML='&#xe729;');
}

.icon-arrow-right2 {
    *zoom: expression(this.runtimeStyle['zoom']='1', this.innerHTML='&#xe72a;');
}

.icon-arrow-down-right2 {
    *zoom: expression(this.runtimeStyle['zoom']='1', this.innerHTML='&#xe72b;');
}

.icon-arrow-down2 {
    *zoom: expression(this.runtimeStyle['zoom']='1', this.innerHTML='&#xe72c;');
}

.icon-arrow-down-left2 {
    *zoom: expression(this.runtimeStyle['zoom']='1', this.innerHTML='&#xe72d;');
}

.icon-arrow-left2 {
    *zoom: expression(this.runtimeStyle['zoom']='1', this.innerHTML='&#xe72e;');
}

.icon-arrow-up-left3 {
    *zoom: expression(this.runtimeStyle['zoom']='1', this.innerHTML='&#xe72f;');
}

.icon-arrow-up3 {
    *zoom: expression(this.runtimeStyle['zoom']='1', this.innerHTML='&#xe730;');
}

.icon-arrow-up-right3 {
    *zoom: expression(this.runtimeStyle['zoom']='1', this.innerHTML='&#xe731;');
}

.icon-arrow-right3 {
    *zoom: expression(this.runtimeStyle['zoom']='1', this.innerHTML='&#xe732;');
}

.icon-arrow-down-right3 {
    *zoom: expression(this.runtimeStyle['zoom']='1', this.innerHTML='&#xe733;');
}

.icon-arrow-down3 {
    *zoom: expression(this.runtimeStyle['zoom']='1', this.innerHTML='&#xe734;');
}

.icon-arrow-down-left3 {
    *zoom: expression(this.runtimeStyle['zoom']='1', this.innerHTML='&#xe735;');
}

.icon-arrow-left3 {
    *zoom: expression(this.runtimeStyle['zoom']='1', this.innerHTML='&#xe736;');
}

.icon-arrow-up-left {
    *zoom: expression(this.runtimeStyle['zoom']='1', this.innerHTML='&#xe71f;');
}

.icon-home {
    *zoom: expression(this.runtimeStyle['zoom']='1', this.innerHTML='&#xe600;');
}

.icon-pencil {
    *zoom: expression(this.runtimeStyle['zoom']='1', this.innerHTML='&#xe605;');
}

.icon-undo2 {
    *zoom: expression(this.runtimeStyle['zoom']='1', this.innerHTML='&#xe666;');
}

.icon-redo2 {
    *zoom: expression(this.runtimeStyle['zoom']='1', this.innerHTML='&#xe667;');
}

.icon-forward {
    *zoom: expression(this.runtimeStyle['zoom']='1', this.innerHTML='&#xe668;');
}

.icon-reply {
    *zoom: expression(this.runtimeStyle['zoom']='1', this.innerHTML='&#xe669;');
}

.icon-twitter2 {
    *zoom: expression(this.runtimeStyle['zoom']='1', this.innerHTML='&#xe76d;');
}

.icon-feed2 {
    *zoom: expression(this.runtimeStyle['zoom']='1', this.innerHTML='&#xe770;');
}

.icon-search {
    *zoom: expression(this.runtimeStyle['zoom']='1', this.innerHTML='&#xe67f;');
}

.icon-zoomin {
    *zoom: expression(this.runtimeStyle['zoom']='1', this.innerHTML='&#xe680;');
}

.icon-zoomout {
    *zoom: expression(this.runtimeStyle['zoom']='1', this.innerHTML='&#xe681;');
}

.icon-tag {
    *zoom: expression(this.runtimeStyle['zoom']='1', this.innerHTML='&#xe630;');
}

.icon-tags {
    *zoom: expression(this.runtimeStyle['zoom']='1', this.innerHTML='&#xe631;');
}

.icon-phone {
    *zoom: expression(this.runtimeStyle['zoom']='1', this.innerHTML='&#xe63c;');
}

.icon-calendar {
    *zoom: expression(this.runtimeStyle['zoom']='1', this.innerHTML='&#xe64e;');
}

.icon-bubble {
    *zoom: expression(this.runtimeStyle['zoom']='1', this.innerHTML='&#xe66a;');
}

.icon-bubbles {
    *zoom: expression(this.runtimeStyle['zoom']='1', this.innerHTML='&#xe66b;');
}

.icon-bubbles2 {
    *zoom: expression(this.runtimeStyle['zoom']='1', this.innerHTML='&#xe66c;');
}

.icon-bubble2 {
    *zoom: expression(this.runtimeStyle['zoom']='1', this.innerHTML='&#xe66d;');
}

.icon-bubbles3 {
    *zoom: expression(this.runtimeStyle['zoom']='1', this.innerHTML='&#xe66e;');
}

.icon-bubbles4 {
    *zoom: expression(this.runtimeStyle['zoom']='1', this.innerHTML='&#xe66f;');
}

.icon-user {
    *zoom: expression(this.runtimeStyle['zoom']='1', this.innerHTML='&#xe670;');
}

.icon-users {
    *zoom: expression(this.runtimeStyle['zoom']='1', this.innerHTML='&#xe671;');
}

.icon-user3 {
    *zoom: expression(this.runtimeStyle['zoom']='1', this.innerHTML='&#xe674;');
}

.icon-user4 {
    *zoom: expression(this.runtimeStyle['zoom']='1', this.innerHTML='&#xe675;');
}

.icon-cog2 {
    *zoom: expression(this.runtimeStyle['zoom']='1', this.innerHTML='&#xe690;');
}

.icon-cogs {
    *zoom: expression(this.runtimeStyle['zoom']='1', this.innerHTML='&#xe68f;');
}

.icon-cog {
    *zoom: expression(this.runtimeStyle['zoom']='1', this.innerHTML='&#xe68e;');
}

.icon-wrench {
    *zoom: expression(this.runtimeStyle['zoom']='1', this.innerHTML='&#xe68b;');
}

.icon-switch {
    *zoom: expression(this.runtimeStyle['zoom']='1', this.innerHTML='&#xe6b1;');
}

.icon-star {
    *zoom: expression(this.runtimeStyle['zoom']='1', this.innerHTML='&#xe6ce;');
}

.icon-star2 {
    *zoom: expression(this.runtimeStyle['zoom']='1', this.innerHTML='&#xe6cf;');
}

.icon-star3 {
    *zoom: expression(this.runtimeStyle['zoom']='1', this.innerHTML='&#xe6d0;');
}

.icon-menu2 {
    *zoom: expression(this.runtimeStyle['zoom']='1', this.innerHTML='&#xe6b8;');
}

.icon-menu {
    *zoom: expression(this.runtimeStyle['zoom']='1', this.innerHTML='&#xe6b7;');
}

.icon-cloud-download {
    *zoom: expression(this.runtimeStyle['zoom']='1', this.innerHTML='&#xe6bb;');
}

.icon-cloud-upload {
    *zoom: expression(this.runtimeStyle['zoom']='1', this.innerHTML='&#xe6bc;');
}

.icon-download2 {
    *zoom: expression(this.runtimeStyle['zoom']='1', this.innerHTML='&#xe6bd;');
}

.icon-upload2 {
    *zoom: expression(this.runtimeStyle['zoom']='1', this.innerHTML='&#xe6be;');
}

.icon-download3 {
    *zoom: expression(this.runtimeStyle['zoom']='1', this.innerHTML='&#xe6bf;');
}

.icon-upload3 {
    *zoom: expression(this.runtimeStyle['zoom']='1', this.innerHTML='&#xe6c0;');
}

.icon-flag {
    *zoom: expression(this.runtimeStyle['zoom']='1', this.innerHTML='&#xe6c4;');
}

.icon-eye {
    *zoom: expression(this.runtimeStyle['zoom']='1', this.innerHTML='&#xe6c6;');
}

.icon-minus {
    *zoom: expression(this.runtimeStyle['zoom']='1', this.innerHTML='&#xe701;');
}

.icon-plus {
    *zoom: expression(this.runtimeStyle['zoom']='1', this.innerHTML='&#xe702;');
}

.icon-checkmark {
    *zoom: expression(this.runtimeStyle['zoom']='1', this.innerHTML='&#xe6fe;');
}

.icon-checkmark2 {
    *zoom: expression(this.runtimeStyle['zoom']='1', this.innerHTML='&#xe6ff;');
}

.icon-enter {
    *zoom: expression(this.runtimeStyle['zoom']='1', this.innerHTML='&#xe703;');
}

.icon-exit {
    *zoom: expression(this.runtimeStyle['zoom']='1', this.innerHTML='&#xe704;');
}

.icon-feed3 {
    *zoom: expression(this.runtimeStyle['zoom']='1', this.innerHTML='&#xe771;');
}

.icon-twitter22 {
    *zoom: expression(this.runtimeStyle['zoom']='1', this.innerHTML='&#xe76e;');
}

.icon-twitter3 {
    *zoom: expression(this.runtimeStyle['zoom']='1', this.innerHTML='&#xe76f;');
}

.icon-feed4 {
    *zoom: expression(this.runtimeStyle['zoom']='1', this.innerHTML='&#xe772;');
}

.icon-tumblr {
    *zoom: expression(this.runtimeStyle['zoom']='1', this.innerHTML='&#xe792;');
}

.icon-tumblr2 {
    *zoom: expression(this.runtimeStyle['zoom']='1', this.innerHTML='&#xe793;');
}

.icon-googleplus2 {
    *zoom: expression(this.runtimeStyle['zoom']='1', this.innerHTML='&#xe764;');
}

.icon-googleplus3 {
    *zoom: expression(this.runtimeStyle['zoom']='1', this.innerHTML='&#xe766;');
}

.icon-googleplus4 {
    *zoom: expression(this.runtimeStyle['zoom']='1', this.innerHTML='&#xe767;');
}

.icon-facebook2 {
    *zoom: expression(this.runtimeStyle['zoom']='1', this.innerHTML='&#xe76a;');
}

.icon-facebook3 {
    *zoom: expression(this.runtimeStyle['zoom']='1', this.innerHTML='&#xe76b;');
}

.icon-home2 {
    *zoom: expression(this.runtimeStyle['zoom']='1', this.innerHTML='&#xe601;');
}

.icon-pencil2 {
    *zoom: expression(this.runtimeStyle['zoom']='1', this.innerHTML='&#xe606;');
}

.icon-location {
    *zoom: expression(this.runtimeStyle['zoom']='1', this.innerHTML='&#xe642;');
}

.icon-location2 {
    *zoom: expression(this.runtimeStyle['zoom']='1', this.innerHTML='&#xe643;');
}

.icon-pushpin {
    *zoom: expression(this.runtimeStyle['zoom']='1', this.innerHTML='&#xe641;');
}

.icon-compass {
    *zoom: expression(this.runtimeStyle['zoom']='1', this.innerHTML='&#xe644;');
}

.icon-map {
    *zoom: expression(this.runtimeStyle['zoom']='1', this.innerHTML='&#xe645;');
}

.icon-map2 {
    *zoom: expression(this.runtimeStyle['zoom']='1', this.innerHTML='&#xe646;');
}

.icon-envelope {
    *zoom: expression(this.runtimeStyle['zoom']='1', this.innerHTML='&#xe640;');
}

.icon-print {
    *zoom: expression(this.runtimeStyle['zoom']='1', this.innerHTML='&#xe650;');
}

.icon-unlocked {
    *zoom: expression(this.runtimeStyle['zoom']='1', this.innerHTML='&#xe68a;');
}

.icon-lock {
    *zoom: expression(this.runtimeStyle['zoom']='1', this.innerHTML='&#xe688;');
}

.icon-link {
    *zoom: expression(this.runtimeStyle['zoom']='1', this.innerHTML='&#xe6c3;');
}

.icon-attachment {
    *zoom: expression(this.runtimeStyle['zoom']='1', this.innerHTML='&#xe6c5;');
}

.icon-bookmark {
    *zoom: expression(this.runtimeStyle['zoom']='1', this.innerHTML='&#xe6c9;');
}

.icon-bookmarks {
    *zoom: expression(this.runtimeStyle['zoom']='1', this.innerHTML='&#xe6ca;');
}

.icon-info {
    *zoom: expression(this.runtimeStyle['zoom']='1', this.innerHTML='&#xe6f7;');
}

.icon-info2 {
    *zoom: expression(this.runtimeStyle['zoom']='1', this.innerHTML='&#xe6f8;');
}

.icon-cancel-circle {
    *zoom: expression(this.runtimeStyle['zoom']='1', this.innerHTML='&#xe6fa;');
}

.icon-checkmark-circle {
    *zoom: expression(this.runtimeStyle['zoom']='1', this.innerHTML='&#xe6fb;');
}

.icon-close {
    *zoom: expression(this.runtimeStyle['zoom']='1', this.innerHTML='&#xe6fd;');
}

.icon-play3 {
    *zoom: expression(this.runtimeStyle['zoom']='1', this.innerHTML='&#xe70a;');
}

.icon-pause2 {
    *zoom: expression(this.runtimeStyle['zoom']='1', this.innerHTML='&#xe70b;');
}

.icon-stop2 {
    *zoom: expression(this.runtimeStyle['zoom']='1', this.innerHTML='&#xe70c;');
}

.icon-backward2 {
    *zoom: expression(this.runtimeStyle['zoom']='1', this.innerHTML='&#xe70d;');
}

.icon-forward3 {
    *zoom: expression(this.runtimeStyle['zoom']='1', this.innerHTML='&#xe70e;');
}

.icon-first {
    *zoom: expression(this.runtimeStyle['zoom']='1', this.innerHTML='&#xe70f;');
}

.icon-last {
    *zoom: expression(this.runtimeStyle['zoom']='1', this.innerHTML='&#xe710;');
}

.icon-previous {
    *zoom: expression(this.runtimeStyle['zoom']='1', this.innerHTML='&#xe711;');
}

.icon-next {
    *zoom: expression(this.runtimeStyle['zoom']='1', this.innerHTML='&#xe712;');
}

.icon-newtab {
    *zoom: expression(this.runtimeStyle['zoom']='1', this.innerHTML='&#xe75a;');
}

.icon-facebook4 {
    *zoom: expression(this.runtimeStyle['zoom']='1', this.innerHTML='&#xe769;');
}

.icon-file-pdf {
    *zoom: expression(this.runtimeStyle['zoom']='1', this.innerHTML='&#xe7b2;');
}

.icon-file-word {
    *zoom: expression(this.runtimeStyle['zoom']='1', this.innerHTML='&#xe7b4;');
}

.icon-file-excel {
    *zoom: expression(this.runtimeStyle['zoom']='1', this.innerHTML='&#xe7b5;');
}

.icon-file-xml {
    *zoom: expression(this.runtimeStyle['zoom']='1', this.innerHTML='&#xe7b8;');
}

.icon-file-zip {
    *zoom: expression(this.runtimeStyle['zoom']='1', this.innerHTML='&#xe7b6;');
}

.icon-file-powerpoint {
    *zoom: expression(this.runtimeStyle['zoom']='1', this.innerHTML='&#xe7b7;');
}

.icon-file-openoffice {
    *zoom: expression(this.runtimeStyle['zoom']='1', this.innerHTML='&#xe7b3;');
}

.icon-libreoffice {
    *zoom: expression(this.runtimeStyle['zoom']='1', this.innerHTML='&#xe7b1;');
}

.icon-newspaper {
    *zoom: expression(this.runtimeStyle['zoom']='1', this.innerHTML='&#xe604;');
}

.icon-clock {
    *zoom: expression(this.runtimeStyle['zoom']='1', this.innerHTML='&#xe648;');
}

.icon-clock2 {
    *zoom: expression(this.runtimeStyle['zoom']='1', this.innerHTML='&#xe649;');
}

.icon-share {
    *zoom: expression(this.runtimeStyle['zoom']='1', this.innerHTML='&#xe75e;');
}

.icon-googleplus22 {
    *zoom: expression(this.runtimeStyle['zoom']='1', this.innerHTML='&#xe765;');
}

.icon-minus2 {
    *zoom: expression(this.runtimeStyle['zoom']='1', this.innerHTML='&#xe60c;');
}

.icon-plus2 {
    *zoom: expression(this.runtimeStyle['zoom']='1', this.innerHTML='&#xe60d;');
}

.icon-cross {
    *zoom: expression(this.runtimeStyle['zoom']='1', this.innerHTML='&#xe60e;');
}

.icon-minus3 {
    *zoom: expression(this.runtimeStyle['zoom']='1', this.innerHTML='&#xe60f;');
}

.icon-plus3 {
    *zoom: expression(this.runtimeStyle['zoom']='1', this.innerHTML='&#xe610;');
}

.icon-cross2 {
    *zoom: expression(this.runtimeStyle['zoom']='1', this.innerHTML='&#xe611;');
}