div.error {
    position: absolute;
}

.accordion-solo h3 {
    font-size: 1.1rem;
    margin-bottom: 0;
    color: #5c617e;
    font-weight: bold;
}

.accordion-solo h2 {
    font-size: 1.2rem;
    font-weight: bold;
}

.accordion-solo .ui-helper-hidden {
    display: none;
}

.accordion-solo .ui-helper-hidden-accessible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.accordion-solo.ui-helper-reset {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    line-height: inherit;
    text-decoration: none;
    list-style: none;
}

.accordion-solo .ui-helper-clearfix:before,
.accordion-solo .ui-helper-clearfix:after {
    content: "";
    display: table;
    border-collapse: collapse;
}

.accordion-solo .ui-helper-clearfix:after {
    clear: both;
}

.accordion-solo .ui-helper-clearfix {
    min-height: 0;
}

.accordion-solo .ui-helper-zfix {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    opacity: 0;
    filter: Alpha(Opacity=0);
}

.accordion-solo .ui-front {
    z-index: 100;
}

.accordion-solo .ui-state-disabled {
    cursor: default !important;
}

.accordion-solo .ui-icon {
    display: block;
    text-indent: -99999px;
    overflow: hidden;
    background-repeat: no-repeat;
}

.accordion-solo .ui-widget-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.accordion-solo .accordion-solo.ui-accordion .ui-accordion-header {
    display: block;
    cursor: pointer;
    position: relative;
    margin-top: 0;
    padding: 0;
    min-height: 0;
}

accordion-solo.ui-accordion .ui-accordion-icons {}

accordion-solo.ui-accordion .ui-accordion-noicons {
    padding-left: .7em;
}

.accordion-solo.ui-accordion .ui-accordion-icons .ui-accordion-icons {
    padding-left: 1em;
}

.accordion-solo.ui-accordion .ui-accordion-header .ui-accordion-header-icon {
    position: absolute;
    left: .5em;
    top: 50%;
    margin-top: -8px;
}

.accordion-solo.ui-accordion .ui-accordion-content {
    padding: 0.5em;
    border-top: 0;
    overflow: auto;
}

.accordion-solo .ui-autocomplete {
    position: absolute;
    top: 0;
    left: 0;
    cursor: default;
}

.accordion-solo .ui-button {
    display: inline-block;
    position: relative;
    padding: 0;
    line-height: normal;
    margin-right: .1em;
    cursor: pointer;
    vertical-align: middle;
    text-align: center;
    overflow: visible;
}

.accordion-solo .ui-button,
.accordion-solo .ui-button:link,
.accordion-solo .ui-button:visited,
.accordion-solo .ui-button:hover,
.accordion-solo .ui-button:active {
    text-decoration: none;
}

.accordion-solo .ui-button-icon-only {
    width: 2.2em;
}

.accordion-solo button.ui-button-icon-only {
    width: 2.4em;
}

.accordion-solo .ui-button-icons-only {
    width: 3.4em;
}

.accordion-solo button.ui-button-icons-only {
    width: 3.7em;
}

.accordion-solo .ui-button .ui-button-text {
    display: block;
    line-height: normal;
}

.accordion-solo .ui-button-text-only .ui-button-text {
    padding: .4em 1em;
}

.accordion-solo .ui-button-icon-only .ui-button-text,
.accordion-solo .ui-button-icons-only .ui-button-text {
    padding: .4em;
    text-indent: -9999999px;
}

.accordion-solo .ui-button-text-icon-primary .ui-button-text,
.accordion-solo .ui-button-text-icons .ui-button-text {
    padding: .4em 1em .4em 2.1em;
}

.accordion-solo .ui-button-text-icon-secondary .ui-button-text,
.accordion-solo .ui-button-text-icons .ui-button-text {
    padding: .4em 2.1em .4em 1em;
}

.accordion-solo .ui-button-text-icons .ui-button-text {
    padding-left: 2.1em;
    padding-right: 2.1em;
}

.accordion-solo input.ui-button {
    padding: .4em 1em;
}

.accordion-solo .ui-button-icon-only .ui-icon,
.accordion-solo .ui-button-text-icon-primary .ui-icon,
.accordion-solo .ui-button-text-icon-secondary .ui-icon,
.accordion-solo .ui-button-text-icons .ui-icon,
.accordion-solo .ui-button-icons-only .ui-icon {
    position: absolute;
    top: 50%;
    margin-top: -8px;
}

.accordion-solo .ui-button-icon-only .ui-icon {
    left: 50%;
    margin-left: -8px;
}

.accordion-solo .ui-button-text-icon-primary .ui-button-icon-primary,
.accordion-solo .ui-button-text-icons .ui-button-icon-primary,
.accordion-solo .ui-button-icons-only .ui-button-icon-primary {
    left: .5em;
}

.accordion-solo .ui-button-text-icon-secondary .ui-button-icon-secondary,
.accordion-solo .ui-button-text-icons .ui-button-icon-secondary,
.accordion-solo .ui-button-icons-only .ui-button-icon-secondary {
    right: .5em;
}

.accordion-solo .ui-buttonset {
    margin-right: 7px;
}

.accordion-solo .ui-buttonset .ui-button {
    margin-left: 0;
    margin-right: -.3em;
}

.accordion-solo input.ui-button::-moz-focus-inner,
.accordion-solo button.ui-button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

.accordion-solo .ui-datepicker {
    width: 17em;
    padding: .2em .2em 0;
    display: none;
}

.accordion-solo .ui-datepicker .ui-datepicker-header {
    position: relative;
    padding: .2em 0;
}

.accordion-solo .ui-datepicker .ui-datepicker-prev,
.accordion-solo .ui-datepicker .ui-datepicker-next {
    position: absolute;
    top: 2px;
    width: 1.8em;
    height: 1.8em;
}

.accordion-solo .ui-datepicker .ui-datepicker-prev-hover,
.accordion-solo .ui-datepicker .ui-datepicker-next-hover {
    top: 1px;
}

.accordion-solo .ui-datepicker .ui-datepicker-prev {
    left: 2px;
}

.accordion-solo .ui-datepicker .ui-datepicker-next {
    right: 2px;
}

.accordion-solo .ui-datepicker .ui-datepicker-prev-hover {
    left: 1px;
}

.accordion-solo .ui-datepicker .ui-datepicker-next-hover {
    right: 1px;
}

.accordion-solo .ui-datepicker .ui-datepicker-prev span,
.accordion-solo .ui-datepicker .ui-datepicker-next span {
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -8px;
    top: 50%;
    margin-top: -8px;
}

.accordion-solo .ui-datepicker .ui-datepicker-title {
    margin: 0 2.3em;
    line-height: 1.8em;
    text-align: center;
}

.accordion-solo .ui-datepicker .ui-datepicker-title select {
    font-size: 1em;
    margin: 1px 0;
}

.accordion-solo .ui-datepicker select.ui-datepicker-month-year {
    width: 100%;
}

.accordion-solo .ui-datepicker select.ui-datepicker-month,
.accordion-solo .ui-datepicker select.ui-datepicker-year {
    width: 49%;
}

.accordion-solo .ui-datepicker table {
    width: 100%;
    font-size: .9em;
    border-collapse: collapse;
    margin: 0 0 .4em;
}

.accordion-solo .ui-datepicker th {
    padding: .7em .3em;
    text-align: center;
    font-weight: bold;
    border: 0;
}

.accordion-solo .ui-datepicker td {
    border: 0;
    padding: 1px;
}

.accordion-solo .ui-datepicker td span,
.accordion-solo .ui-datepicker td a {
    display: block;
    padding: .2em;
    text-align: right;
    text-decoration: none;
}

.accordion-solo .ui-datepicker .ui-datepicker-buttonpane {
    background-image: none;
    margin: .7em 0 0 0;
    padding: 0 .2em;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
}

.accordion-solo .ui-datepicker .ui-datepicker-buttonpane button {
    float: right;
    margin: .5em .2em .4em;
    cursor: pointer;
    padding: .2em .6em .3em .6em;
    width: auto;
    overflow: visible;
}

.accordion-solo .ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
    float: left;
}

.accordion-solo .ui-datepicker.ui-datepicker-multi {
    width: auto;
}

.accordion-solo .ui-datepicker-multi .ui-datepicker-group {
    float: left;
}

.accordion-solo .ui-datepicker-multi .ui-datepicker-group table {
    width: 95%;
    margin: 0 auto .4em;
}

.accordion-solo .ui-datepicker-multi-2 .ui-datepicker-group {
    width: 50%;
}

.accordion-solo .ui-datepicker-multi-3 .ui-datepicker-group {
    width: 33.3%;
}

.accordion-solo .ui-datepicker-multi-4 .ui-datepicker-group {
    width: 25%;
}

.accordion-solo .ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header,
.accordion-solo .ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
    border-left-width: 0;
}

.accordion-solo .ui-datepicker-multi .ui-datepicker-buttonpane {
    clear: left;
}

.accordion-solo .ui-datepicker-row-break {
    clear: both;
    width: 100%;
    font-size: 0;
}

.accordion-solo .ui-datepicker-rtl {
    direction: rtl;
}

.accordion-solo .ui-datepicker-rtl .ui-datepicker-prev {
    right: 2px;
    left: auto;
}

.accordion-solo .ui-datepicker-rtl .ui-datepicker-next {
    left: 2px;
    right: auto;
}

.accordion-solo .ui-datepicker-rtl .ui-datepicker-prev:hover {
    right: 1px;
    left: auto;
}

.accordion-solo .ui-datepicker-rtl .ui-datepicker-next:hover {
    left: 1px;
    right: auto;
}

.accordion-solo .ui-datepicker-rtl .ui-datepicker-buttonpane {
    clear: right;
}

.accordion-solo .ui-datepicker-rtl .ui-datepicker-buttonpane button {
    float: left;
}

.accordion-solo .ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current,
.accordion-solo .ui-datepicker-rtl .ui-datepicker-group {
    float: right;
}

.accordion-solo .ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header,
.accordion-solo .ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {
    border-right-width: 0;
    border-left-width: 1px;
}

.accordion-solo .ui-dialog {
    position: absolute;
    top: 0;
    left: 0;
    padding: .2em;
    outline: 0;
}

.accordion-solo .ui-dialog .ui-dialog-titlebar {
    padding: .4em 1em;
    position: relative;
}

.accordion-solo .ui-dialog .ui-dialog-title {
    float: left;
    margin: .1em 0;
    white-space: nowrap;
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.accordion-solo .ui-dialog .ui-dialog-titlebar-close {
    position: absolute;
    right: .3em;
    top: 50%;
    width: 21px;
    margin: -10px 0 0 0;
    padding: 1px;
    height: 20px;
}

.accordion-solo .ui-dialog .ui-dialog-content {
    position: relative;
    border: 0;
    padding: .5em 1em;
    background: none;
    overflow: auto;
}

.accordion-solo .ui-dialog .ui-dialog-buttonpane {
    text-align: left;
    border-width: 1px 0 0 0;
    background-image: none;
    margin-top: .5em;
    padding: .3em 1em .5em .4em;
}

.accordion-solo .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
    float: right;
}

.accordion-solo .ui-dialog .ui-dialog-buttonpane button {
    margin: .5em .4em .5em 0;
    cursor: pointer;
}

.accordion-solo .ui-dialog .ui-resizable-se {
    width: 12px;
    height: 12px;
    right: -5px;
    bottom: -5px;
    background-position: 16px 16px;
}

.accordion-solo .ui-draggable .ui-dialog-titlebar {
    cursor: move;
}

.accordion-solo .ui-menu {
    list-style: none;
    padding: 2px;
    margin: 0;
    display: block;
    outline: none;
}

.accordion-solo .ui-menu .ui-menu {
    margin-top: -3px;
    position: absolute;
}

.accordion-solo .ui-menu .ui-menu-item {
    margin: 0;
    padding: 0;
    width: 100%;
    list-style-image: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7);
}

.accordion-solo .ui-menu .ui-menu-divider {
    margin: 5px -2px 5px -2px;
    height: 0;
    font-size: 0;
    line-height: 0;
    border-width: 1px 0 0 0;
}

.accordion-solo .ui-menu .ui-menu-item a {
    text-decoration: none;
    display: block;
    padding: 2px .4em;
    line-height: 1.5;
    min-height: 0;
    font-weight: normal;
}

.accordion-solo .ui-menu .ui-menu-item a.ui-state-focus,
.accordion-solo .ui-menu .ui-menu-item a.ui-state-active {
    margin: -1px;
}

.accordion-solo .ui-menu .ui-state-disabled {
    font-weight: normal;
    margin: .4em 0 .2em;
    line-height: 1.5;
}

.accordion-solo .ui-menu .ui-state-disabled a {
    cursor: default;
}

.accordion-solo .ui-menu-icons {
    position: relative;
}

.accordion-solo .ui-menu-icons .ui-menu-item a {
    position: relative;
    padding-left: 2em;
}

.accordion-solo .ui-menu .ui-icon {
    position: absolute;
    top: .2em;
    left: .2em;
}

.accordion-solo .ui-menu .ui-menu-icon {
    position: static;
    float: right;
}

.accordion-solo .ui-progressbar {
    height: 2em;
    text-align: left;
    overflow: hidden;
}

.accordion-solo .ui-progressbar .ui-progressbar-value {
    margin: -1px;
    height: 100%;
}

.accordion-solo .ui-progressbar .ui-progressbar-overlay {
    background: url("../../jspWWW/scripts/accordion/images/animated-overlay.gif");
    height: 100%;
    filter: alpha(opacity=25);
    opacity: 0.25;
}

.accordion-solo .ui-progressbar-indeterminate .ui-progressbar-value {
    background-image: none;
}

.accordion-solo .ui-resizable {
    position: relative;
}

.accordion-solo .ui-resizable-handle {
    position: absolute;
    font-size: 0.1px;
    display: block;
}

.accordion-solo .ui-resizable-disabled .ui-resizable-handle,
.accordion-solo .ui-resizable-autohide .ui-resizable-handle {
    display: none;
}

.accordion-solo .ui-resizable-n {
    cursor: n-resize;
    height: 7px;
    width: 100%;
    top: -5px;
    left: 0;
}

.accordion-solo .ui-resizable-s {
    cursor: s-resize;
    height: 7px;
    width: 100%;
    bottom: -5px;
    left: 0;
}

.accordion-solo .ui-resizable-e {
    cursor: e-resize;
    width: 7px;
    right: -5px;
    top: 0;
    height: 100%;
}

.accordion-solo .ui-resizable-w {
    cursor: w-resize;
    width: 7px;
    left: -5px;
    top: 0;
    height: 100%;
}

.accordion-solo .ui-resizable-se {
    cursor: se-resize;
    width: 12px;
    height: 12px;
    right: 1px;
    bottom: 1px;
}

.accordion-solo .ui-resizable-sw {
    cursor: sw-resize;
    width: 9px;
    height: 9px;
    left: -5px;
    bottom: -5px;
}

.accordion-solo .ui-resizable-nw {
    cursor: nw-resize;
    width: 9px;
    height: 9px;
    left: -5px;
    top: -5px;
}

.accordion-solo .ui-resizable-ne {
    cursor: ne-resize;
    width: 9px;
    height: 9px;
    right: -5px;
    top: -5px;
}

.accordion-solo .ui-selectable-helper {
    position: absolute;
    z-index: 100;
    border: 1px dotted black;
}

.accordion-solo .ui-slider {
    position: relative;
    text-align: left;
}

.accordion-solo .ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 1.2em;
    height: 1.2em;
    cursor: default;
}

.accordion-solo .ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    font-size: .7em;
    display: block;
    border: 0;
    background-position: 0 0;
}

.accordion-solo .ui-slider.ui-state-disabled .ui-slider-handle,
.accordion-solo .ui-slider.ui-state-disabled .ui-slider-range {
    filter: inherit;
}

.accordion-solo .ui-slider-horizontal {
    height: .8em;
}

.accordion-solo .ui-slider-horizontal .ui-slider-handle {
    top: -.3em;
    margin-left: -.6em;
}

.accordion-solo .ui-slider-horizontal .ui-slider-range {
    top: 0;
    height: 100%;
}

.accordion-solo .ui-slider-horizontal .ui-slider-range-min {
    left: 0;
}

.accordion-solo .ui-slider-horizontal .ui-slider-range-max {
    right: 0;
}

.accordion-solo .ui-slider-vertical {
    width: .8em;
    height: 100px;
}

.accordion-solo .ui-slider-vertical .ui-slider-handle {
    left: -.3em;
    margin-left: 0;
    margin-bottom: -.6em;
}

.accordion-solo .ui-slider-vertical .ui-slider-range {
    left: 0;
    width: 100%;
}

.accordion-solo .ui-slider-vertical .ui-slider-range-min {
    bottom: 0;
}

.accordion-solo .ui-slider-vertical .ui-slider-range-max {
    top: 0;
}

.accordion-solo .ui-spinner {
    position: relative;
    display: inline-block;
    overflow: hidden;
    padding: 0;
    vertical-align: middle;
}

.accordion-solo .ui-spinner-input {
    border: none;
    background: none;
    color: inherit;
    padding: 0;
    margin: .2em 0;
    vertical-align: middle;
    margin-left: .4em;
    margin-right: 22px;
}

.accordion-solo .ui-spinner-button {
    width: 16px;
    height: 50%;
    font-size: .5em;
    padding: 0;
    margin: 0;
    text-align: center;
    position: absolute;
    cursor: default;
    display: block;
    overflow: hidden;
    right: 0;
}

.accordion-solo .ui-spinner a.ui-spinner-button {
    border-top: none;
    border-bottom: none;
    border-right: none;
}

.accordion-solo .ui-spinner .ui-icon {
    position: absolute;
    margin-top: -8px;
    top: 50%;
    left: 0;
}

.accordion-solo .ui-spinner-up {
    top: 0;
}

.accordion-solo .ui-spinner-down {
    bottom: 0;
}

.accordion-solo .ui-spinner .ui-icon-triangle-1-s {
    background-position: -65px -16px;
}

.accordion-solo .ui-tabs {
    position: relative;
    padding: .2em;
}

.accordion-solo .ui-tabs .ui-tabs-nav {
    margin: 0;
    padding: .2em .2em 0;
}

.accordion-solo .ui-tabs .ui-tabs-nav li {
    list-style: none;
    float: left;
    position: relative;
    top: 0;
    margin: 1px .2em 0 0;
    border-bottom-width: 0;
    padding: 0;
    white-space: nowrap;
}

.accordion-solo .ui-tabs .ui-tabs-nav li a {
    float: left;
    padding: .5em 1em;
    text-decoration: none;
}

.accordion-solo .ui-tabs .ui-tabs-nav li.ui-tabs-active {
    margin-bottom: -1px;
    padding-bottom: 1px;
}

.accordion-solo .ui-tabs .ui-tabs-nav li.ui-tabs-active a,
.accordion-solo .ui-tabs .ui-tabs-nav li.ui-state-disabled a,
.accordion-solo .ui-tabs .ui-tabs-nav li.ui-tabs-loading a {
    cursor: text;
}

.accordion-solo .ui-tabs .ui-tabs-nav li a,
.accordion-solo .ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-active a {
    cursor: pointer;
}

.accordion-solo .ui-tabs .ui-tabs-panel {
    display: block;
    border-width: 0;
    padding: 1em 1.4em;
    background: none;
}

.accordion-solo .ui-tooltip {
    padding: 8px;
    position: absolute;
    z-index: 9999;
    max-width: 300px;
    -webkit-box-shadow: 0 0 5px #aaa;
    box-shadow: 0 0 5px #aaa;
}

body .accordion-solo .ui-tooltip {
    border-width: 2px;
}

.ui-widget {}

.accordion-solo.ui-widget .accordion-solo.ui-widget {
    font-size: 1em;
}

.accordion-solo.ui-widget input,
.accordion-solo.ui-widget select,
.accordion-solo.ui-widget textarea,
.accordion-solo.ui-widget button {
    font-family: Verdana, Arial, sans-serif;
    font-size: 1em;
}

.accordion-solo .ui-widget-content {
    border: none;
    background: none;
    color: #222222;
}

.accordion-solo .ui-widget-content a {
    color: #ff8705;
}

.accordion-solo .ui-widget-header {
    border: 1px solid #aaaaaa;
    background: none;
    color: #222222;
    font-weight: bold;
}

.accordion-solo .ui-widget-header a {
    color: #ff8705;
}

.accordion-solo .ui-state-default,
.accordion-solo .ui-widget-content .ui-state-default,
.accordion-solo .ui-widget-header .ui-state-default {
    border: 0;
    color: initial;
    background: none;
}

.accordion-solo .ui-state-default a,
.accordion-solo .ui-state-default a:link,
.accordion-solo .ui-state-default a:visited {
    color: initial;
}

.accordion-solo .ui-state-hover,
.accordion-solo .ui-widget-content .ui-state-hover,
.accordion-solo .ui-widget-header .ui-state-hover,
.accordion-solo .ui-state-focus,
.accordion-solo .ui-widget-content .ui-state-focus,
.accordion-solo .ui-widget-header .ui-state-focus {
    border: 0;
    background: none;
}

.accordion-solo .ui-state-hover a,
.accordion-solo .ui-state-hover a:hover,
.accordion-solo .ui-state-hover a:link,
.accordion-solo .ui-state-hover a:visited {}

.accordion-solo .ui-state-active,
.accordion-solo .ui-widget-content .ui-state-active,
.accordion-solo .ui-widget-header .ui-state-active {
    border: none;
    background: none;
    color: #212121;
}

.accordion-solo .ui-state-active a,
.accordion-solo .ui-state-active a:link,
.accordion-solo .ui-state-active a:visited {
    color: #212121;
    text-decoration: none;
}

.accordion-solo .ui-state-highlight,
.accordion-solo .ui-widget-content .ui-state-highlight,
.accordion-solo .ui-widget-header .ui-state-highlight {
    border: none;
    background: #fbf9ee url(../../jspWWW/scripts/accordion/images/ui-bg_glass_55_fbf9ee_1x400.png) 50% 50% repeat-x;
    color: #363636;
}

.accordion-solo .ui-state-highlight a,
.accordion-solo .ui-widget-content .ui-state-highlight a,
.accordion-solo .ui-widget-header .ui-state-highlight a {
    color: #363636;
}

.accordion-solo .ui-state-error,
.accordion-solo .ui-widget-content .ui-state-error,
.accordion-solo .ui-widget-header .ui-state-error {
    border: none;
    background: #fef1ec url(../../jspWWW/scripts/accordion/images/ui-bg_glass_95_fef1ec_1x400.png) 50% 50% repeat-x;
    color: #cd0a0a;
}

.accordion-solo .ui-state-error a,
.accordion-solo .ui-widget-content .ui-state-error a,
.accordion-solo .ui-widget-header .ui-state-error a {
    color: #cd0a0a;
}

.accordion-solo .ui-state-error-text,
.accordion-solo .ui-widget-content .ui-state-error-text,
.accordion-solo .ui-widget-header .ui-state-error-text {
    color: #cd0a0a;
}

.accordion-solo .ui-priority-primary,
.accordion-solo .ui-widget-content .ui-priority-primary,
.accordion-solo .ui-widget-header .ui-priority-primary {
    font-weight: bold;
}

.accordion-solo .ui-priority-secondary,
.accordion-solo .ui-widget-content .ui-priority-secondary,
.accordion-solo .ui-widget-header .ui-priority-secondary {
    opacity: .7;
    filter: Alpha(Opacity=70);
    font-weight: normal;
}

.accordion-solo .ui-state-disabled,
.accordion-solo .ui-widget-content .ui-state-disabled,
.accordion-solo .ui-widget-header .ui-state-disabled {
    opacity: .35;
    filter: Alpha(Opacity=35);
    background-image: none;
}

.accordion-solo .ui-state-disabled .ui-icon {
    filter: Alpha(Opacity=35);
}

.accordion-solo .ui-icon {
    width: 16px;
    height: 16px;
}

.accordion-solo .ui-icon,
.ui-widget-content .ui-icon {
    background-image: url(../../jspWWW/scripts/accordion/images/ui-icons_222222_256x240.png);
}

.accordion-solo .ui-widget-header .ui-icon {
    background-image: url(../../jspWWW/scripts/accordion/images/ui-icons_222222_256x240.png);
}

.accordion-solo .ui-state-default .ui-icon {
    background-image: url(../../jspWWW/scripts/accordion/images/ui-icons_888888_256x240.png);
}

.accordion-solo .ui-state-hover .ui-icon,
.accordion-solo .ui-state-focus .ui-icon {
    background-image: url(../../jspWWW/scripts/accordion/images/ui-icons_454545_256x240.png);
}

.accordion-solo .ui-state-active .ui-icon {
    background-image: url(../../jspWWW/scripts/accordion/images/ui-icons_454545_256x240.png);
}

.accordion-solo .ui-state-highlight .ui-icon {
    background-image: url(../../jspWWW/scripts/accordion/images/ui-icons_2e83ff_256x240.png);
}

.accordion-solo .ui-state-error .ui-icon,
.accordion-solo .ui-state-error-text .ui-icon {
    background-image: url(../../jspWWW/scripts/accordion/images/ui-icons_cd0a0a_256x240.png);
}

.accordion-solo .ui-icon-blank {
    background-position: 16px 16px;
}

.accordion-solo .ui-icon-carat-1-n {
    background-position: 0 0;
}

.accordion-solo .ui-icon-carat-1-ne {
    background-position: -16px 0;
}

.accordion-solo .ui-icon-carat-1-e {
    background-position: -32px 0;
}

.accordion-solo .ui-icon-carat-1-se {
    background-position: -48px 0;
}

.accordion-solo .ui-icon-carat-1-s {
    background-position: -64px 0;
}

.accordion-solo .ui-icon-carat-1-sw {
    background-position: -80px 0;
}

.accordion-solo .ui-icon-carat-1-w {
    background-position: -96px 0;
}

.accordion-solo .ui-icon-carat-1-nw {
    background-position: -112px 0;
}

.accordion-solo .ui-icon-carat-2-n-s {
    background-position: -128px 0;
}

.accordion-solo .ui-icon-carat-2-e-w {
    background-position: -144px 0;
}

.accordion-solo .ui-icon-triangle-1-n {
    background-position: 0 -16px;
}

.accordion-solo .ui-icon-triangle-1-ne {
    background-position: -16px -16px;
}

.accordion-solo .ui-icon-triangle-1-e {
    background-position: -32px -16px;
}

.accordion-solo .ui-icon-triangle-1-se {
    background-position: -48px -16px;
}

.accordion-solo .ui-icon-triangle-1-s {
    background-position: -64px -16px;
}

.accordion-solo .ui-icon-triangle-1-sw {
    background-position: -80px -16px;
}

.accordion-solo .ui-icon-triangle-1-w {
    background-position: -96px -16px;
}

.accordion-solo .ui-icon-triangle-1-nw {
    background-position: -112px -16px;
}

.accordion-solo .ui-icon-triangle-2-n-s {
    background-position: -128px -16px;
}

.accordion-solo .ui-icon-triangle-2-e-w {
    background-position: -144px -16px;
}

.accordion-solo .ui-icon-arrow-1-n {
    background-position: 0 -32px;
}

.accordion-solo .ui-icon-arrow-1-ne {
    background-position: -16px -32px;
}

.accordion-solo .ui-icon-arrow-1-e {
    background-position: -32px -32px;
}

.accordion-solo .ui-icon-arrow-1-se {
    background-position: -48px -32px;
}

.accordion-solo .ui-icon-arrow-1-s {
    background-position: -64px -32px;
}

.accordion-solo .ui-icon-arrow-1-sw {
    background-position: -80px -32px;
}

.accordion-solo .ui-icon-arrow-1-w {
    background-position: -96px -32px;
}

.accordion-solo .ui-icon-arrow-1-nw {
    background-position: -112px -32px;
}

.accordion-solo .ui-icon-arrow-2-n-s {
    background-position: -128px -32px;
}

.accordion-solo .ui-icon-arrow-2-ne-sw {
    background-position: -144px -32px;
}

.accordion-solo .ui-icon-arrow-2-e-w {
    background-position: -160px -32px;
}

.accordion-solo .ui-icon-arrow-2-se-nw {
    background-position: -176px -32px;
}

.accordion-solo .ui-icon-arrowstop-1-n {
    background-position: -192px -32px;
}

.accordion-solo .ui-icon-arrowstop-1-e {
    background-position: -208px -32px;
}

.accordion-solo .ui-icon-arrowstop-1-s {
    background-position: -224px -32px;
}

.accordion-solo .ui-icon-arrowstop-1-w {
    background-position: -240px -32px;
}

.accordion-solo .ui-icon-arrowthick-1-n {
    background-position: 0 -48px;
}

.accordion-solo .ui-icon-arrowthick-1-ne {
    background-position: -16px -48px;
}

.accordion-solo .ui-icon-arrowthick-1-e {
    background-position: -32px -48px;
}

.accordion-solo .ui-icon-arrowthick-1-se {
    background-position: -48px -48px;
}

.accordion-solo .ui-icon-arrowthick-1-s {
    background-position: -64px -48px;
}

.accordion-solo .ui-icon-arrowthick-1-sw {
    background-position: -80px -48px;
}

.accordion-solo .ui-icon-arrowthick-1-w {
    background-position: -96px -48px;
}

.accordion-solo .ui-icon-arrowthick-1-nw {
    background-position: -112px -48px;
}

.accordion-solo .ui-icon-arrowthick-2-n-s {
    background-position: -128px -48px;
}

.accordion-solo .ui-icon-arrowthick-2-ne-sw {
    background-position: -144px -48px;
}

.accordion-solo .ui-icon-arrowthick-2-e-w {
    background-position: -160px -48px;
}

.accordion-solo .ui-icon-arrowthick-2-se-nw {
    background-position: -176px -48px;
}

.accordion-solo .ui-icon-arrowthickstop-1-n {
    background-position: -192px -48px;
}

.accordion-solo .ui-icon-arrowthickstop-1-e {
    background-position: -208px -48px;
}

.accordion-solo .ui-icon-arrowthickstop-1-s {
    background-position: -224px -48px;
}

.accordion-solo .ui-icon-arrowthickstop-1-w {
    background-position: -240px -48px;
}

.accordion-solo .ui-icon-arrowreturnthick-1-w {
    background-position: 0 -64px;
}

.accordion-solo .ui-icon-arrowreturnthick-1-n {
    background-position: -16px -64px;
}

.accordion-solo .ui-icon-arrowreturnthick-1-e {
    background-position: -32px -64px;
}

.accordion-solo .ui-icon-arrowreturnthick-1-s {
    background-position: -48px -64px;
}

.accordion-solo .ui-icon-arrowreturn-1-w {
    background-position: -64px -64px;
}

.accordion-solo .ui-icon-arrowreturn-1-n {
    background-position: -80px -64px;
}

.accordion-solo .ui-icon-arrowreturn-1-e {
    background-position: -96px -64px;
}

.accordion-solo .ui-icon-arrowreturn-1-s {
    background-position: -112px -64px;
}

.accordion-solo .ui-icon-arrowrefresh-1-w {
    background-position: -128px -64px;
}

.accordion-solo .ui-icon-arrowrefresh-1-n {
    background-position: -144px -64px;
}

.accordion-solo .ui-icon-arrowrefresh-1-e {
    background-position: -160px -64px;
}

.accordion-solo .ui-icon-arrowrefresh-1-s {
    background-position: -176px -64px;
}

.accordion-solo .ui-icon-arrow-4 {
    background-position: 0 -80px;
}

.accordion-solo .ui-icon-arrow-4-diag {
    background-position: -16px -80px;
}

.accordion-solo .ui-icon-extlink {
    background-position: -32px -80px;
}

.accordion-solo .ui-icon-newwin {
    background-position: -48px -80px;
}

.accordion-solo .ui-icon-refresh {
    background-position: -64px -80px;
}

.accordion-solo .ui-icon-shuffle {
    background-position: -80px -80px;
}

.accordion-solo .ui-icon-transfer-e-w {
    background-position: -96px -80px;
}

.accordion-solo .ui-icon-transferthick-e-w {
    background-position: -112px -80px;
}

.accordion-solo .ui-icon-folder-collapsed {
    background-position: 0 -96px;
}

.accordion-solo .ui-icon-folder-open {
    background-position: -16px -96px;
}

.accordion-solo .ui-icon-document {
    background-position: -32px -96px;
}

.accordion-solo .ui-icon-document-b {
    background-position: -48px -96px;
}

.accordion-solo .ui-icon-note {
    background-position: -64px -96px;
}

.accordion-solo .ui-icon-mail-closed {
    background-position: -80px -96px;
}

.accordion-solo .ui-icon-mail-open {
    background-position: -96px -96px;
}

.accordion-solo .ui-icon-suitcase {
    background-position: -112px -96px;
}

.accordion-solo .ui-icon-comment {
    background-position: -128px -96px;
}

.accordion-solo .ui-icon-person {
    background-position: -144px -96px;
}

.accordion-solo .ui-icon-print {
    background-position: -160px -96px;
}

.accordion-solo .ui-icon-trash {
    background-position: -176px -96px;
}

.accordion-solo .ui-icon-locked {
    background-position: -192px -96px;
}

.accordion-solo .ui-icon-unlocked {
    background-position: -208px -96px;
}

.accordion-solo .ui-icon-bookmark {
    background-position: -224px -96px;
}

.accordion-solo .ui-icon-tag {
    background-position: -240px -96px;
}

.accordion-solo .ui-icon-home {
    background-position: 0 -112px;
}

.accordion-solo .ui-icon-flag {
    background-position: -16px -112px;
}

.accordion-solo .ui-icon-calendar {
    background-position: -32px -112px;
}

.accordion-solo .ui-icon-cart {
    background-position: -48px -112px;
}

.accordion-solo .ui-icon-pencil {
    background-position: -64px -112px;
}

.accordion-solo .ui-icon-clock {
    background-position: -80px -112px;
}

.accordion-solo .ui-icon-disk {
    background-position: -96px -112px;
}

.accordion-solo .ui-icon-calculator {
    background-position: -112px -112px;
}

.accordion-solo .ui-icon-zoomin {
    background-position: -128px -112px;
}

.accordion-solo .ui-icon-zoomout {
    background-position: -144px -112px;
}

.accordion-solo .ui-icon-search {
    background-position: -160px -112px;
}

.accordion-solo .ui-icon-wrench {
    background-position: -176px -112px;
}

.accordion-solo .ui-icon-gear {
    background-position: -192px -112px;
}

.accordion-solo .ui-icon-heart {
    background-position: -208px -112px;
}

.accordion-solo .ui-icon-star {
    background-position: -224px -112px;
}

.accordion-solo .ui-icon-link {
    background-position: -240px -112px;
}

.accordion-solo .ui-icon-cancel {
    background-position: 0 -128px;
}

.accordion-solo .ui-icon-plus {
    background-position: -16px -128px;
}

.accordion-solo .ui-icon-plusthick {
    background-position: -32px -128px;
}

.accordion-solo .ui-icon-minus {
    background-position: -48px -128px;
}

.accordion-solo .ui-icon-minusthick {
    background-position: -64px -128px;
}

.accordion-solo .ui-icon-close {
    background-position: -80px -128px;
}

.accordion-solo .ui-icon-closethick {
    background-position: -96px -128px;
}

.accordion-solo .ui-icon-key {
    background-position: -112px -128px;
}

.accordion-solo .ui-icon-lightbulb {
    background-position: -128px -128px;
}

.accordion-solo .ui-icon-scissors {
    background-position: -144px -128px;
}

.accordion-solo .ui-icon-clipboard {
    background-position: -160px -128px;
}

.accordion-solo .ui-icon-copy {
    background-position: -176px -128px;
}

.accordion-solo .ui-icon-contact {
    background-position: -192px -128px;
}

.accordion-solo .ui-icon-image {
    background-position: -208px -128px;
}

.accordion-solo .ui-icon-video {
    background-position: -224px -128px;
}

.accordion-solo .ui-icon-script {
    background-position: -240px -128px;
}

.accordion-solo .ui-icon-alert {
    background-position: 0 -144px;
}

.accordion-solo .ui-icon-info {
    background-position: -16px -144px;
}

.accordion-solo .ui-icon-notice {
    background-position: -32px -144px;
}

.accordion-solo .ui-icon-help {
    background-position: -48px -144px;
}

.accordion-solo .ui-icon-check {
    background-position: -64px -144px;
}

.accordion-solo .ui-icon-bullet {
    background-position: -80px -144px;
}

.accordion-solo .ui-icon-radio-on {
    background-position: -96px -144px;
}

.accordion-solo .ui-icon-radio-off {
    background-position: -112px -144px;
}

.accordion-solo .ui-icon-pin-w {
    background-position: -128px -144px;
}

.accordion-solo .ui-icon-pin-s {
    background-position: -144px -144px;
}

.accordion-solo .ui-icon-play {
    background-position: 0 -160px;
}

.accordion-solo .ui-icon-pause {
    background-position: -16px -160px;
}

.accordion-solo .ui-icon-seek-next {
    background-position: -32px -160px;
}

.accordion-solo .ui-icon-seek-prev {
    background-position: -48px -160px;
}

.accordion-solo .ui-icon-seek-end {
    background-position: -64px -160px;
}

.accordion-solo .ui-icon-seek-start {
    background-position: -80px -160px;
}

.accordion-solo .ui-icon-seek-first {
    background-position: -80px -160px;
}

.accordion-solo .ui-icon-stop {
    background-position: -96px -160px;
}

.accordion-solo .ui-icon-eject {
    background-position: -112px -160px;
}

.accordion-solo .ui-icon-volume-off {
    background-position: -128px -160px;
}

.accordion-solo .ui-icon-volume-on {
    background-position: -144px -160px;
}

.accordion-solo .ui-icon-power {
    background-position: 0 -176px;
}

.accordion-solo .ui-icon-signal-diag {
    background-position: -16px -176px;
}

.accordion-solo .ui-icon-signal {
    background-position: -32px -176px;
}

.accordion-solo .ui-icon-battery-0 {
    background-position: -48px -176px;
}

.accordion-solo .ui-icon-battery-1 {
    background-position: -64px -176px;
}

.accordion-solo .ui-icon-battery-2 {
    background-position: -80px -176px;
}

.accordion-solo .ui-icon-battery-3 {
    background-position: -96px -176px;
}

.accordion-solo .ui-icon-circle-plus {
    background-position: 0 -192px;
}

.accordion-solo .ui-icon-circle-minus {
    background-position: -16px -192px;
}

.accordion-solo .ui-icon-circle-close {
    background-position: -32px -192px;
}

.accordion-solo .ui-icon-circle-triangle-e {
    background-position: -48px -192px;
}

.accordion-solo .ui-icon-circle-triangle-s {
    background-position: -64px -192px;
}

.accordion-solo .ui-icon-circle-triangle-w {
    background-position: -80px -192px;
}

.accordion-solo .ui-icon-circle-triangle-n {
    background-position: -96px -192px;
}

.accordion-solo .ui-icon-circle-arrow-e {
    background-position: -112px -192px;
}

.accordion-solo .ui-icon-circle-arrow-s {
    background-position: -128px -192px;
}

.accordion-solo .ui-icon-circle-arrow-w {
    background-position: -144px -192px;
}

.accordion-solo .ui-icon-circle-arrow-n {
    background-position: -160px -192px;
}

.accordion-solo .ui-icon-circle-zoomin {
    background-position: -176px -192px;
}

.accordion-solo .ui-icon-circle-zoomout {
    background-position: -192px -192px;
}

.accordion-solo .ui-icon-circle-check {
    background-position: -208px -192px;
}

.accordion-solo .ui-icon-circlesmall-plus {
    background-position: 0 -208px;
}

.accordion-solo .ui-icon-circlesmall-minus {
    background-position: -16px -208px;
}

.accordion-solo .ui-icon-circlesmall-close {
    background-position: -32px -208px;
}

.accordion-solo .ui-icon-squaresmall-plus {
    background-position: -48px -208px;
}

.accordion-solo .ui-icon-squaresmall-minus {
    background-position: -64px -208px;
}

.accordion-solo .ui-icon-squaresmall-close {
    background-position: -80px -208px;
}

.accordion-solo .ui-icon-grip-dotted-vertical {
    background-position: 0 -224px;
}

.accordion-solo .ui-icon-grip-dotted-horizontal {
    background-position: -16px -224px;
}

.accordion-solo .ui-icon-grip-solid-vertical {
    background-position: -32px -224px;
}

.accordion-solo .ui-icon-grip-solid-horizontal {
    background-position: -48px -224px;
}

.accordion-solo .ui-icon-gripsmall-diagonal-se {
    background-position: -64px -224px;
}

.accordion-solo .ui-icon-grip-diagonal-se {
    background-position: -80px -224px;
}

.accordion-solo .ui-corner-all,
.accordion-solo .ui-corner-top,
.accordion-solo .ui-corner-left,
.accordion-solo .ui-corner-tl {
    border-top-left-radius: 4px;
}

.accordion-solo .ui-corner-all,
.accordion-solo .ui-corner-top,
.accordion-solo .ui-corner-right,
.accordion-solo .ui-corner-tr {
    border-top-right-radius: 4px;
}

.accordion-solo .ui-corner-all,
.accordion-solo .ui-corner-bottom,
.accordion-solo .ui-corner-left,
.accordion-solo .ui-corner-bl {
    border-bottom-left-radius: 4px;
}

.accordion-solo .ui-corner-all,
.accordion-solo .ui-corner-bottom,
.accordion-solo .ui-corner-right,
.accordion-solo .ui-corner-br {
    border-bottom-right-radius: 4px;
}

.accordion-solo .ui-widget-overlay {
    background: #aaaaaa url(../../jspWWW/scripts/accordion/images/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x;
    opacity: .3;
    filter: Alpha(Opacity=30);
}

.accordion-solo .ui-widget-shadow {
    margin: -8px 0 0 -8px;
    padding: 8px;
    background: #aaaaaa url(../../jspWWW/scripts/accordion/images/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x;
    opacity: .3;
    filter: Alpha(Opacity=30);
    border-radius: 8px;
}

.ckeditor-tabs,
.ckeditor-accordion {
    padding: 0;
    border: 0;
    margin: 0 0 1.5em;
}

.ckeditor-tabs::after {
    content: '';
    clear: both;
    display: table;
    width: 100%;
}

.tabs_toggler,
.accordion_toggler,
.tabs_wrapper,
.accordion_wrapper {
    box-sizing: border-box;
    margin: 0;
    width: auto;
    float: none;
}

.accordion_toggler__btn,
.tabs_toggler__btn {
    font-size: 1em;
    background: transparent;
    border: 0;
    padding: .5em;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    color: inherit;
}

.tabs_wrapper,
.accordion_wrapper {
    padding: .5em;
}

.tabs_wrapper>p,
.accordion_wrapper>p {
    margin: 0;
}

.accordion_toggler button,
.tabs_toggler button {
    font: 900 112.5% "robotobold", Cambria, georgia, times, "times new roman", serif;
}

.accordion_toggler button:hover,
.accordion_toggler button:active,
.accordion_toggler button:focus,
.tabs_toggler button:hover,
.tabs_toggler button:active,
.tabs_toggler button:focus {
    background-color: unset;
    box-shadow: none;
}

.accordion_toggler {
    border-bottom: 1px solid #f0f0f0;
}

.accordion_toggler button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: unset;
    font-size: unset;
    width: 100%;
    text-align: left;
    padding: .5em;
}

.accordion_toggler button::after {
    content: "+";
    text-align: center;
    width: 2rem;
    font-size: 2rem;
    font-family: "roboto", sans serif;
}

.accordion_toggler.active button::after {
    content: "-";
}

.accordion_toggler.active {
    border-bottom: none;
}

.accordion_wrapper {
    display: none;
}

.accordion_wrapper.active {
    display: block;
}

.ckeditor-tabs {
    display: flex;
    flex-wrap: wrap;
}

.tabs_wrapper {
    border: 1px solid #f0f0f0;
}

.tabs_toggler {
    display: none;
    padding: 0;
}

.tabs_toggler.desktop-only {
    display: block;
    position: relative;
    background-color: #f6f6f6;
    margin: 0 0.3rem;
    border-left: 1px solid #f6f6f6;
    border-right: 1px solid #f6f6f6;
}

.tabs_toggler.desktop-only:first-of-type {
    margin-left: 0;
}

.tabs_toggler.desktop-only button {
    text-transform: unset;
    font-size: unset;
}

.tabs_toggler.desktop-only:focus::before,
.tabs_toggler.desktop-only:focus-within::before,
.tabs_toggler.desktop-only:hover::before,
.tabs_toggler.desktop-only.active::before {
    position: absolute;
    display: block;
    height: 5px;
    width: calc(100% + 2px);
    top: -5px;
    left: -1px;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    background-color: #000;
    content: '';
}

.tabs_toggler.desktop-only.active::after {
    position: absolute;
    display: block;
    height: 1px;
    width: 100%;
    bottom: -1px;
    background-color: #fff;
    content: '';
}

.tabs_toggler.desktop-only:focus,
.tabs_toggler.desktop-only:focus-within,
.tabs_toggler.desktop-only:hover,
.tabs_toggler.desktop-only.active {
    background-color: #fff;
    border-left: 1px solid #f0f0f0;
    border-right: 1px solid #f0f0f0;
}

.tabs_wrapper {
    display: none;
    width: 100%;
    margin-bottom: 1.5em;
}

.tabs_wrapper.active {
    display: block;
}