@charset "UTF-8";

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
caption,
tfoot,
thead,
th,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

table {
    border-collapse: collapse;
}

body {
    background: #fff;
    color: #57585a;
    font: normal 100%/1.5 Arial, "Helvetica Neue", Helvetica, "Bitstream Vera Sans", sans-serif;
    margin: 0 auto;
    position: relative;
    word-break: break-word;
}

::-moz-selection {
    background: #57585a;
    color: #fff;
}

::-webkit-selection {
    background: #57585a;
    color: #fff;
}

::selection {
    background: #57585a;
    color: #fff;
}

abbr {
    border-bottom: 1px dotted;
    cursor: help;
}

dfn {
    font-style: italic;
}

img,
embed {}

h1,
.h1,
h2,
.h2,
.no-js #connexion .button.plier-deplier__bouton,
.no-js #connexion .js .plier-deplier__bouton,
.js .no-js #connexion .plier-deplier__bouton,
.no-js #acces-directs .button.plier-deplier__bouton,
.no-js #acces-directs .js .plier-deplier__bouton,
.js .no-js #acces-directs .plier-deplier__bouton,
.no-js #versions .button.plier-deplier__bouton,
.no-js #versions .js .plier-deplier__bouton,
.js .no-js #versions .plier-deplier__bouton,
h3,
.h3,
#encadres [class*="paragraphe__titre"],
h4,
.h4,
h5,
.h5,
h6,
.h6 {}

h1,
.h1 {
    font-size: 2rem;
    line-height: 2rem;
    padding: 0.8rem 0;
    margin: 0;
    color: #e94f11;
}

.pagelibre h1,
.pagelibre .h1 {
    font-size: 2rem;
    line-height: 2rem;
    padding: 0.8rem 0;
    margin: 0;
    color: #f88100;
}

h2,
.h2,
.no-js #connexion .button.plier-deplier__bouton,
.no-js #connexion .js .plier-deplier__bouton,
.js .no-js #connexion .plier-deplier__bouton,
.no-js #acces-directs .button.plier-deplier__bouton,
.no-js #acces-directs .js .plier-deplier__bouton,
.js .no-js #acces-directs .plier-deplier__bouton,
.no-js #versions .button.plier-deplier__bouton,
.no-js #versions .js .plier-deplier__bouton,
.js .no-js #versions .plier-deplier__bouton {
    font: 700 1.3em/1 "Open Sans", Arial, "Helvetica Neue", Helvetica, "Bitstream Vera Sans", sans-serif;
    margin: 0 0 1em;
}

h3,
.h3,
#encadres [class*="paragraphe__titre"] {
    font: 700 1.25em/1 "Open Sans", Arial, "Helvetica Neue", Helvetica, "Bitstream Vera Sans", sans-serif;
}

h4,
.h4 {
    font: 700 1em "Open Sans", Arial, "Helvetica Neue", Helvetica, "Bitstream Vera Sans", sans-serif;
}

h5,
.h5 {
    font: 700 1em "Open Sans", Arial, "Helvetica Neue", Helvetica, "Bitstream Vera Sans", sans-serif;
    font-style: italic;
}

h6,
.h6 {
    font: 500 1em "Open Sans", Arial, "Helvetica Neue", Helvetica, "Bitstream Vera Sans", sans-serif;
}

p {
    margin: 0 0 0.5em;
}

code {
    font-family: monospace;
    font-size: 1em;
}

ul,
ol {
    padding: 0 0 0 2em;
    margin: 0 0 1.5em;
}

ul {
    list-style: disc;
    margin: auto;
    padding: 0 0 0 1.3rem;
    overflow: hidden;
    text-align: initial;
}

ol {
    list-style: decimal;
    overflow: hidden;
}

dt {
    font-weight: 700;
}

dd {
    margin: 0 0 1.5em .5em;
}

input[type="submit"],
input[type="reset"],
input[type="button"] {
    cursor: pointer;
}

b,
strong,
caption,
legend {
    font-weight: 700;
}

em {
    font-style: italic;
}

cite {
    font-style: italic;
}

mark {
    font-weight: 700;
    background: none;
}

pre {
    background: #f5f5f5;
    overflow-x: scroll;
    padding: 1em 0;
    margin: 0 0 1.5em;
}

a,
.a {
    background: transparent;
    color: #C43003;
    text-decoration: none;
}

a:active,
.a:active {}

a:focus,
.a:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

a:hover,
.a:hover {
    text-decoration: underline;
}

a img,
a:link img,
a:visited img {
    border: none;
    vertical-align: middle;
}

acronym {
    cursor: help;
}

blockquote {
    padding: 0 2em;
    margin: 4.5em 0;
    position: relative;
}

blockquote:before {
    color: #B6B6B6;
    content: "\00AB";
    font-size: 4em;
    font-style: italic;
    left: 0;
    position: absolute;
    top: -90px;
}

blockquote:after {
    color: #B6B6B6;
    content: "\00BB";
    font-size: 4em;
    font-style: italic;
    position: absolute;
    right: 0;
}

q,
cite {
    font-size: 1rem;
    font-style: italic;
    padding-left: 0.6rem;
    border-left: 0.24rem solid #e75113;
    display: block;
    margin: 1rem 0;
}

cite:before,
q:before {
    font-family: FontAwesome;
    content: "\f10d";
    padding-right: 3px;
    color: #666;
    font-style: normal;
}

cite:after,
q:after {
    font-family: FontAwesome;
    content: "\f10e";
    padding-left: 3px;
    font-style: normal;
}

th {
    font-weight: 700;
    padding: .5em;
    text-align: left;
    vertical-align: middle;
}

td {
    padding: .5em;
    vertical-align: middle;
}

fieldset,
.fieldset {}

label,
.label {
    cursor: pointer;
    font-weight: 700;
}

select,
textarea,
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="password"],
input[type="text"],
input[type="email"],
input[readonly],
.button,
.js .plier-deplier__bouton {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font: 500 1em Arial, "Helvetica Neue", Helvetica, "Bitstream Vera Sans", sans-serif;
    padding: .25em;
    text-decoration: none;
    width: 100%;
}

select:focus,
select:active,
textarea:focus,
textarea:active,
input[type="submit"]:focus,
input[type="submit"]:active,
input[type="reset"]:focus,
input[type="reset"]:active,
input[type="button"]:focus,
input[type="button"]:active,
input[type="password"]:focus,
input[type="password"]:active,
input[type="text"]:focus,
input[type="text"]:active,
input[type="email"]:focus,
input[type="email"]:active,
input[readonly]:focus,
input[readonly]:active,
.button:focus,
.js .plier-deplier__bouton:focus,
.button:active,
.js .plier-deplier__bouton:active {
    border-color: #ff8c00;
}

input[type="reset"],
input[type="button"],
.submit,
.submit2,
.reset,
.button,
.js .plier-deplier__bouton {
    border: 0;
    background: #fdaf17;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
}

input[type="checkbox"],
input[type="radio"] {
    vertical-align: baseline;
}

.button,
.js .plier-deplier__bouton {
    border: 0;
    background: #0091b5;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
}

.button:hover,
.js .plier-deplier__bouton:hover {
    background: #007d9c;
}

input[type="button"],
.button,
.js .plier-deplier__bouton,
.button:hover,
.js .plier-deplier__bouton:hover {
    cursor: pointer;
}

input[type="reset"],
.reset {
    background: #ff4500;
}

input[type="reset"]:hover,
.reset:hover {
    background: #e63e00;
}

input[readonly],
.readonly {
    background: #eee;
    color: inherit;
}

input[readonly]:focus,
input[readonly]:active,
.readonly:focus,
.readonly:active {
    border-color: #999;
}

iframe {
    width: 100%;
}

figure {
    display: inline-flex;
}

figure figcaption {
    display: none;
}

@media screen and (min-width:61.8125em) {
    body {
        max-width: none;
        color: #57585a;
        font-family: Arial, "Helvetica Neue", Helvetica, "Bitstream Vera Sans", sans-serif;
        font-size: 100%;
        line-height: 1.25rem;
    }
}

#acces_direct_accessibilite {
    display: block;
    text-align: center;
}

.js #acces_direct_accessibilite {}

#bandeau_outils {
    *zoom: 1;
    margin: 0;
    padding: .5em 0;
}

#bandeau_outils:after {
    content: "";
    display: table;
    clear: both;
}

#bandeau_outils>div {
    margin: 0 auto;
    max-width: 61.8125em;
    position: relative;
}

#bandeau_outils>div>p {
    font-size: 1.25rem;
}

.js #bandeau_outils {
    text-align: right;
}

#page {
    margin: 0 auto;
    max-width: 61.8125em;
    line-height: 1.5rem;
    display: block;
}

#bandeau {}

@media screen and (min-width:40em) {
    #bandeau {}

    #bandeau.avec_nav {
        margin-left: 25%;
    }
}

#recherche-simple {
    margin: 0 0 0 .25rem;
    position: relative;
    z-index: 1000;
}

#recherche-simple .plier-deplier__bouton {
    display: none;
}

.js #recherche-simple {
    float: right;
}

.js #recherche-simple label {
    display: none;
}

.js #recherche-simple input[type="text"] {
    margin: 0 0 .5rem;
}

.js #recherche-simple .plier-deplier__bouton {
    display: inline-block;
}

.js #recherche-simple .plier-deplier__contenu {
    left: auto;
    right: 0;
    text-align: center;
}

#connexion {
    margin: 0 auto;
    max-width: 61.8125em;
}

#connexion ul {
    list-style: none;
    padding: 0;
}

.js #connexion .plier-deplier__contenu {
    min-width: 20rem;
}

#acces-directs {
    margin: 0 auto;
    max-width: 61.8125em;
}

@media screen and (min-width:40em) {
    #acces-directs {
        margin: 0 auto;
    }
}

#acces-directs ul {
    list-style: none;
    padding: 0;
}

.js #connexion .plier-deplier__contenu,
.js #acces-directs .plier-deplier__contenu,
.js #versions .plier-deplier__contenu,
.js #recherche-simple .plier-deplier__contenu {
    background: #ebe4de;
    padding: 1rem;
}

#versions {
    margin: 0 auto;
}

#versions .plier-deplier__contenu>ul {
    text-align: left;
    margin: 0;
    padding: 0;
}

#versions [hreflang="de"]:before {
    content: url(../../jsp/styles/img/drapeaux/de.png);
}

#versions [hreflang="es"]:before {
    content: url(../../jsp/styles/img/drapeaux/es.png);
}

#versions [hreflang="fr"]:before {
    content: url(../../jsp/styles/img/drapeaux/fr.png);
}

#versions [hreflang="it"]:before {
    content: url(../../jsp/styles/img/drapeaux/it.png);
}

#versions [hreflang="en"]:before {
    content: url(../../jsp/styles/img/drapeaux/uk.png);
}

.no-js #versions .plier-deplier__bouton {
    display: none !important;
}

.js #versions .plier-deplier__bouton {
    position: relative;
    z-index: 1000;
    text-transform: uppercase;
}

.js #versions .plier-deplier__contenu {
    left: auto;
    right: 0;
    min-width: 13rem;
    padding: 1rem;
}

@media screen and (min-width:40em) {
    .js #versions .plier-deplier__contenu {
        padding: 0.5rem;
    }
}

#menu {
    background: #403e3f;
    color: #fff;
    font: 500 1em "Open Sans", Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif, Arial, "Helvetica Neue", Helvetica, "Bitstream Vera Sans", sans-serif;
    min-height: 1rem;
}

@media screen and (min-width:40em) {
    #menu {
        max-width: 61.8125em;
    }
}

#menu.plier-deplier__contenu--clos {
    display: block;
}

#menu-principal-bouton {
    display: none;
}

#menu_principal {
    overflow: visible;
    line-height: 3;
    padding: 0;
    list-style: none;
}

#menu_principal li {
    display: inline-block;
}

#menu_principal li.menu_principal-actif {
    background: #AB1919;
}

#menu_principal li.menu_principal--ouvert {
    background: #333;
    color: #fff;
}

#menu_principal li:first-child {
    border: none;
}

#menu_principal ul {
    display: none;
    padding: 0;
}

#menu_principal ul li {
    display: inline;
    padding: 0;
}

#menu_principal em {
    font-style: normal;
}

#menu_principal a,
#menu_principal .button,
#menu_principal .js .plier-deplier__bouton,
.js #menu_principal .plier-deplier__bouton {
    background-color: transparent;
    color: #fff;
    display: block;
    padding: 0 1.5rem;
    text-decoration: none;
}

#menu_principal .button,
#menu_principal .js .plier-deplier__bouton,
.js #menu_principal .plier-deplier__bouton {
    font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, "Bitstream Vera Sans", sans-serif;
    line-height: 3rem;
    margin: 0;
}

#menu_principal>li>a,
#menu_principal>li>em a,
#menu_principal>li>.button,
.js #menu_principal>li>.plier-deplier__bouton,
#menu_principal>li>em .button,
#menu_principal>li>em .js .plier-deplier__bouton,
.js #menu_principal>li>em .plier-deplier__bouton {
    font-weight: 700;
}

#menu_principal li:hover a,
#menu_principal a:hover,
#menu_principal a:focus,
#menu_principal em a,
#menu_principal li:hover .button,
#menu_principal li:hover .js .plier-deplier__bouton,
.js #menu_principal li:hover .plier-deplier__bouton,
#menu_principal .button:hover,
#menu_principal .js .plier-deplier__bouton:hover,
.js #menu_principal .plier-deplier__bouton:hover,
#menu_principal .button:focus,
#menu_principal .js .plier-deplier__bouton:focus,
.js #menu_principal .plier-deplier__bouton:focus,
#menu_principal em .button,
#menu_principal em .js .plier-deplier__bouton,
.js #menu_principal em .plier-deplier__bouton {
    background: #333;
    color: #fff;
}

#menu_principal li:hover li a,
#menu_principal ul a,
#menu_principal li:hover li span,
#menu_principal ul span {
    background-color: #ddd;
    border-bottom: 1px dotted #fff;
    color: #333;
    padding: 0.2em 0.5rem;
}

#menu_principal li:hover li a:hover,
#menu_principal ul a:hover,
#menu_principal ul a:focus,
#menu_principal li:hover li button:hover,
#menu_principal ul .button:hover,
#menu_principal ul .js .plier-deplier__bouton:hover,
.js #menu_principal ul .plier-deplier__bouton:hover,
#menu_principal ul .button:focus,
#menu_principal ul .js .plier-deplier__bouton:focus,
.js #menu_principal ul .plier-deplier__bouton:focus {
    background: #333;
    color: #fff;
}

@media screen and (min-width:40em) {
    #menu_principal {
        margin: 0 auto;
        max-width: 61.8125em;
    }

    #menu_principal>li {
        position: relative;
    }

    #menu_principal ul {
        left: 0;
        line-height: normal;
        position: absolute;
        top: 3rem;
        width: 150px;
        z-index: 10;
    }

    .no-js #menu_principal li:hover ul {
        display: block;
    }
}

.js #menu_principal>li ul {
    margin: 0;
    position: relative;
}

@media screen and (min-width:40em) {
    .js #menu_principal>li ul {
        position: absolute;
    }
}

.js #menu_principal>li ul.plier-deplier__contenu--ouvert {
    display: block;
}

#page_deco {
    margin: 0 auto;
    padding: 0 0 1rem;
}

.recherche #page_deco,
.pagelibre #page_deco {
    float: none;
    width: 100%;
}

#navigation {
    float: left;
    padding: 0;
    width: 10rem;
    margin-right: 1rem;
}

#navigation>h2 {
    display: block;
}

@media screen and (min-width:40em) {
    #navigation>h2 {
        display: none;
    }
}

#services select {
    width: 80%;
}

#menu_secondaire {
    list-style: none;
    margin: 0 0 1rem;
}

#menu_secondaire>li {
    border-bottom: 2px dotted #fff;
    padding: .25em 0;
}

#menu_secondaire>li:last-child {
    border: 0;
    padding-bottom: 0;
}

#menu_secondaire ul {
    list-style: none;
    margin: 0;
}

#menu_secondaire a {
    text-decoration: none;
}

#menu_secondaire a:hover {
    text-decoration: underline;
}

#menu_secondaire .menu_secondaire-actif {
    font-weight: 700;
}

#menu_secondaire .sousmenu_secondaire-actif {
    font-weight: 700;
}

#fil_ariane>span {
    display: inline-block;
    text-indent: -1000rem;
    width: 1px;
}

@media screen and (min-width:40em) {
    .contenu {
        margin-bottom: 1rem;
    }

    #sans_nav_avec_encadres {
        float: left;
        width: 69%;
        margin-right: 1%;
        overflow: hidden;
    }

    #sans_nav_avec_encadres+#encadres {
        float: left;
        width: 30%;
    }
}

@media screen and (min-width:61.8125em) {

    #contenu_avec_nav_sans_encadres,
    #avec_nav_sans_encadres {
        width: 50.8125rem;
        padding-left: 5px;
        padding-right: 5px;
    }

    #contenu_avec_nav_sans_encadres+#encadres,
    #avec_nav_sans_encadres+#encadres {
        width: 50.8125rem;
        overflow: hidden;
    }

    #contenu_sans_nav_avec_encadres {
        float: left;
        width: 41.1875rem;
        margin-right: 0.625rem;
    }

    #contenu_sans_nav_sans_encadres {
        width: 61.8125rem;
    }
}

@media screen and (min-width:50em) {
    [class^="ligne"] {
        clear: left;
        margin: 0;
        overflow: hidden;
        padding-bottom: 1rem;
    }

    [class^="colonne"] {
        float: left;
    }

    [class^="colonne"]:first-child .colonne_deco {
        border: 0;
        padding-left: 0;
    }

    [class^="colonne"]:last-child .colonne_deco {
        margin-right: 0;
    }

    .colonne_deco {
        float: none;
        margin-right: 1rem;
        padding: 0;
    }
}

.js #pied_outils {
    background: #f5f1ee;
    left: 0;
    padding: .5em 0;
    width: 100%;
}

.js #pied_outils>div {
    margin: 0 auto;
    max-width: 61.8125em;
    position: relative;
}

.js #pied_outils>div>p {
    margin: 0;
}

.js #haut_page a {
    text-decoration: none;
}

.js #haut_page a:focus {
    background: none;
    outline: 1px dotted #C43003;
}

.scrollup {
    width: 2.5rem;
    height: 2.5rem;
    text-indent: -9999px;
    opacity: 0.3;
    position: fixed;
    z-index: 1000;
    bottom: 3.125rem;
    right: 6.25rem;
    display: none;
    background: url("../../images/www/icon_top.png") no-repeat;
}

#pretitre {
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
    line-height: 2rem;
    padding: 5px 0;
}

#pretitre p#thematique {
    margin: 0;
    float: left;
}

#pretitre a:link img,
#pretitre a:visited img {
    vertical-align: top;
}

span.separateur-virgule:last-child {
    display: none;
}

.addthis_toolbox {
    float: right;
}

.addthis_32x32_style .dummy .at300bs:hover,
.addthis_32x32_style .at300bs:hover,
.addthis_32x32_style .at15t:hover,
.addthis_32x32_style img.share:hover {
    opacity: 0.5;
    transition: all 1s;
}

.addthis_toolbox:before {
    clear: both;
}

@media screen and (min-width:40em) {
    #contenu-encadres {
        padding: 0;
    }
}

.actions-fiche {
    list-style: none;
    margin: 0;
    padding: 0;
}

.actions-fiche>* {
    display: inline-block;
    font-size: 1.3rem;
}

.actions-fiche>* a {
    text-decoration: none;
}

.actions-fiche>* a:focus,
.actions-fiche>* a:active {
    background: none;
    outline: 1px dotted #C43003;
}

.actions-fiche .button,
.actions-fiche .js .plier-deplier__bouton,
.js .actions-fiche .plier-deplier__bouton {
    background: transparent;
    color: #C43003;
    font-weight: 500;
    padding: 0;
}

.actions-fiche .actions-fiche__item .icon {
    margin: 0 .5em 0 0;
}

.actions-fiche .actions-fiche__libelle {
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);
    overflow: hidden;
}

@media screen and (min-width:40em) {
    #pied_deco {
        clear: both;
    }

    #pied_page {
        clear: both;
        margin: 0 auto;
        max-width: 61.8125em;
        padding: 1em 0 2rem;
        position: relative;
    }

    .js #haut_page {
        display: inline-block;
        font-size: 1.5rem;
        min-height: 2.5rem;
        min-width: 2.5rem;
        opacity: 0;
    }
}

@media screen and (min-width:40em) and (min-width:96em) {
    .js #haut_page {
        bottom: 2rem;
        position: fixed;
        right: 5%;
        z-index: 100;
    }
}

@media screen and (min-width:40em) {
    .js #haut_page .icon {
        margin: 0;
        vertical-align: text-bottom;
    }

    #menu_pied_page {
        color: #ccc;
        list-style: none;
        padding: 0;
        text-align: center;
    }

    #menu_pied_page li {
        border-left: 1px solid;
        display: inline;
        margin: 0 1em 0 0;
        padding: 0 0 0 1rem;
    }

    #menu_pied_page li:first-child {
        border-left: 0;
        padding: 0;
    }
}

.url-fiche {
    display: none;
}

#msg-alerte,
#msg-erreur,
#msg-confirmation,
[id*="msg"] {
    float: none;
    font-weight: 700;
    margin-top: 2rem;
    padding: 1rem;
    width: auto;
    border: 2px solid;
}

#msg-alerte {
    color: #ffb622;
}

#msg-erreur {
    color: #f11b03;
}

#msg-confirmation {
    color: #72AA06;
}

.erreur {
    color: red;
    font-style: normal;
    font-weight: 700;
}

.retour {
    cursor: pointer;
}

.pertinence {
    display: block;
}

.recherche_avancee .pertinence {
    display: none;
}

.icon {
    color: #e20030;
    margin: 0 .5em 0 0;
}

hr.separateur_sections_page,
#divsts {
    display: none;
}

.hide {
    position: absolute;
    visibility: hidden;
    overflow: hidden;
}

.masquer {
    display: none;
}

.separateur {
    clear: both;
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    margin: 0;
    padding: 0;
    width: 100%;
}

.drag-handle {
    cursor: pointer;
}

@media screen and (min-width:40em) {
    .colonne__pas2 {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 50%;
    }

    .colonne__pas3 {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 33.33333333%;
    }
}

.liste_ligne,
.reseaux-sociaux__liste {
    list-style: none;
    padding: 0;
}

.liste_ligne li,
.reseaux-sociaux__liste li {
    padding: 0;
    margin: 0;
    display: inline-block;
}

.sans_puce,
#versions .plier-deplier__contenu>ul {
    list-style: none;
    padding: 0;
}

#container-plan-site {
    background: #ccc;
    border-bottom: 1px solid #403E3F;
}

#container-container-plan-site {
    max-width: 61.8125em;
    margin: 2rem auto 0 auto;
    padding: 1rem;
}

.plan-site>ul>li {
    float: none;
    vertical-align: top;
}

.plan-site>ul>li {
    list-style: none;
    line-height: 1.5rem;
}

.plan-site ul li {
    font-weight: bold;
    margin-bottom: 1rem;
}

.plan-site ul li span {
    text-transform: uppercase;
    color: #000;
}

.plan-site ul li ul.plan-site__2 li span.plan-site__rubrique {
    text-transform: lowercase;
}

.plan-site ul li span a {
    color: #403E3F;
    font-size: 0.9rem;
}

.plan-site__1,
.plan-site__2 {
    list-style: disc;
    padding: 0 0 0 2rem;
}

.plan-site__1 {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
    -webkit-column-gap: 10px;
    -moz-column-gap: 10px;
    column-gap: 10px;
}

.plan-site>ul>li {
    line-height: 1.5rem;
    max-width: 16.875rem;
    min-height: 10rem;
}

.plan-site__2 {
    text-transform: lowercase;
}

.plan-site ul li ul.plan-site__2 li:before {
    content: "\f178";
    font-family: FontAwesome;
    margin-left: -1.2em;
    width: 1.2em;
}

.plan-site ul li ul.plan-site__2 li {
    list-style-type: none;
}

.plan-site ul li ul li {
    font-weight: normal;
    margin-bottom: 0;
}

.plan-site ul li ul li {
    width: auto;
}

.plier-deplier__bouton {
    background: none;
    color: inherit;
}

.plier-deplier__contenu {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.js .plier-deplier {
    position: relative;
    display: inline-block;
}

.js .plier-deplier__bouton {
    background: #fff;
    border: 1px solid #ded2c8;
    color: #666;
    margin: 0;
    padding: .25em .5rem;
    text-decoration: none;
}

.js .plier-deplier__bouton .icon {
    color: #886a52;
}

.js .plier-deplier__bouton:hover {
    background-color: #fff;
}

.js .plier-deplier__bouton:hover .icon {
    color: #e20030;
}

.js .plier-deplier__contenu {
    left: 0;
    position: absolute;
    z-index: 1000;
}

@media screen and (min-width:40em) {
    .js .plier-deplier__contenu {
        min-width: 25rem;
    }
}

.js .plier-deplier__contenu--clos {
    display: none;
}

.js .plier-deplier__contenu--ouvert {
    display: block;
}

.js .plier-deplier__contenu--relatif {
    position: relative;
}

.toolbox address {
    background: url(../../images/address.png) 0.7rem 50% no-repeat;
    font-style: normal;
    padding: 1rem 1rem 1rem 3.125rem;
    margin: 0 0 1rem;
    border: 1px solid #B3B3B3;
}

#recherche_avancee label {
    float: left;
    font-weight: 700;
    padding-left: .5rem;
    padding-right: .5rem;
    width: 20%;
}

#recherche_avancee label.no_float {
    float: none;
}

#recherche_avancee .ChampSaisie {
    max-width: 360px;
}

#precisions_resultats {
    font-weight: 700;
}

ul#liste_resultats li .vignette_deco {
    float: left;
    height: 4.1875rem;
    width: 6.25rem;
    overflow: hidden;
    margin-right: 0.625rem;
}

ul#liste_resultats .vignette_deco2 div.thematique {
    background: #feb018;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    font-size: 0.8rem;
    padding: 0 5px;
    display: inline-block;
    margin: 3px;
}

ul#liste_resultats li a:link {
    display: block;
}

ul#liste_resultats li a:link,
ul#liste-resultats li a:visited {
    font-weight: bold;
}

ul#liste_resultats li a.tel:link,
ul#liste_resultats li a.mel:link {
    display: inline-block;
}

ul#liste_resultats li.avec_vignette {
    border-bottom: 1px solid #bbb;
    padding: 0.7rem 0;
}

#resultats_recherche_navigation>a {
    margin: 0 1.5em 0 0;
    text-decoration: none;
}

#resultats_recherche_navigation>a .icon {
    margin: 0;
}

#resultats_recherche_navigation>strong {
    margin: 0 1.5em 0 0;
}

ul.objets,
ul#liste_resultats {
    list-style: none;
    margin: 0 0 1.5rem;
    padding: 0;
}

ul.objets li,
ul#liste_resultats li {
    clear: left;
    list-style-type: none;
    padding: 0.3rem 0 0;
}

ul.objets .soustitre,
ul#liste_resultats .soustitre {
    font-weight: 700;
}

ul.documents a.telecharger-fichiers {
    display: block;
}

ul.articles .redacteur {
    font-style: italic;
}

ul.fluxrss .vignette_deco {
    max-width: 12rem;
}

ul.pardefaut {
    margin: 0 0 1.5rem;
}

div#encadres div.vignette_deco {
    margin: 0;
}

div.vignette_deco {
    display: block;
    float: left;
    margin: 0 1em 0 0;
}

.vignette {
    border: 1px solid #ccc;
    display: inline-block;
    margin: 0;
    padding: 0;
}

#encadres .encadre_contenu {
    padding: 0;
    margin: 0;
}

#encadres .encadre_fiche.paragraphe--1 .encadre_contenu {
    border-bottom: 1px solid #c7c7c7;
    padding-bottom: 1.2rem;
}

#encadres .vignette_deco2 {
    overflow: visible;
}

#encadres .sidebar .vignette_deco2 em {
    font-style: normal;
    font-weight: 500;
    display: block;
    font-size: 0.8rem;
    line-height: 1rem;
}

#encadres .sidebar .type_vignette_deco_sidebar {
    margin: 0;
    padding: 0;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 0.72rem;
    display: inline-block;
}

#encadres li.avec_vignette.sidebar {
    background: none;
    min-height: 4.375rem;
    border-bottom: none;
    margin: 0 0 1.5rem 0;
}

#encadres .encadre_fiche h3,
#encadres .encadre_rubrique h3 {
    font-size: 1rem;
    margin: 0.4rem 0;
    text-align: left;
    width: auto;
    background-color: #5E5E5E;
    padding: 0.5rem 0.4rem;
    font-weight: bold;
    color: #fff;
}

.rubrique #encadres .encadre_fiche.paragraphe--1.numero--1 .encadre_contenu.paragraphe__contenu--1 {
    border-bottom: 0;
}

ul.liste-documents li span,
ul.liste-actualites li span,
ul.liste-articles li span,
ul.liste-liens li span {
    display: block;
    padding-left: 0.5rem;
}

ul.lire-aussi li {
    display: inline-block;
    vertical-align: top;
    padding: 1rem;
    text-align: left;
    max-width: 13.75rem;
    border-bottom: 0;
}

ul.lire-aussi li div.vignette_deco {
    margin: 0 0 0.5rem 0;
    overflow: hidden;
    height: 7.5rem;
    display: block;
    float: none;
}

#article_similaire {
    padding-top: 1rem;
    background: #fff;
}

#article_similaire ul li {
    display: inline-block;
    vertical-align: top;
    padding: 1rem;
    text-align: left;
    max-width: 13.75rem;
    border-bottom: 0;
}

#article_similaire ul li:hover {
    background: #e7e7e7;
}

#article_similaire ul li a:hover {
    text-decoration: none;
}

#article_similaire .vignette_deco {
    margin: 0 0 0.5rem 0;
    overflow: hidden;
    height: 7.5rem;
}

#article_similaire ul li:hover img {
    opacity: 0.5;
    transition: all 1s;
}

#page #contenu_avec_nav_sans_encadres #article_similaire h3,
#page #contenu_avec_nav_sans_encadres #cloud-keywords h3 {
    padding-left: 0;
}

#article_similaire ul li h4 {
    font-size: 1rem;
    margin: 0 auto;
}

.element_deco {
    margin: 0 0 1.5rem;
    clear: both;
}

.paragraphe__titre--1 {
    padding: 0.5rem;
}

[class*="paragraphe--"] {
    clear: both;
}

.paragraphe__titre--3 {
    padding: 1em 0;
}

div.paragraphe__contenu--1,
div.paragraphe__contenu--2,
div.paragraphe__contenu--3 {
    margin: 0 0 1rem 0;
    padding: 0 0.625rem;
}

.fiche .surtitre {
    color: #666;
    margin: 0 0 .5rem;
    padding: 0 0 .5rem;
}

.fiche .surtitre ul {
    padding: 0;
    margin: 0;
}

.fiche .surtitre ul li {
    display: inline;
    padding: 0 .25rem;
    border-left: 1px solid;
}

.fiche .surtitre ul li:first-child {
    border: 0;
    padding-left: 0;
}

.fiche .surtitre ul li span {
    display: none;
}

.fiche #soustitre {
    font-size: 1.3rem;
    margin: 0.5em 0;
}

.fiche .photo {
    width: auto;
    overflow: hidden;
}

@media screen and (min-width:40em) {
    .fiche .photo {
        margin: 0 0 1rem;
    }
}

.fiche .photo img {
    display: block;
}

.fiche .legende {
    color: #666;
    margin: .5em 0 1rem;
}

.fiche #date_deco {
    border-bottom: 1px solid #eee;
    padding: 0 0 1rem;
    margin: 0 0 1rem;
}

.fiche #date {
    font-weight: 700;
    margin: 0;
}

.fiche .date-publication-maj {
    font-size: 0.8rem;
    font-style: italic;
    margin: 1rem 0;
    text-align: right;
    clear: both;
}

.fiche #resume {
    font-weight: 700;
}

.fiche #description {
    margin-bottom: 1.5rem;
}

.fiche.annuaire #fonction {
    margin: 0 0 1.5rem;
    overflow: auto;
}

.url-lien {
    display: block;
    font-size: .62857rem;
}

#auteurs,
#referenceisdn {
    border-bottom: 1px solid #eee;
    padding-bottom: 1rem;
}

#complements {
    margin: 0;
}

.pagelibre #page #page_deco #complements {
    padding: 0.9375rem;
    border-top: 0px;
    max-width: 100%;
    margin-top: 0.5rem;
}

[class^="liste-definitions"] {
    list-style: none;
}

[class^="liste-definitions__terme"] {
    font-weight: 700;
}

[class^="liste-definitions__definition"] {
    margin: 0;
}

@media screen and (min-width:40em) {
    .liste-definitions {
        padding: 0.5rem 0;
        border-bottom: 1px solid #bbb;
        border-top: 1px solid #bbb;
        width: 100%;
        margin-left: 0;
    }

    .liste-definitions__terme--colonne {
        display: inline-block;
        vertical-align: top;
        width: 24%;
    }

    .liste-definitions__definition--colonne {
        display: inline-block;
        vertical-align: top;
        width: 75%;
    }
}

.type_1,
dl.type_1,
#demande_mot_passe dt,
.type-1 {
    background: #fff;
    clear: both;
    margin: 0;
    position: relative;
    width: 100%;
}

.type_1 dt,
#demande_mot_passe dt dt,
.type_1 .type-1__terme,
#demande_mot_passe dt .type-1__terme,
.type-1 dt,
.type-1 .type-1__terme {
    left: 0;
    margin: 0;
    padding-top: 0.5rem;
    position: absolute;
    width: 10rem;
    text-align: right;
}

.type_1 dd,
#demande_mot_passe dt dd,
.type_1 .type-1__definition,
#demande_mot_passe dt .type-1__definition,
.type-1 dd,
.type-1 .type-1__definition {
    margin: 0 0 0 11rem;
    min-height: 1.5rem;
    padding: 0.5em 0;
}

.type_2,
dl.type_2,
.type-2 {
    background: #eee;
    clear: both;
    margin: 0 0 1.5rem;
    position: relative;
}

.type_2>*,
dl.type_2>*,
.type-2>* {
    display: inline-block;
    padding: 0 1% 1rem;
    vertical-align: top;
}

.type_2 dt,
.type_2 .type-2__terme,
.type-2 dt,
.type-2 .type-2__terme {
    text-align: right;
    width: 18%;
}

.type_2 dd,
.type_2 .type-2__definition,
.type-2 dd,
.type-2 .type-2__definition {
    background: #fff;
    margin: 0 0 0 3%;
    overflow: auto;
    width: 75%;
}

.onglets {
    border-bottom: 2px solid #ddd;
    display: none;
    list-style: none;
    margin: 0 0 1.5rem;
    padding: 0;
    overflow: visible;
}

@media screen and (min-width:40em) {
    .onglets {
        display: block;
    }
}

.onglets a {
    display: inline-block;
    padding: .5rem;
    text-decoration: none;
}

.onglets a:hover,
.onglets #actif a {
    background: #fff;
    color: #C43003;
}

.onglets__item {
    background: #ddd;
    border-bottom: 0;
    border: 2px solid #ddd;
    bottom: -2px;
    display: inline-block;
    font-weight: 700;
    margin: 0 .2em 0 0;
    position: relative;
}

.onglets__item--actif {
    background: #fff;
    border-bottom-color: #fff;
}

.onglets-section {
    display: block;
}

@media screen and (min-width:40em) {
    .onglets-section {
        display: none;
    }

    .onglets-section.onglets-section--actif {
        display: block;
    }
}

.onglets-section__bouton {
    background: #ddd;
    color: #333;
    display: block;
    position: relative;
    text-align: left;
    width: 100%;
}

@media screen and (min-width:40em) {
    .onglets-section__bouton {
        display: none;
    }
}

.onglets-section__bouton:hover {
    background: #fff;
}

.onglets-section__bouton::after {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #aaa;
    content: "";
    font-size: 0;
    line-height: 0;
    position: absolute;
    right: .6rrem;
    top: .6rrem;
    width: 0;
}

.onglets-section--actif>.onglets-section__bouton {
    background: #fff;
    border: 2px solid #ddd;
}

.onglets-section--actif>.onglets-section__bouton::after {
    border-bottom: 10px solid #aaa;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: none;
    right: .45rrem;
    top: .45rrem;
}

.js .onglets-section>.onglets-section__contenu {
    display: none;
}

.js .onglets-section__bouton {
    display: block;
}

@media screen and (min-width:40em) {
    .js .onglets-section__bouton {
        display: none;
    }
}

.js .onglets-section--actif>.onglets-section__contenu {
    display: block;
}

form label.radio,
form label.checkbox {
    display: inline;
    float: none;
    font-weight: 500;
    margin-right: 1rem;
    width: auto;
}

form.formulaire_redacteur {
    background-color: #eee;
    margin: 0 0 1.5rem;
    overflow: auto;
    padding: 1rem;
}

form.formulaire_redacteur p.obligatoire input,
form.formulaire_redacteur p.obligatoire textarea,
form.formulaire_redacteur p.obligatoire select {
    border: 1px dotted #ff4500;
}

form.formulaire_redacteur span.historyBack {
    cursor: pointer;
    font-weight: 700;
}

form.disposition2 span.captcha {
    display: block;
    overflow: auto;
}

#encadres form.formulaire_redacteur input.radio,
#encadres form.formulaire_redacteur input.checkbox,
#encadres form.formulaire_redacteur p.validation input {
    width: auto;
}

p.validation {
    margin-bottom: 1em;
}

p.validation input.reset,
p.validation input.submit {
    float: left;
    margin-right: 1em;
    width: auto;
}

p.validation input.reset {
    font-weight: 400;
}

form.disposition1 label,
form.disposition1 .label {
    display: block;
    margin: 0 0 0.5rem;
    font-weight: 700;
}

form.disposition2 p {
    margin: 1rem 0;
}

form.disposition2 p.validation input.reset,
form.disposition2 p.validation input.submit {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: bold;
}

form.disposition2 label,
form.disposition2 .label {
    display: inline-block;
    font-weight: normal;
    vertical-align: middle;
    width: 25%;
}

form.disposition2 input,
form.disposition2 select,
form.disposition2 textarea {
    max-width: 75%;
}

form.disposition2 span.radio,
form.disposition2 span.checkbox {
    display: inline-block;
    overflow: auto;
    vertical-align: top;
    width: 75%;
}

form.disposition2 label.radio,
form.disposition2 label.checkbox {
    display: inline-block;
    float: none;
    width: auto;
}

span.captcha span {
    display: block;
    padding: 0.5em 0 0;
}

span.captcha img {
    display: block;
    margin: 0.5em 0;
}

span.captcha a {
    background-image: url(../../jsp/styles/img/pictos/hautparleur.png);
    background-repeat: no-repeat;
    background-position: 0 50%;
    margin-left: 5px;
    padding-left: 18px;
}

#redacteur,
#date_modification,
#contact_rubrique {
    clear: both;
    margin: 0;
    text-align: right;
}

#encadres {
    display: block;
    background: #f7f7f7;
}

@media screen and (min-width:40em) {
    #encadres {
        display: block;
    }
}

#encadres>.encadre_recherche fieldset {
    background: transparent;
    border: 0;
    padding: 0;
}

#encadres>.encadre_recherche legend {
    display: none;
}

#encadres>.encadre_recherche label {
    display: block;
}

#encadres>.encadre_recherche input[type="text"],
#encadres>.encadre_recherche select {
    width: 100%;
}

#encadres>.encadre_recherche p.parcourir input.champ-saisie {
    width: 75px;
}

#encadres .encadre_auto_fiche {
    margin-bottom: 1.5rem;
}

#encadres .encadre_fiche,
#encadres .encadre_rubrique,
#encadres .encadre_recherche {
    margin: 0 0 1em 0;
    padding: 0 0.8rem;
}

.rubrique #page #encadres .encadre_fiche,
.rubrique #page #encadres .encadre_rubrique {
    padding: 0.4rem 1.2rem;
}

.fichiers-joints {
    border: 1px solid #ddd;
    list-style: none;
    padding: 0;
}

.fichiers-joints>*:first-child {
    border: 0;
}

.fichiers-joints__item {
    border-top: 1px solid #ddd;
    background: url(../../jsp/styles/img/pictos/telecharger.svg) no-repeat 95% 50%;
    background-size: 2rem;
}

.fichiers-joints__item>* {
    background: rgba(255, 255, 255, 0.8) url(../../jsp/styles/img/pictos/defaut.svg) no-repeat 0.75em 50%;
    background-size: 1.5rem;
    display: block;
    padding: .5em 4em .5em 3rem;
    text-decoration: none;
}

.fichiers-joints__item:hover {
    background-color: #bdbdbd;
}

.fichiers-joints__item:hover a:hover {
    text-decoration: none;
}

.fichiers-joints__type-poids {
    font: 500 0.75em Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif, Arial, "Helvetica Neue", Helvetica, "Bitstream Vera Sans", sans-serif;
    color: #57585a;
}

#telecharger {
    padding: 0;
}

#telecharger li {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 5px 0 5px 20px;
    position: relative;
}

#telecharger li.pdf:before {
    color: #C43003;
    content: "\f1c1";
    font-family: "icomoon";
    font-size: 1rem;
    left: 0;
    position: absolute;
}

#telecharger li.swf:before {
    color: #C43003;
    content: "\f1c9";
    font-family: "icomoon";
    font-size: 1rem;
    left: 0;
    position: absolute;
}

#telecharger li.flv:before {
    color: #C43003;
    content: "\f1c8";
    font-family: "icomoon";
    font-size: 1rem;
    left: 0;
    position: absolute;
}

#telecharger li.mp3:before {
    color: #C43003;
    content: "\f1c7";
    font-family: "icomoon";
    font-size: 1rem;
    left: 0;
    position: absolute;
}

#telecharger li.txt:before {
    color: #C43003;
    content: "\f0f6";
    font-family: "icomoon";
    font-size: 1rem;
    left: 0;
    position: absolute;
}

#telecharger li.zip:before {
    color: #C43003;
    content: "\f1c6";
    font-family: "icomoon";
    font-size: 1rem;
    left: 0;
    position: absolute;
}

#telecharger li.doc:before {
    color: #C43003;
    content: "\f1c2";
    font-family: "icomoon";
    font-size: 1rem;
    left: 0;
    position: absolute;
}

#telecharger li.xls:before {
    color: #C43003;
    content: "\f1c3";
    font-family: "icomoon";
    font-size: 1rem;
    left: 0;
    position: absolute;
}

#telecharger li.ppt:before {
    color: #C43003;
    content: "\f1c4";
    font-family: "icomoon";
    font-size: 1rem;
    left: 0;
    position: absolute;
}

#telecharger li.sxw:before {
    color: #C43003;
    content: "\f016";
    font-family: "icomoon";
    font-size: 1rem;
    left: 0;
    position: absolute;
}

#telecharger li.sxc:before {
    color: #C43003;
    content: "\f016";
    font-family: "icomoon";
    font-size: 1rem;
    left: 0;
    position: absolute;
}

#telecharger li.sxi:before {
    color: #C43003;
    content: "\f016";
    font-family: "icomoon";
    font-size: 1rem;
    left: 0;
    position: absolute;
}

#telecharger li.image:before {
    color: #C43003;
    content: "\f1c5";
    font-family: "icomoon";
    font-size: 1rem;
    left: 0;
    position: absolute;
}

#telecharger li.defaut:before {
    color: #C43003;
    content: "\f016";
    font-family: "icomoon";
    font-size: 1rem;
    left: 0;
    position: absolute;
}

.logo-mobile {
    left: 11rem;
    margin-left: 0;
    position: absolute;
    top: 0;
    z-index: 11;
}

.logo-mobile img {
    max-width: 2.8rem;
}

@media screen and (min-width:40em) {
    .logo-mobile {
        display: none;
        position: relative;
    }
}

.video-container {
    position: relative;
    height: auto;
    overflow: hidden;
    padding-bottom: 56.25%;
}

.video-container>iframe,
.video-container>object,
.video-container>embed,
.video-container>video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video-container>.mejs-container {
    position: absolute;
}

.liste-definitions.bloc-info {
    background: url(../../jsp/styles/img/pictos/information.svg) no-repeat 0 50%;
    background-size: 1.5rem;
    padding-left: 2rem;
    margin: 1rem 0;
}

#liste-fichier-1 {
    margin: 1rem 0;
}

@media screen and (max-width:40em) {
    #logo img {
        max-width: 5rem;
        max-height: 5rem;
    }

    .js #menu-principal-bouton {
        display: inline-block;
    }

    .js .icon {
        margin: 0;
    }

    .js .icon-libelle {
        position: absolute;
        text-indent: -1000rem;
        margin: 1.5em 0 0;
    }

    #menu_principal {
        overflow: auto;
    }

    #menu_principal li {
        width: 100%;
    }

    #boutons_actions li {
        display: none;
    }

    .js #menu {}

    .js #menu.plier-deplier__contenu--clos {
        display: none;
    }

    .js .plier-deplier {
        position: static;
    }

    .js .plier-deplier__bouton {
        font-size: 1.5rem;
    }

    .js .plier-deplier__contenu {
        width: 100%;
    }

    .js #pied_outils>div {
        width: 96%;
    }

    .js #recherche-simple {
        position: static;
    }

    .js #recherche-simple input[type="text"] {
        width: 100%;
        border: none;
        margin: 0;
        padding: 1rem;
        background: rgba(0, 0, 0, 0.1);
        margin: 0;
    }

    .js #recherche-simple input[type="text"]:hover,
    .js #recherche-simple input[type="text"]:active {
        background: #333333;
        color: #FFFFFF;
    }

    .js #recherche-simple input[type="text"]:focus {
        outline: 0;
    }

    .js #recherche-simple input[type="submit"] {
        display: none;
    }

    .js #recherche-simple .plier-deplier__bouton {
        display: inline-block;
        position: relative;
        z-index: 1000;
    }

    .js #recherche-simple .plier-deplier__contenu {
        padding: 0;
    }
}

footer .plan-site__1>* {
    display: inline-block;
    width: 50%;
    vertical-align: text-top;
}

@media screen and (max-width:40em) {
    footer .plan-site__1>* {
        display: none;
    }
}

footer .plan-site__1>*>.plan-site__rubrique {
    font: 700 1em Arial, "Helvetica Neue", Helvetica, "Bitstream Vera Sans", sans-serif;
    margin: 0;
}

footer .plan-site__2 {
    margin-left: 1rem;
}

footer .plan-site__2>*>.plan-site__rubrique {
    font: 500 1em Arial, "Helvetica Neue", Helvetica, "Bitstream Vera Sans", sans-serif;
    margin: 0;
}

#pied_page {
    padding-top: 0;
}

#pied_page>div {
    background: #efe9e5;
    padding: 1rem;
}

@media screen and (min-width:40em) {
    #pied_page>div>div {
        display: inline-block;
        vertical-align: text-top;
        width: 50%;
        padding: 0;
    }
}

@media screen and (min-width:40em) {
    .cartouche>div {
        margin: 0 auto;
        max-width: 61.8125em;
        position: relative;
    }
}

footer .cartouche {
    text-align: center;
}

.banniere {
    overflow: hidden;
    padding: 1em 0;
    position: relative;
}

@media screen and (min-width:40em) {
    .banniere__logo {
        display: inline-block;
    }
}

.banniere__nom {
    margin: 0;
}

footer .banniere {
    margin-bottom: 1rem;
}

footer .banniere__nom {
    font-weight: 700;
    margin: 0;
}

.banniere__baseline {
    font: 700 1.25em "Open Sans", Arial, "Helvetica Neue", Helvetica, "Bitstream Vera Sans", sans-serif;
    margin: 0 0 0 .5rem;
}

header .reseaux-sociaux {
    position: absolute;
    right: 0;
    top: 3.3rem;
}

@media screen and (max-width:40em) {
    header .reseaux-sociaux {
        display: none;
    }
}

footer .reseaux-sociaux {
    text-align: center;
}

footer .reseaux-sociaux__item {
    margin: 0 .25rem;
}

.reseaux-sociaux__libelle {
    display: inline-block;
    font-weight: 700;
}

.kmultiselect-ltl {
    width: 100% !important;
}

#form_saisie_front fieldset.petiteannonce {
    border: 1px solid silver;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    padding: 1rem;
    margin-bottom: 2rem;
}

#form_saisie_front fieldset.petiteannonce legend {
    padding: 0 0.5rem;
}

#form_saisie_front fieldset.petiteannonce.type_categorie legend {
    display: none;
}

#form_saisie_front fieldset.petiteannonce ul.radio.sans_puce,
#form_saisie_front fieldset.petiteannonce #versions .plier-deplier__contenu>ul.radio,
#versions #form_saisie_front fieldset.petiteannonce .plier-deplier__contenu>ul.radio {
    display: inline;
}

#form_saisie_front fieldset.petiteannonce ul.radio.sans_puce li,
#form_saisie_front fieldset.petiteannonce #versions .plier-deplier__contenu>ul.radio li,
#versions #form_saisie_front fieldset.petiteannonce .plier-deplier__contenu>ul.radio li {
    display: inline-block;
    margin-right: 1rem;
}

#form_saisie_front fieldset.petiteannonce ul.radio.sans_puce li,
#form_saisie_front fieldset.petiteannonce #versions .plier-deplier__contenu>ul.radio li,
#versions #form_saisie_front fieldset.petiteannonce .plier-deplier__contenu>ul.radio li {
    display: inline-block;
    margin-right: 1rem;
}

#form_saisie_front fieldset.petiteannonce #petiteannonce_type {
    display: inline-block;
    vertical-align: top;
    width: 30%;
}

.layout__gridSlot {
    display: inline-block;
    overflow: hidden;
    padding: 0 .25em !important;
}

.layout__simple-grid--siteCom .layout__gridSlot {
    height: 13.05rem;
}

@media screen and (min-width:40em) {
    .layout__simple-grid--siteCom .layout__gridSlot {
        height: 13.05rem;
    }
}

@media screen and (min-width:50em) {
    .layout__simple-grid--siteCom .layout__gridSlot {
        height: 13.05rem;
    }
}

.layout__simple-grid--siteCom .layout__slot--rowspan2 {
    height: 26.1rem;
}

.layout__simple-grid--siteCom .layout__slot--rowspan3 {
    height: 39.15rem;
}

.layout__simple-grid--siteCom .layout__slot--rowspan4 {
    height: 52.2rem;
}

.layout__simple-grid--sitePortail .layout__gridSlot {
    height: 8.275rem;
    padding: .25em !important;
}

@media screen and (min-width:40em) {
    .layout__simple-grid--sitePortail .layout__gridSlot {
        height: 8.275rem;
    }
}

.layout__simple-grid--sitePortail .layout__slot--rowspan2 {
    height: 16.55rem;
}

.layout__simple-grid--sitePortail .layout__slot--rowspan3 {
    height: 24.825rem;
}

.layout__simple-grid--sitePortail .layout__slot--rowspan4 {
    height: 33.1rem;
}

.layout__simple-grid--sitePortail .layout__slot--rowspan5 {
    height: 41.375rem;
}

.layout__simple-grid--sitePortail .layout__slot--rowspan6 {
    height: 49.65rem;
}

.layout__slot {
    box-sizing: border-box;
    position: relative;
    width: 100%;
}

.layout__slot .layout__slot-button {
    height: 100%;
    padding: 0;
    position: absolute;
    width: 100%;
    z-index: 10;
}

.layout__slot .layout__slot-button:hover {
    background: transparent;
}

.card {
    box-sizing: border-box;
    display: block;
    overflow: hidden;
    padding: 1rem;
    text-decoration: none;
}

.simpleCard__title {
    color: inherit;
}

.pictureCard__title {
    color: inherit;
}

.title--middle {
    padding: 0;
    position: relative;
}

.title--middle .pictureCard__title {
    background: rgba(0, 0, 0, 0.5);
    left: 0;
    padding: .5rem;
    position: absolute;
    top: 35%;
    width: 100%;
}

.title--middle img {
    height: 100%;
}

.fiche.article h1,
.fiche.article .h1 {
    line-height: 2rem;
}

.fiche.article div.photo {
    width: auto;
    height: 25rem;
    overflow: hidden;
}

.fiche.article p#date {
    font-size: 0.9rem;
    padding: 0 0 0.5rem 0;
    font-weight: normal;
}

.fiche.article #page #thematique {
    text-transform: uppercase;
    font-weight: bold;
    padding: 0 0.3125rem;
    font-size: 0.8rem;
}

.fiche.article #description h2,
.fiche.article #description h3 {
    margin: 1rem 0;
}

.fiche.article #container-photo {
    margin-bottom: 0.6rem;
}

.fiche.article #container-photo .photo {
    margin-bottom: 0;
}

.fiche.article #container-photo p.legende {
    line-height: 1rem;
    font-size: 0.7rem;
    font-style: italic;
    margin: 0.3rem 0 0 0;
    text-align: right;
}

.fiche.article #encadres {
    max-width: 100%;
}

.fiche.article #encadres .encadre_contenu {
    padding-top: 1rem;
}

.fiche.article #encadres .pagelibre div.encadre_fiche h3,
.fiche.article #encadres .pagelibre div.encadre_auto_fiche h3,
.fiche.article #encadres .pagelibre div.encadre_nav_auto h3,
.fiche.article #encadres .pagelibre div.encadre_recherche h3 {
    margin-left: 1rem;
}

@media screen and (max-width:40em) {
    .fiche.article div.photo {
        height: 15rem;
    }
}

.fiche.actualite h1 {
    color: #58585a;
    letter-spacing: 0rem;
    font-size: 2rem;
    line-height: 2rem;
}

.fiche.actualite p#resume {
    color: #C43003;
    font-weight: 700;
    padding: 0.2rem 0 0.2rem 0rem;
}

.fiche.actualite #description h2,
.fiche.actualite #description h3 {
    margin: 1rem 0;
}

.fiche.actualite p#date {
    font-size: 0.9rem;
    padding: 0 0 0.5rem 0;
    font-weight: normal;
}

.fiche.actualite #page #thematique {
    background: #FDAF17;
    color: #FFF;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0 0.3125rem;
    font-size: 0.8rem;
}

.fiche.actualite #encadres {
    max-width: 100%;
}

.fiche.actualite #encadres .encadre_contenu {
    padding-top: 1rem;
}

.fiche.actualite #encadres .pagelibre div.encadre_fiche h3,
.fiche.actualite #encadres .pagelibre div.encadre_auto_fiche h3,
.fiche.actualite #encadres .pagelibre div.encadre_nav_auto h3,
.fiche.actualite #encadres .pagelibre div.encadre_recherche h3 {
    margin-left: 1rem;
}

.fiche.document h1,
.fiche.document .h1 {
    line-height: 2rem;
}

.fiche.document .surtitre {
    border-bottom: 0;
}

.fiche.document #description h2,
.fiche.document #description h3 {
    margin: 1rem 0;
}

.fiche.document #description {
    margin: 1.5rem 0;
}

.fiche.document #encadres {
    max-width: 100%;
}

.fiche.document #encadres .encadre_contenu {
    padding-top: 1rem;
}

.fiche.document #encadres .pagelibre div.encadre_fiche h3,
.fiche.document #encadres .pagelibre div.encadre_auto_fiche h3,
.fiche.document #encadres .pagelibre div.encadre_nav_auto h3,
.fiche.document #encadres .pagelibre div.encadre_recherche h3 {
    margin-left: 1rem;
}

.fiche.document #encadres div.encadre_generique,
.fiche.document #encadres div.encadre_rubrique {
    background-color: #F7F7F7;
}

.fiche.annuaireksup .contenu {
    min-height: initial;
}

.fiche.annuaireksup dl.type_1 {
    min-height: 16rem;
}

.fiche.annuaireksup .paysage {
    width: 15rem;
    height: 10rem;
}

.fiche.annuaireksup .portrait {
    width: 11rem;
    height: 15rem;
}

.fiche.annuaireksup div.photo {
    float: right;
    margin-left: 1rem;
    overflow: hidden;
    margin: 0 1em 0 0;
}

.fiche.annuaireksup div.photo+.infos {
    margin: 0 0 0 36%;
}

.fiche.annuaireksup .surtitre {
    border-bottom: none;
    margin: 0;
    padding: 0;
}

.fiche.annuaireksup h1 {
    border-bottom: 1px solid #f2f2f2;
    margin: 0 0 .5em;
    padding: 2rem 0.5rem 0.5rem 0.5rem;
    line-height: 2rem;
}

.fiche.annuaireksup .structure {
    margin-bottom: 1em;
}

.fiche.annuaireksup .type_1,
.fiche.annuaireksup #demande_mot_passe dt,
#demande_mot_passe .fiche.annuaireksup dt {
    border-top: 0;
}

.fiche.defaultstructureksup h1,
.fiche.defaultstructureksup .h1 {
    line-height: 2rem;
}

.fiche.defaultstructureksup .motif__titre.organisation {
    display: none;
}

.fiche.defaultstructureksup .element_deco .type_1,
.fiche.defaultstructureksup .element_deco #demande_mot_passe dt,
#demande_mot_passe .fiche.defaultstructureksup .element_deco dt {
    border: 0;
}

.fiche.defaultstructureksup .element_deco,
.fiche.defaultstructureksup .element_deco h4 {
    line-height: 1.875rem;
}

.fiche.defaultstructureksup dt.carte {
    display: none;
}

.fiche.defaultstructureksup #cloud-keywords {
    display: none;
}

.fiche.defaultstructureksup .photo {
    height: 25rem;
}

.fiche.defaultstructureksup .photo img {
    margin: 0 auto;
}

.fiche.associationetudiant h1,
.fiche.associationetudiant .h1 {
    line-height: 2rem;
}

.fiche.associationetudiant .element_deco {
    margin: 0;
}

.fiche.associationetudiant .element_deco.motif {
    margin-bottom: 1.5rem;
}

.fiche.associationetudiant .type_1,
.fiche.associationetudiant #demande_mot_passe dt,
#demande_mot_passe .fiche.associationetudiant dt,
.fiche.associationetudiant .associationetudiant dl.type_1 {
    background: none;
}

.fiche.associationetudiant .photo {
    width: auto;
    overflow: hidden;
}

.fiche.associationetudiant #page .photo img {
    width: auto;
    margin: 0 auto;
}

.fiche.associationetudiant #thematique {
    font-weight: bold;
    color: #fff;
    padding: 0 0.3rem;
}

.fiche.associationetudiant #encadres {
    max-width: 100%;
}

.fiche.associationetudiant #encadres .encadre_contenu {
    padding-top: 1rem;
}

.fiche.associationetudiant #encadres .pagelibre div.encadre_fiche h3,
.fiche.associationetudiant #encadres .pagelibre div.encadre_auto_fiche h3,
.fiche.associationetudiant #encadres .pagelibre div.encadre_nav_auto h3,
.fiche.associationetudiant #encadres .pagelibre div.encadre_recherche h3 {
    margin-left: 1rem;
}

.fiche.laboratoire h1,
.fiche.laboratoire .h1 {
    line-height: 2rem;
}

.fiche.laboratoire #menu_secondaire .encadre_recherche .debut_titre_encadre {
    display: block;
}

.fiche.laboratoire .element_deco {
    line-height: 2rem;
}

.fiche.laboratoire #encadres {
    max-width: 100%;
}

.fiche.laboratoire #encadres .encadre_contenu {
    padding-top: 1rem;
}

.petiteannonce h1,
.petiteannonce .h1 {
    line-height: 2rem;
}

.petiteannonce div.container-photo {
    font-size: 0.5rem;
    text-align: right;
    float: right;
}

.petiteannonce div.photo {
    margin-left: 2rem;
    overflow: hidden;
}

.petiteannonce .portrait {
    width: 11rem;
    height: 15rem;
}

.petiteannonce .paysage {
    width: 15rem;
    height: 10rem;
}

.petiteannonce .date-publication-maj {
    clear: both;
}

.petiteannonce label.bouton_radio {
    display: inline;
}

.petiteannonce .encadre_recherche {
    display: none;
}

.petiteannonce #page #thematique {
    background: #FDAF17;
    color: #FFF;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0 0.3125rem;
    font-size: 0.8rem;
}

.petiteannonce #encadres {
    padding: 0.5rem;
    max-width: 100%;
}

.petiteannonce #encadres .encadre_contenu {
    padding-top: 1rem;
}

.petiteannonce #encadres .pagelibre div.encadre_fiche h3,
.petiteannonce #encadres .pagelibre div.encadre_auto_fiche h3,
.petiteannonce #encadres .pagelibre div.encadre_nav_auto h3,
.petiteannonce #encadres .pagelibre div.encadre_recherche h3 {
    margin-left: 1rem;
}

.mfp-counter {
    display: none;
}

.mfp-title {
    color: #F3F3F3;
    line-height: 18px;
    padding: .5em;
    text-align: left;
    word-wrap: break-word;
}

.mfp-title .titre_corps {
    font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, "Bitstream Vera Sans", sans-serif;
    font-weight: 700;
    margin: 0 0 .5em;
}

.mfp-title .style1_media_legende {
    font-size: .9em;
    margin: 0 0 .5em;
}

.mfp-bottom-bar {
    bottom: 40px;
    cursor: auto;
    left: 0;
    position: absolute;
    width: 100%;
    margin-top: 0;
    top: inherit;
}

div.visionneuse_contenu {
    position: relative;
}

div.visionneuse_contenu h2 {
    display: none;
}

div.galerie_player {
    background-color: #000;
    margin: auto;
}

div .galerie_playlist {
    text-align: center;
}

div .galerie_playlist .visionneuse_pagination {
    display: table;
    position: relative;
    width: 100%;
}

div .galerie_playlist .visionneuse_pagination .pagination_contenu {
    display: table-cell;
    margin: .4em;
    vertical-align: middle;
    width: 85%;
}

div .galerie_playlist .visionneuse_pagination .pagination_contenu div {
    min-height: auto;
}

@media screen and (min-width:61.8125em) {
    div .galerie_playlist .visionneuse_pagination .pagination_contenu div {
        min-height: auto;
    }
}

div .galerie_playlist .visionneuse_pagination .pagination_contenu div:before,
div .galerie_playlist .visionneuse_pagination .pagination_contenu div:after {
    content: " ";
    display: table;
}

div .galerie_playlist .visionneuse_pagination .pagination_contenu div:after {
    clear: both;
}

div .galerie_playlist .visionneuse_pagination .pagination_aucune img {
    vertical-align: bottom;
}

div .galerie_playlist .visionneuse_pagination .pagination_droite,
div .galerie_playlist .visionneuse_pagination .pagination_suivant {
    display: table-cell;
    vertical-align: middle;
}

div .galerie_playlist .visionneuse_pagination .pagination_gauche,
div .galerie_playlist .visionneuse_pagination .pagination_precedent {
    display: table-cell;
    vertical-align: middle;
}

div .galerie_playlist .visionneuse_pagination .footer {
    text-align: center;
    display: none;
}

div .galerie_playlist .visionneuse_pagination .style1_media_legende {
    display: none;
}

div .galerie_playlist .visionneuse_pagination .style1_media_titre-source {
    display: none;
}

div .galerie_playlist ul.visionneuse_pagination {
    position: relative;
    list-style: none;
    margin: 0 0 1em;
    padding: 0;
}

div .galerie_playlist ul.visionneuse_pagination li {
    border-bottom: 1px dotted #ccc;
    margin: 0 0 .7em;
    padding: 0 0 .7em;
}

div .galerie_playlist ul.visionneuse_defaut {
    margin: 0;
    padding: 0;
}

div .galerie_playlist ul.visionneuse_defaut li {
    background: #eee;
    list-style: none;
    margin: 0 0 5px;
    padding: 5px;
}

div .galerie_playlist p.visionneuse_defaut_titre {
    border: solid 2px #828282;
    margin: 0;
    padding: 3px;
}

div.galerie_onglet h2 {
    display: none;
}

div.galerie_onglet ul.galerie_onglets {
    background: #fff;
    border-bottom: 2px solid #999;
    font-weight: 700;
    list-style: none;
    margin: .5em 0 1em;
    padding: 0 0 .2em;
}

div.galerie_onglet ul.galerie_onglets li {
    background: #eee;
    border: 2px solid;
    border-bottom: 0;
    color: #999;
    cursor: pointer;
    display: inline;
    margin: 0 1em 0 0;
    padding: .2em .5em;
}

div.visionneuse_tele_player {
    text-align: center;
}

div.visionneuse_tele_player div {
    margin: auto;
}

div.style1_media {
    width: 100%;
    float: left;
    font-size: .9em;
    text-align: left;
}

@media screen and (min-width:50em) {
    div.style1_media {
        width: 100%;
    }
}

div.style1_media a.lanceur_media {
    background: #fff;
    color: #443B43;
    display: block;
    text-align: center;
    text-decoration: none;
}

div.style1_media a.lanceur_media .style1_media_titre .titre_corps {
    background: none repeat scroll 0 0 rgba(64, 72, 73, 0.6);
    height: auto;
    color: #fff;
    height: auto;
    line-height: 2;
    width: auto;
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    width: 100%;
    margin: 0;
}

div.player_audio {
    display: block;
    text-align: center;
}

div.player_audio * {
    vertical-align: middle;
}

div.player_flash {
    background-color: #000;
}

div.contenu .showcase {
    height: 170px;
    margin: 20px auto 0;
    position: relative;
    width: 500px;
}

div.contenu .showcase a.controls {
    border: 2px solid #FFF;
    font-weight: 700;
    height: 50px;
    line-height: 50px;
    margin-top: -27px;
    position: absolute;
    text-align: center;
    top: 45%;
    width: 20px;
}

div.contenu .showcase a.controls img {
    vertical-align: middle;
}

div.contenu .showcase a.controls:hover {
    border-color: #2097FA;
}

div.contenu .showcase a.previous {
    padding-bottom: 4px;
}

div.contenu .showcase a.next {
    padding-top: 4px;
    right: 0;
}

div.contenu .showcase ul {
    height: 170px;
    margin: 0 auto;
    position: relative;
    width: 290px;
}

div.contenu .showcase ul li {
    float: left;
    height: 170px;
    list-style-type: none;
    width: 50px;
}

div.contenu .showcase li a img {
    border: 0;
}

.no-js .galerie_playlist .visionneuse_pagination .pagination_aucune,
.no-js .galerie_playlist .visionneuse_pagination .pagination_droite,
.no-js .galerie_playlist .visionneuse_pagination .pagination_suivant,
.no-js .galerie_playlist .visionneuse_pagination .pagination_gauche,
.no-js .galerie_playlist .visionneuse_pagination .pagination_precedent {
    display: none;
}

p.galerie_titre {
    font-size: 1.4em;
    font-weight: 700;
}

p.player_photo {
    background-color: #000;
}

p.player_photo img {
    margin: auto;
}

div.galerie_onglet ul.galerie_onglets li.bouton_focus,
div.galerie_onglet ul.galerie_onglets li.bouton_focus:hover,
div.galerie_onglet ul.galerie_onglets li:hover {
    background: #fff;
    border-color: #999;
    color: #000;
    padding-bottom: 4px;
}

.lanceur_media {
    cursor: pointer;
}

span.style1_media_vignette {
    display: inline-block;
    overflow: hidden;
    text-align: center;
    margin: .8em;
    position: relative;
    height: auto !important;
}

span.style1_media_vignette img {
    vertical-align: middle;
}

ul.visionneuse_defaut div.style1_media {
    margin: 0;
}

ul.visionneuse_defaut div.style1_media a.lanceur_media {
    float: left;
    margin: 0 10px 0 0;
    width: 150px;
}

ul.visionneuse_defaut li,
ul.visionneuse_defaut span.style1_media_contenu {
    overflow: auto;
}

.mediaStyleSimple img {
    background-color: black;
    vertical-align: middle;
}

.mfp-content .mfp-iframe-scaler .mfp-counter,
.mfp-content .mfp-iframe-scaler .mfp-title {
    margin-top: 40px !important;
}

.mfp-content .audio {
    width: 20% !important;
}

.galeriePagination3x3 .style1_media {
    display: inline-block;
    overflow: hidden;
}

.galeriePagination3x3 .style1_media img {
    max-width: 100%;
}

.galeriePagination3x3 .style1_media {
    width: 33.333%;
}

.galeriePagination4x4 .style1_media {
    width: 25%;
}

#complements .pagination_aucune,
#complements .pagination_gauche,
#complements .pagination_droite,
#complements .pagination_suivant {
    display: none;
}

div .galerie_playlist .visionneuse_pagination {
    display: none;
}

div .galerie_playlist .visionneuse_pagination.visionneuse_pagination--show {
    display: table;
}

.ficheaccueil [class^="row--"]:empty {
    display: none;
}

.ficheaccueil [class^="row--"] {}

.ficheaccueil #page,
.ficheaccueil #page_deco,
.ficheaccueil #contenu_sans_nav_sans_encadres {
    max-width: 100%;
    width: 100%;
}

.ficheaccueil .layout_wrapper {
    height: 100%;
    display: flex;
    min-height: 1.1rem;
    max-width: 80rem;
    margin: 0 auto;
}

.ficheaccueil .width-col-all--12>div:not(.row--0) {}

.ficheaccueil .width-col-all--12 .width-colspan--4 {
    width: calc((100% / 12) * 4);
}

.ficheaccueil .width-col-all--12 .width-colspan--3 {
    width: calc((100% / 12) * 3);
}

.ficheaccueil .width-col-all--12 .width-colspan--2 {
    width: calc((100% / 12) * 2);
}

:root {
    --var-liste-actu-couleur-fond-bloc: transparent;
}

.contenu ul.liste-actualites-style-0010 li.listactu__actu {
    padding: 0;
    width: 20rem;
    background-color: var(--var-liste-actu-couleur-fond-bloc);
    margin-bottom: 0;
    transition: transform .2s ease-in-out;
}

.contenu ul.liste-actualites-style-0010 li.listactu__actu:hover {
    transform: translateY(-1rem);
}

.contenu ul.liste-actualites-style-0010 li.listactu__actu::before {
    content: none;
}

.liste-actualites-style-0010 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    padding: 1rem 0;
    list-style: none;
    row-gap: 2rem;
}

.liste-actualites-style-0010 .listactu__vignette {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
}

.liste-actualites-style-0010 .listactu__type {
    border: 1px solid #cdcdcd;
    border-radius: 1000px;
    padding: 0 0.5rem;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 900;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: calc(100% - 2rem);
    align-self: flex-start;
    margin: 0 1rem;
}

.liste-actualites-style-0010 .listactu__type:first-child {
    margin-top: 1rem;
}

.liste-actualites-style-0010 .listactu__titre {
    font-weight: bold;
    font-size: 100%;
    margin: 0 1rem;
    text-transform: unset;
}

.liste-actualites-style-0010 .listactu__resume {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin: 0 1rem;
}

.liste-actualites-style-0010 .listactu__link {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 0.5rem;
    color: currentColor;
    height: 100%;
}

.liste-actualites-style-0010 .listactu__lireplus {
    align-self: end;
    margin: auto 1rem 1rem;
}

.liste-actualites-style-0010 .listactu__lireplus:hover {
    text-decoration: underline;
}

@media screen and (max-width:767px) {
    .liste-actualites-style-0010 .contenu ul li.listactu__actu {
        width: 100%;
    }
}

.contenu ul li.listevent__event::before {
    content: none;
}

.listevent.listevent-style-0001 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    padding: 1rem 0;
    list-style: none;
    row-gap: 2rem;
    font-size: 1rem;
}

@media screen and (max-width:767px) {
    .listevent.listevent-style-0001 {
        flex-direction: column;
    }
}

.listevent.listevent-style-0001 .listevent__event {
    width: 33%;
    transition: transform .2s ease-in-out;
}

.listevent.listevent-style-0001 .listevent__event:hover {
    transform: translateY(-0.5rem);
}

@media screen and (max-width:767px) {
    .listevent.listevent-style-0001 .listevent__event {
        width: 100%;
    }
}

.listevent.listevent-style-0001 .listevent__event:last-child {
    margin-bottom: unset;
}

.listevent.listevent-style-0001 .listevent__link {
    display: flex;
    color: black;
    height: 100%;
    gap: 2rem;
    align-items: center;
}

.listevent.listevent-style-0001 .listevent__date {
    border-bottom: 2px solid black;
    text-transform: uppercase;
    font-weight: bold;
    align-self: end;
    padding-right: 1rem;
}

.listevent.listevent-style-0001 .listevent__info {
    display: flex;
    flex-direction: column;
}

.listevent.listevent-style-0001 .listevent__date--debut {
    display: block;
}

.listevent.listevent-style-0001 .listevent__date--fin::before {
    content: ">";
    padding-right: 0.3rem;
}

.listevent.listevent-style-0001 .listevent__categories {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    justify-content: end;
    flex-grow: 1;
    padding-bottom: 0.8rem;
}

.listevent.listevent-style-0001 .listevent__categories .listevent__category {
    border: 1px solid currentColor;
    border-radius: 1000px;
    padding: 0 0.5rem;
    text-transform: uppercase;
    font-size: .8rem;
    font-weight: 900;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;
    align-self: flex-start;
}

.listevent.listevent-style-0001 .listevent__title {
    text-transform: unset;
    margin: 0;
    font-size: 1rem;
}

.listevent.listevent-style-0001 .listevent__title:hover {
    text-decoration: underline;
}

:root {
    --var-couleur-fond-carte-liens: initial;
    --var-couleur-tags-carte-liens: initial;
    --var-couleur-lien-carte-liens: initial;
    --var-couleur-sous-titre-carte-liens: initial;
    --var-couleur-fond-carte-slideshow: initial;
    --var-couleur-texte-carte-slideshow: initial;
    --var-couleur-fond-carte-toolbox: initial;
    --var-couleur-titre-carte-toolbox: initial;
    --var-couleur-texte-carte-toolbox: initial;
    --var-couleur-lien-carte-toolbox: initial;
    --var-couleur-fond-carte-video: initial;
    --var-couleur-titre-carte-video: initial;
    --var-couleur-fond-carte-partenaires: initial;
    --var-couleur-titre-carte-partenaires: initial;
    --var-couleur-fond-carte-chiffres-cles: initial;
    --var-couleur-titre-carte-chiffres-cles: initial;
    --var-couleur-mots-cles-carte-chiffres-cles: initial;
}

.card {
    padding: 1rem;
}

.card.liensCard {
    display: flex;
    align-items: end;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    background-color: var(--var-couleur-fond-carte-liens);
}

.card.liensCard .lien-section {
    width: calc((100% - 2rem) / 3);
    min-width: 15rem;
}

.card.liensCard .lien__contenu-section {
    position: relative;
    min-height: 15rem;
}

.card.liensCard .lien__contenu-section .lien__contenu-titre {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--var-couleur-fond-carte-liens);
    width: 80%;
    height: 70%;
    border: 1rem solid transparent;
    overflow: hidden;
}

.card.liensCard .lien__contenu-section .lien__contenu-titre .lien__intitule-lien {
    color: var(--var-couleur-lien-carte-liens);
    padding: 0;
    margin: 0;
}

.card.liensCard .lien__contenu-section .lien__contenu-titre .lien__sous-titre {
    text-transform: uppercase;
    color: var(--var-couleur-sous-titre-carte-liens);
    margin-bottom: 0;
}

.card.liensCard .lien__contenu-section .lien__contenu-titre .lien__tags {
    list-style: none;
    padding: 0 0 0.8rem 0;
    margin: 0;
    display: flex;
    justify-content: end;
}

.card.liensCard .lien__contenu-section .lien__contenu-titre .lien__tags .lien__tag {
    color: var(--var-couleur-tags-carte-liens);
    border: 1px solid var(--var-couleur-tags-carte-liens);
    border-radius: 1000px;
    padding: 0 1rem;
    margin: 0;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: bold;
    width: min-content;
    white-space: nowrap;
}

.card.liensCard .lien__contenu-section .lien__contenu-titre .lien__tags .lien__tag::before {
    content: none;
}

.card.liensCard .lien__contenu-section .lien__image {
    width: 100%;
    height: 15rem;
    object-fit: cover;
}

.card.slideshowCard {
    width: 100%;
    position: relative;
    padding-left: 0;
    padding-right: 0;
}

.card.slideshowCard .owl-carousel .owl-item,
.card.slideshowCard .owl-carousel .owl-stage-outer,
.card.slideshowCard .owl-carousel .owl-stage {
    height: 24rem;
}

@media screen and (max-width:767px) {

    .card.slideshowCard .owl-carousel .owl-item,
    .card.slideshowCard .owl-carousel .owl-stage-outer,
    .card.slideshowCard .owl-carousel .owl-stage {
        aspect-ratio: 1/1;
        height: auto;
    }
}

.card.slideshowCard .owl-dots {
    bottom: 2rem;
}

.card.slideshowCard .owl-text-select-on .owl-controls {
    display: none;
}

.card.slideshowCard .slideshowCard-titre {
    margin: 0;
    padding: 0 0 1rem 1rem;
}

.card.slideshowCard .slideshow__item__wrapper {
    height: 24rem;
}

@media screen and (max-width:767px) {
    .card.slideshowCard .slideshow__item__wrapper {
        aspect-ratio: 1/1;
        height: auto;
    }
}

.card.slideshowCard .slideshow__item {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    height: 24rem;
}

@media screen and (max-width:767px) {
    .card.slideshowCard .slideshow__item {
        aspect-ratio: 1/1;
        height: auto;
    }
}

.card.slideshowCard .slideshow__item .item-lien {
    background-color: var(--var-couleur-fond-carte-slideshow);
    border: 1rem solid transparent;
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    width: 40%;
    height: 40%;
    overflow-x: hidden;
}

.card.slideshowCard .slideshow__item .item-lien .item-titre {
    display: inline-block;
    width: min-content;
    white-space: nowrap;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--var-couleur-texte-carte-slideshow);
    padding: 0;
    margin: 0;
}

.card.slideshowCard .slideshow__item .item-lien .item-titre::after {
    content: '';
    width: 100%;
    display: block;
    height: 2px;
    background-color: currentColor;
}

@media screen and (max-width:767px) {
    .card.slideshowCard .slideshow__item .item-lien .item-titre {
        font-size: 1rem;
    }
}

.card.slideshowCard .slideshow__item .item-lien .item-soustitre {
    color: var(--var-couleur-texte-carte-slideshow);
    text-transform: uppercase;
}

@media screen and (max-width:767px) {
    .card.slideshowCard .slideshow__item .item-lien .item-soustitre {
        font-size: 0.8rem;
    }
}

@media screen and (max-width:500px) {
    .card.slideshowCard .slideshow__item .item-lien .item-soustitre {
        display: none;
    }
}

.card.slideshowCard .slideshow__item .item-lien .item-lien_arrow {
    display: flex;
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    box-sizing: content-box;
    padding: 0.5rem;
    font-size: 1.5rem;
    color: var(--var-couleur-texte-carte-slideshow);
    border-radius: 100%;
    background-color: rgba(220, 220, 220, 0.9);
    width: 1.5rem;
    height: 1.5rem;
}

@media screen and (max-width:767px) {
    .card.slideshowCard .slideshow__item .item-lien .item-lien_arrow {
        width: 1rem;
        height: 1rem;
        bottom: calc(2rem + 15%);
        right: -4rem;
        background-color: var(--var-couleur-fond-carte-slideshow);
    }
}

.card.slideshowCard .slideshow__item .item-lien:hover {
    box-shadow: 0 0 5px var(--var-couleur-texte-carte-slideshow);
}

.card.toolboxCouleurCard {
    background-color: var(--var-couleur-fond-carte-toolbox);
}

.card.toolboxCouleurCard .toolbox-couleur__titre {
    color: var(--var-couleur-titre-carte-toolbox);
}

.card.toolboxCouleurCard .toolbox-couleur__contenu {
    color: var(--var-couleur-texte-carte-toolbox);
}

.card.toolboxCouleurCard .toolbox-couleur__contenu img {
    box-sizing: content-box;
    max-width: 100%;
}

.card.toolboxCouleurCard .toolbox-couleur__lien {
    color: var(--var-couleur-lien-carte-toolbox);
    padding-top: 1rem;
    clear: both;
    display: flex;
    justify-content: end;
}

.card.toolboxCouleurCard .toolbox-couleur__lien>a {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--var-couleur-lien-carte-toolbox);
}

.card.toolboxCouleurCard .toolbox-couleur__lien>a:hover {
    text-decoration: underline;
}

.card.toolboxCouleurCard .toolbox-couleur__lien .toolbox-couleur__lien-arrow {
    width: 1.5rem;
    height: 1.5rem;
    box-sizing: content-box;
    padding: 0.5rem;
    font-size: 1.5rem;
    color: var(--var-couleur-fond-carte-toolbox-no-alpha);
    fill: var(--var-couleur-fond-carte-toolbox-no-alpha);
    border-radius: 100%;
    background-color: var(--var-couleur-lien-carte-toolbox);
}

@media screen and (max-width:767px) {
    .card.toolboxCouleurCard .toolbox-couleur__lien .toolbox-couleur__lien-arrow {
        width: 1rem;
        height: 1rem;
    }
}

.card.videoCard {
    background-color: var(--var-couleur-fond-carte-video);
}

.card.videoCard .video__titre {
    color: var(--var-couleur-titre-carte-video);
}

.card.videoCard .video__container {
    display: flex;
    justify-content: center;
}

.card.videoCard .video__container .video__video-iframe {
    width: 480px;
    height: 270px;
    max-width: 100%;
}

.card.videoCard .video__contenu {
    text-align: center;
}

.card.partenairesCard {
    background-color: var(--var-couleur-fond-carte-partenaires);
}

.card.partenairesCard .partenaires__titre {
    color: var(--var-couleur-titre-carte-partenaires);
}

.card.partenairesCard .partenaires__liste {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem 1rem;
    padding: 0;
    margin: 0;
}

.card.partenairesCard .partenaires__liste .partenaire__item::before {
    content: none;
}

.card.partenairesCard .partenaires__liste .partenaire__item {
    width: calc((100% - 7rem) / 8);
    min-width: 15rem;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.card.partenairesCard .partenaires__liste .partenaire__item .partenaire__lien {
    color: var(--var-couleur-titre-carte-partenaires);
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
}

.card.partenairesCard .partenaires__liste .partenaire__item .partenaire__image::before {
    background-color: transparent;
    color: var(--var-couleur-titre-carte-partenaires);
}

.card.partenairesCard .partenaires__liste .partenaire__item .partenaire__image {
    aspect-ratio: 1/1;
    object-fit: contain;
    width: 100%;
    padding: 0;
    margin: 0;
}

.card.partenairesCard .partenaires__liste .partenaire__item .partenaire__placeholder {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card.chiffresClesCard {
    background-color: var(--var-couleur-fond-carte-chiffres-cles);
}

.card.chiffresClesCard .chiffres-cles__titre {
    color: var(--var-couleur-titre-carte-chiffres-cles);
}

.card.chiffresClesCard .chiffres-cles__liste {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem 1rem;
}

.card.chiffresClesCard .chiffres-cles__liste .chiffre-cle__item::before {
    content: none;
}

.card.chiffresClesCard .chiffres-cles__liste .chiffre-cle__item {
    width: calc((100% - 3rem) / 4);
    min-width: 15rem;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.card.chiffresClesCard .chiffres-cles__liste .chiffre-cle__item .chiffre-cle__lien {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10rem;
    color: var(--var-couleur-mots-cles-carte-chiffres-cles);
}

.card.chiffresClesCard .chiffres-cles__liste .chiffre-cle__item .chiffre-cle__lien .chiffre-cle__pictogramme {
    aspect-ratio: 1/1;
    object-fit: cover;
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card.chiffresClesCard .chiffres-cles__liste .chiffre-cle__item .chiffre-cle__lien .chiffre-cle__pictogramme::before {
    background-color: transparent;
    color: var(--var-couleur-mots-cles-carte-chiffres-cles);
}

.card.chiffresClesCard .chiffres-cles__liste .chiffre-cle__item .chiffre-cle__lien .chiffre-cle__donnee {
    color: var(--var-couleur-mots-cles-carte-chiffres-cles);
    padding: 0;
    margin: 0;
    font-size: 1.5em;
    line-height: 1.5em;
}

.card.chiffresClesCard .chiffres-cles__liste .chiffre-cle__item .chiffre-cle__lien .chiffre-cle__mot-cle {
    font-size: 0.8em;
    line-height: 0.8em;
    margin-top: auto;
}

.card.chiffresClesCard {
    background-color: var(--var-couleur-fond-carte-chiffres-cles);
}

.card.chiffresClesCard .chiffres-cles__titre {
    color: var(--var-couleur-titre-carte-chiffres-cles);
}

.card.chiffresClesCard .chiffres-cles__liste {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem 1rem;
}

.card.chiffresClesCard .chiffres-cles__liste .chiffre-cle__item::before {
    content: none;
}

.card.chiffresClesCard .chiffres-cles__liste .chiffre-cle__item {
    width: calc((100% - 3rem) / 4);
    min-width: 15rem;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.card.chiffresClesCard .chiffres-cles__liste .chiffre-cle__item .chiffre-cle__lien {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10rem;
    color: var(--var-couleur-mots-cles-carte-chiffres-cles);
}

.card.chiffresClesCard .chiffres-cles__liste .chiffre-cle__item .chiffre-cle__lien .chiffre-cle__pictogramme {
    aspect-ratio: 1/1;
    object-fit: cover;
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card.chiffresClesCard .chiffres-cles__liste .chiffre-cle__item .chiffre-cle__lien .chiffre-cle__pictogramme::before {
    background-color: transparent;
    color: var(--var-couleur-mots-cles-carte-chiffres-cles);
}

.card.chiffresClesCard .chiffres-cles__liste .chiffre-cle__item .chiffre-cle__lien .chiffre-cle__donnee {
    color: var(--var-couleur-mots-cles-carte-chiffres-cles);
    padding: 0;
    margin: 0;
    font-size: 1.5em;
    line-height: 1.5em;
}

.card.chiffresClesCard .chiffres-cles__liste .chiffre-cle__item .chiffre-cle__lien .chiffre-cle__mot-cle {
    font-size: 0.8em;
    line-height: 0.8em;
    margin-top: auto;
}

.card.liensCard {
    display: flex;
    align-items: end;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    background-color: var(--var-couleur-fond-carte-liens);
}

.card.liensCard .lien-section {
    width: calc((100% - 2rem) / 3);
    min-width: 15rem;
}

.card.liensCard .lien__contenu-section {
    position: relative;
    min-height: 15rem;
}

.card.liensCard .lien__contenu-section .lien__contenu-titre {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--var-couleur-fond-carte-liens);
    width: 80%;
    height: 70%;
    border: 1rem solid transparent;
    overflow: hidden;
}

.card.liensCard .lien__contenu-section .lien__contenu-titre .lien__intitule-lien {
    color: var(--var-couleur-lien-carte-liens);
    padding: 0;
    margin: 0;
}

.card.liensCard .lien__contenu-section .lien__contenu-titre .lien__sous-titre {
    text-transform: uppercase;
    color: var(--var-couleur-sous-titre-carte-liens);
    margin-bottom: 0;
}

.card.liensCard .lien__contenu-section .lien__contenu-titre .lien__tags {
    list-style: none;
    padding: 0 0 0.8rem 0;
    margin: 0;
    display: flex;
    justify-content: end;
}

.card.liensCard .lien__contenu-section .lien__contenu-titre .lien__tags .lien__tag {
    color: var(--var-couleur-tags-carte-liens);
    border: 1px solid var(--var-couleur-tags-carte-liens);
    border-radius: 1000px;
    padding: 0 1rem;
    margin: 0;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: bold;
    width: min-content;
    white-space: nowrap;
}

.card.liensCard .lien__contenu-section .lien__contenu-titre .lien__tags .lien__tag::before {
    content: none;
}

.card.liensCard .lien__contenu-section .lien__image {
    width: 100%;
    height: 15rem;
    object-fit: cover;
}

.card.partenairesCard {
    background-color: var(--var-couleur-fond-carte-partenaires);
}

.card.partenairesCard .partenaires__titre {
    color: var(--var-couleur-titre-carte-partenaires);
}

.card.partenairesCard .partenaires__liste {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem 1rem;
    padding: 0;
    margin: 0;
}

.card.partenairesCard .partenaires__liste .partenaire__item::before {
    content: none;
}

.card.partenairesCard .partenaires__liste .partenaire__item {
    width: calc((100% - 7rem) / 8);
    min-width: 15rem;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.card.partenairesCard .partenaires__liste .partenaire__item .partenaire__lien {
    color: var(--var-couleur-titre-carte-partenaires);
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
}

.card.partenairesCard .partenaires__liste .partenaire__item .partenaire__image::before {
    background-color: transparent;
    color: var(--var-couleur-titre-carte-partenaires);
}

.card.partenairesCard .partenaires__liste .partenaire__item .partenaire__image {
    aspect-ratio: 1/1;
    object-fit: contain;
    width: 100%;
    padding: 0;
    margin: 0;
}

.card.partenairesCard .partenaires__liste .partenaire__item .partenaire__placeholder {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card.slideshowCard {
    width: 100%;
    position: relative;
    padding-left: 0;
    padding-right: 0;
}

.card.slideshowCard .owl-carousel .owl-item,
.card.slideshowCard .owl-carousel .owl-stage-outer,
.card.slideshowCard .owl-carousel .owl-stage {
    height: 24rem;
}

@media screen and (max-width:767px) {

    .card.slideshowCard .owl-carousel .owl-item,
    .card.slideshowCard .owl-carousel .owl-stage-outer,
    .card.slideshowCard .owl-carousel .owl-stage {
        aspect-ratio: 1/1;
        height: auto;
    }
}

.card.slideshowCard .owl-dots {
    bottom: 2rem;
}

.card.slideshowCard .owl-text-select-on .owl-controls {
    display: none;
}

.card.slideshowCard .slideshowCard-titre {
    margin: 0;
    padding: 0 0 1rem 1rem;
}

.card.slideshowCard .slideshow__item__wrapper {
    height: 24rem;
}

@media screen and (max-width:767px) {
    .card.slideshowCard .slideshow__item__wrapper {
        aspect-ratio: 1/1;
        height: auto;
    }
}

.card.slideshowCard .slideshow__item {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    height: 24rem;
}

@media screen and (max-width:767px) {
    .card.slideshowCard .slideshow__item {
        aspect-ratio: 1/1;
        height: auto;
    }
}

.card.slideshowCard .slideshow__item .item-lien {
    background-color: var(--var-couleur-fond-carte-slideshow);
    border: 1rem solid transparent;
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    width: 40%;
    height: 40%;
    overflow-x: hidden;
}

.card.slideshowCard .slideshow__item .item-lien .item-titre {
    display: inline-block;
    width: min-content;
    white-space: nowrap;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--var-couleur-texte-carte-slideshow);
    padding: 0;
    margin: 0;
}

.card.slideshowCard .slideshow__item .item-lien .item-titre::after {
    content: '';
    width: 100%;
    display: block;
    height: 2px;
    background-color: currentColor;
}

@media screen and (max-width:767px) {
    .card.slideshowCard .slideshow__item .item-lien .item-titre {
        font-size: 1rem;
    }
}

.card.slideshowCard .slideshow__item .item-lien .item-soustitre {
    color: var(--var-couleur-texte-carte-slideshow);
    text-transform: uppercase;
}

@media screen and (max-width:767px) {
    .card.slideshowCard .slideshow__item .item-lien .item-soustitre {
        font-size: 0.8rem;
    }
}

@media screen and (max-width:500px) {
    .card.slideshowCard .slideshow__item .item-lien .item-soustitre {
        display: none;
    }
}

.card.slideshowCard .slideshow__item .item-lien .item-lien_arrow {
    display: flex;
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    box-sizing: content-box;
    padding: 0.5rem;
    font-size: 1.5rem;
    color: var(--var-couleur-texte-carte-slideshow);
    border-radius: 100%;
    background-color: rgba(220, 220, 220, 0.9);
    width: 1.5rem;
    height: 1.5rem;
}

@media screen and (max-width:767px) {
    .card.slideshowCard .slideshow__item .item-lien .item-lien_arrow {
        width: 1rem;
        height: 1rem;
        bottom: calc(2rem + 15%);
        right: -4rem;
        background-color: var(--var-couleur-fond-carte-slideshow);
    }
}

.card.slideshowCard .slideshow__item .item-lien:hover {
    box-shadow: 0 0 5px var(--var-couleur-texte-carte-slideshow);
}

.card.toolboxCouleurCard {
    background-color: var(--var-couleur-fond-carte-toolbox);
}

.card.toolboxCouleurCard .toolbox-couleur__titre {
    color: var(--var-couleur-titre-carte-toolbox);
}

.card.toolboxCouleurCard .toolbox-couleur__contenu {
    color: var(--var-couleur-texte-carte-toolbox);
}

.card.toolboxCouleurCard .toolbox-couleur__contenu img {
    box-sizing: content-box;
    max-width: 100%;
}

.card.toolboxCouleurCard .toolbox-couleur__lien {
    color: var(--var-couleur-lien-carte-toolbox);
    padding-top: 1rem;
    clear: both;
    display: flex;
    justify-content: end;
}

.card.toolboxCouleurCard .toolbox-couleur__lien>a {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--var-couleur-lien-carte-toolbox);
}

.card.toolboxCouleurCard .toolbox-couleur__lien>a:hover {
    text-decoration: underline;
}

.card.toolboxCouleurCard .toolbox-couleur__lien .toolbox-couleur__lien-arrow {
    width: 1.5rem;
    height: 1.5rem;
    box-sizing: content-box;
    padding: 0.5rem;
    font-size: 1.5rem;
    color: var(--var-couleur-fond-carte-toolbox-no-alpha);
    fill: var(--var-couleur-fond-carte-toolbox-no-alpha);
    border-radius: 100%;
    background-color: var(--var-couleur-lien-carte-toolbox);
}

@media screen and (max-width:767px) {
    .card.toolboxCouleurCard .toolbox-couleur__lien .toolbox-couleur__lien-arrow {
        width: 1rem;
        height: 1rem;
    }
}

.card.videoCard {
    background-color: var(--var-couleur-fond-carte-video);
}

.card.videoCard .video__titre {
    color: var(--var-couleur-titre-carte-video);
}

.card.videoCard .video__container {
    display: flex;
    justify-content: center;
}

.card.videoCard .video__container .video__video-iframe {
    width: 480px;
    height: 270px;
    max-width: 100%;
}

.card.videoCard .video__contenu {
    text-align: center;
}

.mfp-counter {
    display: none;
}

.mfp-title {
    color: #F3F3F3;
    line-height: 18px;
    padding: .5em;
    text-align: left;
    word-wrap: break-word;
}

.mfp-title .titre_corps {
    font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, "Bitstream Vera Sans", sans-serif;
    font-weight: 700;
    margin: 0 0 .5em;
}

.mfp-title .style1_media_legende {
    font-size: .9em;
    margin: 0 0 .5em;
}

.mfp-bottom-bar {
    bottom: 40px;
    cursor: auto;
    left: 0;
    position: absolute;
    width: 100%;
    margin-top: 0;
    top: inherit;
}

div.visionneuse_contenu {
    position: relative;
}

div.visionneuse_contenu h2 {
    display: none;
}

div.galerie_player {
    background-color: #000;
    margin: auto;
}

div .galerie_playlist {
    text-align: center;
}

div .galerie_playlist .visionneuse_pagination {
    display: table;
    position: relative;
    width: 100%;
}

div .galerie_playlist .visionneuse_pagination .pagination_contenu {
    display: table-cell;
    margin: .4em;
    vertical-align: middle;
    width: 85%;
}

div .galerie_playlist .visionneuse_pagination .pagination_contenu div {
    min-height: auto;
}

@media screen and (min-width:61.8125em) {
    div .galerie_playlist .visionneuse_pagination .pagination_contenu div {
        min-height: auto;
    }
}

div .galerie_playlist .visionneuse_pagination .pagination_contenu div:before,
div .galerie_playlist .visionneuse_pagination .pagination_contenu div:after {
    content: " ";
    display: table;
}

div .galerie_playlist .visionneuse_pagination .pagination_contenu div:after {
    clear: both;
}

div .galerie_playlist .visionneuse_pagination .pagination_aucune img {
    vertical-align: bottom;
}

div .galerie_playlist .visionneuse_pagination .pagination_droite,
div .galerie_playlist .visionneuse_pagination .pagination_suivant {
    display: table-cell;
    vertical-align: middle;
}

div .galerie_playlist .visionneuse_pagination .pagination_gauche,
div .galerie_playlist .visionneuse_pagination .pagination_precedent {
    display: table-cell;
    vertical-align: middle;
}

div .galerie_playlist .visionneuse_pagination .footer {
    text-align: center;
    display: none;
}

div .galerie_playlist .visionneuse_pagination .style1_media_legende {
    display: none;
}

div .galerie_playlist .visionneuse_pagination .style1_media_titre-source {
    display: none;
}

div .galerie_playlist ul.visionneuse_pagination {
    position: relative;
    list-style: none;
    margin: 0 0 1em;
    padding: 0;
}

div .galerie_playlist ul.visionneuse_pagination li {
    border-bottom: 1px dotted #ccc;
    margin: 0 0 .7em;
    padding: 0 0 .7em;
}

div .galerie_playlist ul.visionneuse_defaut {
    margin: 0;
    padding: 0;
}

div .galerie_playlist ul.visionneuse_defaut li {
    background: #eee;
    list-style: none;
    margin: 0 0 5px;
    padding: 5px;
}

div .galerie_playlist p.visionneuse_defaut_titre {
    border: solid 2px #828282;
    margin: 0;
    padding: 3px;
}

div.galerie_onglet h2 {
    display: none;
}

div.galerie_onglet ul.galerie_onglets {
    background: #fff;
    border-bottom: 2px solid #999;
    font-weight: 700;
    list-style: none;
    margin: .5em 0 1em;
    padding: 0 0 .2em;
}

div.galerie_onglet ul.galerie_onglets li {
    background: #eee;
    border: 2px solid;
    border-bottom: 0;
    color: #999;
    cursor: pointer;
    display: inline;
    margin: 0 1em 0 0;
    padding: .2em .5em;
}

div.visionneuse_tele_player {
    text-align: center;
}

div.visionneuse_tele_player div {
    margin: auto;
}

div.style1_media {
    width: 100%;
    float: left;
    font-size: .9em;
    text-align: left;
}

@media screen and (min-width:50em) {
    div.style1_media {
        width: 100%;
    }
}

div.style1_media a.lanceur_media {
    background: #fff;
    color: #443B43;
    display: block;
    text-align: center;
    text-decoration: none;
}

div.style1_media a.lanceur_media .style1_media_titre .titre_corps {
    background: none repeat scroll 0 0 rgba(64, 72, 73, 0.6);
    height: auto;
    color: #fff;
    height: auto;
    line-height: 2;
    width: auto;
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    width: 100%;
    margin: 0;
}

div.player_audio {
    display: block;
    text-align: center;
}

div.player_audio * {
    vertical-align: middle;
}

div.player_flash {
    background-color: #000;
}

div.contenu .showcase {
    height: 170px;
    margin: 20px auto 0;
    position: relative;
    width: 500px;
}

div.contenu .showcase a.controls {
    border: 2px solid #FFF;
    font-weight: 700;
    height: 50px;
    line-height: 50px;
    margin-top: -27px;
    position: absolute;
    text-align: center;
    top: 45%;
    width: 20px;
}

div.contenu .showcase a.controls img {
    vertical-align: middle;
}

div.contenu .showcase a.controls:hover {
    border-color: #2097FA;
}

div.contenu .showcase a.previous {
    padding-bottom: 4px;
}

div.contenu .showcase a.next {
    padding-top: 4px;
    right: 0;
}

div.contenu .showcase ul {
    height: 170px;
    margin: 0 auto;
    position: relative;
    width: 290px;
}

div.contenu .showcase ul li {
    float: left;
    height: 170px;
    list-style-type: none;
    width: 50px;
}

div.contenu .showcase li a img {
    border: 0;
}

.no-js .galerie_playlist .visionneuse_pagination .pagination_aucune,
.no-js .galerie_playlist .visionneuse_pagination .pagination_droite,
.no-js .galerie_playlist .visionneuse_pagination .pagination_suivant,
.no-js .galerie_playlist .visionneuse_pagination .pagination_gauche,
.no-js .galerie_playlist .visionneuse_pagination .pagination_precedent {
    display: none;
}

p.galerie_titre {
    font-size: 1.4em;
    font-weight: 700;
}

p.player_photo {
    background-color: #000;
}

p.player_photo img {
    margin: auto;
}

div.galerie_onglet ul.galerie_onglets li.bouton_focus,
div.galerie_onglet ul.galerie_onglets li.bouton_focus:hover,
div.galerie_onglet ul.galerie_onglets li:hover {
    background: #fff;
    border-color: #999;
    color: #000;
    padding-bottom: 4px;
}

.lanceur_media {
    cursor: pointer;
}

span.style1_media_vignette {
    display: inline-block;
    overflow: hidden;
    text-align: center;
    margin: .8em;
    position: relative;
    height: auto !important;
}

span.style1_media_vignette img {
    vertical-align: middle;
}

ul.visionneuse_defaut div.style1_media {
    margin: 0;
}

ul.visionneuse_defaut div.style1_media a.lanceur_media {
    float: left;
    margin: 0 10px 0 0;
    width: 150px;
}

ul.visionneuse_defaut li,
ul.visionneuse_defaut span.style1_media_contenu {
    overflow: auto;
}

.mediaStyleSimple img {
    background-color: black;
    vertical-align: middle;
}

.mfp-content .mfp-iframe-scaler .mfp-counter,
.mfp-content .mfp-iframe-scaler .mfp-title {
    margin-top: 40px !important;
}

.mfp-content .audio {
    width: 20% !important;
}

.galeriePagination3x3 .style1_media {
    display: inline-block;
    overflow: hidden;
}

.galeriePagination3x3 .style1_media img {
    max-width: 100%;
}

.galeriePagination3x3 .style1_media {
    width: 33.333%;
}

.galeriePagination4x4 .style1_media {
    width: 25%;
}

#complements .pagination_aucune,
#complements .pagination_gauche,
#complements .pagination_droite,
#complements .pagination_suivant {
    display: none;
}

div .galerie_playlist .visionneuse_pagination {
    display: none;
}

div .galerie_playlist .visionneuse_pagination.visionneuse_pagination--show {
    display: table;
}