@charset "UTF-8";

#acces_direct_accessibilite {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

#acces_direct_accessibilite li {
    display: inline-block;
    padding: 0 0.2rem;
}

#acces_direct_accessibilite li:not(:last-child) {
    border-right: 1px solid #000;
}

#acces_direct_accessibilite:focus-within {
    position: static;
    overflow: visible;
    clip: auto;
    width: auto;
    height: auto;
}

#profils_preferences {
    height: 2.5rem !important;
    font-size: 0.75rem !important;
}

#connexion a#se_connecter,
#connexion p#se_deconnecter {
    font-size: 0.8rem !important;
}

.UEI_title,
.AR_title,
.UEI_title_js,
.AR_title_js,
#connexion p#se_deconnecter,
#connexion a#se_connecter,
#outil_intranet li i.fa-2x {
    line-height: 2.5rem !important;
}

#outil_intranet,
#logo_lyon1,
#logo_lyon1 img,
#logo_comue img,
#logo_comue,
#logo_arqus img,
#logo_arqus {
    height: 2.5rem !important;
}

div.visuel-rubrique {
    position: relative;
    background-repeat: no-repeat;
    background-position: 50% 0;
    opacity: 1;
    background-size: cover;
    overflow: hidden;
    min-height: 12rem;
}

#bandeau_menu {
    margin: 0 auto;
    width: 61.8125em;
}

.visuel-rubrique #entete {
    width: 13.125rem;
    height: 7.5rem;
    padding-left: 0.625rem;
    position: absolute;
    border: 8px solid rgba(255, 255, 255, 0.3);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    padding-top: 0.625rem;
}

#entete {
    width: 15.25rem;
    height: 6.25rem;
    position: absolute;
    padding: 1.25rem;
    top: 1.5625rem;
}

.visuel-rubrique #entete a {
    color: #FFF;
    line-height: 2.5rem;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0rem;
    text-transform: uppercase;
}

.visuel-rubrique #entete a:hover {
    text-decoration: none;
}

.visuel-rubrique:focus,
.visuel-rubrique #entete:focus,
.visuel-rubrique #entete a:focus,
.visuel-rubrique #entete a img:focus {
    border: 0;
    background: 0;
    outline: none;
}

#containerMenu {
    background: #403e3f;
    box-shadow: 0px 8px 19px -4px #c7c7c7;
    -webkit-box-shadow: 0px 8px 19px -4px #c7c7c7;
    -moz-box-shadow: 0px 8px 19px -4px #c7c7c7;
}

#menu {
    color: #fff;
    height: 3.5rem;
    margin: 0 auto;
    display: block;
    position: relative;
}

#nav {
    float: left;
    height: 3.5rem;
    overflow-y: hidden;
}

#cssmenu ul ul {
    background: #5e5e5e;
}

#cssmenu ul ul li {
    padding: 3px 0;
    float: none;
}

#cssmenu>ul>li>a {
    text-transform: uppercase;
    color: #ffffff;
}

#menu #cssmenu ul li ul li.niv2 {
    text-transform: none;
}

#cssmenu ul li ul li.niv1.first {
    min-width: inline-block;
    min-width: 85%;
}

#cssmenu ul li ul li.niv1.first,
#cssmenu ul li ul li.niv1.closeMenu {
    display: inline-block;
}

#cssmenu ul li ul li.niv1.closeMenu {
    position: relative;
    width: auto;
    min-width: 10%;
    margin-right: 0;
    padding: 0;
}

#cssmenu ul li ul li.niv1.closeMenu .likelinkMenu {
    line-height: 2rem;
    margin-top: 0;
    padding: 0.1875rem 0.5rem;
}

#cssmenu ul li ul li.niv1.first a,
#cssmenu ul li ul li.niv2 a {
    text-transform: none;
}

#cssmenu ul li ul.niv1 li.niv1.acc a {
    padding: 0.4rem 4rem 0.4rem 0.4rem;
    color: #5E5E5E;
}

#cssmenu ul li ul li.niv1,
#cssmenu ul li ul li.niv2 {
    margin-right: 0;
}

#cssmenu ul li ul.niv1 li.niv1.acc a:hover {
    color: #DE3E0E;
    background-color: transparent;
}

#cssmenu ul li ul.niv1 li.niv1.acc p {
    margin-bottom: 0.4rem;
    width: 7rem;
    background-color: #FFF;
}

#cssmenu ul li ul.niv1 li.niv1.acc p {
    margin-right: 1.2rem;
}

#cssmenu ul li ul li.niv1.acc {
    border: none;
}

#cssmenu ul li ul li.niv2 {
    background-color: #787878;
    display: inline-block;
    margin-right: 1%;
    width: 48%;
}

#cssmenu ul li ul li.niv2:hover {
    background-color: #8b8b8b;
}

#cssmenu>ul>li>a:hover {
    text-decoration: none;
}

#cssmenu>ul>li.has-sub>a.mini,
#cssmenu>ul>li.not-yet>a.mini {
    line-height: 2rem;
    height: 2rem;
    font-size: 0.9rem;
    display: inherit;
}

#menu_vousetes_small {
    display: block;
    height: 3.5rem;
    width: auto;
    min-width: 3.75rem;
    position: absolute;
    right: 7.46rem;
    z-index: 10;
    line-height: 1.4rem;
    background-color: #E3541A;
}

#menu_vousetes_small:hover {
    background-color: #797979;
    -webkit-transition: background-color 500ms linear;
    -moz-transition: background-color 500ms linear;
    -o-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}

#menu_vousetes_small .dropdown dd {
    position: relative;
}

#menu_vousetes_small .dropdown dd,
#menu_vousetes_small .dropdown dt {
    padding: 0.5rem 0.5rem 0 0.5rem;
    margin: 0px;
}

#menu_vousetes_small .dropdown ul {
    padding: 0px;
}

#menu_vousetes_small .dropdown a {
    text-decoration: none;
    outline: none;
    color: #fff;
}

#menu_vousetes_small .dropdown span.value {
    display: none;
}

#menu_vousetes_small .dropdown dd ul li a {
    display: block;
    text-align: left;
    line-height: 2rem;
    padding: 5px 0.625rem;
}

#menu_vousetes_small .dropdown dd ul li a:hover {
    background-color: #555;
    color: #fff;
}

#menu_vousetes_small .dropdown li {
    border: 0;
}

#menu_vousetes_small .dropdown .focus a,
#menu_vousetes_small .dropdown .focus a:visited {
    color: #FFF;
    font-weight: 400;
}

#menu_vousetes_small .dropdown dt.focus {
    background: transparent;
    text-align: center;
}

#menu_vousetes_small .dropdown dt a {
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
    display: block;
    width: auto;
}

#menu_vousetes_small .dropdown dt a:before {
    display: block;
    color: #FFF;
    content: "\f007";
    font-family: 'FontAwesome';
    font-weight: 100;
}

#menu_vousetes_small .dropdown dd ul {
    font-weight: bold;
    padding: 0 0.5rem;
    top: 3px;
    display: none;
    left: 0px;
    font-size: 1rem;
    position: absolute;
    max-width: 12.95rem;
    width: 12.95rem;
    list-style: none;
    background-color: #333;
    z-index: 13;
}

#menu_langues {
    position: absolute;
    right: 0;
    height: 3.5rem;
    width: 3.7rem;
    background: #de9606;
    text-transform: uppercase;
    font-family: Helvetica, Arial, Sans-Serif;
}

#menu_langues a:hover {
    background-color: #797979;
    -webkit-transition: background-color 500ms linear;
    -moz-transition: background-color 500ms linear;
    -o-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
    cursor: pointer;
}

#menu_langues li {
    display: inline;
}

#menu_langues li a {
    line-height: 1.9rem;
    padding: 7px 5px;
}

#menu_langues li:last-child {
    border-left: 1px solid #000;
}

#menu_langues .dropdown dd,
#menu_langues .dropdown dt,
#menu_langues .dropdown ul {
    margin: 0px;
    padding: 0px;
}

#menu_langues .dropdown dd {
    position: relative;
    z-index: 3;
}

#menu_langues .dropdown a,
#menu_langues .dropdown a:visited {
    text-decoration: none;
    outline: none;
    color: #fff;
}

#menu_langues .dropdown dt a {
    text-decoration: none;
    padding-top: 0.5rem;
    line-height: 1.65rem;
    font-weight: bold;
    font-size: 0.9rem;
    display: block;
    text-align: center;
}

#menu_langues .dropdown dt a span {
    cursor: pointer;
    display: block;
    padding: 5px;
}

#menu_langues .dropdown dd ul {
    font-weight: bold;
    color: #fff;
    display: none;
    left: 0px;
    font-size: 1rem;
    position: absolute;
    width: 100%;
    list-style: none;
    background-color: #333;
    z-index: 2;
}

#menu_langues .dropdown span.value {
    display: none;
}

#menu_langues .dropdown dd ul li a {
    display: block;
    text-align: center;
    line-height: 2rem;
    padding-top: 1rem;
    padding-bottom: 0;
    font-size: 0.9rem;
}

#menu_langues .dropdown dd ul li a:hover {
    background-color: #555;
}

#menu_langues .dropdown li {
    border: 0;
}

#menu_langues .dropdown li a {
    line-height: 0.2rem;
    padding: 0;
}

.picto-flag {
    max-height: 1.4rem;
    max-width: 1.9rem;
    margin: 0 auto;
    display: block;
}

.rechercheFullText {}

.rechercheFullText .search {
    background-color: #eee;
    padding: 2rem;
    margin-bottom: 2rem;
}

.rechercheFullText .search__field {
    display: flex;
}

.rechercheFullText .search__autocomplete-wrapper-elastic {
    flex: 2 0 0;
}

.rechercheFullText .search__button {
    font-weight: 700;
    border: 1px #aaa solid;
    margin-left: 2px;
}

.rechercheFullText .search__button:hover,
.rechercheFullText .search__button:focus {
    background-color: #d4d4d4;
}

.rechercheFullText .search__result-feedback {
    margin-bottom: 0;
}

.rechercheFullText .search__wrapper,
.rechercheFullText .header-search__wrapper {
    position: relative;
}

.rechercheFullText .search__input.search__input,
.rechercheFullText .header-search__input.header-search__input {
    appearance: none;
    -webkit-appearance: none;
    max-width: 100%;
    border: 2px #aaa solid;
    font-size: 1rem;
}

.rechercheFullText .search__input.search__input {
    padding: 0.5rem 1rem;
    width: 100%;
}

.rechercheFullText .search__input--focused {
    border-color: #444;
}

.rechercheFullText .search__menu {
    width: calc(100% - 4px);
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #fff;
    border: 2px solid #444;
    border-top: 0;
    height: 30vh;
    overflow: auto;
}

.rechercheFullText .search__menu--overlay {
    position: absolute;
    top: 100%;
}

.rechercheFullText .search__menu--visible {
    display: block;
}

.rechercheFullText .search__menu--hidden {
    display: none;
}

.rechercheFullText .search__option {
    padding: .2rem .5rem;
}

.rechercheFullText .search__option:hover,
.rechercheFullText .search__option:focus,
.rechercheFullText .search__option--focused {
    background-color: #444;
    color: #fff;
    cursor: default;
}

.rechercheFullText .topic {
    padding: 0;
    border: 0;
    margin-bottom: 1rem;
    background-color: #fff;
}

.rechercheFullText .topic__title {
    font-weight: bold;
    display: block;
    width: 100%;
    padding-bottom: .5rem;
    margin-bottom: .5rem;
    border-bottom: 1px #ddd solid;
}

.rechercheFullText .topic__title--collapsed,
.rechercheFullText .topic__title--opened {
    cursor: default;
}

.rechercheFullText .topic__title--opened:after,
.rechercheFullText .topic__title--collapsed:after {
    float: right;
}

.rechercheFullText .topic__title--collapsed:after {
    content: "+";
}

.rechercheFullText .topic__title--opened:after {
    content: "-";
}

.rechercheFullText .topic__list {
    list-style: none;
    margin-bottom: .5rem;
    padding: 0;
}

.rechercheFullText .topic__list .topic__list {
    margin-left: 1rem;
}

.rechercheFullText .topic__list-item label {
    font-weight: normal;
}

.rechercheFullText .topic__list-item input {
    vertical-align: text-bottom;
}

.rechercheFullText section#js-all-topics {
    float: left;
    margin-right: 5%;
    max-width: 20%;
}

.rechercheFullText section#results {
    width: 100%;
}

.rechercheFullText ul.topic__list label,
.rechercheFullText ul.topic__list .label {
    font-weight: initial;
}

@media(min-width:70rem) {
    .rechercheFullText .results {
        width: 73%;
    }
}

.rechercheFullText .results__list {
    list-style: none;
    padding: 0;
}

.rechercheFullText .results__list-item {
    margin-bottom: 2rem;
}

.rechercheFullText .results__list-item-link {
    font-weight: bold;
    font-size: 1.3rem;
}

.rechercheFullText .results__list-item-description {
    margin-bottom: 0.5rem;
}

.rechercheFullText .results__list-item-meta {
    list-style: none;
    padding: 0;
    font-size: .9rem;
}

.rechercheFullText .results__list-item-meta li {
    display: inline-block;
}

.rechercheFullText .pager__list {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rechercheFullText .pager__list-item {
    padding: 0.2rem;
}

.rechercheFullText .tags {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: .5rem;
}

.rechercheFullText .tag {
    display: inline-block;
    background-color: #fff;
    font-size: .9rem;
    line-height: 1.5;
    padding-top: .2rem;
    padding-right: .5rem;
    padding-bottom: .2rem;
    padding-left: .5rem;
    margin-bottom: .2rem;
}

.rechercheFullText .tag__close {
    border: 0;
    padding: 0;
    text-decoration: none;
}

.rechercheFullText .tag__close:hover,
.rechercheFullText .tag__close:focus {
    background-color: #111;
}

.rechercheFullText .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.rechercheFullText .sr-only-focusable:focus,
.rechercheFullText .sr-only-focusable:active {
    clip: auto !important;
    -webkit-clip-path: none !important;
    clip-path: none !important;
    height: auto !important;
    overflow: visible !important;
    width: auto !important;
    white-space: normal !important;
}

.textLayer {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    opacity: 0.2;
    line-height: 1.0;
}

.textLayer>div {
    color: transparent;
    position: absolute;
    white-space: pre;
    cursor: text;
    -webkit-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
}

.textLayer .highlight {
    margin: -1px;
    padding: 1px;
    background-color: #b400aa;
    border-radius: 4px;
}

.textLayer .highlight.begin {
    border-radius: 4px 0px 0px 4px;
}

.textLayer .highlight.end {
    border-radius: 0px 4px 4px 0px;
}

.textLayer .highlight.middle {
    border-radius: 0px;
}

.textLayer .highlight.selected {
    background-color: darkgreen;
}

.textLayer::selection {
    background: blue;
}

.textLayer::-moz-selection {
    background: blue;
}

.textLayer .endOfContent {
    display: block;
    position: absolute;
    left: 0px;
    top: 100%;
    right: 0px;
    bottom: 0px;
    z-index: -1;
    cursor: default;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
}

.textLayer .endOfContent.active {
    top: 0px;
}

.annotationLayer section {
    position: absolute;
}

.annotationLayer .linkAnnotation>a,
.annotationLayer .buttonWidgetAnnotation.pushButton>a {
    position: absolute;
    font-size: 1em;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.annotationLayer .linkAnnotation>a {
    background: url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7") 0 0 repeat;
}

.annotationLayer .buttonWidgetAnnotation.pushButton>a {
    background: url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7") 0 0 repeat;
}

.annotationLayer .linkAnnotation>a:hover,
.annotationLayer .buttonWidgetAnnotation.pushButton>a:hover {
    opacity: 0.2;
    background: #ff0;
    box-shadow: 0px 2px 10px #ff0;
}

.annotationLayer .textAnnotation img {
    position: absolute;
    cursor: pointer;
}

.annotationLayer .textWidgetAnnotation input,
.annotationLayer .textWidgetAnnotation textarea,
.annotationLayer .choiceWidgetAnnotation select,
.annotationLayer .buttonWidgetAnnotation.checkBox input,
.annotationLayer .buttonWidgetAnnotation.radioButton input {
    background-color: rgba(0, 54, 255, 0.13);
    border: 1px solid transparent;
    box-sizing: border-box;
    font-size: 9px;
    height: 100%;
    margin: 0;
    padding: 0 3px;
    vertical-align: top;
    width: 100%;
}

.annotationLayer .choiceWidgetAnnotation select option {
    padding: 0;
}

.annotationLayer .buttonWidgetAnnotation.radioButton input {
    border-radius: 50%;
}

.annotationLayer .textWidgetAnnotation textarea {
    font: message-box;
    font-size: 9px;
    resize: none;
}

.annotationLayer .textWidgetAnnotation input[disabled],
.annotationLayer .textWidgetAnnotation textarea[disabled],
.annotationLayer .choiceWidgetAnnotation select[disabled],
.annotationLayer .buttonWidgetAnnotation.checkBox input[disabled],
.annotationLayer .buttonWidgetAnnotation.radioButton input[disabled] {
    background: none;
    border: 1px solid transparent;
    cursor: not-allowed;
}

.annotationLayer .textWidgetAnnotation input:hover,
.annotationLayer .textWidgetAnnotation textarea:hover,
.annotationLayer .choiceWidgetAnnotation select:hover,
.annotationLayer .buttonWidgetAnnotation.checkBox input:hover,
.annotationLayer .buttonWidgetAnnotation.radioButton input:hover {
    border: 1px solid #000;
}

.annotationLayer .textWidgetAnnotation input:focus,
.annotationLayer .textWidgetAnnotation textarea:focus,
.annotationLayer .choiceWidgetAnnotation select:focus {
    background: none;
    border: 1px solid transparent;
}

.annotationLayer .buttonWidgetAnnotation.checkBox input:checked:before,
.annotationLayer .buttonWidgetAnnotation.checkBox input:checked:after,
.annotationLayer .buttonWidgetAnnotation.radioButton input:checked:before {
    background-color: #000;
    content: '';
    display: block;
    position: absolute;
}

.annotationLayer .buttonWidgetAnnotation.checkBox input:checked:before,
.annotationLayer .buttonWidgetAnnotation.checkBox input:checked:after {
    height: 80%;
    left: 45%;
    width: 1px;
}

.annotationLayer .buttonWidgetAnnotation.checkBox input:checked:before {
    transform: rotate(45deg);
}

.annotationLayer .buttonWidgetAnnotation.checkBox input:checked:after {
    transform: rotate(-45deg);
}

.annotationLayer .buttonWidgetAnnotation.radioButton input:checked:before {
    border-radius: 50%;
    height: 50%;
    left: 30%;
    top: 20%;
    width: 50%;
}

.annotationLayer .textWidgetAnnotation input.comb {
    font-family: monospace;
    padding-left: 2px;
    padding-right: 0;
}

.annotationLayer .textWidgetAnnotation input.comb:focus {
    width: 115%;
}

.annotationLayer .buttonWidgetAnnotation.checkBox input,
.annotationLayer .buttonWidgetAnnotation.radioButton input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    padding: 0;
}

.annotationLayer .popupWrapper {
    position: absolute;
    width: 20em;
}

.annotationLayer .popup {
    position: absolute;
    z-index: 200;
    max-width: 20em;
    background-color: #FFFF99;
    box-shadow: 0px 2px 5px #333;
    border-radius: 2px;
    padding: 0.6em;
    margin-left: 5px;
    cursor: pointer;
    font: message-box;
    word-wrap: break-word;
}

.annotationLayer .popup h1 {
    font-size: 1em;
    border-bottom: 1px solid #000000;
    margin: 0;
    padding-bottom: 0.2em;
}

.annotationLayer .popup p {
    margin: 0;
    padding-top: 0.2em;
}

.annotationLayer .highlightAnnotation,
.annotationLayer .underlineAnnotation,
.annotationLayer .squigglyAnnotation,
.annotationLayer .strikeoutAnnotation,
.annotationLayer .lineAnnotation svg line,
.annotationLayer .squareAnnotation svg rect,
.annotationLayer .circleAnnotation svg ellipse,
.annotationLayer .polylineAnnotation svg polyline,
.annotationLayer .polygonAnnotation svg polygon,
.annotationLayer .stampAnnotation,
.annotationLayer .fileAttachmentAnnotation {
    cursor: pointer;
}

.pdfViewer .canvasWrapper {
    overflow: hidden;
}

.pdfViewer .page {
    direction: ltr;
    width: 816px;
    height: 1056px;
    margin: 1px auto -8px auto;
    position: relative;
    overflow: visible;
    border: 9px solid transparent;
    background-clip: content-box;
    border-image: url(https://polytech.univ-lyon1.fr/jspStandard/styles/images/shadow.png) 9 9 repeat;
    background-color: white;
}

.pdfViewer.removePageBorders .page {
    margin: 0px auto 10px auto;
    border: none;
}

.pdfViewer.singlePageView {
    display: inline-block;
}

.pdfViewer.singlePageView .page {
    margin: 0;
    border: none;
}

.pdfViewer .page canvas {
    margin: 0;
    display: block;
}

.pdfViewer .page canvas[hidden] {
    display: none;
}

.pdfViewer .page .loadingIcon {
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: url("../../jspStandard/styles/images/loading-icon.gif") center no-repeat;
}

.pdfPresentationMode:-webkit-full-screen .pdfViewer .page {
    margin-bottom: 100%;
    border: 0;
}

.pdfPresentationMode:-moz-full-screen .pdfViewer .page {
    margin-bottom: 100%;
    border: 0;
}

.pdfPresentationMode:-ms-fullscreen .pdfViewer .page {
    margin-bottom: 100% !important;
    border: 0;
}

.pdfPresentationMode:fullscreen .pdfViewer .page {
    margin-bottom: 100%;
    border: 0;
}

.toybox,
.toybox__btn {
    border-radius: 0.16667rem;
}

.toybox,
.toybox__btn {
    background-color: #fff;
    box-shadow: 0 0 0 1px #d7dee2;
    text-decoration: none;
}

.toybox {
    padding: 0.5rem 0.25rem 0.25rem 0.5rem;
    display: flex;
    flex-wrap: wrap;
}

.toybox__btn {
    margin-bottom: 0.25rem;
    margin-right: 0.25rem;
    padding: 0.25rem;
    transition: all .15s;
    color: #0072d3;
}

.toybox__btn[disabled] {
    border: 1px solid #f3f5f6;
    color: #f3f5f6;
}

.toybox__btn:last-child {
    margin-right: 0;
}

.toybox__btn:not([disabled]):focus,
.toybox__btn:not([disabled]):hover {
    box-shadow: 0 0 0 1px #8ea4af;
    background-color: rgba(215, 222, 226, 0.5);
    z-index: 1;
}

.toybox__group {
    display: flex;
    margin-right: 0.5rem;
}

.toybox__group .toybox__btn {
    border: 0;
    margin-right: 0;
}

.toybox__btn--start {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.toybox__btn--end {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.toybox__btn--flow {
    border-radius: 0;
}

.toybox__btn--flow+.toybox__btn--flow {
    border-left: 0;
}

.pdf-viewer {
    background-color: #999;
}

.pdf-viewer__content {
    padding: 1rem 1rem 0 1rem;
    display: flex;
    justify-content: center;
    overflow-x: auto;
}

.pdf-viewer__page {
    position: relative;
    padding-bottom: 1rem;
}

.pdf-viewer__page-input {
    text-align: center;
    border: 0;
    padding: 0;
    width: 3rem;
    background: transparent;
    -moz-appearance: textfield;
}

.pdf-viewer__page-input::-webkit-outer-spin-button,
.pdf-viewer__page-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    left: -999em;
}

.icon.icon--minus,
.icon.icon--plus,
.icon.icon--rot-cw-primary,
.icon.icon--rot-ccw-primary,
.icon.icon--less-than-primary,
.icon.icon--greater-than-primary,
.icon.icon--download-primary {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
    display: inline-block;
    height: 1rem;
    vertical-align: -3px;
    width: 1rem;
    margin: 0;
}

.icon--sm {
    height: .75rem;
    vertical-align: -1px;
    width: .75rem;
}

.icon.icon--minus {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='3 7 16 16' fill='%230072d3'%3E%3Cpath fill-rule='inherit' d='M6 14h10v2H6'/%3E%3C/svg%3E");
}

.icon.icon--plus {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='%230072d3'%3E%3Cg fill-rule='inherit'%3E%3Cpath d='M7 3h2v10H7z'/%3E%3Cpath d='M3 7h10v2H3z'/%3E%3C/g%3E%3C/svg%3E");
}

.icon.icon--rot-cw-primary {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%230072d3'%3E%3Cpath fill='inherit' d='M2.23 2.44A7.68 7.68 0 0 0 0 7.99c0 2.17.78 4.05 2.35 5.62A7.68 7.68 0 0 0 8 15.96c2.18 0 4.06-.78 5.62-2.34a7.67 7.67 0 0 0 2.35-5.63 7.7 7.7 0 0 0-1.9-5.17l-.87.7A6.64 6.64 0 0 1 14.84 8a6.6 6.6 0 0 1-2.02 4.83A6.6 6.6 0 0 1 8 14.84a6.6 6.6 0 0 1-4.84-2.02A6.6 6.6 0 0 1 1.13 8a6.7 6.7 0 0 1 1.9-4.75l1.01 2.24L5.5 0 .03 1.46l2.2.98z'/%3E%3C/svg%3E");
}

.icon.icon--rot-ccw-primary {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%230072d3'%3E%3Cpath fill='inherit' d='M13.73 2.44a7.68 7.68 0 0 1 2.23 5.55c0 2.17-.78 4.05-2.35 5.62a7.68 7.68 0 0 1-5.64 2.35 7.68 7.68 0 0 1-5.62-2.34A7.67 7.67 0 0 1 0 7.99a7.7 7.7 0 0 1 1.9-5.17l.87.7A6.64 6.64 0 0 0 1.12 8c0 1.87.67 3.49 2.02 4.83a6.6 6.6 0 0 0 4.83 2.02 6.6 6.6 0 0 0 4.84-2.02A6.6 6.6 0 0 0 14.83 8a6.7 6.7 0 0 0-1.9-4.75l-1.01 2.24L10.46 0l5.47 1.46-2.2.98z'/%3E%3C/svg%3E");
}

.icon.icon--less-than-primary {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='%230072d3'%3E%3Cpath fill-rule='inherit' d='M12.5 1.25L11.15 0 3.5 8l7.65 8 1.325-1.25-6-6.75L12.5 1.25z'/%3E%3C/svg%3E");
}

.icon.icon--greater-than-primary {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='%230072d3'%3E%3Cpath fill-rule='inherit' d='M3.5 14.75L4.825 16 12.5 8 4.8 0 3.5 1.25 9.5 8l-6 6.75z'/%3E%3C/svg%3E");
}

.icon.icon--download-primary {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%230072d3'%3E%3Cpath fill-rule='inherit' d='M7 6V0h2v6h4l-5 6-5-6h4zm-5 8h12V8h2v8H0V8h2v6z'/%3E%3C/svg%3E");
}

.panel--shadow-sm {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12), 0 6px 6px rgba(0, 0, 0, 0.24);
}

.sb-search {
    right: 0;
    position: absolute;
    right: 0;
    width: 0%;
    min-width: 3.75rem;
    height: 3.5rem;
    line-height: 3.5rem;
    float: right;
    overflow: hidden;
    background: #fdaf17;
    text-align: center;
    font-size: 1.375rem;
}

.sb-search:hover {
    background-color: #797979;
    -webkit-transition: background-color 500ms linear;
    -moz-transition: background-color 500ms linear;
    -o-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
    cursor: pointer;
}

.sb-search-submit {
    z-index: 0;
}

.multi_langage .sb-search {
    right: 3.71rem;
}

.sb-search-input {
    position: absolute;
    top: 0;
    right: 0;
    height: 3.5rem;
    width: 100%;
}

.multi_langage .sb-search-input {
    width: 94%;
}

.sb-icon-search:before {
    font-family: 'FontAwesome';
    content: "\f002";
}

.mfp-bg {
    background: #2a2a2a;
}

.mfp-content #recherche-simple {
    float: none;
    display: block;
    padding-top: 1em;
    position: relative;
    margin: 0 auto;
    width: 90%;
    height: 20rem;
}

.mfp-content #recherche-simple form,
.mfp-content #recherche-simple .search__field {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.mfp-content .sb-search-input,
.mfp-content .search__input.search__input--default {
    position: initial;
    font-size: 1rem;
    border-left: 5px solid #fdaf17;
    border-right: 0;
    border-bottom: 0;
    border-top: 0;
}

.mfp-content .search__input.search__input--default {
    height: 3.5rem;
    vertical-align: top;
    font-size: 1.5rem;
}

.mfp-content .search__autocomplete-wrapper-elastic.js-search__autocomplete-wrapper {
    width: 92%;
    display: inline-block;
    vertical-align: top;
}

.mfp-content #recherche-simple input[type="text"] {
    margin: 0 0 0 0;
    font-size: 1.5rem;
}

.mfp-content .sb-search-button,
.mfp-content .search__button {
    display: inline-block;
    height: 3.5rem;
    width: 7%;
    background: #de9606;
    border: 0;
    vertical-align: top;
    padding-left: 0;
    padding-right: 0;
}

.mfp-close-btn-in .mfp-content .mfp-close {
    font-size: 4rem;
    color: #de9606;
    opacity: 1;
    right: 1rem;
}

.mfp-close-btn-in .mfp-content .mfp-close:hover {
    color: #fff;
}

.mfp-content .search__menu {
    width: 92%;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #fff;
    max-height: 30vh;
    overflow: auto;
    border-left: 5px solid #fdaf17;
    border-right: 0;
    border-bottom: 0;
    border-top: 0;
    padding: 0 0 0 0.5rem;
}

.mfp-content .search__menu--hidden {
    display: none;
}

.mfp-content .search__menu--overlay {
    position: absolute;
    top: 100%;
}

.mfp-content li.search__option {
    line-height: 2rem;
    font-size: 1.2rem;
}

.mfp-content li.search__option:hover,
.mfp-content li.search__option:focus,
.mfp-content li.search__option--focused {
    background-color: #797979;
    color: #fff;
    cursor: default;
}

.simple--62 input#default-MOTS_CLEFS {
    width: 79%;
    font-size: 1.5rem;
    padding: 0 1rem;
}

.simple--62 input#default-MOTS_CLEFS:focus {
    outline: none;
}

.mfp-content .simple--62 .sb-search-button,
.mfp-content .simple--62 .search__button {
    width: 20%;
    font-size: 1.2rem;
}

.mfp-content .simple--62 .sb-search-button:hover,
.mfp-content .simple--62 .search__button:hover {
    background-color: #797979;
    -webkit-transition: background-color 500ms linear;
    -moz-transition: background-color 500ms linear;
    -o-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
    color: #fff;
}

html.no-js #cssmenu>ul>li:hover>ul {
    display: block;
    width: auto;
    padding-top: 1rem;
}

html.no-js #cssmenu ul li ul li.closeMenu {
    display: none;
}

html.no-js .multi_langage .sb-search-input,
html.no-js .sb-search.sb-search-open,
html.no-js .sb-search {
    width: 0;
}

html.no-js #sample:hover>dd>ul,
html.no-js #sample_langues:hover>dd>ul {
    display: block;
}

html.no-js .mfp-hide {
    display: block !important;
}

html.no-js .sb-search {
    min-width: 5.75rem;
}

html.no-js .sb-icon-search {
    display: none;
}

html.no-js #recherche-simple {
    margin: 0;
}

html.no-js .sb-search-button {
    margin-top: 1.87rem;
    width: 100%;
    line-height: 1.4rem;
    background: #d7d7d7;
    border: 1px solid #8b8b8b;
}

html.no-js .simple--62 input#default-MOTS_CLEFS {
    width: 100%;
    font-size: 1rem;
    padding: 0;
    height: 1.87rem;
}

#no-ie9,
#noscript {
    text-align: center;
    font-weight: bold;
    background: #fdaf17;
    color: #000;
    padding: 1rem 0 0.1rem 0;
    margin: 0;
}

#noscript {
    position: fixed;
    top: 0;
    display: block;
    width: 100%;
    z-index: 100;
}

.no-js #profils_preferences {
    margin-top: 4.6rem;
}

.Mod-no-cssanimations #container-fil-ariane,
.Mod-no-cssanimations #page {
    opacity: 1;
}

p#fil_ariane {
    display: none;
    font-size: 0.9rem;
}

#container-fil-ariane {
    margin: 0.5rem 0;
}

#fil-ariane {
    font-style: italic;
    font-weight: bold;
    line-height: 2.5rem;
    opacity: 1;
    padding: 0 5px;
    font-size: 0.7rem;
    width: 61.8125rem;
    margin: 0 auto;
}

#fil-ariane {
    line-height: 1.5rem;
}

#fil-ariane span.elementparticulier {
    color: #666;
}

.pagelibre div.style1 h3 {
    font-size: 1.1rem;
    padding: 1rem;
    padding-left: 1.2rem;
    background-color: #e3541a;
    color: #FFF;
    position: relative;
    width: auto;
    margin-bottom: 0;
}

.pagelibre div.contenu h3 {
    font-size: 1.3rem;
    padding-top: 0.5rem;
    padding-bottom: 0.6rem;
    color: #f88100;
    line-height: 1.5rem;
}

#encadres div.paragraphe--1,
#encadres div.paragraphe--2,
#encadres div.paragraphe--3 {
    border: 0;
}

#encadres .encadre_fiche,
#encadres .encadre_rubrique,
#encadres .encadre_recherche,
#encadres .encadre_nav_auto,
#encadres .encadre_auto_fiche {
    font-size: 0.9rem;
}

#encadres .encadre_fiche h3,
#encadres .encadre_rubrique h3 {
    margin: 0rem;
}

.rubrique #page #encadres .encadre_fiche,
.rubrique #page #encadres .encadre_rubrique {
    padding: 0rem;
}

#encadres .encadre_fiche h3,
#encadres .encadre_rubrique h3,
#encadres .encadre_recherche h3,
#encadres .encadre_nav_auto h3,
#encadres .encadre_auto_fiche h3 {
    background: transparent;
    color: #403e3f;
    text-transform: uppercase;
    border-bottom: 2px solid #403e3f;
    padding: 1rem 0.5rem;
}

#encadres .encadre_auto_fiche h3 {
    margin-bottom: 1rem;
}

#encadres .encadre_fiche.paragraphe__contenu--1.encadre_contenu,
#encadres .encadre_fiche.paragraphe__contenu--2.encadre_contenu {
    border: none;
}

#encadres h2,
.pagelibre #encadres div.paragraphe--2 h2,
.pagelibre #encadre div.paragraphe--1 h2 {
    background-color: transparent;
    color: #403e3f;
    font-size: 1rem;
    text-align: left;
}

#encadres h2:before {
    border-color: transparent;
}

#encadres .encadre_fiche.paragraphe--1 .encadre_contenu {
    border-bottom: 0px;
}

#encadres .encadre_fiche .encadre_contenu,
#encadres .encadre_rubrique .encadre_contenu,
#encadres .encadre_recherche .encadre_contenu {
    padding: 0.2rem 1rem 1.5rem 1rem;
}

#container_PC_nav {
    background-color: #f0f0f0;
    padding-top: .5rem;
    max-height: 3rem;
}

#PC_nav {
    width: 61.8125rem;
    margin: 0 auto;
    text-align: center;
}

#container_PC_nav #PC_nav>ul {
    font-size: 0.8rem;
    display: inline-block;
}

#PC_nav>ul {
    font-size: 1rem;
    padding: 0 0 0 2rem;
}

#PC_nav>ul>li {
    display: inline-block;
    line-height: 1.5rem;
    width: 45%;
    float: none;
    vertical-align: top;
}

#PC_nav #PC_DETAILS_1401956622368 {
    padding-left: 0px;
    width: 49%;
    margin-top: -0.18rem;
}

#PC_nav #PC_DETAILS_1401956622368>li {
    display: inline;
    font-size: 0.8rem;
    line-height: 2rem;
    margin: 0rem 0.6rem 0rem 0.6rem;
}

.PC_DETAILS>li {
    font-size: 1.2rem;
    display: inline-block;
    line-height: 3rem;
    min-width: 9.375rem;
}

#PC_nav #PC_DETAILS_1401955736820 {
    padding-left: 0px;
    margin-top: -0.18rem;
    width: 49%;
}

.PC_DETAILS {
    padding-left: 2rem;
}

#PC_nav #PC_DETAILS_1401955736820>li {
    display: inline;
    font-size: 0.8rem;
    line-height: 2rem;
    margin: 0rem 0.6rem 0rem 0.6rem;
}

.PC_DETAILS .fa-2x {
    font-size: 1rem;
    padding-right: 0.5rem;
}

.PC_DETAILS .fa-youtube-square {
    color: #c4302b;
}

.PC_DETAILS .fa-facebook-square {
    color: #3b5998;
}

.PC_DETAILS .fa-twitter-square {
    color: #00a0d1;
}

.PC_DETAILS .fa-google-plus-square {
    color: #C63D2D;
}

.PC_DETAILS .fa-rss-square {
    color: #f68232;
}

#PC_nav #PC_DETAILS_1399896363428>li {
    min-width: 230px;
}

#versions [hreflang]:before {
    display: none;
}

div.contenu ul.evenements {
    padding: 0;
}

ul.evenements {
    list-style: none;
    margin-top: 0;
    padding-left: 1em;
}

ul.evenements p.complement {
    display: none;
}

ul.evenements li {
    display: table;
    margin: 0 0 1.5em;
    width: 100%;
}

ul.evenements li>div {
    border-right: 1px solid #87888A;
    display: table-cell;
    font-size: 0.8em;
    text-align: center;
    vertical-align: top;
    width: 22%;
    border: 0 !important;
    line-height: 0.9375rem;
}

ul.evenements li>div>span {
    display: inline-block;
    padding: 0 0.3em;
}

ul.evenements li>div>span {
    position: relative;
    display: block !important;
    background: #606163;
    background: -moz-linear-gradient(left, #606163 0%, #606163 65%, #4b4c4e 65%, #4b4c4e 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #606163), color-stop(65%, #606163), color-stop(65%, #4b4c4e), color-stop(100%, #4b4c4e));
    background: -webkit-linear-gradient(left, #606163 0%, #606163 75%, #4b4c4e 75%, #4b4c4e 100%);
    background: -o-linear-gradient(left, #606163 0%, #606163 65%, #4b4c4e 65%, #4b4c4e 100%);
    background: -ms-linear-gradient(left, #606163 0%, #606163 65%, #4b4c4e 65%, #4b4c4e 100%);
    background: linear-gradient(to right, #606163 0%, #606163 65%, #4b4c4e 65%, #4b4c4e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#606163', endColorstr='#4b4c4e', GradientType=1);
    color: #fff;
    padding: 2px 5px !important;
    line-height: 22px;
}

ul.evenements li>div>span:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    bottom: -12px;
    right: 0;
    border-style: solid;
    border-width: 0 18px 12px 0;
    border-color: transparent #4b4c4e transparent transparent;
    _border-color: #000000 #4b4c4e #000000 #000000;
    _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
}

ul.evenements li>div .jour {
    display: block;
    font-size: 1.2em;
}

ul.evenements li>div .mois {
    text-transform: uppercase;
}

ul.evenements li a {
    font-style: normal;
    display: table-cell;
    font-weight: 700;
    padding: 0 2%;
    vertical-align: middle;
    width: 68%;
    line-height: 1rem;
    font-size: 0.8rem;
}

ul.evenements span.categorie {
    display: block;
    color: #9b9b9b;
}

ul.evenements li:hover {
    background-color: #f7f7f7;
}

ul.evenements li:hover a {
    text-decoration: none;
}

body.evenement div.container-photo {
    font-size: 0.5rem;
    text-align: right;
    float: right;
}

body.evenement div.container-photo div.photo {
    overflow: hidden;
    margin-left: 2rem;
}

body.evenement .paysage {
    width: 15rem;
    height: 10rem;
}

body.evenement .portrait {
    width: 11rem;
    height: 15rem;
}

.fo_recurrence {
    display: none !important;
}

#cloud-keywords {
    max-width: 100%;
    padding: 1rem 0;
    background: #fff;
}

#cloud-keywords button:first-child {
    padding-left: 1.5rem;
}

#cloud-keywords button {
    font-size: 1rem;
    padding: 0.5rem;
    line-height: 1rem;
    background: #f6f6f6;
    border: 0 none;
    cursor: pointer;
    outline: none;
    height: 2rem;
    margin: 0.5rem 0.5rem 0 0;
}

.avec_vignette_ajax .type_vignette_deco:hover {
    cursor: pointer;
}

#sans_nav_avec_encadres ul li.avec_vignette_ajax.style0013 {
    width: 45%;
    height: 26.75rem;
}

#sans_nav_avec_encadres ul li.avec_vignette_ajax.style0013 .type_vignette_deco {
    display: none;
}

#sans_nav_avec_encadres ul li.avec_vignette_ajax.style0013 div.vignette_deco {
    margin-top: 0.5rem;
    width: 17.7rem;
    height: 11.8rem;
}

#sans_nav_avec_encadres ul li.avec_vignette_ajax.style0013 div.vignette_deco2 p {
    font-size: 0.9rem;
}

#cloud-keywords button:hover {
    background: #e7e7e7;
}

#cloud-keywords button:before {
    vertical-align: top;
    content: "\f054";
    font-family: FontAwesome;
    font-size: 0.7rem;
    padding: 0 0.2rem 0 0.2rem;
    margin: 0 3px 0 -2px;
    color: #fff;
    background: #e75112;
    line-height: 1.1rem;
    display: inline-block;
}

#menu_modification .button,
#form_saisie_front input[type=submit],
#form_saisie_front input[type=button] {
    width: auto;
    font-weight: bold;
}

.pageAccueilSite #page {
    padding-top: 1rem;
}

.addthis_toolbox a {
    margin-bottom: 0px !important;
}

ul.liste-objets {
    padding: 0;
    list-style: none;
}

ul.liste-objets li a:hover {
    text-decoration: none;
}

ul.liste-objets li:hover {
    background-color: #f7f7f7;
}

ul.liste-objets li.focus .vignette_deco {
    width: 259px;
    height: 130px;
    overflow: hidden;
}

div.contenu ul.pardefaut,
div#encadres ul.pardefaut {
    margin-left: 1.5rem;
}

.pageAccueilSite .liste-actualites .vignette_deco2 strong a {
    font-size: 0.84rem;
    line-height: 1.1rem;
    font-style: normal;
    display: block;
}

.pageAccueilSite .liste-actualites .lirelasuite {
    overflow: hidden;
    font-size: 0.84rem;
}

.avec_vignette_enligne div.vignette_deco3 {
    text-align: center;
    overflow: hidden;
    padding: 0 !important;
    margin: 0 !important;
}

.liste-articles .avec_vignette_ajax .vignette_deco2 .chapeauArticle:after,
.liste-actualites .vignette_deco2 .resume:after {
    content: '';
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2rem;
    position: absolute;
    margin-right: 0;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(#fff));
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #fff 100%);
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #fff 100%);
}

ul.liste-objets.liste-actualites li:hover .vignette_deco2 .resume:after {
    content: '';
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10px;
    position: absolute;
    margin-right: 0;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(247, 247, 247, 0)), to(#f7f7f7));
    background-image: -webkit-linear-gradient(top, rgba(247, 247, 247, 0) 0%, #f7f7f7 100%);
    background-image: linear-gradient(to bottom, rgba(247, 247, 247, 0) 0%, #f7f7f7 100%);
}

.avec_vignette_enligne div.vignette_deco3 {
    float: none;
    width: 100%;
    height: 8.75rem;
    padding: 0 0.625rem 0.625rem 0.625rem;
    overflow: hidden;
}

.avec_vignette_enligne .vignette {
    position: relative;
    padding: 0 !important;
    margin: 0;
}

ul .avec_vignette_enligne {
    margin: 0.325rem;
    padding: 0.5rem;
    width: 13rem;
    margin-top: 0;
}

#sans_nav_avec_encadres .avec_vignette_ajax,
#sans_nav_avec_encadres ul .avec_vignette_enligne {
    width: 31%;
}

#sans_nav_avec_encadres ul li.avec_vignette_ajax {
    margin-right: 0.65rem;
    margin-left: 0;
}

#sans_nav_avec_encadres .type_vignette_deco {
    margin-left: 0.3rem;
}

.avec_vignette_enligne {
    display: inline-block;
    vertical-align: top;
    width: 13.75rem;
    border: 0;
}

.avec_vignette_enligne div.vignette_deco2 {
    min-height: 12.5rem;
    max-height: 12.5rem;
    position: relative;
    overflow: hidden;
}

.avec_vignette_enligne div.vignette_deco2 p {
    font-size: 0.8rem;
    line-height: 1.1rem;
    overflow: hidden;
    height: 6.125rem;
    text-align: left;
    font-style: normal;
}

.avec_vignette_enligne .container_td {
    background-color: #E3541A;
}

.avec_vignette_enligne .container_td {
    position: relative;
    padding-left: 5px;
    background: #f58220;
}

.avec_vignette_enligne strong a {
    margin-top: 0.6rem;
    font-size: 0.84rem;
    display: block;
    line-height: 1.2rem;
}

.avec_vignette_enligne .thematique {
    padding-right: 5px;
}

.avec_vignette_enligne .thematique,
.avec_vignette_enligne .date-liste {
    text-transform: uppercase;
    font-size: 0.7rem;
    display: block;
    font-weight: bold;
    color: #fff;
}

.avec_vignette_enligne .date-liste {
    font-size: 0.6rem;
}

.avec_vignette_enligne .container_td:after {
    border-color: transparent #E3541A transparent transparent;
}

.avec_vignette_enligne .container_td:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    bottom: -12px;
    right: 0;
    border-style: solid;
    border-width: 0 18px 12px 0;
    border-color: transparent #f58220 transparent transparent;
    _border-color: #000000 #f58220 #000000 #000000;
    _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
}

.liste-actualites .style_actu_0001 .vignette_deco2 .resume:after {
    display: none;
}

.focus .vignette_deco {
    width: 285px;
    height: 130px;
    overflow: hidden;
}

.liste-articles li.avec_vignette {
    min-height: 10.625rem;
    margin-top: 1rem;
}

.liste-articles li.style0002 li.avec_vignette {
    height: 10.625rem;
}

.liste-articles li.style0002 .lirelasuite a {
    display: none;
}

.liste-articles li.avec_vignette.style0002 {
    height: 10.625rem;
    min-height: 10.625rem;
}

.liste-articles li.focus.style0002 div.vignette_deco {
    float: left;
    position: relative;
    padding: 0 !important;
    margin: 0 0.9375rem 0 0 !important;
    height: 10.625rem;
    width: 10.625rem;
    overflow: hidden;
}

.liste-articles li.focus.style0002 div.vignette_deco {
    -webkit-border-radius: 50%;
    -khtml-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    vertical-align: middle;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

.liste-articles li.style0002 .chapeauArticle {
    font-size: 0.82rem;
    text-align: left;
    line-height: 1.3rem;
}

.liste-articles li.style0002 em {
    font-style: normal;
}

.liste-articles li.style0002:hover .lirelasuite a,
.liste-articles li.style0002:hover .chapeauArticle {
    display: block;
}

.liste-articles li.style0002:hover .chapeauArticle {
    overflow: hidden;
    max-height: 8rem;
}

.liste-articles li.style0002:hover em,
.liste-articles li.style0002:hover .soustitre-liste {
    display: none;
    font-style: normal;
}

.liste-articles li.style0002:hover div.vignette_deco {
    -webkit-border-radius: 0;
    -khtml-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    opacity: 0.5;
    transition: all 1s;
}

.liste-articles li.avec_vignette.focus.style0222 .vignette_deco2 .chapeauArticle:after,
.liste-actualites li.avec_vignette_enligne .vignette_deco2 .resume:after {
    content: '';
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1.5rem;
    position: absolute;
    margin-right: 0;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(white));
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 100%);
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
}

.liste-articles li.avec_vignette.focus.style0222:hover .vignette_deco2 .chapeauArticle:after {
    content: '';
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10px;
    position: absolute;
    margin-right: 0;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(247, 247, 247, 0)), to(#f7f7f7));
    background-image: -webkit-linear-gradient(top, rgba(247, 247, 247, 0) 0%, #f7f7f7 100%);
    background-image: linear-gradient(to bottom, rgba(247, 247, 247, 0) 0%, #f7f7f7 100%);
}

.liste-articles li.avec_vignette.focus.style0222 {
    display: block;
    min-height: 8rem;
}

.liste-articles li.avec_vignette.focus.style0222 div.vignette_deco2 {
    height: 8rem;
}

.liste-articles li.style0222:hover .chapeauArticle {
    overflow: hidden;
    max-height: 4.5rem;
    min-height: 4.5rem;
    margin: 1rem 0.5rem 0.5rem 0;
    font-size: 0.9rem;
}

.liste-articles li.style0222:hover .lirelasuite a,
.liste-articles li.style0222:hover .chapeauArticle {
    display: block;
}

.liste-articles li.style0222:hover em,
.liste-articles li.style0222:hover .soustitre-liste {
    display: none;
}

.liste-articles li.style0222 div.vignette_deco {
    float: left;
    position: relative;
    padding: 0 !important;
    margin: 0 0.9375rem 0 0 !important;
    height: 8rem;
    width: 8rem;
    overflow: hidden;
    border-radius: 50%;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

.liste-articles li.style0222:hover div.vignette_deco {
    border-radius: 0;
    opacity: 0.5;
    transition: all 1s;
}

.liste-articles li.style0222 .lirelasuite {
    margin-top: 7px;
    float: right;
    padding: 0 2px;
    display: none;
}

.liste-articles li.style0222:hover .lirelasuite {
    display: block;
}

ul.liste-articles li.avec_vignette.style_lien_0002 {
    min-height: 6rem;
}

li.style_lien_0002 .vignette_deco {
    width: 5rem;
    margin: 0.5em 1.5em 0.5em 0;
}

li.avec_vignette.style_lien_0002 div.vignette_deco2 {
    display: initial;
    height: auto;
}

.avec_vignette_ajax div.vignette_deco {
    width: 12.5rem;
    height: 8.75rem;
    overflow: hidden;
    margin: 0 auto;
    float: none;
}

ul.liste-actualites .avec_vignette_ajax {
    margin: 0.625rem 0.35rem 1rem 0.4rem;
}

.avec_vignette_ajax {
    background: #fff;
    position: relative;
    display: inline-block;
    float: none;
    vertical-align: top;
    width: 13.2rem;
    height: 26.25rem;
    border: 1px solid #f4f4f4;
    overflow: hidden;
    text-align: left;
}

.avec_vignette_ajax em a:hover {
    text-decoration: none;
}

ul li.avec_vignette_ajax {
    margin: 0 1rem 1rem 0;
}

.Rub1ACTU .avec_vignette_ajax .vignette_deco2 {
    line-height: 1.2rem;
}

.avec_vignette_ajax div.vignette_deco2 {
    padding: 0 0.625rem;
    min-height: 12.5rem;
    max-height: 12.5rem;
    overflow: hidden;
    position: relative;
    font-style: normal;
}

.avec_vignette_ajax div.vignette_deco2 em {
    line-height: 1.2rem;
    display: block;
    margin-bottom: 0.3rem;
}

.avec_vignette_ajax div.vignette_deco2 p,
.avec_vignette_enligne div.vignette_deco2 p {
    font-size: 0.8rem;
    line-height: 1.1rem;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    font-style: normal;
}

.type_vignette_deco {
    background: #fdaf17;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    font-size: 0.8rem;
    padding: 0 5px;
    display: inline-block;
    margin: 0.625rem 0.2rem;
}

.avec_vignette_ajax .lirelasuite {
    bottom: 0;
    margin: 0;
    padding: 0 0.625rem;
    border: 0;
    height: 1.875rem;
    line-height: 1.875rem;
}

.avec_vignette_ajax .lirelasuite {
    overflow: hidden;
    font-size: 0.8rem;
    font-style: normal;
}

li.avec_vignette.style_actu_0001 {
    min-height: 9rem;
    margin-bottom: 1rem;
}

li.style_actu_0001 .vignette_deco {
    width: 10.625rem;
    height: 8.75rem;
    overflow: hidden;
}

li.avec_vignette.style_actu_0001 {
    min-height: 9rem;
    margin-bottom: 1rem;
}

#encadres li.avec_vignette.style_actu_0004 div.vignette_deco {
    width: 16.1rem;
    height: 8.125rem;
    overflow: hidden;
    margin-bottom: 0.3rem;
}

#encadres li.avec_vignette.style_actu_0004 {
    margin-bottom: 1rem;
}

#encadres li.avec_vignette.style_actu_0004 h4 {
    font-weight: normal;
    font-family: inherit;
    display: inline-block;
}

ul.liste-petitesannonces {
    list-style-position: inside;
    list-style-type: square;
}

ul.liste-petitesannonces li span.categorie {
    color: #9b9b9b;
    margin-right: 0.2rem;
    font-size: 0.8rem;
}

li.style_petiteannonce_0001,
li.style_petiteannonce_0002 {
    padding: 0.2rem 0;
}

.contenu img:not(.vignette):not(.vignette_rs),
#encadres img:not(.vignette):not(.vignette_rs) {
    max-width: 100%;
}

div.paragraphe--1 .paragraphe__contenu--1,
div.paragraphe--2 .paragraphe__contenu--2,
div.paragraphe--3 .paragraphe__contenu--3 {
    margin: 0 0 0.7rem 0;
    padding: 0 0.625rem;
    line-height: 1.3rem;
}

.pagelibre div.contenu .paragraphe--0 h2 {
    font-size: 1.5rem;
    padding-top: 0.6rem;
    padding-bottom: 0.7rem;
    color: #f88100;
    line-height: 1.5rem;
}

.paragraphe__contenu--0.toolbox h2 {
    margin: 1rem 0;
}

.pagelibre div.paragraphe--1 {
    background-color: transparent;
}

.pagelibre div.paragraphe--1 h2 {
    font-size: 1.1rem;
    padding: 1rem;
    padding-left: 1.2rem;
    background-color: #E3541A;
    text-transform: none;
    color: #FFF;
    position: relative;
    width: auto;
    margin-bottom: 0;
}

.paragraphe--1 h2:after {
    content: '';
    z-index: 0;
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    bottom: -40px;
    right: 0;
    border-style: solid;
    border-width: 0 60px 50px 0;
    border-color: transparent #E3541A transparent transparent;
}

.pagelibre div.paragraphe--2 h2 {
    color: #FFF;
    font-size: 1rem;
    margin-top: 0px;
    background-color: #FDAF17;
    text-align: center;
    padding: 0.6rem;
}

.pagelibre div.contenu div.paragraphe--2 h2 {
    text-transform: none;
    text-align: center;
    font-size: 1.3rem;
}

.pagelibre div.paragraphe—2 {
    border-width: 2px;
    border-style: solid;
}

.pagelibre div.paragraphe--3 {
    color: #000;
    background-color: #F3F3F3;
    padding: 2rem 2.5rem;
    border: 0px;
}

.liste-articles .avec_vignette div.vignette_deco2 {
    height: 8rem;
    display: table-cell;
    vertical-align: middle;
}

.liste-articles .avec_vignette div.vignette_deco2.vignette_absente {
    height: initial;
}

.type_1 {
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
    margin-bottom: 1rem !important;
}

#typeActu,
#thematiqueFocus {
    color: #585857;
    width: auto;
}

#resetFiltre {
    display: none;
    padding: 0.2em;
    font-size: 0.8rem;
    margin-top: 1rem;
    width: auto;
}

.UL1share a .at-icon-wrapper,
.UL1share .at-icon,
.UL1share img {
    height: 32px !important;
    width: 32px !important;
}

#erreur_not_found {
    width: 100%;
    height: 100%;
    margin-top: 1rem;
}

#container_fiole {
    float: left;
    padding-top: 2rem;
}

#container_erreur {
    width: 65%;
    margin-right: 10%;
    float: left;
}

#container_erreur h1 {
    padding: 1rem 0;
}

#container_erreur p#citation {
    text-align: center;
}

.fiole {
    -webkit-animation: bounce 15s linear infinite;
    position: relative;
    min-width: 12.5rem;
    height: 19.0625rem;
    overflow: hidden;
    float: left;
    margin: 1rem auto 0 auto !important;
    -webkit-animation-duration: 15s;
    animation-duration: 15s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        -webkit-transform: translateY(0);
    }

    40% {
        -webkit-transform: translateY(-2rem);
    }

    60% {
        -webkit-transform: translateY(-1rem);
    }
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-2rem);
    }

    60% {
        transform: translateY(-1rem);
    }
}

.bounce {
    -webkit-animation-name: bounce;
    animation-name: bounce;
}

.verre {
    z-index: 2;
    width: 12.5rem;
    height: 19.0625rem;
    position: absolute;
    background: url("../../images/errors/page404_fiole.png") 0 0 no-repeat transparent;
}

.reflet {
    z-index: 3;
    position: absolute;
    top: 0;
    width: 12.5rem;
    height: 19.0625rem;
    background: url("../../images/errors/page404_reflet.png") 0 0 no-repeat transparent;
}

.liquide {
    z-index: -1;
    position: absolute;
    bottom: 1px;
    width: 12.5rem;
    height: 1.25rem;
    background: #fdaf17;
    border-top: 50px solid white;
}

#erreur_not_found #default-MOTS_CLEFS {
    display: block;
    width: 70%;
    height: 1.875rem;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

#erreur_not_found .ok {
    display: inline-block;
    padding: 0.3125rem 0.75rem;
    margin-bottom: 0.3125rem;
    font-size: 1rem;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    width: 10%;
}

#erreur_not_found #default-MOTS_CLEFS,
#erreur_not_found .ok {
    display: table-cell;
    vertical-align: initial;
}

#erreur_not_found q {
    font-size: 1em;
    margin: 1rem 0;
    display: inline-block;
}

#erreur_not_found .champ-saisie {
    width: 100%;
    padding: 0 0.5rem;
    font-size: 1rem;
    margin: 1rem 0;
    height: 2rem;
}

#erreur_not_found .sb-search-submit {
    padding: 0 0.5rem;
    font-size: 1rem;
    height: 2rem;
    margin-bottom: 1rem;
}

#erreur_not_found .contact_mail {
    text-decoration: underline;
}

#recherche label {
    display: none;
}

#recherche_avancee input#NOM {
    text-transform: uppercase;
}

.suggestions-titre {
    font-weight: normal;
}

.crochet {
    display: none;
}

.UL1button {
    display: inline-block;
    min-width: 8rem;
    margin: 0.5rem;
    text-align: center;
    line-height: 2rem;
    background: #EBEBEB;
    border: 1px solid #EBEBEB;
}

a .UL1button,
.UL1button a {
    min-width: 8rem;
    text-decoration: none;
    min-height: 2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    display: inline-block;
    font-weight: bold;
}

a:hover .UL1button,
.UL1button:hover a,
.UL1button:hover {
    background: #fff;
    transition: background-color 500ms linear;
    text-decoration: none;
}

a:hover .UL1button,
.UL1button a:hover {
    text-decoration: none;
}

#typeTrajet,
#calculItineraire {
    width: auto;
}

.captcha {
    width: auto !important;
}

.readerMode #page_deco {
    float: none;
}

#container-reader {
    background: #e5e5e5;
    border: 1px solid #e5e5e5;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8rem;
    padding: 0 5px;
    float: left;
    margin-left: 0.25rem;
    height: 2rem;
    display: none;
}

#container-reader:hover {
    background: #fff;
    webkit-transition: background-color 500ms linear;
    -moz-transition: background-color 500ms linear;
    -o-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}

#container-reader a:hover {
    text-decoration: none;
}

.reader {
    line-height: 2rem;
    display: inline-block;
}

#container-reader a .fa-eye {
    color: #4f4f4f;
}

.pagelibre.readerMode #contenu_sans_nav_sans_encadres {
    width: 100%;
}

.pagelibre.readerMode #sans_nav_avec_encadres,
.pagelibre.readerMode #sans_nav_avec_encadres+#encadres {
    float: none;
    width: 100%;
}

.blog #menu_secondaire,
.articleblog #menu_secondaire {
    display: none;
}

.blog #encadres,
.articleblog #encadres {
    padding: 0.5rem;
}

.blog #thematique,
.articleblog #thematique {
    color: #FFF;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0 0.3125rem;
    font-size: 0.8rem;
}

.commentaires__saisie label[for=URL_SITE],
.commentaires__saisie input#URL_SITE {
    display: none;
}

.portlet-fragment {
    padding: 1em;
}

.pagelibre div.contenu .paragraphe--0 portlet-fragment h2 {
    max-width: 100%;
}

#tabsO2f {
    display: none;
}

#O2fHeader {
    margin-bottom: 0.5rem;
}

#O2fType {
    display: block;
}

#O2fPlaquette {
    float: left;
}

#O2fPdf {
    float: right;
}

.chat_bot #tarteaucitronAlertSmall {
    right: auto !important;
    left: 0;
}

.chat_bot .chatprompt {
    bottom: 2.5rem !important;
}

.chat_bot .chatmessage {
    min-width: 10rem !important;
}

#bubble-chat-close {
    padding: 0 0.2em !important;
}

span[ktag_span="true"] {
    display: block;
}

div.rs_button_group {
    float: right;
    margin-bottom: 0.7rem;
}

div.rs_button_group .button {
    width: auto;
    background: #f3f3f3;
    color: #e94f11;
    font-weight: normal;
    font-style: italic;
    border-top-left-radius: 10% 20%;
    border-top-right-radius: 10% 20%;
    border-bottom-right-radius: 10% 20%;
    border-bottom-left-radius: 10% 20%;
    padding: 0.3rem 1rem;
    margin-right: 0.3rem;
    margin-bottom: 0.7rem;
}

div.rs_button_group .button.is-checked {
    -moz-box-shadow: inset -2px -2px 0px 0px #808080;
    -webkit-box-shadow: inset -2px -2px 0px 0px #808080;
    -o-box-shadow: inset -2px -2px 0px 0px #808080;
    box-shadow: inset -2px -2px 0px 0px #808080;
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#808080, Direction=180, Strength=0);
}

div.rs_button_group .button:hover {
    -moz-box-shadow: inset -2px -2px 0px 0px #c7c7c7;
    -webkit-box-shadow: inset -2px -2px 0px 0px #c7c7c7;
    -o-box-shadow: inset -2px -2px 0px 0px #c7c7c7;
    box-shadow: iinset -2px -2px 0px 0px #c7c7c7;
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#c7c7c7, Direction=180, Strength=0);
}

div.rs_button_group .button:focus {
    outline-color: transparent;
}

div.rs_button_group button .fa {
    margin-left: 0.2rem;
}

div.rs_button_group button .fa-twitter-square {
    color: #00a0d1;
}

div.rs_button_group button .fa-instagram {
    color: #57585a;
}

div.rs_button_group button .fa-facebook-square {
    color: #3b5998;
}

div.rs_button_group button .fa-youtube-square {
    color: #c4302b;
}

div#rs {
    display: none;
    clear: both;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

div#rs em {
    font-size: small;
}

div#rs em a {
    font-weight: normal;
}

div#rs .quoted {
    border: solid 1px #e6ecf0;
    padding: 0.5rem;
}

div#rs div.rs_container {
    padding: 1rem;
    word-break: break-all;
    background: #f3f3f3;
    text-align: justify;
}

div#rs div.grid-item {
    width: 16.75rem;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
}

div#rs div.rs_container img {
    text-align: center;
}

div#rs .rsdate {
    text-align: left;
    margin-top: 0.5rem;
}

div#rs .twitter_media,
div#rs .instagram_media,
div#rs .facebook_media,
div#rs .youtube_media {
    width: 100%;
    height: 10rem;
    overflow: hidden;
}

div#rs .icone_rs {
    margin-left: 0.5rem;
}

div#rs a.icone_twitter {
    color: #00a0d1;
}

div#rs a.icone_instagram {
    color: #57585a;
}

div#rs a.icone_facebook {
    color: #3b5998;
}

div#rs a.icone_youtube {
    color: #c4302b;
}

.disposition1 input[type="checkbox"],
.disposition1 input[type="radio"] {
    float: left;
}

#recherche_include label {
    display: none;
}

#recherche_include #default-MOTS_CLEFS {
    display: block;
    width: auto;
    height: 1.875rem;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

#recherche_include .ok {
    display: inline-block;
    padding: 0.3125rem 0.75rem;
    margin-bottom: 0.3125rem;
    font-size: 1rem;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    width: auto;
}

#recherche_include #default-MOTS_CLEFS,
#recherche_include .ok {
    display: table-cell;
    vertical-align: initial;
}

input#plugin_inscription {
    width: auto;
    padding: 0.5rem;
    margin-left: 1rem;
}

.galerie_defaut .defaut-thumbnail--fichier {
    opacity: 0.4;
}

.ckeditor-tabs {
    padding-top: 2em;
}

.tabs_toggler button.tabs_toggler__btn,
.accordion_toggler button.accordion_toggler__btn,
.accordion_toggler .accordion_toggler button,
.tabs_toggler .tabs_toggler.desktop-only button {
    font: 500 0.9rem/1 Arial, "Helvetica Neue", Helvetica, "Bitstream Vera Sans", sans-serif;
}

.tabs_toggler__btn {
    padding: 0.8em 2.5em;
}

.tabs_toggler.desktop-only {
    margin: 0;
    border-left: 1px solid #f0f0f0;
    border-right: 1px solid #f0f0f0;
    border-top: 1px solid #f0f0f0;
}

.tabs_wrapper,
.accordion_wrapper {
    padding: 1em;
}

.accordion_toggler {
    border: 1px solid #f0f0f0;
    margin-bottom: 0.5em;
    background-color: #f6f6f6;
}

.accordion_wrapper.active {
    display: block;
    border: 1px solid #f0f0f0;
    margin-bottom: 1em;
}

.tabs_toggler.desktop-only:focus::before,
.tabs_toggler.desktop-only:focus-within::before,
.tabs_toggler.desktop-only:hover::before,
.tabs_toggler.desktop-only.active::before {
    width: 100%;
}

.dyslexic *:not(.fa) {
    font-family: "open-dyslexic" !important;
    font-size: 16px;
}

.dyslexic #cssmenu *:not(.fa),
.dyslexic #profils_preferences *:not(.fa),
.dyslexic #container_PC_nav *:not(.fa),
.dyslexic #container-plan-site *:not(.fa) {
    font-size: 13px !important;
}

.dyslexic #menu #cssmenu a {
    padding: 0 0.5rem;
}

.dyslexic span.sb-icon-search:after {
    font-family: 'open-dyslexic';
    font-size: 0.7rem;
}

.dyslexic #container_PC_nav {
    max-height: inherit;
}

.contrast a,
.contrast abbr,
.contrast article,
.contrast aside,
.contrast basefont,
.contrast bdi,
.contrast big,
.contrast blink,
.contrast blockquote,
body.contrast,
.contrast button,
.contrast canvas,
.contrast caption,
.contrast center,
.contrast code,
.contrast col,
.contrast colgroup,
.contrast command,
.contrast dd,
.contrast details,
.contrast dir,
.contrast div,
.contrast dl,
.contrast dt,
.contrast embed,
.contrast fieldset,
.contrast figcaption,
.contrast figure,
.contrast font,
.contrast footer,
.contrast form,
.contrast header,
.contrast hgroup,
.contrast html,
.contrast iframe,
.contrast img,
.contrast input,
.contrast kbd,
.contrast label,
.contrast legend,
.contrast li,
.contrast listing,
.contrast mark,
.contrast marquee,
.contrast menu,
.contrast meter,
.contrast multicol,
.contrast nav,
.contrast nobr,
.contrast object,
.contrast ol,
.contrast option,
.contrast p,
.contrast plaintext,
.contrast pre,
.contrast progress,
.contrast q,
.contrast s,
.contrast section,
.contrast select,
.contrast small,
.contrast span,
.contrast strike,
.contrast sub,
.contrast summary,
.contrast sup,
.contrast table,
.contrast td,
.contrast textarea,
.contrast th,
.contrast time,
.contrast tr,
.contrast tt,
.contrast ul,
.contrast var,
.contrast xmp {
    color: #f3f3f3 !important;
}

.contrast a,
.contrast abbr,
.contrast acronym,
.contrast address,
.contrast article,
.contrast aside,
.contrast b,
.contrast basefont,
.contrast bdi,
.contrast big,
.contrast blink,
.contrast blockquote,
body.contrast,
.contrast canvas,
.contrast caption,
.contrast center,
.contrast cite,
.contrast code,
.contrast col,
.contrast colgroup,
.contrast command,
.contrast dd,
.contrast details,
.contrast dfn,
.contrast dir,
.contrast div,
.contrast dl,
.contrast dt,
.contrast em,
.contrast embed,
.contrast fieldset,
.contrast figcaption,
.contrast figure,
.contrast font,
.contrast footer,
.contrast form,
.contrast ul.evenements li>div>span {
    background: #000 !important;
    background-color: #000 !important;
}

.contrast a,
.contrast abbr,
.contrast acronym,
.contrast address,
.contrast article,
.contrast aside,
.contrast b,
.contrast basefont,
.contrast bdi,
.contrast big,
.contrast blink,
.contrast blockquote,
body.contrast,
.contrast button,
.contrast canvas,
.contrast caption,
.contrast center,
.contrast cite,
.contrast code,
.contrast col,
.contrast colgroup,
.contrast command,
.contrast dd,
.contrast details,
.contrast dfn,
.contrast dir,
.contrast div,
.contrast dl,
.contrast dt,
.contrast em,
.contrast embed,
.contrast fieldset,
.contrast figcaption,
.contrast figure,
.contrast font,
.contrast footer,
.contrast form,
.contrast ul.evenements li>div>span {
    background-image: none !important;
    text-shadow: none !important;
}

.contrast * {
    -webkit-box-shadow: none !important;
}