@media screen and (max-width:50em) {
    #menu_vousetes_small {
        right: 7.4rem;
    }
}

@media screen and (max-width:40em) {
    div.container-visuel-rubrique {
        height: 7.9rem;
    }

    div.visuel-rubrique {
        height: 8rem;
        background-image: none;
    }

    div.visuel-rubrique #entete {
        top: 0;
        background-image: none;
    }

    body:not(.pagelibre) #page {
        padding-left: 0;
        padding-right: 0;
    }

    .titre_acces_direct {
        display: none;
    }

    #menu_vousetes_small {
        min-width: 4rem;
    }

    #menu_vousetes_small .dropdown dd ul {
        min-width: 10.4rem;
        max-width: 10.4rem;
    }
}