a,
.a,
h1 {
    color: #1067ae;
}

.pagelibre h1,
.pagelibre .h1 {
    font-size: 2rem;
    line-height: 2rem;
    padding-bottom: 1.3rem;
}

q,
cite {
    display: table;
}

#profils_preferences {
    height: 2.5rem !important;
    font-size: 0.75rem !important;
}

#connexion a#se_connecter,
#connexion p#se_deconnecter {
    font-size: 0.8rem !important;
}

.UEI_title,
.AR_title,
#connexion p#se_deconnecter,
#connexion a#se_connecter,
#outil_intranet li i.fa-2x {
    line-height: 2.5rem !important;
}

#outil_intranet,
#logo_lyon1,
#logo_lyon1 img,
#logo_comue img,
#logo_comue {
    height: 2.5rem !important;
}

.pagelibre h1,
.pagelibre .h1 {
    color: #0A4571;
}

div.visuel-rubrique {
    height: 10rem;
}

div.visuel-rubrique #entete {
    width: auto;
    height: 7.5rem;
    background-color: transparent;
    padding-left: 0.625rem;
    position: absolute;
    border: 0;
    padding-top: 0;
    top: 1rem;
}

.visuel-rubrique #entete a {
    font-size: 1.4rem;
    line-height: 2rem;
    color: #FFF;
    font-weight: bold;
    text-transform: uppercase;
}

.visuel-rubrique #entete:after {
    content: '';
    display: none;
    width: 0;
    height: 0;
    position: absolute;
    bottom: -18px;
    right: 0;
    border-style: solid;
    border-width: 0 48px 18px 0;
    border-color: transparent transparent transparent transparent;
}

#cssmenu ul ul,
#cssmenu>ul>li.active,
#cssmenu>ul>li>a:hover,
#cssmenu>ul>li.active>a:hover {
    background: #58595B;
}

#cssmenu ul li ul li.niv1.first:hover,
#cssmenu ul li ul li.niv2:hover {
    background-color: #7F81A0;
    transition-duration: 0.5s;
}

#cssmenu ul li ul li.niv1.first,
#cssmenu ul li ul li.niv2 {
    background-color: #C3C3C3;
}

#cssmenu ul li ul li.niv1.first {
    color: #fff;
}

#cssmenu ul li ul li.niv2 a {
    color: #000;
}

#cssmenu ul li ul li.niv1.first a,
#cssmenu ul li ul li.niv2 a {
    font-size: 1rem;
}

#cssmenu ul li ul li.niv1.first {
    background: #009DE0;
    color: #fff;
}

#cssmenu ul li ul li.niv1 a,
#cssmenu ul li ul li.niv1 a {
    color: #fff;
}

#cssmenu ul li ul li.niv1.first:hover .fa.fa-caret-right {
    background: #009DE0;
}

#cssmenu ul li ul li.niv1 .likelinkMenu:hover {
    background: #8b8b8b;
    color: #009DE0;
}

#cssmenu>ul>li.activefrom>a {
    -moz-box-shadow: inset 0px -5px 0px 0px #009DE0;
    -webkit-box-shadow: inset 0px -5px 0px 0px #009DE0;
    -o-box-shadow: inset 0px -5px 0px 0px #009DE0;
}

#cssmenu>ul>li>a:hover {
    -moz-box-shadow: inset 0px -5px 0px 0px #009DE0;
    -webkit-box-shadow: inset 0px -5px 0px 0px #009DE0;
    -o-box-shadow: inset 0px -5px 0px 0px #009DE0;
    box-shadow: inset 0px -5px 0px 0px #009DE0;
}

#cssmenu>ul>li.active:after {
    color: #009DE0;
}

#cssmenu ul li ul li.niv2:hover a {
    color: #fff;
}

#cssmenu.expand>ul>li.not-yet {
    background: #5e5e5e;
}

#cssmenu.expand>ul>li.not-yet>a {
    background-color: #009DE0;
    color: #fff;
}

#cssmenu ul li ul li.niv1.first:hover,
#cssmenu ul li ul li.niv2:hover {
    background-color: #009de0;
}

#menu_vousetes_small {
    background-color: #009DE0;
}

#menu_vousetes_small .dropdown dt a:before,
#menu_vousetes_small .dropdown .focus a,
#menu_vousetes_small .dropdown .focus a:visited {
    color: #fff;
}

.sb-search,
.no-js .sb-search {
    background: #1067ae;
}

.sb-search.sb-search-open .sb-icon-search,
.no-js .sb-search .sb-icon-search,
.sb-icon-search {
    color: #fff;
}

input[type="search"].sb-search-input {
    border-bottom: 1px solid #1067ae;
}

.sb-search-input {
    border-left: 5px solid #1067ae;
    border-right: 1px solid #1067ae;
}

input[type="search"].sb-search-input::-webkit-input-placeholder {
    color: #1067ae;
}

input[type="search"].sb-search-input::-moz-placeholder {
    color: #1067ae;
}

input[type="search"].sb-search-input::-ms-input-placeholder {
    color: #1067ae;
}

input[type="search"].sb-search-input::-moz-placeholder {
    color: #1067ae;
}

.sb-search,
.sb-icon-search,
.sb-search-submit {
    width: 3.755rem;
    min-width: 3.75rem;
}

.mfp-close-btn-in .mfp-content .mfp-close {
    color: #1067ae;
}

.mfp-content .sb-search-button,
.mfp-content .search__button {
    background: #1067ae;
}

.mfp-content .sb-search-input,
.mfp-content .search__input.search__input--default {
    border-left: 5px solid #1067ae;
}

#menu_langues {
    background: #403e3f;
}

#encadres .encadre_fiche,
#encadres .encadre_rubrique,
#encadres .encadre_recherche,
#encadres .encadre_nav_auto {
    padding: 0.8rem;
}

#encadres .encadre_fiche h3,
#encadres .encadre_rubrique h3,
#encadres .encadre_recherche h3,
#encadres .encadre_nav_auto h3 {
    background: #5E5E5E;
    color: #fff;
}

#encadres div.paragraphe--1,
#encadres div.paragraphe--2,
#encadres div.paragraphe--3 {
    border: 0;
}

.fiche.actualite #page #thematique,
.fiche.article #page #thematique {
    background: #01406F;
    color: #fff;
}

.fiche.actualite #page #resume,
.fiche.evenement #page #resume,
.fiche.document #page #resume,
.fiche.article #page #resume {
    color: #01406F;
}

.liste-actualites .type_vignette_deco,
.liste-articles .type_vignette_deco {
    background: #01406F;
    color: #fff;
}

.avec_vignette_enligne .container_td {
    background-color: #01406F;
    text-align: center;
}

.avec_vignette_enligne .container_td:after {
    border-color: transparent #01406F transparent transparent;
    display: none;
}

.accueil li.avec_vignette.focus.style0005 {
    max-width: 100%;
    display: block;
}

.pageAccueilSite .ligne .liste-articles li.focus.style0005 div.vignette_deco2 p.chapeauArticle {
    display: block;
}

.accueil .focus.style0005 .chapeauArticle {
    display: block;
}

.pagelibre div.contenu .paragraphe--0 h2 {
    font-size: 1.5rem;
    padding-top: 0.6rem;
    padding-bottom: 0.7rem;
    color: #0A4571;
}

.accueil div.contenu .paragraphe--0 h2 {
    font-weight: normal;
    color: #0A4571;
}

.pagelibre div.contenu .paragraphe--0 h2,
.pagelibre div.contenu .paragraphe--0 h3 {
    color: #0A4571;
}

.pagelibre div.paragraphe--1 {
    background-color: transparent;
    border: solid 2px #014476;
}

.accueil.pagelibre div.contenu div.paragraphe--1 h2,
.pagelibre div.paragraphe--1 h2 {
    font-size: 1.3rem;
    padding: 1rem;
    padding-left: 1.2rem;
    background-color: #014476;
    color: #fff;
    position: relative;
    width: auto;
    margin-bottom: 1rem;
    border: 2px solid #014476;
    font-weight: bold;
    text-transform: uppercase;
    padding: 1rem;
}

.paragraphe--1 h2:after {
    border-color: transparent #014476 transparent transparent;
    display: none;
}

.accueil.pagelibre div.contenu div.paragraphe--2 h2,
.pagelibre div.paragraphe--2 h2 {
    text-transform: uppercase;
    text-align: left;
    background-color: #1067ae;
    border: solid 2px #1067ae;
}

.accueil.pagelibre div.contenu div.paragraphe--3 h2,
.pagelibre div.paragraphe--3 h2 {
    color: #014476;
    text-transform: uppercase;
}

.pagelibre div.paragraphe--3 {
    background-color: #F3F3F3;
}

.pagelibre div.contenu .paragraphe--1,
.pagelibre div.contenu .paragraphe--2,
.pagelibre div.contenu .paragraphe--3 {
    margin-bottom: 1rem;
}

.accueil .ligne .liste-articles li.avec_vignette {
    min-height: 11rem;
}

.accueil li.avec_vignette.focus {
    margin-top: 1rem;
    max-width: 100%;
    display: inline-block;
    vertical-align: top;
    margin-right: 0.5rem;
}

.pageAccueilSite .ligne .liste-articles div.vignette_deco {
    float: left;
    position: relative;
    padding: 0 !important;
    margin: 0 0.9375rem 0 0 !important;
    height: 8rem;
    width: 8rem;
    overflow: hidden;
    border-radius: 50%;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

.pageAccueilSite .ligne .liste-articles li.avec_vignette:hover div.vignette_deco {
    border-radius: 0;
    opacity: 0.5;
    transition: all 1s;
}

.pageAccueilSite .liste-actualites .vignette_deco2 strong a {
    font-size: 1rem;
    line-height: 1.2rem;
    font-style: normal;
    display: block;
}

.pageAccueilSite .ligne .liste-articles li.avec_vignette div.vignette_deco img.vignette {
    padding: 0;
}

.pagelibre #page #encadres ul.liste-articles li.focus h4 {
    line-height: 1rem;
    display: inline-block;
    text-align: center;
    background-color: #014476;
    color: #fff;
    padding: 0.5rem 0;
}

li.avec_vignette.focus .chapeauArticle {
    display: none;
    font-size: 0.8rem;
    margin: 0;
    padding: 0;
    line-height: 1rem;
}

.liste-articles .avec_vignette div.vignette_deco2 {
    height: 11rem;
}

.avec_vignette_enligne div.vignette_deco3 {
    border: 2px solid #01406F;
}

.defaultstructureksup #encadres {
    max-width: 100%;
}

ul.evenements li>div>span {
    display: inline-block;
    padding: 0.5rem !important;
    margin-right: 0.9rem;
    min-width: 5rem;
    background: #01406F;
    font-size: 1rem;
    letter-spacing: 0.04rem;
    text-transform: uppercase;
}

ul.evenements li>div>span:after {
    content: '';
    display: none;
    width: 0;
    height: 0;
    position: absolute;
    bottom: -12px;
    right: 0;
    border-style: solid;
    border-width: 0 18px 12px 0;
    border-color: transparent #01406F transparent transparent;
    _border-color: #01406F;
    _filter: progid:DXImageTransform.Microsoft.Chroma(color='$evenementBg');
}

p.validation input.submit {
    background: #1067ae;
    color: #fff;
}

#page .ui-widget-content a {
    color: #1067ae;
}

.UL1button {
    text-align: center;
    border: 1px solid #1067ae;
    background: #1067ae;
}

.fiche .UL1button {
    background-color: #1067ae;
    border: 1px solid #1067ae;
    color: #fff;
}

.fiche .paragraphe--1 .UL1button {
    background-color: #014476;
    color: #fff;
    border-color: #014476;
}

.fiche .paragraphe--2 .UL1button {
    background-color: #1067ae;
    color: #fff;
    border: 1px solid #1067ae;
}

.fiche .paragraphe--3 .UL1button {
    background-color: #fff;
    color: #014476;
    border: 1px solid #014476;
}

a .UL1button,
.UL1button a,
.fiche .paragraphe--0 a .UL1button,
.fiche .paragraphe--0 .UL1button a,
.fiche .paragraphe--1 a .UL1button,
.fiche .paragraphe--1 .UL1button a,
.fiche .paragraphe--2 a .UL1button,
.fiche .paragraphe--2 .UL1button a,
.fiche .paragraphe--3 a .UL1button,
.fiche .paragraphe--3 .UL1button a,
.pagelibre div.paragraphe--1 .UL1button a,
.pagelibre div.paragraphe--2 .UL1button a,
.pagelibre div.paragraphe--3 .UL1button a {
    text-decoration: none;
    font-weight: bold;
    background: #1067ae;
    border-color: #1067ae;
    color: #fff;
}

.fiche .paragraphe--3 a .UL1button,
.fiche .paragraphe--3 .UL1button a,
.pagelibre div.paragraphe--3 .UL1button a {
    border-color: #014476;
}

a:hover .UL1button,
.fiche .paragraphe--0 a:hover .UL1button,
.fiche .paragraphe--1 a:hover .UL1button,
.fiche .paragraphe--2 a:hover .UL1button,
.fiche .paragraphe--3 a:hover .UL1button,
.fiche .paragraphe--0 .UL1button a:hover,
.fiche .paragraphe--1 .UL1button a:hover,
.fiche .paragraphe--2 .UL1button a:hover,
.fiche .paragraphe--3 .UL1button a:hover,
.UL1button:hover a {
    background: #fff;
    transition: background-color 500ms linear;
    text-decoration: none;
    border-color: #1067ae;
    color: #1067ae;
}