/* Container */

@media screen and (min-width: 80.5em) {
    div.visuel-rubrique {
        height: 10rem;
    }

    #page {
        max-width: 70rem;
        padding-top: 1rem;
    }

    #menu {
        max-width: 70rem;
    }

    #fil-ariane {
        width: 70rem;
    }

    #page_deco {
        width: 70rem;
    }

    #contenu_sans_nav_sans_encadres {
        max-width: 70rem;
        width: 70rem;
    }
}

#container-container-plan-site {
    max-width: 70em;
    margin: 2rem auto 0 auto;
    padding: 1rem;
}

/** Menu **/

#cssmenu ul li ul {
    width: 70rem;
    padding-top: 1rem;
}

/**Plan du site**/
.plan-site ul li ul.plan-site__2 li:before {
    content: none;
}

.plan-site ul li ul.plan-site__2 li span.plan-site__rubrique {
    text-transform: initial;
}

#container-plan-site {
    border-bottom: none;
}

ul {
    overflow: visible;
}

.plan-site>ul>li {
    min-height: 0;
}

.plan-site__2 {
    text-transform: initial;
    padding: 0em;
}

/* Style actu */

.avec_vignette_enligne div.vignette_deco3 {
    border: none;
}

.avec_vignette_enligne .container_td:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    bottom: -12px;
    right: 0;
    border-style: solid;
    border-width: 0 18px 12px 0;
    border-color: transparent #139200a2 transparent transparent;
    _border-color: #000000 #139200a2 #000000 #000000;
    _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
}

.avec_vignette_enligne .container_td {
    background-color: #139200a2;
    text-align: left;
}

/* Couleur lien + titres */
a,
.a,
h1 {
    color: #004876;
}


.pagelibre div.contenu .paragraphe--0 h2,
.pagelibre div.contenu .paragraphe--0 h3 {
    color: #004876;
}

.sb-search,
.no-js .sb-search {
    background: #004876;
}

/*Bouton*/

.fiche .UL1button {
    display: inline-block;
    min-width: 8rem;
    margin: 0.5rem;
    text-align: center;
    line-height: 2rem;
    background: #139200a2;
    border: 2px solid #139200a2;
    border-radius: 20px;
    padding: 0.2rem 0;
}

.UL1button a,
.fiche .paragraphe--0 .UL1button a {
    background: transparent;
    border-color: transparent;
    color: #fff;
}

.UL1button:hover,
.UL1button a:hover {
    background: white;
    color: #139200a2;
}

.fiche .paragraphe--0 .UL1button a:hover {
    background: none;
    transition: background-color 500ms linear;
    text-decoration: none;
    border-color: #139200a2;
    color: #139200a2;
}

/*Style 1*/


.accueil.pagelibre div.contenu div.paragraphe--1 h2,
.pagelibre div.paragraphe--1 h2 {
    font-size: 1.3rem;
    padding: 1rem;
    padding-left: 1.2rem;
    background-color: #004876;
    color: #fff;
    position: relative;
    width: auto;
    margin-bottom: 1rem;
    border: 2px solid #004876;
    font-weight: bold;
    text-transform: uppercase;
}

/*Style 2*/
.accueil.pagelibre div.contenu div.paragraphe--2 h2,
.pagelibre div.paragraphe--2 h2 {
    background-color: #139200a2;
    border: solid 2px #139200a2;
}

/*Style 3*/

.accueil.pagelibre div.contenu div.paragraphe--3 h2,
.pagelibre div.paragraphe--3 h2 {
    color: #004876;
    text-transform: uppercase;
}

/*Agenda en ligne*/
ul.evenements li>div>span {
    background: #139200a2;
}

.fiche_80947767 ul.evenements li {
    display: table;
    margin: 0 0 1.5em;
    width: 100% !important;
}

.fiche_80947767 .actu-enligne ul.evenements {
    display: flex !important;
}

/** Onglets et accordéons **/

.tabs_wrapper,
.accordion_wrapper {
    padding: 1em !important;
}

.tabs_toggler button.tabs_toggler__btn,
.accordion_toggler button.accordion_toggler__btn,
.accordion_toggler .accordion_toggler button,
.tabs_toggler .tabs_toggler.desktop-only button {
    font: 600 1rem/1 Arial, "Helvetica Neue", Helvetica, "Bitstream Vera Sans", sans-serif;
}

.ckeditor-tabs {
    padding-top: 2em;
}

.tabs_toggler__btn {
    padding: 0.8em 2.5em !important;
}

.tabs_toggler.desktop-only {
    margin: 0 !important;
    border-left: 2px solid #F3F3F3 !important;
    border-right: 2px solid #F3F3F3 !important;
    border-top: 2px solid #F3F3F3 !important;
}


.accordion_toggler {
    border: 2px solid #F3F3F3;
    margin-bottom: 0.5em !important;
    background-color: #F3F3F3;
    color: #000000;
}

.accordion_wrapper.active {
    display: block;
    border: 2px solid #F3F3F3;
    margin-bottom: 1em;
}

.accordion_wrapper.active p,
.tabs_wrapper.active p {
    color: #000000;
}

.tabs_toggler.desktop-only:focus::before,
.tabs_toggler.desktop-only:focus-within::before,
.tabs_toggler.desktop-only:hover::before,
.tabs_toggler.desktop-only.active::before {
    width: 100% !important;
}

.tabs_toggler.desktop-only:focus::before,
.tabs_toggler.desktop-only:focus-within::before,
.tabs_toggler.desktop-only:hover::before,
.tabs_toggler.desktop-only.active::before {
    border-left: 1px solid #139200a2 !important;
    border-right: 1px solid #139200a2 !important;
    background-color: #139200a2 !important;
}

.tabs_toggler.desktop-only:focus,
.tabs_toggler.desktop-only:focus-within,
.tabs_toggler.desktop-only:hover,
.tabs_toggler.desktop-only.active {
    background-color: #fff;
    border-left: 1px solid #F3F3F3;
    border-right: 1px solid #F3F3F3;
}

.tabs_toggler.desktop-only button {
    color: #000000;
}

/* Responsive */
@media only screen and (max-width: 1024px) {
    .tabs_toggler {
        width: 100%;
    }
}


/*  remplacer par variable bandeau (de site) usine à sites */
.visuel-rubrique {
    background-image: url(../../../images/downloaded/banniere_site.png)
}

@media screen and (min-width: 50em) {
    .ligne_1>.colonne_1 {
        width: 75%;
    }

    .ligne_1>.colonne_2 {
        width: 25%;
    }

    .ligne_2>.colonne_1 {
        width: 100%;
    }

    .ligne_3>.colonne_1 {
        width: 33%;
    }

    .ligne_3>.colonne_2 {
        width: 33%;
    }

    .ligne_3>.colonne_3 {
        width: 33%;
    }

    .ligne_4>.colonne_1 {
        width: 33%;
    }

    .ligne_4>.colonne_2 {
        width: 33%;
    }

    .ligne_4>.colonne_3 {
        width: 33%;
    }

    .ligne_7>.colonne_1 {
        width: 100%;
    }

    .ligne_8>.colonne_2 {
        width: 50%;
    }

    .ligne_8>.colonne_3 {
        width: 50%;
    }

    .ligne_10>.colonne_1 {
        width: 100%;
    }
}

.ie7 .ligne_1>.colonne_1,
.ie8 .ligne_1>.colonne_1 {
    width: 75%;
}

.ie7 .ligne_1>.colonne_2,
.ie8 .ligne_1>.colonne_2 {
    width: 25%;
}

.ie7 .ligne_2>.colonne_1,
.ie8 .ligne_2>.colonne_1 {
    width: 100%;
}

.ie7 .ligne_3>.colonne_1,
.ie8 .ligne_3>.colonne_1 {
    width: 33%;
}

.ie7 .ligne_3>.colonne_2,
.ie8 .ligne_3>.colonne_2 {
    width: 33%;
}

.ie7 .ligne_3>.colonne_3,
.ie8 .ligne_3>.colonne_3 {
    width: 33%;
}

.ie7 .ligne_4>.colonne_1,
.ie8 .ligne_4>.colonne_1 {
    width: 33%;
}

.ie7 .ligne_4>.colonne_2,
.ie8 .ligne_4>.colonne_2 {
    width: 33%;
}

.ie7 .ligne_4>.colonne_3,
.ie8 .ligne_4>.colonne_3 {
    width: 33%;
}

.ie7 .ligne_7>.colonne_1,
.ie8 .ligne_7>.colonne_1 {
    width: 100%;
}

.ie7 .ligne_8>.colonne_2,
.ie8 .ligne_8>.colonne_2 {
    width: 50%;
}

.ie7 .ligne_8>.colonne_3,
.ie8 .ligne_8>.colonne_3 {
    width: 50%;
}

.ie7 .ligne_10>.colonne_1,
.ie8 .ligne_10>.colonne_1 {
    width: 100%;
}

.text-align-left {
    text-align: left;
}

.text-align-right {
    text-align: right;
}

.text-align-center {
    text-align: center;
}

.text-align-justify {
    text-align: justify;
}

.image-4-5-px {
    margin: 4px 5px;
    float: none,
}

.surlignage {
    background-color: #00b203;
}

.display-none {
    display: none;
}

.width-12px-height-11px {
    width: 12px; height: 11px;
}